<?xml version="1.0" encoding="UTF-8"?>
<vxml version="2.1" xmlns="http://www.w3.org/2001/vxml">
	<form>
 		<block>
             <prompt>
                <audio src="/m/wav/hello.wav"/>
             </prompt>
            <prompt>
                Please ask your nurse to check your appointment reminder settings
            </prompt>
		</block>
	</form>
</vxml>