<div id="dataBrowser" class="mds">
    <div ng-if="!selectedEntity && !selectedInstance && !addedEntity">
        <div class="margin-before form-group">
            <div class="btn-group">
                <input type="text" ng-model="searchText" class="form-control input-sm input-large-fluid search-query" placeholder="{{msg('mds.form.searchByModuleEntity')}}">
            </div>
            <div class="btn-group offset-05">
                <button ng-click="expandAll()" type="button" class="btn btn-default btn-sm"><i class="fa fa-fw fa-lg fa-angle-double-down"></i> {{msg('mds.btn.expandAll')}}</button>
                <button ng-click="collapseAll()" type="button" class="btn btn-default btn-sm"><i class="fa fa-fw fa-lg fa-angle-double-up"></i> {{msg('mds.btn.collapseAll')}}</button>
            </div>
        </div>
        <div class="row margin-before">
            <div ng-init="setEntities()">
                <div id="data-browser-entity" ng-repeat="entities in modules | orderObj | findModules:searchText">
                    <div class="module-header" ng-if="entities.length">
                        <a ng-click="collapse(entities.$key)"><i class="fa fa-fw fa-lg fa-caret-down" ng-class="arrow(entities.$key)"> </i>{{ entities.$key }}</a>
                    </div>
                    <div class="entity-entry" ng-repeat="entity in sortInsensitive(entities) | findEntity:entities.$key:searchText:true track by $index" ng-if="visible(entities.$key)">
                        <a class="stripped-link" ng-click="selectEntity(entities.$key, entity)">
                            <div class="col-lg-9 col-md-8 col-sm-7" id="entity_{{entity}}">{{entity}}</div>
                        </a>
                        <div class="col-lg-3 col-sm-5 col-md-4" align="left">
                            <div class="btn-group">
                                <a ng-if="hasAccessTo(SCHEMA_EDITOR)" ng-click="preselectEntity(entities.$key, entity)" id="edit_{{entity}}" type="button" class="btn btn-sm btn-default" href="#/mds/schemaEditor">
                                    <i class="fa fa-fw fa-cogs"></i> {{msg('mds.btn.editSchema')}}
                                </a>
                                <button ng-hide="entitiesByNonEditable[entity] || entitiesByReadOnlyAccess[entity]" ng-click="addInstance(entities.$key, entity)" type="button" class="btn btn-sm btn-success" id="addNewInstanceButton">
                                    <i class="fa fa-fw fa-plus"></i> {{msg('mds.btn.add')}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="areModulesEmpty(modules)">
                    <div>
                        <p class="alert alert-warning ng-binding">
                            <strong>{{msg('mds.warning')}}</strong> {{msg('mds.warning.noEntities')}}
                        </p>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-success" type="button" target="_self" ui-sref="mds.schemaEditor">
                            <i class="fa fa-fw fa-plus"></i>
                            {{msg('mds.btn.newEntity')}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ui-if="selectedEntity && !addedEntity && !selectedInstance">
        <div ng-include="'../mds/resources/partials/widgets/entityInstances.html'"></div>
    </div>
    <div class="row" ui-if="addedEntity || selectedInstance && !instanceId && !showTrashInstance">
        <div ng-include="'../mds/resources/partials/widgets/addEntityInstance.html'"></div>
    </div>
    <div class="row" ui-if="instanceId && !previousInstance">
        <div ng-include="'../mds/resources/partials/widgets/history.html'"></div>
    </div>
    <div class="row" ui-if="previousInstance && !showTrashInstance">
        <div ng-include="'../mds/resources/partials/widgets/previousVersion.html'"></div>
    </div>
    <div class="row" ui-if="showTrashInstance && previousInstance">
        <div ng-include="'../mds/resources/partials/widgets/trashVersion.html'"></div>
    </div>
    <div ng-repeat="customModal in customModals">
        <div ng-include="customModal"></div>
    </div>
</div>


