<div id="inner-east" class="mds inner-east ui-layout-pane ui-layout-pane-east">
    <div class="header-toolbar header-footer"></div>
    <!------------------------  Filters  ------------------------>
    <div class="filter-header">{{msg('mds.filters')}}</div>
    <div class="ui-layout-content" ng-controller="MdsFilterCtrl">
        <div class="inside">
            <fieldset class="inside" ng-repeat="filter in filters">
                <legend>{{filter.displayName}}</legend>
                <div class="form-group btn-group-vertical">
                    <button clickfilter singleSelect='{{(filter.type === "java.util.Date" || filter.type === "org.joda.time.DateTime" || filter.type === "org.joda.time.LocalDate")}}' ng-repeat="filterType in filter.types"  class="btn btn-default btn-sm"
                            type="button" ng-click="selectFilter(filter.field, filterType, filter.type)"><i class="fa fa-fw fa-square-o"></i> {{msgForFilter(filterType)}}</button>
                </div>
            </fieldset>
        </div>
    </div>
</div>
