#nav {
	list-style:none;
	font-weight:bold;
	margin-bottom:10px;
	/* Clear floats */
	float:left;
	width:100%;
}
#nav li {
	float:left;
	margin-right:10px;
	position:relative;
}
#nav a {
	display:block;
	padding:5px;
	color:#33333;
	background:#fff;
	text-decoration:none;
}
#nav a:hover {
	color:#fff;
	background:#FFCC00;
	text-decoration:underline;
}

/*--- DROPDOWN ---*/
#nav ul {
	background:#fff; /* for IE */
	background:rgba(255,255,255,0);
	list-style:none;
	position:absolute;
	left:-9999px;
}
#nav ul li {
	padding-top:1px;
	float:none;
}
#nav ul a {
	white-space:nowrap;
}
#nav li:hover ul {
	left:0;
}
#nav li:hover a {
	background:#FFCC00;
	text-decoration:underline;
}
#nav li:hover ul a{
	text-decoration:none;
}
#nav li:hover ul li a:hover {
	background:#333;
}