<div>
    <h3 class="outside-tb">{{msg('trees.create')}}</h3>
    <div>
        <div ng-hide="validation().length == 0" class="alert alert-block alert-scroll">
            <h4>Warning!</h4>
            <ul>
                <li ng-repeat="v in validation()">{{v}}</li>
            </ul>
        </div>
        <form id="createTreeForm" name="createTreeForm" class="form-horizontal message-group-tree" novalidate>
            <div class="message-header"></div>
            <div class="form-actions">
                <input type="button" ng-click="sendTree()" value="{{msg('main.submit')}}" ng-disabled="isSaveDisabled()" class="btn btn-primary"/>
                <a href="#/trees" class="btn">{{msg('main.cancel')}}</a>
                <span ng-hide="acyclic" class="alert alert-error">
                    <strong>{{msg('main.error')}}:</strong> {{msg('trees.error.treeCyclesFound')}}
                </span>
            </div>
            <div class="control-group">
                <label for="tree.name" class="control-label">{{msg('trees.create.tree.name')}}<span class="required-field">*</span></label>
                <div class="controls">
                    <input type="text" ng-model="tree.name" id="tree.name" name="tree.name" class="spn8" required/>
                    <div class="form-hint" ng-show="treeNameValidationMsg">{{treeNameValidationMsg}}</div>
                </div>

            </div>
            <div class="control-group">
                <label for="tree.description" class="control-label">{{msg('trees.create.tree.description')}}</label>
                <div class="controls">
                    <input type="text" ng-model="tree.description" id="tree.description" name="tree.description" class="spn8"/>
                </div>
            </div>

            <div ng-repeat="node in tree.nodes" class="control-group message-group">
                <div ng-show="node.id != 0" class="message-header">
                    <a ng-click="removeNode(node)" class="btn btn-danger pull-right"><i class="icon-remove icon-white i-middle"></i> </a>
                </div>
                <div ng-show="node.id != 0" class="control-group">
                    <label for="{{node.id}}.name" class="control-label">{{msg('trees.create.node.name')}}<span class="required-field">*</span></label>
                    <div class="controls">
                        <input type="text" ng-model="node.name" id="{{node.id}}.name" name="{{node.id}}.name" required class="spn8" />
                        <div class="form-hint" ng-show="getValidationError(node.id, 'name')">{{getValidationError(node.id, 'name')}}</div>
                    </div>

                </div>

                <div class="control-group">
                    <label for="{{node.id}}.message" class="control-label">{{msg('trees.create.node.message')}}<span class="required-field">*</span></label>
                    <div class="controls">
                        <textarea id="{{node.id}}.message" name="{{node.id}}.message" rows="5" ng-model="node.message" required class="spn8">{{node.message}}</textarea>
                        <div class="form-hint" ng-show="getValidationError(node.id, 'message')">{{getValidationError(node.id, 'message')}}</div>
                    </div>

                </div>

                <div class="control-group">
                    <div class="controls">
                        <div class="form-inline">
                            <span>{{msg('trees.create.node.actions.add')}}: </span>
                            <label for="actions.{{node.id}}">{{msg('trees.create.node.actions.add.eventId')}}</label>
                            <input type="number" ng-model="event" id="actions.{{node.id}}" name="actions.{{node.id}}" min="0" class="input-small"/>
                            <a ng-click="addAction(node, event, true)" class="btn btn-info">{{msg('main.before')}}</a>
                            <a ng-click="addAction(node, event, false)" class="btn btn-info">{{msg('main.after')}}</a>
                        </div>
                        <div class="form-inline">
                            <span class="event-label" ng-hide="node.actionsBefore.length == 0">{{msg('trees.create.node.actions.before')}}</span>
                            <div class="event-label-group" ng-repeat="before in node.actionsBefore">
                                <span class="event-label1">{{msg('trees.create.node.actions.add.eventId')}}: </span><span class="event-label2">{{before}}</span>
                                <span class="event-label3"><a ng-click="removeAction(node, before, true)" class="btn btn-small btn-danger"><i class="icon-remove icon-white i-middle"></i></a></span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="form-inline">
                            <span class="event-label" ng-hide="node.actionsAfter.length == 0">{{msg('trees.create.node.actions.after')}}</span>
                            <div class="event-label-group" ng-repeat="after in node.actionsAfter">
                                <span class="event-label1">{{msg('trees.create.node.actions.add.eventId')}}: </span><span class="event-label2">{{after}}</span>
                                <span class="event-label3"><a ng-click="removeAction(node, after, false)" class="btn btn-small btn-danger"><i class="icon-remove icon-white i-middle"></i></a></span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="findTransitions(node, true).length != 0" class="control-group">
                    <div class="controls">
                        <a ng-click="addTransition(node)" class="btn btn-inverse"><i class="icon-plus icon-white i-middle"></i> {{msg('trees.create.node.transition.add')}}</a>
                    </div>
                </div>

                <div ng-show="findTransitions(node, false).length != 0" class="form-inline">
                    <div class="control-group">
                        <div ng-repeat="transition in node.transitions" class="controls">
                            <label for="{{transition.key}}">{{msg('trees.create.node.transition.key')}}<span class="required-field">*</span></label>
                            <input type="text" ng-model="transition.key" id="{{transition.key}}" name="{{transition.name}}" required class="input-small"/>
                            <select ng-model="transition.node" ng-options="t.name for t in findTransitions(node, false)" required></select>
                            <a ng-click="removeTransition(node, transition)" class="btn btn-small btn-danger"><i class="icon-remove icon-white i-middle"></i></a>
                            <div class="form-hint" ng-show="getValidationError(node.id, 'transition', transition.id)">{{getValidationError(node.id, 'transition', transition.id)}}</div>
                        </div>
                    </div>
                </div>
                <div class="form-actions" ng-show="node.id == 0">
                    <a ng-click="addNode()" class="btn btn-inverse"><i class="icon-plus icon-white i-middle"></i> {{msg('trees.create.node.add')}}</a>
                </div>
            </div>

            <div class="form-actions" ng-show="tree.nodes.length > 1">
                <a ng-click="addNode()" class="btn btn-inverse"><i class="icon-plus icon-white i-middle"></i> {{msg('trees.create.node.add')}}</a>
            </div>

            <div class="form-actions">

                <input type="button" ng-click="sendTree()" value="{{msg('main.submit')}}" ng-disabled="isSaveDisabled()" class="btn btn-primary"/>
                <a href="#/trees" class="btn">{{msg('main.cancel')}}</a>
                <span ng-hide="acyclic" class="alert alert-error">
                    <strong>{{msg('main.error')}}:</strong> {{msg('trees.error.treeCyclesFound')}}
                </span>
            </div>
        </form>
    </div>
</div>
