<div>
    <div class="top1">
            <ul class="breadcrumb">
                <li><a href="#/welcome">{{msg('home')}}</a> <span class="divider">/</span></li>
                <li><a href="#/trees">{{msg('trees')}}</a> <span class="divider">/</span></li>
                <li class="active">{{msg('trees.create')}}</li>
            </ul>
        </div>
    <h2>{{msg('trees.create')}}</h2>
    <hr>
    <div>
        <div ng-hide="validation().length == 0" class="alert alert-block alert-scroll">
            <h4>Warning!</h4>
            <ul>
                <li ng-repeat="v in validation()">{{v}}</li>
            </ul>
        </div>
        <form id="createTreeForm" name="createTreeForm" class="form-horizontal" novalidate>
            <div class="control-group">
                <label for="tree.name" class="control-label">{{msg('trees.create.tree.name')}}<span class="requiredField">*</span></label>
                <div class="controls">
                    <input type="text" ng-model="tree.name" id="tree.name" name="tree.name" class="span8" required/>
                </div>
            </div>
            <div class="control-group">
                <label for="tree.description" class="control-label">{{msg('trees.create.tree.description')}}</label>
                <div class="controls">
                    <input type="text" ng-model="tree.description" id="tree.description" name="tree.description" class="span8"/>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <a ng-click="addNode()" class="btn btn-inverse"><i class="icon-plus icon-white"></i> {{msg('trees.create.node.add')}}</a>
                </div>
            </div>
            <div ng-repeat="node in tree.nodes" class="control-group">
                <div ng-show="node.id != 0" class="control-group">
                    <label for="{{node.id}}.name" class="control-label">{{msg('trees.create.node.name')}}<span class="requiredField">*</span></label>
                    <div class="controls">
                        <input type="text" ng-model="node.name" id="{{node.id}}.name" name="{{node.id}}.name" required class="span8" />
                    </div>
                </div>

                <div class="control-group">
                    <label for="{{node.id}}.message" class="control-label">{{msg('trees.create.node.message')}}<span class="requiredField">*</span></label>
                    <div class="controls">
                        <textarea id="{{node.id}}.message" name="{{node.id}}.message" rows="5" ng-model="node.message" required class="span8">{{node.message}}</textarea>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <div class="form-inline">
                            <span>{{msg('trees.create.node.actions.add')}}: </span>
                            <label for="actions.{{node.id}}">{{msg('trees.create.node.actions.add.eventId')}}</label>
                            <input type="number" ng-model="event" id="actions.{{node.id}}" name="actions.{{node.id}}" min="0" class="input-small"/>
                            <a ng-click="addAction(node, event, true)" class="btn btn-info">{{msg('main.before')}}</a>
                            <a ng-click="addAction(node, event, false)" class="btn btn-info">{{msg('main.after')}}</a>
                        </div>
                        <div class="form-inline">
                            <span ng-hide="node.actionsBefore.length == 0">{{msg('trees.create.node.actions.before')}}</span>
                            <div ng-repeat="before in node.actionsBefore">
                                <span>{{msg('trees.create.node.actions.add.eventId')}}</span>: <span>{{before}}</span>
                                <a ng-click="removeAction(node, before, true)" class="btn btn-small btn-danger"><i class="icon-remove"></i></a>
                            </div>
                        </div>
                        <div class="form-inline">
                            <span ng-hide="node.actionsAfter.length == 0">{{msg('trees.create.node.actions.after')}}</span>
                            <div ng-repeat="after in node.actionsAfter">
                                <span>{{msg('trees.create.node.actions.add.eventId')}}</span>: <span>{{after}}</span>
                                <a ng-click="removeAction(node, after, false)" class="btn btn-small btn-danger"><i class="icon-remove"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="findTransitions(node, true).length != 0" class="control-group">
                    <div class="controls">
                        <a ng-click="addTransition(node)" class="btn btn-inverse"><i class="icon-plus icon-white"></i> {{msg('trees.create.node.transition.add')}}</a>
                    </div>
                </div>

                <div ng-show="findTransitions(node, false).length != 0" class="form-inline">
                    <div class="control-group">
                        <div ng-repeat="transition in node.transitions" class="controls">
                            <label for="{{transition.key}}">{{msg('trees.create.node.transition.key')}}<span>*</span></label>
                            <input type="text" ng-model="transition.key" id="{{transition.key}}" name="{{transition.name}}" required class="input-small"/>
                            <select ng-model="transition.node" ng-options="t.name for t in findTransitions(node, false)" required></select>
                            <a ng-click="removeTransition(node, transition)" class="btn btn-small btn-danger"><i class="icon-remove"></i></a>
                        </div>
                    </div>
                </div>

                <div ng-show="node.id != 0" class="control-group">
                    <div class="controls">
                        <a ng-click="removeNode(node)" class="btn btn-danger"><i class="icon-remove"></i> {{msg('main.remove')}}</a>
                    </div>
                </div>

            </div>

            <div class="form-actions">
                <input type="button" ng-click="checkTreeCyclic()" value="{{msg('main.validate')}}" ng-disabled="createTreeForm.$invalid" class="btn btn-inverse"/>
                <input type="button" ng-click="sendTree()" value="{{msg('main.submit')}}" ng-show="isChecked()" ng-disabled="createTreeForm.$invalid" class="btn btn-primary"/>
                <a href="#/trees" class="btn">{{msg('main.cancel')}}</a>
                <span ng-hide="acyclic" class="alert alert-error">
                    <strong>{{msg('main.error')}}:</strong> {{msg('trees.error.treeCyclesFound')}}
                </span>
            </div>
        </form>
    </div>
</div>
