.mds.nav.nav-tabs {
    border-bottom: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.mds .tab-content .nav-tabs {
    background-color: #EFF9FF;
    background-color: #F6FBFF;
}

.mds-settings.nav.nav-tabs {
    border-bottom: 1px solid #D4E1F9;
}

.mds#advancedObjectSettingsModal .modal-body {
    background: #F6FBFF;
    padding: 0 0 10px 0;
}

.mds .modal-footer {
    margin-top: 0;
}

.mds .inside {
    padding: 20px 15px;
}

.mds.alert {
    margin-bottom: 10px;
}

.mds-alert {
    color: #333333;
}

.mds-alert-list li {
    margin-left: 20px;
    color: #333333;
}

.mds .accordion {
    margin-top: 10px;
}

.panel-default {
    border-color: #D1E6F9;
}

.panel {
    background-color: #F6FBFF;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.0);
    margin: 10px 0 0;
}

.panel-default > .panel-heading {
    background-color: #E4F1F9;
    border-color: #D4E1F9;
    color: #224477;
}

.panel-default > .panel-heading.top-header {
    background-color: #F6FBFF;
    border-color: #none;
    color: #224477;
    font-weight: bold;
}

.panel-default > .panel-heading.top-header.no-bg {
    background: none;
}

.panel.panel-default .panel-heading {
    border-radius: 1px;
    line-height: 20px;
    font-size: 15px;
    padding: 5px 10px;
    color: #224477;
    background: #D3E9FE;
    cursor: pointer;
    background: #D9EDF7;
    background: -moz-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D9EDF7), color-stop(100%,#B9DEF0));
    background: -webkit-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
    background: -o-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
    background: -ms-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
    background: linear-gradient(to bottom,  #D9EDF7 0%, #B9DEF0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D9EDF7', endColorstr='#B9DEF0',GradientType=0 );
}

.mds .form-control-select2 {
    height: 34px;
    line-height: 1.42857;
    padding: 0;
    margin: 0 12px 0 6px;
}

.mds .select2-container .select2-choice {
    height: 34px;
    padding: 3px 8px;
}

.mds .select2-container .select2-choice div b {
    background-position: 0 2px;
}

.mds .select-entity {
    width: 400px;
}

.mds .select-field-type {
    width: 250px;
}

.hide {
    display: none;
}

.modal-content.large {
    margin-left: -38%;
    width: 175%;
}

.mds .table th {
    background: #D9EDF7;
    background: -moz-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D9EDF7), color-stop(100%,#B9DEF0));
    background: -webkit-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
    background: -o-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
    background: -ms-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
    background: linear-gradient(to bottom,  #D9EDF7 0%, #B9DEF0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D9EDF7', endColorstr='#B9DEF0',GradientType=0 );
}

.table-lightblue.table-bordered th, .table-lightblue.table-bordered td, .table.table-bordered > tbody + tbody {
    border: none;
}

.table.table-bordered, .table-lightblue.table-bordered td {
    border-top: none;
}

.table td, .table th {
    border: none;
}

.table tbody tr {
    border: 1px solid #D1E6F9;
    border-top: none;
    border-bottom: none;
}

.ui-timepicker-div select {
    width: auto;
    height: 24px;
    line-height: 18px;
    padding: 1px 3px;
    margin: 0 0 0 5px;
}

.metadata-control-group {
    margin: 20px 0 20px 0;
    clear: both;
}

.metadata-control {
    margin: 5px 0 5px 0;
    float: left;
}

.metadata-control-label {
    margin-right: 5px;
}

.metadata-control-save {
    clear: both;
    float: left;
    margin: 5px 0 5px 140px;
}

.metadata-error {
    margin-left: 160px;
}

.indexes-column {
    width: 30%;
    float: left;
}

.pointer {
    cursor: pointer;
}

.indexes-column .indexes-list {
    background: #FFFFFF;
    margin-bottom: 10px;
    border-radius:4px;
    border: 1px solid #D4E1F9;
    min-height: 100px;
}

.indexes-column .indexes-list ul {
    list-style: none;
}

.indexes-list .btn-success.list-group-item {
    color: #FFFFFF;
    display: block;
}

.indexes-column .list ul a, .indexes-column .list ul a:visited {
    display: block;
    width: 80%;
    text-decoration: none;
    text-align: center;
    padding: 7px;
    border-radius:9px;
    border:2px solid #d4e1f9;
    background:#e4f1f9;
}

.indexes-column .list ul a:hover, .indexes-column .list ul a:focus, .indexes-column .list ul .active,
.indexes-column .list ul li .active, .indexes-column .list ul li a .active {
    border: 2px solid #0088cc;
    background: #3b679e; /* Old browsers */
    background: -moz-linear-gradient(top,  #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b679e), color-stop(50%,#2b88d9), color-stop(51%,#207cca), color-stop(100%,#7db9e8));
    background: -webkit-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: -o-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: -ms-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: linear-gradient(to bottom,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 );
    color:#ffffff;
}

.lookups {
    float: right;
    width: 68%;
}

.lookups .form-field {
    margin-bottom: 20px;
    width: 100%;
    float: left;
}

.lookup-dialog {
    width: 450px;
}

.form-field .btn-group {
    margin-bottom: 10px;
}

.form-field .btn-group:first-child {
    margin-left: 5px;
}

.btn-group-rest {
    margin-top: 40px;
}

.lookup-field-list {
    width: 300px;
}

.btn-rest-fields {
    width: 50px;
}

.btn-history {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.btn-save {
   float: right;
}

.btn-cancel {
   float: right;
   margin-right: 10px;
}

.button-delete {
    float: right;
}

.indexes-body {
    min-height: 150px;
    position: relative;
}

.indexes-foot {
    width: 100%;
    margin-top: 5px;
    float: left;
}

.radio-input {
    float: left;
    margin-right: 20px;
}

.form-hint-error {
    background: #d45252;
    border-radius: 3px;
    color: #ffffff;
    padding: 4px 6px;
    z-index: 999;
    font-size: 11px;
    position: relative;
}

.module-header {
    font-weight: bold;
    border-radius: 2px;
    padding: 4px 10px;
    line-height: 28px;
    color: #224477;
    background: #D9EDF7;
    background: -moz-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D9EDF7), color-stop(100%,#B9DEF0));
    background: -webkit-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
    background: -o-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
    background: -ms-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
    background: linear-gradient(to bottom,  #D9EDF7 0%, #B9DEF0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D9EDF7', endColorstr='#B9DEF0',GradientType=0 );
}

.module-header a, .module-header a:hover, .module-header  a:link, .module-header a:active {
    text-decoration: none;
    color: #224477;
}

#data-browser-entity .entity-entry {
    padding: 1px 7px 1px 18px;
    height: 37px;
    line-height: 32px;
    color: #005580;
    background-color: #E4F1F9;
    border: 1px solid #D1E6F9;
    border-top: none;
}

#data-browser-entity .entity-entry:hover, #data-browser-entity > div.entity-entry:nth-child(2n+1):hover {
    background-color: #e9e9e9;
    background: #EDF5F9;
    color: #224477;
}

#data-browser-entity > div.entity-entry:nth-child(2n+1) {
    background: #F3FBFE;
}

.entity-buttons {
    float: right;
}

.settings-label {
    padding-right: 50px;
    padding-left: 10px;
    padding-top: 10px;
}

.accordion-content {
    border-style: dotted;
    border-width: thin;
    border-color: #2B88D9
}

.accordion-content form {
    padding: 0 10px;
}

.settings-input-group {
    vertical-align: top;
    display: inline-block;
}

.settings-checkbox input {
    margin: -4px 0 0 10px; !important
    vertical-align: top;
    display: inline-block;
}

.filter-checkbox-box {
    float: right;
    padding: 5px;
    background-color: rgb(212, 233, 246);
}

.filter-checkbox {
    margin: 2px !important;
    height: 16px;
    width: 16px !important;
}

.collapse-body {
    overflow: hidden;
}

.container-space {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background-color: rgb(255, 255, 255);
}

.container-space.over {
    background-color: rgb(208, 240, 188);
}

.display-fields.panel-body {
    margin: auto;
    width: 97%;
}

.outer-container.panel {
    width: 46%;
    height: auto;
    float: left;
    color: rgb(0, 136, 204);
}

.outer-container .panel-heading {
    font-weight: bold;
}

.scroll-container.panel-body {
    height: 300px;
    width: 100%;
    border: 1px solid #BFDCF4;
    border-top: none;
    padding: 0;
}

.buttons-container {
    width: auto;
    float: left;
    margin: 10px 0 0 0;
    padding: 40px 10px;
}

.buttons-container .btn, .updown-buttons .btn {
    color: rgb(34, 68, 119);
}

.updown-buttons {
    display: inline;
    float: right;
}

.container-item {
    background-color: rgb(228, 241, 249);
    border-bottom: 1px solid #BFDCF4;
    clear: both;
    overflow: hidden;
    padding: 5px 10px;
}

.container-item.selected {
    background-color: rgb(0, 136, 204);
    color: rgb(255, 255, 255);
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: move;
}

.drag {
  opacity: 0.5;
}

.content-lookups {
    padding: 15px;
}

.s-ico {
    margin: 7px;
    width: 20px;
    height: 20px;
    position: absolute;
    display: none;
}

.container-item.over {
    background-color: rgb(208, 240, 188);
}

.button-flat {
    width: 48px;
}

#export .table-export td.entity {
    padding-left: 35px;
}

#export .table-export.table-lightblue th.no-bg {
    background: #F6FBFF;
}

#entityFieldsLists a:hover {
    text-decoration: none;
}

#entityFieldsLists .panel-body {
    padding: 0;
}

#entityFieldsLists .panel {
    margin: 2px 0 0;
    border: 1px solid #D1E6F9;
}

#entityFieldsLists .panel:first-child {
    border: none;
}

#entityFieldsLists .panel-default > .panel-heading {
    border: 0 none;
    line-height: 28px;
    padding: 4px 10px;
    background: #D9EDF7;
    background: -moz-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D9EDF7), color-stop(100%,#B9DEF0));
    background: -webkit-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
    background: -o-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
    background: -ms-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
    background: linear-gradient(to bottom,  #D9EDF7 0%, #B9DEF0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D9EDF7', endColorstr='#B9DEF0',GradientType=0 );
}

#entityFieldsLists .panel-default > .panel-heading.top-header.no-bg {
    background: none;
}

#entityFieldsLists .panel.new-field > .panel-heading {
    background: #E4F1F9;
}

.lookup-label {
    width: 130px;
    text-align: right;
    padding-right: 10px;
}

.lookup-input {
    float: left;
}

.list-picker {
    min-width: 200px;
}

#lookup-dialog {
    max-width: 80%;
    top: 50px;
    left: 50px;
}

#lookup-dialog .single-field-selection {
    margin-top: 10px;
    width: 100%;
}

#lookup-dialog .remove-button {
    float: left;
    margin-top: 25px;
    margin-bottom: 10px;
}

#lookup-dialog .go-button {
    float: right;
    margin-top: 25px;
    margin-bottom: 10px;
}

.dynamic-select {
    width: 480px;
    display: block;
}

.dynamic-select input {
    height: 26px !important;
}

.radio-button input {
    position: absolute;
    left: 40px;
    z-index: -999;
}

.radio-button span {
    min-width: 200px;
}

.security-content {
    margin-left: 20px;
    margin-top: 20px;
}


.lookupExists {
    display: none;
}

.mds .popover {
    min-width: 200px;
}

.mds .popover .popover-content {
    color: #333;
}

.mds .has-error .form-control.no-error {
     border-color: #cccccc;
}

.mds .has-error .form-control.no-error:focus {
     border-color: #66afe9;
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}