@import "bourbon";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 14px;
}

.body-up {
    @include linear-gradient(to bottom, #ffffff 0%, #FDFFFE 9%, #EFF9FB 10%, #DEEFF7 14%, #F1F9FC 28%, #D3E6F5 84%, #E0EEF7 90%, #ECF5FA 94%, #F7FBFC 99%, #fbfcfe 100%);// repeat-x 0 -40px;
    background-repeat: repeat-x 0 -40px;

}

.body-down {
    @include linear-gradient(to bottom, #ffffff 0%, #FDFFFE 9%, #EFF9FB 10%, #DEEFF7 14%, #F1F9FC 28%, #D3E6F5 84%, #E0EEF7 90%, #ECF5FA 94%, #F7FBFC 99%, #fbfcfe 100%);// repeat-x 0 0;
    background-repeat: repeat-x 0 0;

}

.body-startup {
    @include linear-gradient(to bottom, #ffffff 0%, #deeff7 1%, #f1f9fc 10%, #d3e6f5 84%, #e0eef7 90%, #ecf5fa 97%, #ecf5fa 97%, #f7fbfc 99%, #fbfcfe 100%);
    background-repeat: no-repeat;
}

.lightblue-bg {
    @include linear-gradient(to bottom, #eff8fd 0%, #F6FBFF 6%, #F6FBFF 16%, #F3FBFE 16%, #F0F9FE 37%, #F0F8FB 39%, #E8F5FB 57%, #E8F2FB 67%, #dbedf7 100%);
}

.stripes-bg {
    background: url("../img/bg2.png") repeat;
}

.fa.icon-red {
    color: #fa0328;
}

.fa.icon-blue {
    color: #0044cc;
}

.fa.icon-light-blue {
    color: #c2eafe;
}

.fa.icon-green {
    color: #0D800B;
}

.fa.icon-gold {
    color: #aea884;
}

h1, h2, h3, h4, h5, h6 {
    color: #224477;
    font-weight: bold;
}

label {
    font-weight: normal;
    word-wrap: normal;
}

a {
    color: #046FD3;
}
a:active, a:hover, a:focus {
    outline: 0 none;
}

.bodywrap {
    min-height: 100%;
    position: relative;
}

.header {
    display:block;
    margin:auto;
}

#content-header .header-nav {
    margin: 0;
}

#content {
    padding-bottom: 31px;
}

#footer {
    width: 100%;
    height: 22px;
    padding: 0;
    display: block;
    z-index: 0;
    font-size: 13px;
    line-height: 24px;
}

.dashboard-logo {
    width:320px;
    height:50px;
    display:block;
    float:left;
    margin: 5px 15px;
}

.logo {
    background: #ffffff;
    clip: rect(0px, 300px, 55px, 0px);
    height: 60px;
    margin: 0;
    position: absolute;
}

.logo img {
    max-width: 100%;
}

.header-title {
    width:340px;
    height:28px;
    display:block;
    float:left;
    margin: 32px 0 0 6%;
    background: #ffffff;
    color:#224477;
    font-weight:400;
    font-size: 18px;
    line-height: 27px;
    vertical-align:bottom;
}

.dropdown ul li a,.dropdown ul li {
    font-size: 13px;
}

.navbar {
    border-top: none;
    border-radius: 0;
    min-height: 40px;
}

.navbar-nav > li > a {
    padding-bottom: 10px;
    padding-top: 10px;
}

.navbar .dropdown-menu, .nav-pills .dropdown-menu {
    margin-top: 0;
}

.navbar-inner {
    filter:none;
    border-radius: 0;
    box-shadow:none;
    border:none;
}

.menu-left {
    font-size: 13px;
}

form.inside {
    margin:0;
}

.navbar .btn-blue.navbar-btn, .navbar .btn-blue {
    border-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
}

.navbar .btn-blue.navbar-btn:hover, .navbar .btn-blue:hover, .navbar-collapse .nav > li > a:hover {
    box-shadow: 0 0 5px rgba(055, 055, 055, 0.3) inset, 0 0 1px rgba(255, 255, 255, 0.5);
}

.navbar-collapse .nav > li > a:hover, .navbar-collapse .dropdown-menu a:hover {
    background-color: #224477;
}

.navbar-collapse .nav > li > a.no-hover:hover {
    @include linear-gradient(to bottom, #7c8ca6 0%, #687D9C 10%, #607495 15%, #2F4E7A 38%, #244674 45%, #02275B 50%, #04275D 73%, #022D62 98%, #053067 100%);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
    color: #c2eafe;
}

.navbar .nav > li.current > a {
    color: #ffffff;
}

.navbar .btn.btn-blue {
    padding:  5px;
    margin: 7px 10px 0;
    color: #c2eafe;
}

.navbar .btn-blue.navbar-btn:active {
    background: #002244;
}

.navbar .divider-vertical {
    background-color: #4E688D;
    border-right: 1px solid #224477;
}

.navbar .divider-vertical-sub {
    background-color: #4E688D;
    border-right: 1px solid #C2EAFE;
    height: 20px;
    margin: 10px 0;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background: #073863;
    color: #ffffff;
}

#minimize {
    padding: 2px 8px;
    font-size: 14px;
}

.navbar .nav > li > a, .navbar .navbar-brand {
    color: #c2eafe;
}
.navbar-brand {
    padding: 10px;
    height: 40px;
}

.dropdown-menu > li > a {
    padding: 3px 20px 3px 28px;
}

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu > .dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu > a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover > a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none !important;
}
.dropdown-submenu.pull-left .dropdown-menu {
    left: -100%;
    margin-left: 10px;
}

.multiselect-container.dropdown-menu > li > a {
    padding: 3px 0;
}

.nav-tabs {
    border-bottom: 1px solid #0088cc;
}
.nav.nav-stacked li {
    margin-bottom: -1px;
    margin-top: 0;
}

.nav.nav-stacked > li > a {
    border-radius: 0;
    border:1px solid #d4e1f9;
    border-right: none;
    background:#e4f1f9;
    text-transform:capitalize;
}

.nav.nav-stacked > li:last-child > a,
.nav.nav-stacked > li:last-child,
.nav.nav-stacked > li {
    border-radius: 0;
}

.nav.nav-stacked li.nav-header {
    -webkit-box-shadow: 0 0 0 #bec9de;
       -moz-box-shadow: 0 0 0 #bec9de;
            box-shadow: 0 0 0 #bec9de;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:focus,
.nav-tabs > li > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav > li > a:hover,
.nav > li > a:focus,
.nav.nav-stacked > li > a:hover,
.nav.nav-stacked > .active > a {
    background: #3b679e; /* Old browsers */
    background: -moz-linear-gradient(top,  #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b679e), color-stop(50%,#2b88d9), color-stop(51%,#207cca), color-stop(100%,#7db9e8));
    background: -webkit-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: -o-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: -ms-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: linear-gradient(to bottom,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3b679e', endColorstr='#ff7db9e8',GradientType=0 );
    color: #05346D;
    background: #F6FBFF;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-color: #0098EA #D4E1F9 #F6FBFF;
    border-bottom: 1px solid #F6FBFF;
    border-top: 2px solid #0098EA;
}

.nav-tabs > li > a, .nav.nav-stacked > li > a {
    line-height: 14px;
}

.nav.nav-stacked > li.active > a {
    border-top: 2px solid #0098EA;
}

.nav > li > a:hover {
    color: #ffffff;
}

.tab-content {
    overflow: visible;
    padding: 0;
    margin-bottom: 0;
}

.nav li.nav-header, .nav .nav-header {
    color: #224477;
    font-size: 15px;
    margin: 10px 2px 4px;
    text-transform: uppercase;
    font-weight: bold;
}

.title {
    color:#224477;
    font-size: 22px;
    line-height: 27px;
    text-align:center;
    margin:20px;
}

.required-field {
    color:#ff0000;
}

select {
    color: #333333;
}

.suggestion {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 2px 0 0 25%;
}

.suggestion span {
    font-size: 12px;
    margin: 1px 5px 0 0;
    vertical-align: bottom;
}

.box-header {
    border-radius: 2px;
    font-weight: bold;
    line-height: 20px;
    font-size: 15px;
    padding:5px 10px;
    color: #c2eafe;
    background: #144573;
}

.btn-in-header {
    margin: -5px -10px;
}

.inbox-header {
    border-radius: 4px;
    font-weight: bold;
    line-height: 20px;
    font-size: 15px;
    padding:5px 10px;
    color: #224477;
    background: #D3E9FE;
    background: -moz-linear-gradient(top,  #D3E9FE 0%, #BFDCF4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D3E9FE), color-stop(100%,#BFDCF4));
    background: -webkit-linear-gradient(top,  #D3E9FE 0%,#BFDCF4 100%);
    background: -o-linear-gradient(top,  #D3E9FE 0%,#BFDCF4 100%);
    background: -ms-linear-gradient(top,  #D3E9FE 0%,#BFDCF4 100%);
    background: linear-gradient(to bottom,  #D3E9FE 0%,#BFDCF4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFD3E9FE', endColorstr='#FFBFDCF4',GradientType=0 );
}

.section-header {
    border-radius: 1px;
    line-height: 20px;
    font-size: 15px;
    padding: 5px 10px;
    color: #224477;
    background: #D3E9FE;
    cursor: pointer;
}

.panel-header {
    font-weight: bold;
    line-height: 20px;
    font-size: 15px;
    color: #224477;
    background: #deefff;
    background: -moz-linear-gradient(top,  #deefff 0%, #98bede 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deefff), color-stop(100%,#98bede));
    background: -webkit-linear-gradient(top,  #deefff 0%,#98bede 100%);
    background: -o-linear-gradient(top,  #deefff 0%,#98bede 100%);
    background: -ms-linear-gradient(top,  #deefff 0%,#98bede 100%);
    background: linear-gradient(to bottom,  #deefff 0%,#98bede 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdeefff', endColorstr='#ff98bede',GradientType=0 );
    -webkit-box-shadow: 0 0 4px #bec9de;
       -moz-box-shadow: 0 0 4px #bec9de;
            box-shadow: 0 0 4px #bec9de;
}

.panel-group .panel {
    border-radius: 1px;
}

.panel {
    background-color: #F6FBFF;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border-radius: 2px;
    margin: 2px 0 0;
}

.panel.panel-default {
    border-color: #D1E6F9;
}

.panel-heading {
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    padding: 6px 15px 6px 6px;
}

.panel-default > .panel-heading {
    color: #224477;
}

.panel.panel-default .panel-heading {
    border-radius: 1px;
    line-height: 20px;
    font-size: 15px;
    color: #224477;
    cursor: pointer;
    background: #D9EDF7;
    background: -moz-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D9EDF7), color-stop(100%,#B9DEF0));
    background: -webkit-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
    background: -o-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
    background: -ms-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
    background: linear-gradient(to bottom,  #D9EDF7 0%, #B9DEF0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFD9EDF7', endColorstr='#FFB9DEF0',GradientType=0 );
}

h4.panel-title {
    line-height: 1.4em;
}

.lookup-dialog.popover {
    max-width: 80%;
    padding: 10px 15px;
    width: 650px;
}

.box-content {
    border-radius: 4px;
    border: 1px solid #D4E1F9;
    padding: 0;
    @include linear-gradient(to bottom, #eff8fd 0%, #F6FBFF 6%, #F6FBFF 16%, #F3FBFE 16%, #F0F9FE 37%, #F0F8FB 39%, #E8F5FB 57%, #E8F2FB 67%, #dbedf7 100%);
}

.frame-title,
.toolbox {
    margin: 15px;
}

.inside {
    padding: 8px 10px;
}

.outside-tb {
    margin: 10px 0;
}

.centered {
    text-align: center;
}

.margin-center {
    margin: auto;
}

.margin-before {
    margin-top: 10px;
}

.margin-before2 {
    margin-top: 20px;
}

.margin-before3 {
    margin-top: 30px;
}

.margin-before4 {
    margin-top: 40px;
}

.margin-before5 {
    margin-top: 50px;
}

.margin-before05 {
    margin-top: 5px;
}

.margin-before07 {
    margin-top: 7px;
}

.margin-after {
    margin-bottom: 10px;
}

.margin-left1 {
    margin-left: 10px;
}

.margin-right1 {
    margin-right: 10px;
}

.margin-left2 {
    margin-left: 20px;
}

.margin-right2 {
    margin-right: 20px;
}

.well2 {
    margin-bottom: 20px;
    min-height: 20px;
}

.well3 {
    padding: 10px 20px;
    min-height: 20px;
}

.left-divider {
    border-left: 1px solid #7bb5fc;
    margin-left: -30px;
    padding-left: 30px;
}

.not-editable-warning {
    background-color: #FAE1AA;
    border: 1px solid #FCB823;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 5px;
}

input.form-control.form-control {
    font-weight: normal;
}

.label-radio {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 5px 20px 0 5px;
    vertical-align: middle;
}

/* ----- Common table ----- */

.table-lightblue {
    border-color: #D4E1F9;
    background: #E4F1F9;
}

.table-lightblue  tbody tr:nth-child(2n+1) td {
    background: #F3FBFE;
}

.table-lightblue  tbody tr:hover td, .table-lightblue tbody tr:hover th, .table-lightblue tbody tr:hover td a {
    background: #EDF5F9;
    color: #005580;
}

.table-lightblue.table-bordered th, .table-lightblue.table-bordered td {
      border: 1px solid #d4e1f9;
}

.table-lightblue th, .table-lightblue th a, .pagination.lightblue ul > li > a {
    border-color: #ffffff;
    color: #224477;
    background: #D9EDF7;
    background: -moz-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D9EDF7), color-stop(100%,#B9DEF0));
    background: -webkit-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
    background: -o-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
    background: -ms-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
    background: linear-gradient(to bottom,  #D9EDF7 0%, #B9DEF0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFD9EDF7', endColorstr='#FFB9DEF0',GradientType=0 );
}

.table-lightblue thead .sorting-no {
    float: right;
    width: 13px;
    height: 20px;
    background: url("../img/sort.png")no-repeat center right;
}

.table-lightblue thead .sorting-asc {
    float: right;
    width: 13px;
    height: 20px;
    background: url("../img/sort-asc.png")no-repeat center right;
}

.table-lightblue thead .sorting-desc {
    float: right;
    width: 13px;
    height: 20px;
    background: url("../img/sort-desc.png")no-repeat center right;
}

.table-lightblue thead .sorting-no-img {
    float: right;
    width: 1px;
    height: 20px;
    background: none;
}

/* ----- startup ----- */

.body-startup {
    @include linear-gradient(to bottom, #ffffff 0%, #deeff7 1%, #f1f9fc 10%, #d3e6f5 84%, #e0eef7 90%, #ecf5fa 97%, #ecf5fa 97%, #f7fbfc 99%, #fbfcfe 100%);
    background-repeat: no-repeat;
}

.body-startup .bodywrap {
    margin: auto;
}

.startup-container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.startup {
    max-width: 700px;
    min-height: 200px;
    margin: auto;
    z-index: 9999;
    @include linear-gradient(to bottom, #ffffff 0%, #FDFFFE 9%, #EFF9FB 10%, #DEEFF7 14%, #F1F9FC 28%, #D3E6F5 84%, #E0EEF7 90%, #ECF5FA 94%, #F7FBFC 99%, #fbfcfe 100%);// repeat-x 0 60px;
    background-repeat: repeat-x 0 60px;
    border:1px #7bb5fc solid;
    -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
              border-radius: 4px;
    -webkit-box-shadow: 0 1px 5px #89aedb;
       -moz-box-shadow: 0 1px 5px #89aedb;
            box-shadow: 0 1px 5px #89aedb;
}

.startup-logo {
    float: left;
    width: 100%;
    height: 140px;
    display: block;
    background: #ffffff;
    margin: auto;
    padding: 10px 0 0 8px;
    text-align: center;
}

.startup-logo img {
    height: 117px;
    display: block;
    background: #ffffff;
    margin: auto;
}

.startup-strip {
    float: left;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 0;
    background: #cbe4f4;
    text-align: center;
    display: block;
}

.startup-strip .title {
    color: #224477;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    margin: auto;
}

.startup-strip .form-group {
    margin-bottom: 0;
}

.startup-form {
    min-height: 50px;
    margin: 20px auto;
    color: #224477;
}

.startup-form .diver {
    max-width: 600px;
    margin: auto;
}

.startup-form .diver form {
    margin: 0 10px 20px;
}

/*----- login ------*/

.spnw5 {
    max-width: 100%;
    width: 350px;
}

.spnw55 {
    max-width: 100%;
    width: 400px;
}

.spnw6 {
    max-width: 100%;
    width: 460px;
}

.spnw10 {
    max-width: 100%;
    width: 780px;
}

.form-group.margin-after {
    margin-bottom: 10px;
}

.login-error {
    color: #fa0328;
}

.open-id p {
    font-size: 16px;
    float: left;
    padding-top: 5px;
    color: #224477;
    text-align: left;
}

.open-id.form-group {
    margin-bottom: 0;
}

/*----- common ------*/

.spn12 {
  width: 940px;
}

.spn11 {
  width: 860px;
}

.spn10 {
  width: 780px;
}

.spn9 {
  width: 700px;
}

.spn8 {
  width: 620px;
}

.spn7 {
  width: 540px;
}

.spn6 {
  width: 460px;
}

.spn5 {
  width: 380px;
}

.spn4 {
  width: 300px;
}

.spn3 {
  width: 220px;
}

.spn2 {
  width: 140px;
}

.spn1 {
  width: 60px;
}

.pagination.lightblue ul > li > a {
    border-color: #94A2B4;
}

.pagination.lightblue li.active a {
    color: #000000;
    background: #D3E9FE;
}

.pagination.lightblue li.disabled a,
.pagination.lightblue li.disabled a:hover {
    color: #95A6C1;
}

.pagination.lightblue li:hover a {
    color: #0099de;
}

.pagination {
    margin: 4px auto;
}

.pagination-centered {
    text-align: center;
    margin: auto;
}

.top-line {
    border-top: 1px solid #D4E1F9;
}

.modal-content.large {
    margin-left: -38%;
    width: 175%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.defaultCursor {
    cursor: default;
}

/* -----flags ----- */

.flag {
  display: inline-block;
  width: 22px;
  height: 17px;
  *margin-right: .3em;
  line-height: 20px;
  vertical-align: middle;
  margin-left:0;
  background: no-repeat 0;
}
.flag-en {
    background-image: url("../img/en.png");
}
.flag-pl {
    background-image: url("../img/pl.png");
}
.flag-us {
    background-image: url("../img/us.png");
}
.flag-fr {
    background-image: url("../img/fr.png");
}
.flag-de {
    background-image: url("../img/de.png");
}

/* ----- splash ----- */
.splash {
    width: 345px;
    min-height: 20px;
    padding: 0;
    margin: auto auto auto -173px;
    left: 50%;
    position: fixed;
    z-index: 9999;
    @include linear-gradient(to bottom, #f0f8fb 0%, #F6FBFF 6%, #F6FBFF 16%, #F3FBFE 17%, #F1F9FC 26%, #ECF7FD 52%, #EBF6FA 53%, #E8F5FB 59%, #DFF0F8 86%, #dbedf7 100%);    border:1px #7bb5fc solid;
    -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
              border-radius: 4px;
    -webkit-box-shadow: 0 1px 5px #89aedb;
       -moz-box-shadow: 0 1px 5px #89aedb;
            box-shadow: 0 1px 5px #89aedb;
}

.splash.login {
    top: 60px;
}

.splash-loader {
    float:left;
    width: 343px;
    height: 40px;
    margin: auto;
    padding: 0;
    background:#cbe4f4;
    text-align:center;
}

.splash-loader img {
    margin:12px 0 0 -10px;
}

.splash-logo {
    float: left;
    height: 100px;
    display: block;
    margin: 10px 40px 5px 55px;
}

.splash-logo img {
    height: 90px;
}

.splash-msg {
    float: left;
    width: 325px;
    min-height: 10px;
    margin: 10px auto;
    text-align: center;
    color: #224477;
    font-size: 13px;
    line-height: 20px;
    padding: 10px;
}
.splash-alert {
    background: #ffffff;
    border-color: #d45252;
    -webkit-box-shadow: 0 1px 5px #666666;
       -moz-box-shadow: 0 1px 5px #666666;
            box-shadow: 0 1px 5px #666666;
}

.splash-header-alert {
    min-height: 30px;
    height: auto;
    padding: 10px 0 10px 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    background: #e6311c;
    background: -moz-linear-gradient(top,  #ff3523 0%, #e6311c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3523), color-stop(100%,#e6311c));
    background: -webkit-linear-gradient(top,  #ff3523 0%,#e6311c 100%);
    background: -o-linear-gradient(top,  #ff3523 0%,#e6311c 100%);
    background: -ms-linear-gradient(top,  #ff3523 0%,#e6311c 100%);
    background: linear-gradient(to bottom,  #ff3523 0%,#e6311c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff3523', endColorstr='#ffe6311c',GradientType=0 );
}

.splash-msg-alert {
    color: #e6311c;
    min-height: 50px;
}

.form-hint:before {
    color: #d45252;
    content: "\25C0";
    left: -6px;
    position: absolute;
    top: 1px;
}

.form-hint {
    background: #d45252;
    border-radius: 3px;
    color: #ffffff;
    float:left;
    display:inline-block;
    margin-top: 5px;
    margin-left: 8px;
    margin-right: 5%;
    padding: 2px 6px;
    position: absolute;
    z-index: 999;
    font-size: 13px;
}

.form-hint-info {
    background: #C08853;
}

.form-hint-info:before {
    color: #C08853;
}

.startup-form .form-hint {
    margin-left: -22px;
}

.form-hint.form-hint-bottom {
     margin-left: 0;
     margin-top: 7px;
     position: relative;
}

.form-hint.form-hint-bottom:before {
    content: "\25b2";
    position: absolute;
    left: 9px;
    top: -11px;
}

.wrap-paragraph {
    border: none;
    word-break: break-all;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
}
.input-mini {
    width: 60px;
}

.input-mini-fluid {
    max-width: 90px;
    min-width: 60px;
    width: 66%;
}

.input-small {
    width: 90px;
}

.input-small-fluid {
    max-width: 150px;
    min-width: 90px;
    width: 66%;
}

.input-medium {
    width: 150px;
}

.input-medium-fluid {
    max-width: 210px;
    min-width: 150px;
    width: 66%;
}

.input-large {
    width: 210px;
    min-width: 210px;
}

.input-large-fluid {
    max-width: 270px;
    min-width: 210px;
    width: 66%;
}

.input-xlarge {
    width: 270px;
}

.input-xlarge-fluid {
    max-width: 470px;
    min-width: 270px;
    width: 66%;
}

.input-xxlarge {
    width: 530px;
}

.input-xxlarge-fluid {
    max-width: 540px;
    min-width: 530px;
    width: 66%;
}

.form-inline .input-extra-fluid {
    width: 210px;
    max-width: 100%;
    min-width: 140px;
    height: 34px;
    overflow: hidden;
    vertical-align: top;
}

/* ----- link cursor ----- */

a, li a {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-group.inline {
    display: inline-block;
}

.badge-unknown {
    background-color: #C09853;
}

/*override index css */
.nav-tabs {
    background-color: #E4F1F9;
    border-color: #D4E1F9;
    border-bottom: 1px solid #E4F1F9;
    padding-top: 0;
}
.nav-tabs > li > a {
    border-radius: 0;
    padding-top: 9px;
    padding-bottom: 9px;
    border-width: 2px 1px 1px;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > li > a:hover,
.nav-tabs > .active > a:focus {
    border: 1px solid #F6FBFF;
    background: #F6FBFF;
    color:#05346D;
    border-top: 2px solid #0098EA;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    background: #F6FBFF;
    color: #0098EA;
    border-top: 2px solid #0098EA;
}
.custom .nav-tabs.nav-stacked {
    margin: 0;
    padding-top: 0;
}
.nav-tabs.nav-stacked > li > a {
    background: #E4F1F9;
    border: 1px solid #D4E1F9;
    border-radius: 0;
    text-transform: capitalize;
}
.nav-tabs.nav-stacked > li:first-child > a {
    border-radius: 0;
}
.nav-tabs.nav-stacked > li:last-child > a,
.nav-tabs.nav-stacked > li:last-child,
.nav-tabs.nav-stacked > li {
    border-radius: 0;
}
.nav-tabs.nav-stacked > .active > a,
.nav-tabs.nav-stacked > .active > a:focus {
    border: 1px solid #F6FBFF;
    background: #F6FBFF;
    color:#05346D;
    border-top: 1px solid #0098EA;
}
.nav-tabs.nav-stacked li {
    box-shadow: none;
}
#content-tabs, #inner-east .nav.nav-tabs {
    border-top: 1px solid #D4E1F9;
}

#inner-east .ui-layout-content {
    background: #F6FBFF;
    border-left: 1px solid #D4E1F9;
}


.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* fileinput plugin */

#bundleUploadForm .fileinput {
    margin-bottom: 0;
}

.input-append.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 4px;
}

/* fileinput plugin end */

.form-inline .form-control.form-control-select,
.form-inline .form-control.input-auto,
.form-control.input-auto {
    width: auto;
}

.form-inline .form-group.inline,
.form-inline .form-group label {
    display: inline;
}

.btn.input-mw {
    min-width: 80px;
}

.offset-1 {
    margin-left: 10px;
}
.offset-15 {
    margin-left: 15px;
}
.offset-2 {
    margin-left: 20px;
}
.offset-3 {
    margin-left: 30px;
}
.offset-4 {
    margin-left: 40px;
}
.offset-5 {
    margin-left: 50px;
}
.offset-05 {
    margin-left: 0.5em;
}
.offset-06 {
    margin-left: 0.6em;
}
.offset-07 {
    margin-left: 0.7em;
}
.offset-08 {
    margin-left: 0.8em;
}
.offset-09 {
    margin-left: 0.9em;
}

.btn-inverse {
    background-color: #363636;
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
    background-color: #222222;
    color: #FFFFFF;
}

.btn-inverse .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}

.btn-default.btn-danger-hover:hover {
    background-color: #D9534F;
    background: linear-gradient(to bottom, #D9534F 0px, #C12E2A 100%);
    background-repeat: repeat-x;
    border-color: #B92C28;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

label.checkbox {
    font-weight: normal;
}

.badge-important {
  background-color: #b94a48;
}

.badge-important[href] {
  background-color: #953b39;
}

.badge-warning {
  background-color: #f89406;
}

.badge-warning[href] {
  background-color: #c67605;
}

.badge-success {
  background-color: #468847;
}

.badge-success[href] {
  background-color: #356635;
}

.badge-info {
  background-color: #3a87ad;
}

.badge-info[href] {
  background-color: #2d6987;
}

.badge-inverse {
  background-color: #333333;
}

.badge-inverse[href] {
  background-color: #1a1a1a;
}

#inner-east .btn-group-vertical .btn {
    text-align: left;
}
#inner-east .btn-group-vertical {
    display: block;
}
.hidden {
    display: none;
    visibility: hidden;
}

.container {
    padding: 0 !important;
    overflow: hidden !important;
}

.allow-overflow {
    overflow: visible;
}

.ui-layout-north,
.ui-layout-south,
.ui-layout-east  {
    display: none;
}
#tabpanels .tab-panel {
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
}
#outer-center.ui-tabs ,
#outer-center.ui-tabs>ul {
    border-bottom: 0;
    padding-bottom: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.custom #outer-center.ui-tabs ,
.custom #outer-center.ui-tabs>ul {
    background: #F6FBFF;
    color: #05346D;
    border: 0;
    padding: 0;
}
#outer-west-resizer {
    background: #F6FBFF;
    color: #05346D;
}

.breadcrumb {
    background: #E4F1F9;
    border-radius: 0;
    list-style: none;
    margin: 0;
}


.pointer, span.pointer {
    cursor: pointer;
}

a, li a {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cursor-auto {
    cursor: auto;
}

.hide {
    display: none;
}

/* override jquery-ui css */

.ui-widget-content a.btn-warning,
.ui-widget-content a.btn-danger,
.ui-widget-content a.btn-success,
.ui-widget-content a.btn-primary,
.ui-widget-content a.btn-info,
.ui-widget-content a.btn-inverse {
    color: #ffffff;
}

.ui-widget.ui-datepicker {
    font-size: 0.9em;
    font-weight: normal;
}
.ui-widget.ui-datepicker dt,
.ui-widget.ui-datepicker dd {
    line-height: 1em;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    height: 2.1em;
}

.ui-datepicker .ui-datepicker-title {
    height: 1.95em;
}

.ui-timepicker-div select {
    margin: -1em 0 0;
}

select.ui-datepicker-month,
select.ui-datepicker-year {
    color: #333333;
}

/*
* Default Layout Theme
*/
html {
    overflow: auto !important;
}
/*
* PANES & CONTENT-DIVs
*/
.ui-layout-pane { /* all 'panes' */
    background: #F6FBFF;
    border: 0;
    padding: 0;
    overflow: auto;
    /* DO NOT add scrolling (or padding) to 'panes' that have a content-div,
    otherwise you may get double-scrollbars - on the pane AND on the content-div
    - use ui-layout-wrapper class if pane has a content-div
    - use ui-layout-container if pane has an inner-layout
    */
}
/* (scrolling) content-div inside pane allows for fixed header(s) and/or footer(s) */
.ui-layout-content {
    padding: 0;
    position: relative; /* contain floated or positioned elements */
    overflow: auto; /* add scrolling to content-div */
}
/*
* UTILITY CLASSES
* Must come AFTER pane-class above so will override
* These classes are NOT auto-generated and are NOT used by Layout
*/
.layout-child-container,
.layout-content-container {
    padding: 0;
    overflow: hidden;
}
.layout-child-container {
    border: 0; /* remove border because inner-layout-panes probably have borders */
}
.layout-scroll {
    overflow: auto;
}
.layout-hide {
    display: none;
}
/*
* RESIZER-BARS
*/
.ui-layout-resizer { /* all 'resizer-bars' */
    background: #DDDDDD;
    border: 1px solid #BBBBBB;
    border-width: 0;
}
    .ui-layout-resizer-drag { /* REAL resizer while resize in progress */
}
    .ui-layout-resizer-hover { /* affects both open and closed states */
}
/* NOTE: It looks best when 'hover' and 'dragging' are set to the same color,
otherwise color shifts while dragging when bar can't keep up with mouse */
.ui-layout-resizer-open-hover , /* hover-color to 'resize' */
.ui-layout-resizer-dragging { /* resizer beging 'dragging' */
    background: #C4E1A4;
}
.ui-layout-resizer-dragging { /* CLONED resizer being dragged */
    border: 1px solid #BBBBBB;
}
.ui-layout-resizer-north-dragging,
.ui-layout-resizer-south-dragging {
    border-width: 1px 0;
}
.ui-layout-resizer-west-dragging,
.ui-layout-resizer-east-dragging {
    border-width: 0 1px;
}
/* NOTE: Add a 'dragging-limit' color to provide visual feedback when resizer hits min/max size limits */
.ui-layout-resizer-dragging-limit { /* CLONED resizer at min or max size-limit */
    background: #E1A4A4; /* red */
}
.ui-layout-resizer-closed-hover { /* hover-color to 'slide open' */
    background: #EBD5AA;
}
.ui-layout-resizer-sliding { /* resizer when pane is 'slid open' */
    opacity: .10; /* show only a slight shadow */
    filter: alpha(opacity=10);
}
.ui-layout-resizer-sliding-hover { /* sliding resizer - hover */
    opacity: 1.00; /* on-hover, show the resizer-bar normally */
    filter: alpha(opacity=100);
}
/* sliding resizer - add 'outside-border' to resizer on-hover
* this sample illustrates how to target specific panes and states */
.ui-layout-resizer-north-sliding-hover { border-bottom-width: 1px; }
.ui-layout-resizer-south-sliding-hover { border-top-width: 1px; }
.ui-layout-resizer-west-sliding-hover { border-right-width: 1px; }
.ui-layout-resizer-east-sliding-hover { border-left-width: 1px; }
/*
* TOGGLER-BUTTONS
*/
.ui-layout-toggler {
    border: 1px solid #BBBBBB; /* match pane-border */
    background-color: #BBBBBB;
}
.ui-layout-resizer-hover .ui-layout-toggler {
    opacity: .60;
    filter: alpha(opacity=60);
}
.ui-layout-toggler-hover , /* need when NOT resizable */
.ui-layout-resizer-hover .ui-layout-toggler-hover { /* need specificity when IS resizable */
    background-color: #FFCC66;
    opacity: 1.00;
    filter: alpha(opacity=100);
}
.ui-layout-toggler-north ,
.ui-layout-toggler-south {
    border-width: 0 1px; /* left/right borders */
}
.ui-layout-toggler-west ,
.ui-layout-toggler-east {
    border-width: 1px 0; /* top/bottom borders */
}
/* hide the toggler-button when the pane is 'slid open' */
.ui-layout-resizer-sliding .ui-layout-toggler {
    display: none;
}

/*
* Layout Resizers
*/
.ui-layout-resizer-sliding {
    background-color: #BBBBBB; /* overridden by custom theme, above */
}
.ui-layout-resizer-open-hover,
.ui-layout-resizer-drag, /* cloned bar */
.ui-layout-resizer-dragging {
    background: #BBBBBB !important; /* need higher specificity */
    opacity: 0.5 !important;  /* ditto - not sure why? */
    filter: Alpha(Opacity=50) !important;
}
.ui-layout-resizer-dragging-limit {
    background: #d44848 !important;
}
.ui-layout-resizer-closed-hover {
     background: #ebd5aa;
}
/*
* style the text we put INSIDE the togglers
*/
.ui-layout-toggler .content {
    color: #666666;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    padding-bottom: 0.35ex; /* to 'vertically center' text inside text-span */
}
/*End default layout css */

/*override jquery layout css */
#outer-north {
    background: #FFFFFF;
    overflow: visible;
    padding: 0;
}

#outer-center {
    padding: 0;
}

#content-header {
    background: #FFFFFF;
}

#outer-north div.buttons {
    float: right;
    margin-right: 200px;
    margin-top: 4px;
}

#outer-south {
    padding: 0 0 0 15px;
}

#outer-south.inside {
    padding: 0 0 0 15px;
}

#outer-west {
    padding: 0;
    background: #E4F1F9;
    color: #05346D;
}

body.custom,
.custom #outer-north,
.custom #outer-center,
.custom #outer-south {
    background: #F6FBFF;
}

.custom #outer-south {
    border-top: 1px solid #D4E1F9;
    background: #e4f1f9;
}

#inner-east {
    background: #E4F1F9;
}

#inner-east-toggler {
    background: #ADE0FB;
}

#inner-east-resizer, #inner-east-toggler.ui-layout-toggler-open {
    background: #F6FBFF;
}

#inner-east-resizer #inner-east-toggler.ui-layout-toggler-open .content.content-open {
    margin-left: 14px;
}

#inner-east-resizer #inner-east-toggler.ui-layout-toggler-open {
    border: 1px solid rgba(230, 242, 254, 0);
}

#inner-east .inside {
    padding: 8px 10px;
}

#inner-east fieldset {
    border: none;
    border-radius: 0;
    border-top: 1px solid #B2D8F8;
}

#inner-east legend {
    border: none;
    color: #165384;
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin: 0 20px;
    padding: 5px;
    width: auto;
}

#outer-west-resizer.ui-layout-resizer-west-closed,
#inner-east-resizer.ui-layout-resizer-east-closed {
    background: #E4F1F9;
    border-right: 1px solid #D4E1F9;
}

#outer-west-toggler {
    background: #ADE0FB;
}

.ui-layout-pane-west {
    padding: 0;
}

.custom #tabbuttons li.active a {
    background: #E4F1F9;
    color: #05346D;
    box-shadow: 0 2px 2px rgba(055, 055, 055, 0.5) inset;
}
.custom .navbar-inverse #tabbuttons.navbar-brand, .custom .navbar-inverse #tabbuttons.navbar-nav > li > a {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
}

#inner-center {
    overflow: hidden;
    position: relative;
}

#inner-center .ui-layout-content {
    padding: 0 15px;
}

#inner-center .inside {
    padding: 8px 15px;
}

.ui-layout-toggler-north .btnWest {
    background: #009900;
}

.ui-layout-toggler-north div {
    float: left;
    height: 18px;
    width: 35px;
    margin-left: 0;
}

.ui-layout-toggler-north .btnBoth {
    background: #CC0000;
}

.ui-layout-toggler-north .btnCenter {
    background: #0000CC;
}

#southpane-closed:hover,
.southpane-open:hover  {
    bottom: 1px;
    background-color: #4F8FFF;
}

.custom .header-toolbar {
    height: auto;
    width: auto;
    margin: 0;
    padding: 8px;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}

.button {
    color: #001E4F;
    padding: 4px 8px;
    margin: 0;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    text-shadow: none;
    font-size: 16px;
    overflow: hidden;
    position: relative;
}

#outer-west .ui-layout-button-close-west.button  {
    float: right;
    margin-right: 3px;
    margin-top: -3px;
}

#inner-east-resizer .ui-layout-toggler-east-open .button {
    margin-left: 0;
}

.button:hover {
    background: #7EABF4;
}

.fa-caret-up.button, .fa-caret-down.button {
    padding: 0 10px 3px;
    vertical-align: top;
    line-height: 6px;
}

.fa-caret-down.button {
    line-height: 25px;
}

.ui-layout-resizer, .ui-layout-toggler.ui-layout-toggler-south {
    background-color: #E4F1F9;
}

.header-footer {
    height: 36px !important;
}

.header-footer-breadcrumb {
    height: 35px !important;
}

/* Template-specific stuff
*
* Customizations just for the template; these are not necessary for anything
* with disabling the responsiveness.
*/
/* Account for fixed navbar */
body {
    padding-bottom: 30px;
    min-width: 960px;
    background: #FFFFFF;
    padding: 0 !important;
    margin: 0;
}

/* Non-responsive overrides
*
* Utilitze the following CSS to disable the responsive-ness of the container,
* grid system, and navbar.
*/
/* Reset the container */
.container {
    max-width: none !important;
}

.container .navbar-header,
.container .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}
/* Always float the navbar header */
.navbar-header {
    float: left;
}
/* Undo the collapsing navbar */
.navbar-collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}
.navbar-toggle {
    display: none;
}
.navbar-collapse {
    border-top: 0;
}

/* Always apply the floated nav */
.navbar-nav {
    float: left;
    margin: 0;
}
.navbar-nav > li {
    float: left;
}
/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
    float: right;
}
/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
    position: absolute;
    float: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-width: 0 1px 1px;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #333333;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    background-color: #428bca !important;
}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    background-color: transparent !important;
}

.inner-east .filter-header {
    background: none repeat scroll 0 0 #F6FBFF;
    color: #05346D;
    height: 36px;
    border-left: 1px solid #D4E1F9;
    border-top: 1px solid #D4E1F9;
    border-radius: 0;
    display: block;
    padding: 10px 15px;
    position: relative;
}

.blockUI.blockMsg .splash-loader img,  .splash-loader img  {
    margin: 10px 0 0 -10px;
}

/* section - text editor*/

.ta-toolbar {
    margin-bottom: 12px;
}

.ta-editor {
    min-height: 200px;
    padding-left: 25px;
    padding-right: 5px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}

.ta-editor.form-control {
    display: block;
    width: 100%;
}

.ta-editor h1,
.ta-editor h2,
.ta-editor h3,
.ta-editor h4,
.ta-editor h5,
.ta-editor h6 {
    color: #333333;
}

.period .slider-label {
    clear: both;
    float: left;
    margin: 18px 15px 5px 0;
    text-align: right;
    width: 120px;
    overflow: hidden;
}

#period-year, #period-month, #period-week,
#period-day, #period-hour, #period-minute,
#period-second {
    clear: right;
    float: left;
    margin: 21px 10px 10px;
    width: 330px;
}

#amount-period-year, #amount-period-month,
#amount-period-week, #amount-period-day,
#amount-period-hour, #amount-period-minute,
#amount-period-second {
    background: none;
    border: 0;
    color: #224477;
    font-weight: bold;
    margin: 16px 0 4px;
    float: left;
    width: 45px;
    font-size: 18px;
}

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
    opacity: 1 !important;
    font-weight: bold !important;
}

.navbar-inner.navbar-inverse {
    background: #073863;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:focus,
.nav-tabs > li > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav > li > a:hover,
.nav > li > a:focus,
.nav.nav-stacked > li > a:hover,
.nav.nav-stacked > .active > a {
    color: #224477;
    background: #F9F9F9;
    filter:none !important;
}

/* ----- Override default BootstrapDialog style----- */

.bootstrap-dialog .bootstrap-dialog-message {
    word-wrap: break-word;
}

/* ----- Homepage style ----- */

#tile1 { background: #337ab7; color: #bd0300; }
#tile2 { background: #ffffff; }
#tile3 { background: #153178; }
#tile4 { background: #596b79; }
#tile5 { background: #03a70a; color: #d5ff88; }
#tile6 { background: #FFC107; color: #bd0300; }
.tile {
    background: #ffffff;
    min-height: 345px;
    border-color: #bce8f1;
    box-shadow: 6px 6px 15px -5px rgba(0, 94, 195, 0.44);
}
.tile.big {
    min-height: 460px;
}
.tile-link-list {
    list-style-type: none;
}
.tile .tile-title {
    font-size: 2em;
    font-weight: bold;
    line-height: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tile .tile-link a {
    border-radius: 0;
    min-width: 18em;
}
.tile .tile-description {
    font-size: 1.2em;
    margin: 1em auto;
    min-width: 18em;
    max-width: 30em;
    padding: 0 1em;
}
.tile .fa.big-icon {
    font-size: 4em;
    margin-top: 20px;
    margin-bottom: 10px;
}
.tile.inverse .fa.big-icon {
    color: #ffffff;
}
.tile.inverse .tile-title {
    color: #ffffff;
}
.tile.inverse .tile-description {
    color: #ffffff;
}
.tile .tile-link-list.many a {
    text-align: left;
}
.listTile .col-xs-8
.listTile .col-sm-6,
.listTile .col-md-6,
.listTile .col-lg-4,
.listTile .col-sm-12 {
    padding: 5px;
}
.listTile .welcome {
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2em;
    padding: 0.8em 0.8em 0.8em 0.3em;
    color: #073863;
    background: #f6fbff;
}