/* -- override Jquery Grid -- */
@mixin navbar($y) {
    background: #224477 repeat-x 0 $y;
    background: -moz-linear-gradient(top, #7c8ca6 0%, #7483a0 5%, #7182a0 8%, #687d9c 10%, #607495 15%, #2f4e7a 38%, #244674 45%, #0d2f5d 48%, #02275b 50%, #04275d 73%, #022b61 88%, #022c5e 90%, #032e65 93%, #022e5f 95%, #022d62 98%, #053067 100%) repeat-x 0 $y;
    background: -webkit-linear-gradient(top, #7c8ca6 0%,#7483a0 5%,#7182a0 8%,#687d9c 10%,#607495 15%,#2f4e7a 38%,#244674 45%,#0d2f5d 48%,#02275b 50%,#04275d 73%,#022b61 88%,#022c5e 90%,#032e65 93%,#022e5f 95%,#022d62 98%,#053067 100%) repeat-x 0 $y;
    background: linear-gradient(to bottom, #7c8ca6 0%,#7483a0 5%,#7182a0 8%,#687d9c 10%,#607495 15%,#2f4e7a 38%,#244674 45%,#0d2f5d 48%,#02275b 50%,#04275d 73%,#022b61 88%,#022c5e 90%,#032e65 93%,#022e5f 95%,#022d62 98%,#053067 100%) repeat-x 0 $y;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c8ca6', endColorstr='#053067',GradientType=0 ) repeat-x 0 $y;
}

.overrideJqgridTable .ui-jqgrid input.ui-pg-input {
    width: auto;
    height: 24px;
    line-height: 24px;
    padding: 3px;
    font-size: 13px;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
}

.overrideJqgridTable .ui-jqgrid select.ui-pg-selbox {
    width: auto;
    height: 24px;
    line-height: 24px;
    padding: 3px;
    font-size: 13px;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
}

.overrideJqgridTable .ui-widget-header {
    @include navbar(0);
}

.overrideJqgridTable .ui-jqgrid .table-lightblue .ui-widget-content {
    background: #E4F1F9;
}

.overrideJqgridTable .table-lightblue .ui-widget-content {
    border: 1px solid #D4E1F9;
}

.overrideJqgridTable .ui-jqgrid .ui-state-default.ui-jqgrid-hdiv.table-lightblue,
.overrideJqgridTable .ui-jqgrid .ui-state-default.table-lightblue .ui-jqgrid-htable th,
.overrideJqgridTable .ui-jqgrid .ui-jqgrid-htable.table-lightblue th {
    border-color: #c5dbec;
    color: #224477;
    background: #D9EDF7;
    background: -moz-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D9EDF7), color-stop(100%,#B9DEF0));
    background: -webkit-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
    background: -o-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
    background: -ms-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
    background: linear-gradient(to bottom,  #D9EDF7 0%, #B9DEF0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFD9EDF7', endColorstr='#FFB9DEF0',GradientType=0 );
    -webkit-box-shadow: 0 0 2px #bec9de;
       -moz-box-shadow: 0 0 2px #bec9de;
            box-shadow: 0 0 2px #bec9de;
}

.overrideJqgridTable .ui-jqgrid .ui-jqgrid-view {
    font-size: 14px;
}

.overrideJqgridTable .ui-jqgrid .ui-state-highlight,
.overrideJqgridTable .ui-jqgrid .ui-widget-content .ui-state-highlight,
.overrideJqgridTable .ui-jqgrid .ui-widget-header .ui-state-highlight {
    border-color: #D4E1F9;
    background: #EDF5F9;
}

.overrideJqgridTable .ui-jqgrid.ui-widget-content {
    background: #FFFFFF;
    border: 1px solid #c5dbec;
    border-bottom-style: none;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    box-sizing: border-box;
}

.overrideJqgridTable#instanceBrowserTable .ui-jqgrid.ui-widget-content {
    border-style: none;
}

.overrideJqgridTable .ui-jqgrid .ui-jqgrid-titlebar {
    padding: .3em .2em .2em .5em;
    font-size: 15px;
    color: #C2EAFE;
}

.overrideJqgridTable .ui-jqgrid .ui-jqgrid-htable th div {
    height: 30px;
    line-height: 30px;
}

.overrideJqgridTable .ui-jqgrid-btable .ui-widget-content ul {
    margin: 0 0 0 10px;
    color: #0088CC;
}

.overrideJqgridTable .ui-jqgrid-btable .ui-widget-content li {
    line-height: 18px;
    float: left;
    margin: 0 15px;
}

.overrideJqgridTable .ui-jqgrid-btable .ui-widget-content li a {
    text-decoration: underline;
    color: #0088CC;
}

.overrideJqgridTable .ui-jqgrid-btable .ui-widget-content li a:hover {
    text-decoration: none;
}

.overrideJqgridTable .ui-jqgrid tr.jqgrow td {
    padding: 4px 6px;
}

.overrideJqgridTable .ui-jqgrid tr.jqgrow td.text {
    white-space: normal;
}

.overrideJqgridTable .ui-jqgrid-labels > th {
    border-right: 0 none;
}

.overrideJqgridTable .ui-jqgrid .ui-jqgrid-pager {
    font-size: 13px;
    height: 30px;
}

.overrideJqgridTable .ui-jqgrid .ui-pg-button {
    height: 22px !important;
}

.overrideJqgridTable .ui-jqgrid .ui-icon-asc {
    margin-left: 1px;
}

.overrideJqgridTable .s-ico {
    margin: 7px;
    width: 20px;
    height: 20px;
    position: absolute;
}

.overrideJqgridTable .ui-jqgrid .ui-jqgrid-resize {
    height: 30px !important;
}

table.ui-pg-table {
    border-collapse:separate;
}

.overrideJqgridTable .ui-jqgrid .ui-pg-button {
    border: 1px solid rgba(104, 164, 191, 0);
    padding: 0;
}

.overrideJqgridTable .ui-jqgrid .ui-pg-button:hover {
    border: 1px solid rgba(104, 164, 191, 1);
}

.overrideJqgridTable .ui-jqgrid .ui-paging-info {
    margin-left: 4px;
    display: inline;
}

.ui-jqgrid table {
    border-collapse: separate;
    border-style: none;
}

div.ui-jqgrid-view table.ui-jqgrid-btable td {
    border-left-style: none
}

div.ui-jqgrid-view table.ui-jqgrid-btable th {
    border-left-style: none
}

.ui-jqgrid .ui-pg-table {
    padding-bottom: 0;
}

.ui-jqgrid .ui-jqgrid-hdiv {
    height: auto;
    overflow-y: hidden;
}

.ui-jqgrid tr.jqgfirstrow td {
    border-color: #F3FBFE;
}