.sms.tab-content {
    padding-left: 0;
}

.sms.nav.nav-tabs {
    border-bottom: none;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 0;
}

.sms #operations-sms-logging {
    margin: 10px;
}

.css-form input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

.css-form input.ng-valid.ng-dirty {
    background-color: #78FA89;
}

.sms .btn-group > .btn.active {
    z-index: 1;
}

.sms .s-ico {
    float: right;
    margin-right: 2px;
    display: block;
    width: 20px;
    height: 20px;
    padding: 8px 2px;
}

.sms.tab-content {
    padding-left: 0;
}

.sms.nav.nav-tabs {
    border-bottom: none;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 0;
}

.sms fieldset {
    border-top: 1px solid #B2D8F8;
    border-radius: 0;
}

.sms legend  {
    border: none;
    color: #165384;
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin: 0 20px;
    padding: 5px;
    width: auto;
}

.sms legend + .control-group {
    margin-top: 2px;
}

.sms .pointer {
    cursor: pointer;
}

.sms .checkbox.inline {
    display: inline-block;
    padding-top: 5px;
    margin-bottom: 0;
    margin-right: 20px;
    vertical-align: middle;
    white-space: nowrap;
}

.sms .checkbox.inline + .checkbox.inline {
    margin-left: 0px;
}

#t_resourceTable {
    min-height: 25px;
    height: auto;
    padding: 5px;
}

#t_resourceTable .control-group {
    margin-bottom: 2px;
}

.ui-datepicker.ui-widget {
    font-size: 0.9em;
}

.input-xlarge-fluid {
    max-width: 470px;
    min-width: 270px;
    width: 66%;
}

.ui-jqgrid input.ui-pg-input {
    width: auto;
    height: 14px;
    line-height: 18px;
    padding: 1px 3px;
}

.ui-jqgrid select.ui-pg-selbox {
    width: auto;
    height: 18px;
    line-height: 18px;
    padding: 1px 3px;
}
