<div class="row">
    <a href="#/eventAggregation" type="button" class="btn btn-sm btn-primary pull-right"><i class="icon-remove icon-white"></i></a>
    <h4 class="frame-title">{{ msg('aggregation.execution.page.heading') }}
    <span ng-show="eventStatus == 'invalid'"> - {{msg('aggregation.errors.page.heading')}}</span></h4>
</div>

<div class="row" ng-controller="AggregationsController">
    <div class="inside clearfix">
        <div ng-include="'../event-aggregation/resources/partials/rule.html'"></div>

        <div ng-repeat="aggregation in aggregations" class="aggregation-container">
            <div ng-include="'../event-aggregation/resources/partials/aggregation.html'"/>
        </div>

    </div>
</div>
