<div class="event span12 row-fluid">
    <div class="span7">
        <table class="table table-bordered table-condensed table-lightblue">
            <thead>
            <th>Key</th>
            <th>Value</th>
            </thead>
            <tbody>
            <tr ng-repeat="(key, value) in event.aggregationParams" class="aggregation-param">
                <td>
                    <span>{{key}}</span>
                </td>
                <td>
                    <span>{{value}}</span>
                </td>
            </tr>
            <tr ng-repeat="(key, value) in event.nonAggregationParams" class="non-aggregation-param">
                <td>
                    <span>{{key}}</span>
                </td>
                <td>
                    <span>{{value}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="details span11 fill">
        {{event.timeStamp | date:'medium'}}
    </div>
</div>

