<div class='custom-rule-fields'>
    <div class="form-group">
        <label class="col-md-3 col-sm-4 control-label">{{ msg('aggregation.new.custom.rule.expression.label') }}</label>
        <div class="form-inline col-md-9 col-sm-8">
            <input class="input-xlarge-fluid form-control input-auto" type="text" ng-model='rule.aggregationSchedule.rule' tooltip='#rule_tooltip_text'/>
        </div>
    </div>
    <div style="display: none;" id='rule_tooltip_text'>
        <div>{{msg('aggregation.new.custom.rule.examples')}}</div>
        <div>
            <p>{{msg('aggregation.new.custom.rule.p1')}}</p>
            <code>firstEvent.timeStamp.isBefore(now.minusMinutes(30))</code>
            <p>{{msg('aggregation.new.custom.rule.p2')}}</p>
            <code>lastEvent.timeStamp.isBefore(now.minusHours(2))</code>
            <p>{{msg('aggregation.new.custom.rule.p3')}}</p>
            <code>events.size() > 10</code>
        </div>
    </div>
</div>
