<div>
    <div class="row">
        <div ng-init="setEntities()">
            <div ng-repeat="(module, entities) in modules" ng-if="!selectedEntity && !selectedInstance">
                <div class="module-header">
                    <a ng-click="collapse(module)"><i class="icon-large" ng-class="arrow(module)"> </i>{{module}}</a>
                </div>
                <div class="entity-entry" ng-repeat="entity in entities" ng-if="visible(module)">
                    <a class="stripped-link">{{entity}}</a>
                    <div class="entity-buttons">
                        <div class="btn-group">
                            <button href="#" type="button" class="btn btn-success">
                                <i class="icon-plus icon-white"></i> {{msg('mds.btn.add')}}
                            </button>
                            <button ng-click="selectEntity(module, entity)" type="button" class="btn btn-primary">
                                {{msg('mds.btn.view')}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ui-if="selectedEntity">
        <div ng-include="'../mds/resources/partials/widgets/entityInstances.html'"></div>
    </div>

    <div class="row" ui-if="selectedInstance">
        <div ng-include="'../mds/resources/partials/widgets/history.html'"></div>
    </div>
</div>


