<div class="row-fluid">
    <div>
        {{msg('mds.entities')}}:
        <input type="hidden" ui-select2="SELECT_ENTITY_CONFIG" ng-model="selectedEntity" id="selectEntity" class="select-entity"/>
        <button href="#newEntityModal" type="button" class="btn btn-success" data-toggle="modal" data-backdrop="static">
            <i class="icon-plus icon-white"></i> {{msg('mds.btn.newEntity')}}
        </button>
        <button href="" class="btn btn-warning" ng-show="selectedEntity">
            <i class="icon-cogs icon-white"></i> {{msg('mds.btn.advanced')}}
        </button>
        <button href="#deleteEntityModal" class="btn btn-danger" ng-show="selectedEntity"
           ng-disabled="!selectedEntity || selectedEntity.readOnly" data-toggle="modal" data-backdrop="static">
            <i class="icon-trash icon-white"></i> {{msg('mds.btn.delete')}}
        </button>

        <div class="row-fluid" ui-if="selectedEntity">
            <div ng-include="'../mds/resources/partials/widgets/fields.html'"></div>
            <div ui-if="!selectedEntity.readOnly">
                <button class="btn btn-danger" ng-disabled="!changed()" ng-click="abandonChanges()">
                    <i class="icon-trash icon-white"></i> {{msg('mds.btn.abandonChanges')}}
                </button>
                <button class="btn btn-primary" ng-disabled="!changed() || !canSaveChanges()" ng-click="saveChanges()">
                    <i class="icon-save icon-white"></i> {{msg('mds.btn.saveChanges')}}
                </button>
            </div>
        </div>

        <div class="welcome" ui-if="!selectedEntity">
            <h3>{{msg('mds.tab.schemaEditor')}}</h3>
            <p></p>
            <p>{{msg('mds.info.selectEntity')}}</p>
        </div>
    </div>

    <div ng-include="'../mds/resources/partials/modals/new-entity.html'"></div>
    <div ng-include="'../mds/resources/partials/modals/delete-entity.html'"></div>
</div>
