<div class="">
    <div class="alert alert-warning margin-before row" ui-if="selectedEntity.outdated">
        <h4>{{msg('mds.warning')}}</h4>
        <p>{{msg('mds.error.draftOutdated')}}&nbsp;<a class="alert-link" ng-click="updateDraft()">{{msg('mds.btn.updateDraft')}}</a></p>
    </div>
    <div class="alert alert-danger margin-before row" ui-if="currentErrorCode">
        <h4>{{msg('mds.error')}}</h4>
        <p>{{msg(currentErrorCode)}}</p>
    </div>
    <div class="row">
        <div class="form-inline inside margin-before">
            <div class="form-group">
                <label class="control-label">{{msg('mds.entities')}}:</label>
            </div>
            <div class="form-group">
                <input type="hidden" ui-select2="SELECT_ENTITY_CONFIG" ng-model="selectedEntity" id="selectEntity" class="select-entity"/>
            </div>
            <div class="form-group">
                <button href="#newEntityModal" type="button" class="btn btn-success" data-toggle="modal" data-backdrop="static">
                    <i class="icon-plus icon-white"></i> {{msg('mds.btn.newEntity')}}
                </button>
            </div>
            <div class="form-group">
                <button href="#advancedObjectSettingsModal" class="btn btn-warning" ng-show="selectedEntity"
                        data-toggle="modal" data-backdrop="static">
                    <i class="icon-cogs icon-white"></i> {{msg('mds.btn.advanced')}}
                </button>
            </div>
            <div class="form-group">
                <button href="#securityObjectSettingsModal" class="btn btn-info" ng-show="selectedEntity"
                        data-toggle="modal" data-backdrop="static">
                    <i class="icon-certificate icon-white"></i> {{msg('mds.btn.security')}}
                </button>
            </div>
            <div class="form-group">
                <button href="#deleteEntityModal" class="btn btn-danger" ng-show="selectedEntity"
                   ng-disabled="!selectedEntity || selectedEntity.readOnly" data-toggle="modal" data-backdrop="static">
                    <i class="icon-trash icon-white"></i> {{msg('mds.btn.delete')}}
                </button>
            </div>
        </div>
    </div>
    <div class="row margin-before" ui-if="selectedEntity">
        <div ng-include="'../mds/resources/partials/widgets/fields.html'"></div>
        <div class="inside" ui-if="!selectedEntity.readOnly">
            <button class="btn btn-danger" ng-disabled="!selectedEntity.modified" ng-click="abandonChanges()">
                <i class="icon-trash icon-white"></i> {{msg('mds.btn.abandonChanges')}}
            </button>
            <button class="btn btn-primary" ng-disabled="!selectedEntity.modified || !canSaveChanges()" ng-click="saveChanges()">
                <i class="icon-save icon-white"></i> {{msg('mds.btn.saveChanges')}}
            </button>
        </div>
    </div>

    <div class="row inside margin-before2">
        <div class="form-group" ui-if="!selectedEntity">
            <h4>{{msg('mds.tab.schemaEditor')}}</h4>
            <p></p>
            <p>{{msg('mds.info.selectEntity')}}</p>
        </div>
    </div>

    <div ng-include="'../mds/resources/partials/modals/new-entity.html'"></div>
    <div ng-include="'../mds/resources/partials/modals/delete-entity.html'"></div>
    <div ng-include="'../mds/resources/partials/modals/advanced-object-settings.html'"></div>
    <div ng-include="'../mds/resources/partials/modals/security-object-settings.html'"></div>

</div>
