.tab-content {
    padding-left: 0;
}

form.form-horizontal {
    margin: 0;
}

.settings-form  {
    border-top: 1px solid #D4E1F9;
    margin: 0;
}

.settings-form form, form.form-inline {
    margin: 0;
}

.box-content > div.settings-form:first-child,
.box-content > div.settings-form:nth-child(2) {
    border-top: none;
}

h4.settings-section {
    padding: 10px 0 0 10px;
}

.row-fluid .settings-form.span6 {
    margin-left:0;
    width: 49.99%;
}

.box-content.lightblue-settings, .lightblue-settings  {
    background: #dbedf7 url("../../server/resources/img/frame-set-bg.jpg") repeat-x 0 0;
    border-left:1px solid #D4E1F9;
}

.form-save {
    background:#cce5f4;
    margin: 0;
    border-radius: 0 0 6px 6px;
}

.lightblue-2 {
    background: #EDF5F9;
}

.inside form {
    margin: 0;
}

.bundle-dtLabel {
    float: left;
    width: 23%;
    font-weight: bold;
}

.bundle-dtValue {
    min-height: 1em;
    margin-left: 23%;
    width: 75%;
}

.bundle-prop {
    padding: 5px;
    border-bottom: 1px dotted;
}

.small-icon {
    width: 25px;
    height: 25px;
}

.large-icon {
    width: 90px;
    height: 90px;
}

.action {
    width: 31px;
    height: 25px;
    background:url("../img/action-btn-sprite.png") no-repeat;
}

.action-start {
    background-position: 0 0;
}
.action-start:hover {
    background-position: 0 -25px;
}
.action-stop {
    background-position: -31px 0;
}
.action-stop:hover {
    background-position: -31px -25px;
}
.action-restart {
    background-position: -124px 0;
}
.action-restart:hover {
    background-position: -124px -25px;
}
.action-settings {
    background-position: -217px 0;
}
.action-settings:hover {
    background-position: -217px -25px;
}
.action-remove {
    background-position: -93px 0;
}
.action-remove:hover {
    background-position: -93px -25px;
}

/* ----- table ----- */

.table-content {
    border-radius:4px;
    padding: 0;
    -webkit-box-shadow: 0 0 6px #bec9de;
       -moz-box-shadow: 0 0 6px #bec9de;
            box-shadow: 0 0 6px #bec9de;
}

.table-bundles {
    line-height: 20px;
}

.table-bundles a:link {
    text-decoration: none;
}

.table-bundles thead tr th, .table-bundles tbody tr td {
    text-align: center;
}

.table-bundles thead tr > th:nth-child(3){
    text-align: left;
}

.table-bundles thead tr > th:first-child, .table-bundles thead tr > th:nth-child(2){
    text-align: center;
    width: 35px;
}

.table-bundles thead tr > th:nth-child(4){
    width: 150px;
}

.table-bundles thead tr > th:nth-child(5){
    width: 100px;
}

.table-bundles tbody tr > td:nth-child(3){
    text-align:left;
}

.table-bundles tbody tr > td:last-child {
    width: 135px;
    text-align:left;
    white-space: nowrap;
    text-decoration: none;
}

.table-bundles th {
    white-space: nowrap;
    cursor: pointer;
}

.table-bundles.table-bordered {
    border-radius: 0 0 4px 4px;
}

/* ----- filter, statistics ----- */

.statistics {
    line-height: 25px;
    padding: 10px 0;
}
.row-fluid .span8.statistics {
    min-height: 24px;
}

.statistics span {
    padding: 14px 10px;
    margin: 0;
}

.statistics span.param {
    border-left: 1px solid #D4E1F9;
}

.statistics span b {
    margin: 0 5px;
}

.top-line {
    border-top: 1px solid #D4E1F9;
}

.filter {
    border-right: 1px solid #D4E1F9;
}

.filter form {
    margin: 0;
}

.filter label {
    margin-bottom: 0;
}

.log-line {
     border-bottom: 1px solid #D4E1F9;
}

.log-line .log-change {
    margin-top: 5px;
    margin-bottom: 0;
}

.log-line .log-download {
     border-left: 1px solid #D4E1F9;
     padding-left: 10px;
     text-align: right;
}

.log-content {
    background-color: white;
    padding: 10px;
    font-family: Consolas,'Lucida Console','DejaVu Sans Mono',monospace;
    font-size: 12px;
    word-wrap: break-word;
}

div.sidebar-container {
    height: 90px !important;
}

#changeLogLevels .control-group {
    margin: 0;
    margin-bottom: 0;
    background-color: #E4F1F9;
    padding: 5px 5px 5px 45px;
}

#changeLogLevels .control-group.log {
    padding: 10px 5px 2px 15px;
}

#changeLogLevels .form-actions {
    background: #E4F1F9;
    margin: 0;
    padding: 19px 20px 20px 45px;
}

#changeLogLevels .label-logAll {
    width: 155px;
    float: left;
    margin-top: 6px;
    text-align: right;
}

#changeForAll {
    margin: 1px 1px 1px 9px;
}

#changeLogLevels .btn-log {
    width: 60px;
}

#changeLogLevels .btn-hidden {
    visibility: hidden;
}

.form-actions {
    background: #E4F1F9;
    padding: 19px 20px 20px 45px;
    margin-top: 0;
    margin-bottom: 0;
}

.log-options {
    background: #DBEDF7;
    background-image: none;
}

.messages.control-group, #notificationRulesForm > div,
#changeLogLevels > div {
    background-color: #EBF7FF;
    border-top: 1px solid #D2EBFC;
    border-top: 1px solid #D4E1F9;
    margin: 0 -10px 0px;
    padding: 5px 5px 5px 10px;
}

#notificationRulesForm > div:first-child {
    border: none;
    padding-top: 0;
}

#notificationRulesForm > div .control-group {
    margin: 0 10px;
}

.box-content .messages.control-group:nth-child(2n+1),
#notificationRulesForm > div:nth-child(2n+1),
#changeLogLevels > div:nth-child(2n+1) {
    background: #F3FBFE;
}

.box-content .messages.control-group:last-child {
    margin: 0 -10px -10px;
}

#notificationRulesForm > div:last-child {
    padding: 20px 5px 20px 10px;
    margin: 0 -10px -10px;
}
