<div id="inner-center" class="admin inner-center ui-layout-center ui-layout-pane ui-layout-pane-center">
    <div class="header-footer-breadcrumb">
        <ul class="breadcrumb" role="navigation">
            <li><a role="menu" ui-sref="home">{{msg('server.home')}}</a></li>
            <li><a role="menu" ui-sref="admin.bundles">{{msg('admin')}}</a></li>
            <li ng-show="selectedTabState.selectedTab === 'bundles'"
                ng-class="{'active': selectedTabState.selectedTab === 'bundles'}">{{msg('admin.manageModules')}}</li>
            <li ng-show="selectedTabState.selectedTab === 'bundle'"
                ng-class="{'active': selectedTabState.selectedTab === 'bundles'}">{{msg('admin.bundle.title')}}</li>
            <li ng-show="selectedTabState.selectedTab === 'messages' || selectedTabState.selectedTab === 'messagesSettings'">
                <a role="menu" ui-sref="admin.messages">{{msg('admin.messages')}}</a></li>
            <li ng-show="selectedTabState.selectedTab === 'messages'" ng-class="{'active': selectedTabState.selectedTab === 'messages'}">{{msg('admin.messages')}}</li>
            <li ng-show="selectedTabState.selectedTab === 'messagesSettings'" ng-class="{'active': selectedTabState.selectedTab === 'messagesSettings'}">{{msg('admin.messages.notifications.title')}}</li>
            <li ng-show="selectedTabState.selectedTab === 'platform-settings' || selectedTabState.selectedTab === 'bundleSettings'" ng-class="{'active': selectedTabState.selectedTab === 'platform-settings'}">{{msg('admin.settings')}}</li>
            <li ng-show="selectedTabState.selectedTab === 'log'" ng-class="{'active': selectedTabState.selectedTab === 'log'}">{{msg('admin.log')}}</li>
            <li ng-show="selectedTabState.selectedTab === 'logOptions'" ng-class="{'active': selectedTabState.selectedTab === 'logOptions'}">{{msg('admin.log.options')}}</li>
            <li ng-show="selectedTabState.selectedTab === 'topics'" ng-class="{'active': selectedTabState.selectedTab === 'topics'}">{{msg('admin.topics')}}</li>
            <li ng-show="selectedTabState.selectedTab === 'queues'" ng-class="{'active': selectedTabState.selectedTab === 'queues'}">{{msg('admin.queues')}}</li>
            <li ng-show="selectedTabState.selectedTab === 'browse'"> <a role="menu" ui-sref="admin.browse">{{msg('admin.queues')}}</a></li>
            <li ng-show="selectedTabState.selectedTab === 'browse'" ng-class="{'active': selectedTabState.selectedTab === 'browse'}">{{msg('admin.queue.messages.pending')}}</li>
        </ul>
    </div>
    <div class="header-footer">
        <ul id="content-tabs" role="tablist" class="nav nav-tabs">
            <li ng-class="{'active': selectedTabState.selectedTab === 'bundles' || selectedTabState.selectedTab === 'bundle'}"
                ng-show="selectedTabState.selectedTab === 'bundles' || selectedTabState.selectedTab === 'bundle'"
                ng-click="selectedTabState.selectedTab = 'bundles'"><a id="tab-admin-bundles" ui-sref="admin.bundles">{{msg('admin.bundles')}}</a></li>
            <li ng-class="{'active': selectedTabState.selectedTab === 'messages'}" ng-show="selectedTabState.selectedTab === 'messages'">
                <a ui-sref="admin.messages">{{msg('admin.messages')}}</a></li>
            <li ng-show="selectedTabState.selectedTab === 'messagesSettings'" ng-click="selectedTabState.selectedTab = 'messages'">
                <a id="tab-admin-messages" ui-sref="admin.messages">{{msg('admin.messages')}}</a></li>
            <li ng-class="{'active': selectedTabState.selectedTab === 'messagesSettings'}"
                ng-show="selectedTabState.selectedTab === 'messages' || selectedTabState.selectedTab === 'messagesSettings'"
                ng-click="selectedTabState.selectedTab = 'messagesSettings'"><a id="tab-admin-messagesSettings" ui-sref="admin.messagesSettings">{{msg('admin.messages.notifications.title')}}</a></li>
            <li class="active" ng-show="selectedTabState.selectedTab === 'platform-settings'" ng-click="selectedTabState.selectedTab = 'platform-settings'">
                <a id="tab-admin-platform-settings" ui-sref="admin.platform-settings">{{msg('admin.settings')}}</a></li>
            <li class="active" ng-show="selectedTabState.selectedTab === 'bundleSettings'" ng-click="selectedTabState.selectedTab = 'bundleSettings'">
                <a id="tab-admin-bundleSettings" ui-sref="admin.bundleSettings">{{msg('admin.settings')}}</a></li>
            <li ng-class="{'active': selectedTabState.selectedTab === 'log'}" ng-show="selectedTabState.selectedTab === 'log'">
                <a ui-sref="admin.log">{{msg('admin.log')}}</a></li>
            <li ng-show="selectedTabState.selectedTab === 'logOptions'" ng-click="selectedTabState.selectedTab = 'log'">
                <a id="tab-admin-log" ui-sref="admin.log">{{msg('admin.log')}}</a></li>
            <li ng-class="{'active': selectedTabState.selectedTab === 'logOptions'}"
                ng-show="selectedTabState.selectedTab === 'logOptions' || selectedTabState.selectedTab === 'log'"
                ng-click="selectedTabState.selectedTab = 'logOptions'"><a id="tab-admin-logOptions" ui-sref="admin.logOptions">{{msg('admin.log.options')}}</a></li>
            <li ng-show="selectedTabState.selectedTab === 'topics'" ng-class="{'active': selectedTabState.selectedTab === 'topics'}"
                ng-click="selectedTabState.selectedTab = 'topics'"><a id="tab-admin-topics" ui-sref="admin.topics">{{msg('admin.topic.statistics')}}</a></li>
            <li ng-show="selectedTabState.selectedTab === 'queues'" ng-class="{'active': selectedTabState.selectedTab === 'queues'}">
                <a id="tab-admin-queues" ui-sref="admin.queues">{{msg('admin.queue.statistics')}}</a></li>
            <li ng-show="selectedTabState.selectedTab === 'browse'" ng-class="{'active': selectedTabState.selectedTab === 'browse'}">
                <a id="tab-admin-browse" ui-sref="admin.browse">{{msg('admin.queue.messages.pending')}}</a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <div class="ui-layout-content">
        <div class="tab-content" id="tab-content">
            <div id="main-content" class="tab-pane active">
                <div ui-view="adminView"></div>
            </div>
        </div>
    </div>
    <div ng-controller="AdminPaginationMessageCtrl" class="header-footer pagination-centered" ng-show="pagedItems.length &gt; 0 && selectedTabState.selectedTab === 'messages'">
        <ul class="pagination pagination-sm lightblue">
            <li ng-class="{disabled: currentPage == 0}"><a ng-click="firstPage()">{{msg('server.pagination.first')}}</a></li>
            <li ng-class="{disabled: currentPage == 0}"><a ng-click="prevPage()">{{msg('server.pagination.prev')}}</a></li>
            <li ng-repeat="number in range(pagedItems.length)"
                ng-hide="hidePages(number)"
                ng-class="{active: number == currentPage}"
                ng-click="setPage()">
                <a ng-bind="number + 1">1</a>
            </li>
            <li ng-class="{disabled: currentPage == pagedItems.length - 1}"><a ng-click="nextPage()">{{msg('server.pagination.next')}}</a></li>
            <li ng-class="{disabled: currentPage == pagedItems.length - 1}"><a ng-click="lastPage(pagedItems.length - 1)">{{msg('server.pagination.last')}}</a></li>
            <li><select class="form-control input-sm input-auto page-size-list" ng-model="itemsPerPage" ng-change="changeItemsPerPage()" ng-options="itemsPerPage for itemsPerPage in limitPages"></select></li>
        </ul>
    </div>
</div>

<div id="inner-east" class="admin inner-east ui-layout-pane ui-layout-pane-east">
    <div class="header-toolbar header-footer"></div>
    <div class="filter-header">{{msg('admin.messages.filters')}}</div>
    <div class="ui-layout-content">
        <div class="tab-content">
            <div ng-controller="AdminFilterCtrl" class="tab-pane fade in active" id="filters">
                <!------------------------  Filters  ------------------------>
                <div class="inside">
                    <fieldset class="inside">
                        <legend>{{msg('admin.messages.search')}}</legend>
                        <div class="form-group">
                            <input type="text" ng-model="query" ng-change="search()" class="form-control input-sm search-query" placeholder="{{msg('admin.messages.searchByContent')}}">
                        </div>
                    </fieldset>
                    <fieldset class="inside">
                        <legend>{{msg('admin.messages.date')}}</legend>
                        <div class="form-group">
                            <input id="messagesDateTimeFrom" ng-model="dateTimeFrom" messages-date-picker="" type="datetime" class="form-control input-sm search-query" placeholder="{{msg('admin.messages.from')}}" >
                        </div>
                        <div class="form-group">
                            <input id="messagesDateTimeTo" ng-model="dateTimeTo" messages-date-picker="" type="datetime" class="form-control input-sm search-query" placeholder="{{msg('admin.messages.to')}}">
                        </div>
                    </fieldset>
                    <fieldset class="inside">
                        <legend>{{msg('admin.messages.moduleName')}}</legend>
                        <div class="form-group input-auto">
                            <div class="btn-group">
                                <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                    {{filterModule || msg('admin.messages.select')  | uppercase}}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li ng-model="filterModule" ng-model="filterModule" ng-repeat="value in modules">
                                        <a ng-click="setFilterModule(value)">
                                            {{value | uppercase}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="inside">
                        <legend>{{msg('admin.messages.level')}}</legend>
                        <div class="form-group btn-group-vertical">
                            <button ng-repeat="messagesLevel in messagesLevels" ng-click="setFilterLevel(messagesLevel)" set-level-filter="messagesLevel" class="btn btn-info btn-sm" type="button"><i class="fa fa-fw fa-square-o"></i> {{msg('admin.messages.'+messagesLevel) | uppercase}}</button>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
