*~
*#
.DS_Store
.classpath
.project
.settings/
target/
.externalToolBuilders/
maven-eclipse.xml
.idea/
*.iml
*.ipr
*.iws
*.class
*.log*
Motech.log*
debug.txt
out/
Error_log/
test-output/
felix-cache/
activemq-data/
tools/SMPPSim/
*.tmp
platform/server/src/main/webapp/WEB-INF/classes/
platform/server/src/main/webapp/[0-9]*/
docs/build
docs/env
docs/source/packages.rst
docs/source/packages.txt
docs/source/org
.tx/config
ui/node_modules
ui/bower_components
ui/build