<div>
    <div class="panel panel-default" mds-header-accordion>
        <div class="panel-heading" data-toggle="collapse" data-target="#browsing-displayed">
            <i class="panel-icon icon-caret-down icon-large icon-fixed-width"></i>{{msg('mds.advanced.dataBrowsing.displayFieldsTitle')}}
        </div>
        <div class="panel-collapse collapse in" id="browsing-displayed">
            <div class="panel-body display-fields">
                <div id="availableFieldsContainer" class="outer-container panel panel-default">
                    <div class="panel-heading">{{msg('mds.advanced.dataBrowsing.availableFields')}}</div>
                    <div class="panel-body scroll-container">
                        <div class="container-space" tabindex="0" connected-list-source="browsingAvailable" connect-with="browsing" droppable="true">
                            <div class="container-item" connect-with="browsing" item-index="{{$index}}" connected-list-source-item ng-repeat="field in browsingAvailable">
                                {{field.basic.displayName}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="buttons-container">
                    <div class="btn-group-vertical">
                        <button connected-list-btn-from connect-with="browsing" mds-path="browsing.$setDisplayedFields" class="btn btn-default" ng-disabled="!canMoveLeft()">
                            <span class="icon-chevron-left" />
                        </button>
                        <button connected-list-btn-from-all connect-with="browsing" mds-path="browsing.$setDisplayedFields" class="btn btn-default"  ng-disabled="!canMoveAllLeft()">
                            <span class="icon-chevron-left" /><span class="icon-chevron-left" />
                        </button>
                    </div>
                    <br/><br/>
                    <div class="btn-group-vertical">
                        <button connected-list-btn-to-all connect-with="browsing" mds-path="browsing.$setDisplayedFields" class="btn btn-default" ng-disabled="!canMoveAllRight()">
                            <span class="icon-chevron-right" /><span class="icon-chevron-right" />
                        </button>
                        <button connected-list-btn-to connect-with="browsing" mds-path="browsing.$setDisplayedFields" class="btn btn-default" ng-disabled="!canMoveRight()">
                            <span class="icon-chevron-right" />
                        </button>
                    </div>
                </div>

                <div id="displayFieldsContainer" class="outer-container panel panel-default">
                    <div class="panel-heading">{{msg('mds.advanced.dataBrowsing.displayFields')}}
                        <div class="btn-group updown-buttons">
                            <button ng-click="itemsUp()" class="btn btn-default btn-xs button-flat" ng-disabled="!canMoveUp()">
                                <span class="icon-chevron-up"></span>
                            </button>
                            <button ng-click="itemsDown()" class="btn btn-default btn-xs button-flat" ng-disabled="!canMoveDown()">
                                <span class="icon-chevron-down"></span>
                            </button>
                        </div>
                    </div>
                    <div class="panel-body scroll-container">
                        <div class="container-space" tabindex="0" connected-list-target="browsingDisplayed" connect-with="browsing" droppable="true" on-content-change="onDisplayedChange">
                            <div class="container-item" connect-with="browsing" item-index="{{$index}}" connected-list-target-item  ng-repeat="field in browsingDisplayed">
                                {{field.basic.displayName}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default" mds-header-accordion>
        <div class="panel-heading" data-toggle="collapse" data-target="#browsing-filters">
            <i class="panel-icon icon-caret-down icon-large icon-fixed-width"></i>{{msg('mds.advanced.dataBrowsing.filtersTitle')}}
        </div>

        <div id="browsing-filters" class="panel-collapse collapse in">
            <div class="panel-body">
                <form class="form-horizontal">
                    <label class="checkbox" ng-repeat="field in fields | filter:isFilterable">
                        <input type="checkbox" init-filterable ng-model="checked" ng-change="onFilterableChange(field)"/> {{field.basic.displayName}}
                    </label>
                </form>
            </div>
        </div>
    </div>

</div>
