<div>
    <div class="panel panel-default" mds-header-accordion>
        <div class="panel-heading" data-toggle="collapse" data-target="#rest-fields">
            <i class="panel-icon icon-caret-down icon-large icon-fixed-width"></i>{{msg('mds.rest.fields')}}
        </div>
        <div class="panel-collapse collapse in" id="rest-fields">
            <div class="panel-body display-fields">

                <div id="availableFieldsContainer" class="outer-container panel panel-default">
                    <div class="panel-heading">{{msg('mds.advanced.dataBrowsing.availableFields')}}</div>
                    <div class="panel-body scroll-container">
                        <div class="container-space" connected-list-source="selectedEntityAdvancedAvailableFields" connect-with="rest-fields" droppable="true">
                            <div class="container-item" connect-with="rest-fields" item-index="{{$index}}" connected-list-source-item ng-repeat="field in selectedEntityAdvancedAvailableFields">
                                {{field.basic.displayName}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="buttons-container">
                    <div class="btn-group-vertical">
                        <button connected-list-btn-from connect-with="rest-fields" mds-path="restOptions.$setFieldIds" class="btn btn-default" ng-disabled="!canMoveLeftRest()">
                            <span class="icon-chevron-left" />
                        </button>
                        <button connected-list-btn-from-all connect-with="rest-fields" mds-path="restOptions.$setFieldIds" class="btn btn-default"  ng-disabled="!canMoveAllLeftRest()">
                            <span class="icon-chevron-left" /><span class="icon-chevron-left" />
                        </button>
                    </div>
                    <br/><br/>
                    <div class="btn-group-vertical">
                        <button connected-list-btn-to-all connect-with="rest-fields" mds-path="restOptions.$setFieldIds" class="btn btn-default" ng-disabled="!canMoveAllRightRest()">
                            <span class="icon-chevron-right" /><span class="icon-chevron-right" />
                        </button>
                        <button connected-list-btn-to connect-with="rest-fields" mds-path="restOptions.$setFieldIds" class="btn btn-default" ng-disabled="!canMoveRightRest()">
                            <span class="icon-chevron-right" />
                        </button>
                    </div>
                </div>

                <div id="displayFieldsContainer" class="outer-container panel panel-default">
                    <div class="panel-heading">{{msg('mds.advanced.dataBrowsing.displayFields')}}</div>
                    <div class="panel-body scroll-container">
                        <div class="container-space" connected-list-target="selectedEntityAdvancedFields" connect-with="rest-fields" droppable="true" on-content-change="onRESTDisplayedChange">
                            <div class="container-item" connect-with="rest-fields" item-index="{{$index}}" connected-list-target-item ng-repeat="field in selectedEntityAdvancedFields">
                                {{field.basic.displayName}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" mds-header-accordion>
        <div class="panel-heading" data-toggle="collapse" data-target="#rest-actions">
            <i class="panel-icon icon-caret-down icon-large icon-fixed-width"></i>{{msg('mds.rest.actions')}}
        </div>
        <div class="panel-collapse collapse in" id="rest-actions">
            <div class="panel-body">
                <form class="form-horizontal">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="advancedSettings.restOptions.create" mds-auto-save-advanced-change="click"> {{msg('mds.rest.actions.create')}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" ng-model="advancedSettings.restOptions.read" mds-auto-save-advanced-change="click"> {{msg('mds.rest.actions.read')}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" ng-model="advancedSettings.restOptions.update" mds-auto-save-advanced-change="click"> {{msg('mds.rest.actions.update')}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" ng-model="advancedSettings.restOptions.delete" mds-auto-save-advanced-change="click"> {{msg('mds.rest.actions.delete')}}
                    </label>
                </form>
            </div>
        </div>
    </div>
    <div ng-if="advancedSettings.indexes.length" class="panel panel-default" mds-header-accordion>
        <div class="panel-heading" data-toggle="collapse" data-target="#rest-lookups">
            <i class="panel-icon icon-caret-down icon-large icon-fixed-width"></i>{{msg('mds.rest.lookups')}}
        </div>
        <div class="panel-collapse collapse in" id="rest-lookups">
            <div class="panel-body">
                <form class="form-horizontal">
                    <label class="checkbox" ng-repeat="lookup in advancedSettings.indexes">
                        <input type="checkbox" ng-model="selectedEntityRestLookups[$index]" ng-change="draftRestLookup($index)"> {{lookup.lookupName}}
                    </label>
                </form>
            </div>
        </div>
    </div>
</div>
