<div ng-hide="task._id" class="box-header">{{msg('section.newTask')}} <a href="#/task/" type="button" class="btn btn-danger btn-in-header pull-right"><i class="icon-remove icon-white"></i></a></div>
<div ng-show="task._id" class="box-header">{{msg('section.editTask')}} <a href="#/task/" type="button" class="btn btn-primary btn-in-header pull-right"><i class="icon-mail-reply icon-white"></i></a></div>
<div class="box-content create-edit-task">
    <div class="inside">
        <div ng-show="task.validationErrors.length" class="alert alert-block alert-error">
            <strong>{{msg('header.taskErrors')}}:</strong>
            <ul>
                <li ng-repeat="error in task.validationErrors">
                    {{getTaskValidationError(error)}}
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div class="row-fluid margin-before">
            <form class="inside task form-horizontal">
                <!------------------ ENTER TASK NAME ------------------>
                <div class="inside-0">
                    <div class="control-group" ng-class="{error: !task.name}">
                        <label class="control-label task-label">{{msg('task.name')}}</label>
                        <div class="controls">
                            <input class="span8" type='text' ng-model='task.name' id="task.name" maxlength="30"/>
                        </div>
                    </div>
                </div>

                <!------------------ ENTER TASK DESCRIPTION ------------------>
                <div class="inside-0">
                    <div class="control-group">
                        <label class="control-label task-label">{{msg('section.taskDescription')}}</label>
                        <div class="controls">
                            <textarea class="span8" ng-model="task.description"></textarea>
                        </div>
                    </div>
                </div>

                <!------------------ SELECT TRIGGER ------------------>
                <div class="accordion" id="select-trigger" overflow-change expand-accordion>
                    <div class="task-group">
                        <div class="accordion-heading">
                            <div class="accordion-toggle inbox-header" style="cursor: auto;">
                                <i class="icon-caret-down icon-fixed-width icon-large" data-toggle="collapse" data-parent="#select-trigger" href="#collapse-trigger" style="cursor: pointer;"></i> {{msg('header.trigger')}}
                                <span ng-hide="!task.trigger.displayName">
                                    &raquo; {{msg(task.trigger.channelName)}} : {{msg(task.trigger.displayName)}}
                                </span>
                            </div>
                        </div>
                        <div id="collapse-trigger" class="accordion-body stripes-bg collapse in overflowChange" style="overflow: visible;">
                            <div class="accordion-inner">
                                <div class="section-source">
                                    <ul class="task-selector" style="position: relative;">
                                        <li class="task-panel" style="cursor: pointer;" ng-repeat="channel in util.channels.withTriggers(channels)">
                                            <div id="trigger-{{channel.moduleName}}" select-event="trigger">
                                                <div>
                                                    <a ng-click="removeTrigger($event)" ui-if="task.trigger && task.trigger.moduleName == channel.moduleName">
                                                        <i class="icon-remove icon-white close-channel"></i>
                                                    </a>
                                                    <img ng-src="../tasks/api/channel/icon?moduleName={{channel.moduleName}}&moduleVersion={{channel.moduleVersion}}" class="panel-img" />
                                                </div>
                                                <span>{{msg(channel.displayName)}}</span>
                                                <div class="content-task popover right" style="display:none; margin-left:125px;">
                                                    <h3 class="popover-title" style="display: block;">{{msg('tooltip.availableTriggers')}}</h3>
                                                    <div class="popover-content">
                                                        <ul>
                                                            <li ng-repeat="trigger in channel.triggerTaskEvents">
                                                                <a ng-click="selectTrigger(channel, trigger)">{{msg(trigger.displayName)}}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-hide="!task.trigger.subject">
                    <div id="build-area"></div>

                    <!------------------------ ADDING BUTTONS ------------------------>
                    <div class="row-fluid inside section-additives">
                        <div class="control-group centered">
                            <div class="btn-group">
                                <button ui-if="!task.filters" class="btn btn-warning" ng-click="addFilterSet()"><i class="icon-plus icon-white"></i> {{msg('button.addFilter')}}</button>
                                <button ui-if="dataSources != undefined && dataSources.length != 0" class="btn btn-warning" ng-click="addDataSource()"><i class="icon-white icon-plus"></i> {{msg('button.addDataSource')}}</button>
                                <button ui-if="!task.action" class="btn btn-warning" ng-click="addAction()"><i class="icon-white icon-plus"></i> {{msg('button.addAction')}}</button>
                            </div>
                        </div>
                    </div>

                    <!------------------------  ACTION  ------------------------->
                    <div class="accordion" id="select-action" ng-show="task.action" overflow-change expand-accordion>
                        <div class="task-group">
                            <div class="accordion-heading">
                                <div class="pull-right">
                                    <button ng-click="removeAction()" class="btn btn-danger btn-in-heading">
                                        <i class="icon-remove icon-white"></i>
                                    </button>
                                </div>
                                <a class="accordion-toggle inbox-header" style="cursor: auto;">
                                    <i class="icon-caret-down icon-fixed-width icon-large" data-toggle="collapse" data-parent="#select-action" href="#collapse-action" style="cursor: pointer;"></i> {{msg('header.action')}}
                                    <span ng-hide="!task.action.displayName">
                                        &raquo; {{msg(task.action.channelName)}} : {{msg(task.action.displayName)}}
                                    </span>
                                </a>
                            </div>
                            <div id="collapse-action" class="accordion-body stripes-bg collapse in overflowChange" style="overflow: visible;">
                                <div class="accordion-inner inside">
                                    <div class="control-group control-section">
                                        <label class="control-label task-label">{{msg('info.availableFields')}}:</label>
                                        <div class="controls move-element">
                                            <span contenteditable="false" ng-repeat="i in selectedTrigger.eventParameters" class="badge badge-info triggerField" draggable data-prefix="trigger" data-index="{{$index}}" data-type="{{i.type}}">{{msg(i.displayName)}}</span>​
                                            <span ng-repeat="data in selectedDataSources">
                                                <span contenteditable="false" ng-repeat="i in findObject(data.dataSourceId, data.type).fields" class="badge badge-warning triggerField" draggable
                                                      data-prefix="ad" data-source="{{data.dataSourceName}}" data-object="{{data.displayName}}" data-object-type="{{data.type}}"
                                                      data-field="{{i.fieldKey}}" data-index="{{$index}}" data-object-id="{{data.id}}" data-type="{{i.type}}">
                                                    {{msg(data.dataSourceName)}}.{{msg(data.displayName)}}#{{data.id}}.{{msg(i.displayName)}}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <span class="control-label">{{msg('channel')}}:</span>
                                        <div class="btn-group interval">
                                            <button class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                                {{msg(selectedActionChannel.displayName || 'select')}}
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li ng-repeat="channel in util.channels.withActions(channels)">
                                                    <a ng-click="selectActionChannel(channel)">{{msg(channel.displayName)}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <span class="interval2">{{msg('action')}}:</span>
                                        <div class="btn-group interval">
                                            <button class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                                {{msg(selectedAction.displayName || 'select')}}
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li ng-repeat="action in getActions()">
                                                    <a ng-click="selectAction(action)">{{msg(action.displayName)}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="control-group" ng-show="selectedAction.description">
                                        <label class="control-label">{{msg(selectedAction.description)}}</label>
                                    </div>
                                    <div ui-if="selectedAction">
                                        <div class="control-group" ng-class="{error: actionCssClass(i)}" ng-repeat="i in selectedAction.actionParameters" class="control-group form-inline clearfix">
                                            <label class="control-label tip">
                                                {{msg(i.displayName)}}
                                                <!------------------------ Tooltips ------------------------>
                                                <span class="help-inline" ui-if="i.type == 'LIST'" help-popover="list" data-title="{{msg('header.listHelp')}}"><i class="icon-question-sign"></i></span>
                                                <span class="help-inline" ui-if="i.type == 'MAP'" help-popover="map" data-title="{{msg('header.mapHelp')}}"><i class="icon-question-sign"></i></span>
                                            </label>

                                            <!------------------------ Chrome & IE ------------------------>
                                            <div ui-if="BrowserDetect.browser=='Chrome' || BrowserDetect.browser=='Explorer'" class="controls">
                                                <editable-content ui-if="i.type == 'UNICODE'" data="i" index="$index" type="UNICODE"></editable-content>
                                                <editable-content ui-if="i.type == 'TEXTAREA' || i.type == 'MAP' || i.type == 'LIST'" data="i" index="$index" type="TEXTAREA"></editable-content>
                                                <editable-content ui-if="i.type == 'INTEGER' || i.type == 'LONG'" data="i" index="$index" type="INTEGER"></editable-content>
                                                <editable-content ui-if="i.type == 'DOUBLE'" data="i" index="$index" type="DOUBLE"></editable-content>
                                                <editable-content ui-if="i.type == 'TIME'" data="i" index="$index" type="TIME"></editable-content>
                                                <editable-content ui-if="i.type == 'DATE'" data="i" index="$index" type="DATE"></editable-content>
                                                <div ui-if="i.type == 'BOOLEAN'">
                                                    <label class="radio-inline no-margin-top">
                                                        <input type="radio" class="input-block-level" ng-checked="checkedBoolean($index, 'true')" ng-click="setBooleanValue($index, true)"/> {{msg('yes')}}
                                                    </label>
                                                    <label class="radio-inline no-margin-top">
                                                        <input type="radio" class="input-block-level" ng-checked="checkedBoolean($index, 'false')" ng-click="setBooleanValue($index, false)"/> {{msg('no')}}
                                                    </label>
                                                    <label class="radio-inline input-large-fluid no-margin-bottom">
                                                        <editable-content data="i" index="$index" type="BOOLEAN"></editable-content>
                                                    </label>
                                                </div>
                                            </div>

                                            <!------------------------ Other browsers  ------------------------>
                                            <div ui-if="BrowserDetect.browser!='Chrome' && BrowserDetect.browser!='Explorer'" class="controls">
                                                <textarea ui-if="i.type == 'TEXTAREA' || i.type == 'MAP' || i.type == 'LIST'" rows="5" ng-model="i.value" droppable class="actionField span8" data-index="{{$index}}" data-type="{{i.type}}"></textarea>
                                                <input ui-if="i.type == 'INTEGER' || i.type == 'LONG'" type="text" ng-model="i.value" droppable class="actionField span8" data-index="{{$index}}" data-type="{{i.type}}" integer placeholder="{{msg('placeholder.numberOnly')}}"/>
                                                <input ui-if="i.type == 'DOUBLE'" type="text" ng-model="i.value" droppable class="actionField span8" data-index="{{$index}}" data-type="{{i.type}}" integer placeholder="{{msg('placeholder.numberOnly')}}"/>
                                                <input ui-if="i.type == 'UNICODE'" type="text" ng-model="i.value" droppable class="actionField span8" data-index="{{$index}}" data-type="{{i.type}}"/>
                                                <input ui-if="i.type == 'DATE'" type="text" ng-model="i.value" droppable class="actionField span8" data-index="{{$index}}" data-type="{{i.type}}" datetime-picker-input placeholder="{{msg('placeholder.dateOnly')}}" readonly="readonly" style="background:white;"/>
                                                <input ui-if="i.type == 'TIME'" type="text" ng-model="i.value" droppable class="actionField span8" data-index="{{$index}}" data-type="{{i.type}}" time-picker-input placeholder="{{msg('placeholder.timeOnly')}}" readonly="readonly" style="background:white;"/>
                                                <div ui-if="i.type == 'BOOLEAN'">
                                                    <label class="radio radio-inline">
                                                        <input type="radio" ng-model="i.value" class="input-block-level" value="true"/> {{msg('yes')}}
                                                    </label>
                                                    <label class="radio radio-inline">
                                                        <input type="radio" ng-model="i.value" class="input-block-level" value="false"/> {{msg('no')}}
                                                    </label>
                                                    <label class="radio-inline input-large-fluid">
                                                        <input type="text" value="{{getBooleanValue(i.value)}}" droppable class="actionField" data-index="{{$index}}" data-type="{{i.type}}" placeholder="{{msg('placeholder.booleanOnly')}}" readonly="readonly" style="background:white;"/>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <!------------------------ Help button  ------------------------>
                                        <a ui-if="BrowserDetect.browser!='Chrome' && BrowserDetect.browser!='Explorer'" href="#helpModalDate" role="button" class="btn btn-primary" data-toggle="modal">{{msg('help')}}</a>

                                        <!------------------------ Help Manipulation  ------------------------>
                                        <div class="interval control-help" ng-include="'../tasks/partials/help/manipulation.html'"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!------------------------ SAVE ------------------------>
                    <div class="control-group inside">
                        <h4 class="margin-center centered input-large-fluid">{{msg('section.save')}}</h4>
                        <p class="centered input-xxlarge-fluid margin-center">{{msg('info.addSave')}}</p>
                        <div class="clearfix"></div>
                        <div class="control-group centered inside">
                            <button ng-disabled="!task.name" ng-click="save(true)" class="btn btn-primary">{{msg('button.saveAndEnable')}}</button>
                            <button ng-disabled="!task.name" ng-click="save(false)" class="btn btn-success">{{msg('button.save')}}</button>
                            <a href="#/task/" class="btn"> {{msg('button.cancel')}}</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>