body {
    background: #E9E9E9 url(../img/lightgrain-bg.png) repeat 0 0;
}

.darkgrain-bg {
    background: #E2E2E2 url(../img/darkgrain-bg.png) repeat 0 0;
}

.mediumgrain-bg {
    background: #EEE url(../img/mediumgrain-bg.png) repeat 0 0;
}

#side-nav {
    font-size: 15px;
}
/* -- dropdown menu -- */

.dropdown ul li a {
    font-size: 15px
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar .dropdown-menu, .nav-pills .dropdown-menu {
    margin-top: 0;
}

.navbar-inner {
    filter:none;
    border-radius:none;
}

.navbar-inner-bg {
    background: url("../img/navbar.jpg") repeat-x;
}

.container a h3   {
    color: #c2eafe;
}
.navbar .nav > li > a {
    color: #c2eafe;
}

.well2 {
    margin-bottom: 20px;
    min-height: 20px;
}

.box-header {
    border-radius: 4px 4px 4px 4px;
    color: #c2eafe;
    font-weight: bold;
    padding:5px 10px;
    margin: 1px 0 -1px 0;
    line-height: 21px;
    font-size: 16px;
    background: url("../img/topframecenter.png") repeat-x left top;
}

.box-content {
    border-radius: 4px 4px 4px 4px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}

.inside {
    padding: 8px 10px;
}

.inside5 {
    padding: 5px;
}

.inside form {
    margin: 0;
}

.settings-input {
    margin:5px;
}

.settings-input label {
    display: block;
    float: left;
    width: 25%;
    padding-left: 15px;
    margin: 7px 0 7px 0;
}

.bundle-dtLabel {
    float: left;
    width: 33%;
    font-weight: bold;
}

.bundle-dtValue {
    min-height: 1em;
    margin-left: 33%;
    width: 65%;
}

.bundle-prop {
    padding: 5px;
    border-bottom: 1px dotted;
}

.icon {
    width: 25px;
    height: 25px;
}

.large-icon {
    width: 90px;
    height: 90px;
}

.action {
    width: 31px;
    height: 25px;
}

.big-icon {
    width: 80px;
    height: 80px;
    padding: 5px;
    border: 1px solid #aaa;
}

input[type='text'] {
    background: url('../img/input.png') repeat;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 5px;
    padding:3px;
}
/*
input[type='button'], input[type='submit'] {
    background: url('../img/button1.png') repeat-x;
    background-color: #337fc3;
    border-radius: 5px;
    border: 1px solid #337fc3;
    color: #ffffff;
    padding: 4px 5px;
    outline: none;
}

input[type='button']:hover, input[type='submit']:hover {
    color: #fdb813;
    background: url('../img/button1n.png') repeat-x;
}

input[type='button']:active, input[type='submit']:active {
    color: #b8dff3;
    background: url('../img/button1n.png') repeat-x;
} */

/* ----- table ----- */

.table-content {
    border-radius:4px 4px 4px 4px;
    padding: 0;

}

.table-bundles thead .sorting-no {
    background: url("../img/sort.png")no-repeat center right;
}

.table-bundles thead .sorting-asc {
    background: url("../img/sort-asc.png")no-repeat center right;
}

.table-bundles thead .sorting-desc {
    background: url("../img/sort-desc.png")no-repeat center right;
}

.table-bundles {
    line-height: 20px;
}

.table-bundles a:link {
    text-decoration: none;
}

.table-bundles thead tr th, .table tbody tr td {
    text-align: center;
}

.table-bundles thead tr > th:nth-child(3){
    text-align: left;
}

.table-bundles thead tr > th:first-child{
    text-align: center;
    width: 35px;
}

.table-bundles tbody tr > td:nth-child(3){
    text-align:left;
}

.table-bundles tbody tr > td:last-child {
    width: 135px;
    text-align:left;
    white-space: nowrap;
    text-decoration: none;
}

.table-bundles th {
    white-space: nowrap;
    cursor: pointer;
}
