form.form-horizontal {
    margin: 0;
}

.form-horizontal .control-group {
    margin-bottom: 0;
}

.settings-form  {
    border-top: 1px solid #D4E1F9;
    margin: 0;
}

.box-content > div.settings-form:first-child,
.box-content > div.settings-form:nth-child(2) {
    border-top: none;
}

h4.settings-section {
    padding: 10px 0 0 10px;
}

.row-fluid .settings-form.span6 {
    margin-left:0;
    width: 49.99%;
}

.box-content.lightblue-settings, .lightblue-settings  {
    background: #dbedf7 url("../../server/resources/img/frame-set-bg.jpg") repeat-x 0 0;
    border-left:1px solid #D4E1F9;
}

.form-save {
    background:#cce5f4;
    margin: 0;
    border-radius: 0 0 6px 6px;
}

.lightblue-2 {
    background: #EDF5F9;
}

.well2 {
    margin-bottom: 20px;
    min-height: 20px;
}

.inside form {
    margin: 0;
}

.bundle-dtLabel {
    float: left;
    width: 33%;
    font-weight: bold;
}

.bundle-dtValue {
    min-height: 1em;
    margin-left: 33%;
    width: 65%;
}

.bundle-prop {
    padding: 5px;
    border-bottom: 1px dotted;
}

.icon {
    width: 25px;
    height: 25px;
}

.large-icon {
    width: 90px;
    height: 90px;
}

.action {
    width: 31px;
    height: 25px;
    background:url("../img/action-btn-sprite.png") no-repeat;
}

.action-start {
    background-position: 0 0;
}
.action-start:hover {
    background-position: 0 -25px;
}
.action-stop {
    background-position: -31px 0;
}
.action-stop:hover {
    background-position: -31px -25px;
}
.action-restart {
    background-position: -124px 0;
}
.action-restart:hover {
    background-position: -124px -25px;
}
.action-settings {
    background-position: -217px 0;
}
.action-settings:hover {
    background-position: -217px -25px;
}
.action-remove {
    background-position: -93px 0;
}
.action-remove:hover {
    background-position: -93px -25px;
}

/* ----- table ----- */

.table-content {
    border-radius:4px;
    padding: 0;
    -webkit-box-shadow: 0 0 6px #bec9de;
       -moz-box-shadow: 0 0 6px #bec9de;
            box-shadow: 0 0 6px #bec9de;
}

.table-bundles {
    line-height: 20px;
}

.table-bundles thead .sorting-no {
    background: url("../img/sort.png")no-repeat center right;
}

.table-bundles thead .sorting-asc {
    background: url("../img/sort-asc.png")no-repeat center right;
}

.table-bundles thead .sorting-desc {
    background: url("../img/sort-desc.png")no-repeat center right;
}

.table-bundles a:link {
    text-decoration: none;
}

.table-bundles thead tr th, .table-bundles tbody tr td {
    text-align: center;
}

.table-bundles thead tr > th:nth-child(3){
    text-align: left;
}

.table-bundles thead tr > th:first-child{
    text-align: center;
    width: 35px;
}

.table-bundles tbody tr > td:nth-child(3){
    text-align:left;
}

.table-bundles tbody tr > td:last-child {
    width: 135px;
    text-align:left;
    white-space: nowrap;
    text-decoration: none;
}

.table-bundles th {
    white-space: nowrap;
    cursor: pointer;
}

.table-lightblue {
    border-color: #D4E1F9;
    background: #E4F1F9;
}

.table-lightblue  tbody tr:nth-child(2n+1) td, .table-lightblue tbody tr:nth-child(2n+1) th {
    background-color: #F3FBFE;
}

.table-lightblue  tbody tr:hover td, .table-lightblue tbody tr:hover th, .table-lightblue tbody tr:hover td a {
    background-color: #EDF5F9;
    color: #005580;
}

.table-lightblue .table-bordered th, .table-bordered td {
      border-top: 1px solid #D4E1F9;
      border-left: 1px solid #D4E1F9;
}

