<div>
    <div class="inside" ng-show="selectedInstance">
        <button ng-click="selectInstanceHistory(selectedInstance)" type="button" class="btn btn-primary" ng-show="selectedEntity.recordHistory">
            {{msg('mds.btn.history')}}
        </button>
        <button ng-click="deleteSelectedInstance()" class="btn btn-danger" ng-show="showDeleteInstanceButton && !shouldHideButton()">
            <i class="fa fa-wh fa-trash-o"></i>
            {{msg('mds.btn.deleteInstance')}}
        </button>
    </div>
    <div class="clearfix"></div>
    <ng-form name="outerInstanceFieldsForm" method="POST">
        <div entity-instance-fields-2></div>
        <div class="form-group">
            <div class="col-md-offset-2 col-sm-offset-3 col-sm-9 col-md-10">
                <button class="btn btn-primary" ng-click="addEntityInstance()" ng-hide="shouldHideButton()" ng-disabled="outerInstanceFieldsForm.$invalid">
                    {{msg('mds.btn.save')}}
                </button>
                <button class="btn btn-default" ng-click="unselectInstance()">
                    {{msg('mds.btn.cancel')}}
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
    </ng-form>

    <div ng-include="'../mds/resources/partials/modals/delete-instance.html'"></div>
    <div ng-include="'../mds/resources/partials/modals/delete-blob-content.html'"></div>
</div>