<form action="../mds/settings/export/" method="POST">
    <table class="table table-bordered table-striped table-lightblue table-import-export">
        <thead>
            <tr>
                <th class="no-bg"></th>
                <th class="no-bg">
                    {{msg('mds.export.schema')}}
                </th>
                <th class="no-bg">
                    {{msg('mds.export.data')}}
                </th>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="settings-checkbox">
                        <input type="checkbox" id="schema-all"
                               ng-checked="isAllEntitiesSchemaChecked(exportEntities)"
                               mds-indeterminate="isNotAllEntitiesSchemaChecked(exportEntities)"
                               ng-click="toggleSchemaCheck(exportEntities)">
                    </div>
                </td>
                <td>
                    <div class="settings-checkbox">
                        <input type="checkbox" id="data-all"
                               ng-checked="isAllEntitiesDataChecked(exportEntities)"
                               mds-indeterminate="isNotAllEntitiesDataChecked(exportEntities)"
                               ng-click="toggleDataCheck(exportEntities)">
                    </div>
                </td>
            </tr>
        </thead>
        <tbody ng-repeat="(moduleName, moduleEntities) in groupedExportEntities">
            <tr class="table-heading">
                <th>
                    <span class="pointer" ng-click="hideModule(moduleName)">
                        <i class="icon-fixed-width icon-large pointer icon-caret-down" id="{{moduleName}}-arrow"></i>
                        {{moduleName}}
                    </span>
                </th>
                <th>
                    <div class="settings-checkbox">
                        <input type="checkbox" id="schema-{{moduleName}}"
                               ng-checked="isAllEntitiesSchemaChecked(moduleEntities)"
                               mds-indeterminate="isNotAllEntitiesSchemaChecked(moduleEntities)"
                               ng-click="toggleSchemaCheck(moduleEntities)">
                    </div>
                </th>
                <th>
                    <div class="settings-checkbox">
                        <input type="checkbox" id="data-{{moduleName}}"
                               ng-checked="isAllEntitiesDataChecked(moduleEntities)"
                               mds-indeterminate="isNotAllEntitiesDataChecked(moduleEntities)"
                               ng-click="toggleDataCheck(moduleEntities)">
                    </div>
                </th>
            </tr>
            <tr ng-repeat="entity in moduleEntities" class="{{moduleName}}">
                <td class="entity">{{entity.entityName}}</td>
                <td>
                    <div class="settings-checkbox">
                        <input name="{{entity.entityName}}" value="schema"
                               type="checkbox" id="schema-{{moduleName}}-{{entity.entityName}}" ng-model="entity.includeSchema"
                               ng-click="entity.includeData = entity.includeSchema ? false : entity.includeData">
                    </div>
                </td>
                <td>
                    <div class="settings-checkbox">
                        <input name="{{entity.entityName}}" value="data"
                               type="checkbox" id="data-{{moduleName}}-{{entity.entityName}}" ng-model="entity.includeData"
                               ng-click="entity.includeSchema = entity.includeData ? entity.includeSchema : true">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <input type="submit" class="btn btn-default" value="{{msg('mds.export.export')}}">
</form>