<select ng-if="!field.settings[2].value && !field.readOnly" class="form-control input-auto" ng-model="field.basic.defaultValue"
        mds-auto-save-field-change mds-field-id="{{field.id}}" ng-options="$parent.getComboboxDisplayName(field.settings, value) for value in $parent.getComboboxValues(field.settings)" default-multiselect-list="single">
    <option value="">{{msg('mds.form.label.select')}}</option>
</select>
<select ng-if="field.settings[2].value && !field.readOnly" ng-hide="field.readOnly" multiple="multiple" class="form-control input-auto" ng-model="field.basic.defaultValue"
        mds-auto-save-field-change mds-field-id="{{field.id}}" ng-options="$parent.getComboboxDisplayName(field.settings, value) for value in $parent.getComboboxValues(field.settings) track by value" default-multiselect-list="multiple">
</select>
<input ng-if="field.readOnly" class="form-control input-xlarge-fluid" ng-disabled="field.readOnly" ng-model="field.basic.defaultValue">