<div class="fileinput fileinput-new" data-provides="fileinput">
    <div motech-file-upload></div>
    <button class="offset-2 btn btn-primary" ng-click="downloadBlob(field.name)" ng-show="selectedInstance != null">{{msg('mds.form.label.blob.download')}}</button>
    <button target="_self" ng-click="selectField(field.id)" href="#deleteBlobContentModal" ng-show="selectedInstance != null" data-toggle="modal" data-backdrop="static" class="btn btn-danger">
        <i class="fa fa-wh fa-trash-o"></i>
        {{msg('mds.btn.deleteBlobContent')}}
    </button>
</div>