<div class="relation-field">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <span class="col-sm-1 form-control input-sm input-records btn" id="relationsTableTotalRecords_{{field.id}}">0</span>
            <button ng-if="addedEntity || selectedInstance && !instanceId && !showTrashInstance" class="btn btn-sm btn-default" target="_self"
                id="instanceGrid_hide"  show-relations-grid="relationsTable_{{field.id}}">
                <i class="fa fa-fw fa-lg fa-angle-double-up"></i>
                {{msg('mds.btn.showHide')}}
            </button>
        </div>
        <button class="btn btn-sm btn-default" target="_self" href="#instanceBrowserModal"  data-toggle="modal"
                data-backdrop="static" ng-click="setRelatedEntity(field)" ng-disabled="field.nonEditable"  ng-if="addedEntity || selectedInstance && !instanceId && !showTrashInstance"
                ui-validate="{relationshipValidation: 'validateRelationshipPresence(field)'}" ui-validate-watch="'field.value.length'" ng-model="field.value">
            <i class="fa fa-lg fa-plus"></i>
            {{msg('mds.btn.addExisting')}} {{field.displayName}}
        </button>
    </div>
    <div id="instance_relationsTable_{{field.id}}" class="overrideJqgridTable margin-before">
        <table id="relationsTable_{{field.id}}" field-id="{{field.id}}" relations-field-grid="{{field}}" entity-relations-grid="pageRelationsTable_{{field.id}}"></table>
        <div id="pageRelationsTable_{{field.id}}"></div>
    </div>
</div>