<div class="alert alert-block alert-warning" ng-class="{hide: !fieldUsedInReferencedLookup(field)}">
    {{msg('mds.warning.fieldUsedInReferencedLookup')}}
</div>
<form name="fieldbasic" class="form-horizontal">
    <div class="form-group" ng-class="{'has-error': !field.basic.displayName}">
        <label class="col-md-2 col-sm-3 control-label">
            {{msg('mds.form.label.displayName')}}<span class="text-danger">*</span>
        </label>
        <div class="col-md-8 col-sm-7 form-inline">
            <input class="form-control input-xlarge-fluid" type="text" ng-model="field.basic.displayName" mds-auto-save-field-change mds-field-id="{{field.id}}" ng-disabled="field.readOnly" mds-camel-case="{{$index}}">
            <span class="form-hint" ng-class="{hide: field.basic.displayName}">
                {{msg('mds.error.fieldIsRequired')}}
            </span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': !field.basic.name || !uniqueField(field.basic.name)}">
        <label class="col-md-2 col-sm-3 control-label">
            {{msg('mds.form.label.name')}}<span class="text-danger">*</span>
        </label>
        <div class="col-md-8 col-sm-7 form-inline">
            <input class="form-control input-xlarge-fluid" id="field-name-{{$index}}" type="text" ng-model="field.basic.name" mds-auto-save-field-change mds-field-id="{{field.id}}" ng-disabled="field.readOnly || fieldUsedInReferencedLookup(field)" mds-camel-case="{{$index}}">
            <span class="form-hint" ng-class="{hide: field.basic.name}">
                {{msg('mds.error.fieldIsRequired')}}
            </span>
            <span class="form-hint" ng-class="{hide: uniqueField(field.basic.name)}">
                {{msg('mds.error.duplicateNames')}}
            </span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 col-sm-3 control-label">
            {{msg('mds.form.label.required')}}
        </label>
        <div class="col-md-8 col-sm-7 form-inline">
            <div class="checkbox">
                <input class="" id="field-required-{{$index}}" type="checkbox" ng-model="field.basic.required" mds-auto-save-field-change="click" mds-field-id="{{field.id}}" ng-disabled="field.readOnly">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 col-sm-3 control-label">
            {{msg('mds.form.label.tooltip')}}
        </label>
        <div class="col-md-8 col-sm-7 form-inline">
            <input class="form-control input-xlarge-fluid" id="field-tooltip-{{$index}}" type="text" ng-model="field.basic.tooltip" mds-auto-save-field-change mds-field-id="{{field.id}}" ng-disabled="field.readOnly">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 col-sm-3 control-label">
            {{msg('mds.form.label.defaultValue')}}
        </label>
        <div class="col-md-8 col-sm-7 form-inline">
            <ng-form name="{{field.basic.name}}">
                <div ng-include="loadDefaultValueForm(field.type)"></div>
            </ng-form>
        </div>
    </div>
</form>
