<input uuid-validity class="form-control input-xlarge-fluid" type="text" mds-auto-save-field-change mds-field-id="{{field.id}}" ng-model="field.value" placeholder="{{field.placeholder}}" 
ng-required="{{field.required}}" ng-readonly="shouldHideEdition(field)">
<button class="btn btn-success" ng-click="generateRandomUUID(field, false)">Generate</button>
<span class="form-hint" ng-show="{{field.name}}_field_name.$error.uuid && !{{field.name}}_field_name.$pristine">{{msg('mds.error.incorrectValueUuid')}}</span>