<span ng-hide="shouldHideEdition(field)">
    <select ng-required="{{field.required}}" class="form-control input-auto" mds-field-id="{{field.id}}" ng-model="field.value"
            ng-options="value for value in getUsers() track by value" multiselect-list="owner">
        <option value="">{{msg('mds.form.label.noSelected')}}</option>
    </select>
</span>
<input ng-show="{{shouldHideEdition(field)}}" class="form-control input-large-fluid" type="text" mds-field-id="{{field.id}}" value="{{field.value ? field.value : username}}" ng-readonly="shouldHideEdition(field)">