<div class="clearfix" ng-init="initMap(field.value, field.id)">
    <div ng-repeat="fieldMaps in maps | filter: field.id" class="clearfix" name="{{field.name}}_field_name" map-validation="{{field.required}}" ng-model="field.value">
        <div class="clearfix margin-before07">
            <label class="input-large-fluid">{{msg('mds.form.label.keyValuePairs')}}&nbsp;<span class="glyphicon glyphicon-info-sign" data-trigger="hover" data-placement="bottom" bs-popover="{{msg('mds.tooltip.map')}}"></span></label>
        </div>
        <div ng-repeat="map in fieldMaps.fieldMap" class="clearfix" ng-class="{'has-error ng-invalid': uniqueMapKey(map.key, field.id, $index), 'margin-before': $index &gt; 0}">
            <textarea extend-input mds-update-map="{{$index}}" mds-path="field.value"  class="form-control input-extra-fluid map-key" type="text" placeholder="{{msg('mds.form.label.key')}}" ng-model="map.key" mds-field-id="{{field.id}}" ng-readonly="shouldHideEdition(field)"></textarea>
            <textarea extend-input mds-update-map="{{$index}}" mds-path="field.value"  class="form-control input-extra-fluid map-value" type="text" placeholder="{{msg('mds.form.label.value')}}" ng-model="map.value" mds-field-id="{{field.id}}" ng-readonly="shouldHideEdition(field)"></textarea>
            <a class="btn btn-danger btn-sm" ng-hide="shouldHideEdition(field) || fieldMaps.fieldMap.length &lt; 2">
                <i class="fa fa-lg fa-trash-o"></i>
            </a>
            <div class="clearfix" ng-show="uniqueMapKey(map.key, field.id, $index)">
                <span class="form-hint form-hint-bottom">
                    {{msg('mds.error.duplicateMapKeys')}}
                </span>
            </div>
            <div class="clearfix" ng-show="emptyMap(map.key, map.value) && !uniqueMapKey(map.key, field.id, $index)">
                <span class="form-hint form-hint-bottom">
                    {{msg('mds.error.emptyMapPair')}}
                </span>
            </div>
            <div class="clearfix" ng-show="{{field.name}}_field_name.$error.required && !emptyMap(map.key, map.value) && !uniqueMapKey(map.key, field.id, $index) && {{field.required}} && !{{field.name}}_field_name.$pristine">
                <span class="form-hint form-hint-bottom">{{msg('mds.error.requiredField')}}</span>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="margin-before" ui-if="!shouldHideEdition(field)">
        <button class="btn btn-success btn-sm" ng-click="addMap(field.id)" ng-disabled="uniqueMapKey(map.key, field.id, $index)">
            <i class="fa fa-fw fa-plus"></i> {{msg('mds.btn.newMap')}}
        </button>
    </div>
</div>