<textarea mds-visited-input ng-required="{{field.required}}" class="form-control input-xlarge-fluid" ng-model="field.value" placeholder="{{field.placeholder}}"
          pattern-validity="0" ng-minlength="{{getValidationCriteria(field, 1)}}" ng-maxlength="{{getValidationCriteria(field, 2)}}"
          mds-field-id="{{field.id}}" mds-field-name="{{field.name}}_field_name" ng-readonly="shouldHideEdition(field)">
</textarea>
<span id="visited-hint-{{field.id}}" class="form-hint hidden" ng-show="{{field.name}}_field_name.$error.pattern && {{field.name}}_field_name.$dirty && !{{field.name}}_field_name.$error.maxlength && !{{field.name}}_field_name.$error.minlength">{{msg('mds.error.noValidatePattern')}}</span>
<span class="form-hint" ng-show="{{field.name}}_field_name.$error.minlength && {{field.name}}_field_name.$dirty">{{msg('mds.error.minLength')}}</span>
<span class="form-hint" ng-show="{{field.name}}_field_name.$error.maxlength && {{field.name}}_field_name.$dirty">{{msg('mds.error.maxLength')}}</span>