<div class="alert alert-block alert-warning" ng-class="{hide: !fieldUsedInReferencedLookup(field)}">
    {{msg('mds.warning.fieldUsedInReferencedLookup')}}
</div>
<form name="fieldbasic" class="form-horizontal">
    <div class="form-group" ng-class="{'has-error': !field.basic.displayName}">
        <label class="col-md-2 col-sm-3 control-label">
            {{msg('mds.form.label.displayName')}}<span class="text-danger">*</span>
        </label>
        <div class="col-md-8 col-sm-7 form-inline">
            <input class="form-control input-xlarge-fluid" type="text" ng-model="field.basic.displayName" mds-auto-save-field-change mds-field-id="{{field.id}}" mds-camel-case="{{$index}}">
            <span class="form-hint" ng-class="{hide: field.basic.displayName}">
                {{msg('mds.error.fieldIsRequired')}}
            </span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': !field.basic.name || !uniqueField(field.basic.name)}">
        <label class="col-md-2 col-sm-3 control-label">
            {{msg('mds.form.label.name')}}<span class="text-danger">*</span>
        </label>
        <div class="col-md-8 col-sm-7 form-inline">
            <input class="form-control input-xlarge-fluid" id="field-name-{{$index}}" type="text" ng-model="field.basic.name" mds-auto-save-field-change mds-field-id="{{field.id}}" ng-readonly="field.readOnly || fieldUsedInReferencedLookup(field)" mds-camel-case="{{$index}}">
            <span class="form-hint" ng-class="{hide: field.basic.name}">
                {{msg('mds.error.fieldIsRequired')}}
            </span>
            <span class="form-hint" ng-class="{hide: uniqueField(field.basic.name)}">
                {{msg('mds.error.duplicateNames')}}
            </span>
            <span class="form-hint" ng-class="{hide: isValidJavaFieldName(field.basic.name) || field.basic.name.length === 0}">
                {{msg('mds.error.notValidJavaFieldName')}}
            </span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 col-sm-3 control-label">
            {{msg('mds.form.label.required')}}
        </label>
        <div class="col-md-8 col-sm-7 form-inline">
            <div class="checkbox">
                <input id="field-required-{{$index}}" type="checkbox" ng-model="field.basic.required" mds-auto-save-field-change="click" mds-field-id="{{field.id}}" ng-disabled="field.readOnly">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 col-sm-3 control-label">
            {{msg('mds.form.label.unique')}}
        </label>
        <div class="col-md-8 col-sm-7 form-inline">
            <div class="checkbox">
                <input id="field-unique-{{$index}}" type="checkbox" ng-model="field.basic.unique" mds-auto-save-field-change="click" mds-field-id="{{field.id}}" ng-disabled="!isUniqueEditable(field)">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 col-sm-3 control-label">
            {{msg('mds.form.label.tooltip')}}
        </label>
        <div class="col-md-8 col-sm-7 form-inline">
            <input class="form-control input-xlarge-fluid" id="field-tooltip-{{$index}}" type="text" ng-model="field.basic.tooltip" mds-auto-save-field-change mds-field-id="{{field.id}}">
        </div>
    </div>
    <div class="form-group" ng-hide="field.type.typeClass === 'java.util.Collection' || field.type.typeClass === 'java.lang.Boolean'">
        <label class="col-md-2 col-sm-3 control-label">
            {{msg('mds.form.label.placeholder')}}
        </label>
        <div class="col-md-8 col-sm-7 form-inline">
            <input class="form-control input-xlarge-fluid" id="field-placeholder-{{$index}}" type="text" ng-model="field.basic.placeholder" mds-auto-save-field-change mds-field-id="{{field.id}}" ng-readonly="field.readOnly">
        </div>
    </div>
    <div class="form-group" ng-if="!isRelationshipField(field)">
        <label class="col-md-2 col-sm-3 control-label">
            {{msg('mds.form.label.defaultValue')}}
        </label>
        <div class="col-md-10 col-sm-9 form-inline">
            <ng-form name="getProperFieldName(field.basic.name)">
                <div ng-include="loadDefaultValueForm(field.type)"></div>
            </ng-form>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 col-sm-3 control-label">
            {{msg('mds.form.label.nonEditable')}}
        </label>
        <div class="col-md-10 col-sm-9 form-inline">
            <div class="checkbox">
                <input id="field-nonEditable-{{$index}}" type="checkbox" ng-model="field.nonEditable" mds-auto-save-field-change="click" mds-field-id="{{field.id}}" ng-disabled="field.readOnly">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 col-sm-3 control-label">
            {{msg('mds.form.label.nonDisplayable')}}
        </label>
        <div class="col-md-10 col-sm-9 form-inline">
            <div class="checkbox">
                <input id="field-nonDisplayable-{{$index}}" type="checkbox" ng-model="field.nonDisplayable" mds-auto-save-field-change="click" mds-field-id="{{field.id}}" ng-disabled="field.readOnly">
            </div>
        </div>
    </div>
</form>
