<div class="relation-field">
    <button class="btn btn-sm btn-default" target="_self" href="#instanceBrowserModal" ng-disabled="field.nonEditable || field.value.id!==undefined && field.value !== null"
            data-toggle="modal" data-backdrop="static"  ng-disabled="field.nonEditable" ng-click="setRelatedEntity(field)" ng-if="addedEntity || selectedInstance && !instanceId && !showTrashInstance"
            ui-validate="{relationshipValidation: 'validateRelationshipPresence(field)'}" ng-model="field.value">
        <i class="fa fa-lg fa-plus"></i>
        {{msg('mds.dataBrowsing.addRelatedInstance')}}
    </button>
    <br/>
    <div class="related-instances-block" ng-if="field.value.id !== undefined && field.value !== null">
        <div class="related-instance-display">
            {{field.displayValue}}
        </div>
        <div class="pull-right" ng-if="addedEntity || selectedInstance && !instanceId && !showTrashInstance && !field.nonEditable">
            <a class="btn btn-sm btn-primary" ng-disabled="field.nonEditable" ng-click="editInstanceOfEntity(field.value.id, getMetadata(field, 'related.class'))"
               data-toggle="tooltip" data-placement="top" data-trigger="hover" bs-popover="{{msg('mds.dataBrowsing.editRelatedInstance')}}">
                <i class="fa fa-lg fa-cogs"></i>
                {{msg('mds.dataBrowsing.edit')}}
            </a>
            <a class="btn btn-sm btn-danger" ng-click="removeOneRelatedData(field)" ng-disabled="field.nonEditable"
               data-toggle="tooltip" data-placement="top" data-trigger="hover" bs-popover="{{msg('mds.dataBrowsing.removeRelatedInstance')}}">
                <i class="fa fa-lg fa-minus"></i>
            </a>
        </div>
    </div>
</div>
