<div class="fileinput fileinput-new" data-provides="fileinput">
    <div class="input-append btn-group">
        <div class="form-control uneditable-input input-auto fileinput-exists">
            &nbsp;<span class="glyphicon glyphicon-file"></span>&nbsp;<span class="fileinput-preview"></span>
        </div>
        <span class="btn btn-default btn-file">
            <span class="fileinput-new">{{msg('mds.import.selectFile')}}</span>
            <span class="fileinput-exists">{{msg('mds.import.changeFile')}}</span>
            <input class="input-file" type="file" ng-model="field.basic.defaultValue" fileread="field.defaultValue" mds-auto-save-field-change mds-field-id="{{field.id}}" ng-disabled="field.readOnly"/>
        </span>
        <a target="_self" href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">{{msg('mds.btn.cancel')}}</a>
    </div>
</div>