<input period-amount period-validity default-field-name-valid="{{field.basic.name}}" class="form-control input-xlarge-fluid" type="text"
       ng-model="field.basic.defaultValue" mds-auto-save-field-change mds-field-id="{{field.id}}" ng-readonly="field.readOnly"
       ng-class="{'has-error': {{field.basic.name}}.$invalid }">
<button class="btn btn-default period-modal-opener" data-toggle="modal" data-backdrop="static" ng-disabled="field.readOnly">{{msg('mds.form.changePeriod')}}</button>
<span class="glyphicon glyphicon-info-sign" data-trigger="hover" data-placement="bottom" bs-popover="{{msg('mds.tooltip.period')}}" data-original-title=""></span>
<span class="form-hint" ng-show="( fieldbasic.$error.period || !fieldbasic.$valid ) && !fieldbasic.$pristine">{{msg('mds.error.incorrectValuePeriod')}}</span>
<period-modal></period-modal>