<input decimal-validity inset-validity="2" outset-validity="3"
       ng-required="{{field.required}}" type="text" min-validity="0" max-validity="1"
       class="form-control input-xlarge-fluid" ng-model="field.value" placeholder="{{field.placeholder}}" mds-field-id="{{field.id}}" ng-readonly="shouldHideEdition(field)">
<span mds-content-tooltip="limitsAvailableDecimalValues" mds-field-id="{{field.id}}" class="glyphicon glyphicon-info-sign" ng-show="anyValidationCriteria(field)"></span>
<div id="content{{field.id}}" class="hide">
    <p ng-show="field.validation.criteria[0].enabled && field.validation.criteria[0].value">{{msg('mds.info.minValue')}}&#58; <strong>{{field.validation.criteria[0].value}}</strong></p>
    <p ng-show="field.validation.criteria[1].enabled && field.validation.criteria[1].value">{{msg('mds.info.maxValue')}}&#58; <strong>{{field.validation.criteria[1].value}}</strong></p>
    <p ng-show="field.validation.criteria[2].enabled && field.validation.criteria[2].value">{{msg('mds.info.mustBeInSet')}}&#58; <strong>{{field.validation.criteria[2].value}}</strong></p>
    <p ng-show="field.validation.criteria[3].enabled && field.validation.criteria[3].value">{{msg('mds.info.cannotBeInSet')}}&#58; <strong>{{field.validation.criteria[3].value}}</strong></p>
</div>
<span class="form-hint" ng-show="{{field.name}}_field_name.$error.decimal && !{{field.name}}_field_name.$pristine">{{msg('mds.error.incorrectValueDecimal')}}</span>
<span class="form-hint" ng-show="{{field.name}}_field_name.$error.min && !{{field.name}}_field_name.$pristine && !{{field.name}}_field_name.$error.decimal">{{msg('mds.error.min')}}</span>
<span class="form-hint" ng-show="{{field.name}}_field_name.$error.max && !{{field.name}}_field_name.$pristine && !{{field.name}}_field_name.$error.decimal">{{msg('mds.error.max')}}</span>
<span class="form-hint" ng-class="{hide: checkDecimalValue(field.value, field.settings)}">
    {{getInvalidDecimalMessage(field.settings)}}
</span>
<span class="form-hint" ng-show="( {{field.name}}_field_name.$error.insetNum || {{field.name}}_field_name.$error.outsetNum ) && !{{field.name}}_field_name.$pristine && !{{field.name}}_field_name.$error.decimal && !{{field.name}}_field_name.$error.min && !{{field.name}}_field_name.$error.max">
    <p ng-show="{{field.name}}_field_name.$error.insetNum">{{msg('mds.error.inset')}}</p>
    <p ng-show="{{field.name}}_field_name.$error.outsetNum">{{msg('mds.error.outset')}}</p>
</span>
