<div class="fileupload fileupload-new" data-provides="fileupload">
    <div class="input-append btn-group">
        <div class="form-control uneditable-input input-auto fileupload-exists">
            &nbsp;<i class="glyphicon glyphicon-file"></i>&nbsp;<span class="fileupload-preview"></span>
        </div>
        <span class="btn btn-default btn-file">
            <span class="fileupload-new">{{msg('mds.import.selectFile')}}</span>
            <span class="fileupload-exists">{{msg('mds.import.changeFile')}}</span>
            <input class="input-file" type="file" ng-model="field.basic.defaultValue" fileread="field.defaultValue" mds-auto-save-field-change mds-field-id="{{field.id}}" ng-disabled="field.readOnly"/>
        </span>
        <a target="_self" href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">{{msg('mds.btn.cancel')}}</a>
    </div>
</div>