<form>
    <div class="col-lg-6 well2 margin-before">
        <div class="box-header">
            {{msg('mds.dataRetention.info')}}
        </div>
        <div class="box-content">
            <div class="form-group margin-before">
                <label class="label-radio">
                    <input type="radio" ng-model="settings.deleteMode" value="DELETE" ng-click="checkDisable()">
                    {{msg('mds.dataRetention.delete')}}
                </label>
            </div>
            <div class="form-group">
                <label class="label-radio">
                    <input type="radio" ng-model="settings.deleteMode" value="TRASH" ng-click="checkDisable()">
                    {{msg('mds.dataRetention.trash')}}
                </label>
            </div>
            <div class="form-group form-inline">
                <label class="label-radio">
                    <input type="checkbox" ng-model="settings.emptyTrash" ng-disabled="checkCheckboxDisable()">
                    {{msg('mds.dataRetention.emptyTrash')}}
                </label>
                <div class="settings-input-group">
                    <input class="form-control input-auto" ng-readonly="checkTimeSelectDisable()" type="number" min="1" ng-model="settings.timeValue">
                    <select class="form-control input-auto" ng-disabled="checkTimeSelectDisable()" ng-model="settings.timeUnit" ng-options="t.value as t.label for t in timeUnits"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 well2 margin-before">
        <div class="box-header">
            {{msg('mds.userPreferences.info')}}
        </div>
        <div class="box-content">
                <div class="form-group form-inline margin-before">
                <label class="label-radio">
                    {{msg('mds.userPreferences.gridSize')}}
                </label>
                <div class="settings-input-group">
                    <select class="form-control input-auto" ng-model="settings.gridSize" ng-options="size for size in gridSizes"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 well2 margin-before">
        <div class="box-header">
            {{msg('mds.schemaEditor.info')}}
        </div>
        <div class="box-content">
            <div class="form-group form-inline margin-before">
                <label class="label-radio">
                    <input type="checkbox" ng-model="settings.restartModuleAfterTimeout">
                    {{msg('mds.schemaEditor.restartBundle')}}
                </label>
            </div>
        </div>
    </div>

    <div class="col-lg-6 well2">
        <span class="btn btn-default" ng-click="saveSettings()">{{msg('mds.dataRetention.save')}}</span>
    </div>
</form>
