<div>
    <h4 class="frame-title">{{selectedEntity.module}} <span ui-if="selectedEntity.module">- </span>{{selectedEntity.name}} {{msg('mds.dataBrowsing.deletedInstances')}} </h4>
    <div class="toolbox">
        <button ng-click="backInstancesTrash()" type="button" class="btn btn-primary">
            <i class="fa fa-fw fa-lg fa-level-up"></i>
            {{msg('mds.btn.trash')}}
        </button>
        <button ng-hide="shouldHideButton()" target="_self" href="#restoreInstanceModal" data-toggle="modal" data-backdrop="static" type="button" class="btn btn-primary">
            {{msg('mds.btn.restore')}}
        </button>
    </div>
    <div ng-include="'../mds/resources/partials/modals/restore-instance.html'"></div>
    <div entity-instance-fields-2></div>
</div>