<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c] %m%n" />
        </layout>
    </appender>

	<appender name="MOTECH" class="org.apache.log4j.FileAppender">
        <param name="File" value="${catalina.home}/logs/motech.log"/>
        <param name="Append" value="true"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="[%t] - %d %-5p [%c] %m%n" />
        </layout>
    </appender>
	
    <logger name="org.motechproject">
        <level value="DEBUG" />
    </logger>

    <root>
        <priority value="ERROR" />
        <appender-ref ref="CONSOLE" />
		<appender-ref ref="MOTECH" />
    </root>

</log4j:configuration>