<div class="header">
    <div>
        <a ui-sref="homepage" ui-sref-opts="{reload: true}">
            <div class="dashboard-logo" ng-show="showDashboardLogo.showDashboard" ng-cloak>
                <img class="logo" alt="Logo - {{msg('server.motechTitle')}}" src="./../../static/common/img/motech-logo.gif">
            </div>
        </a>
        <div class="header-title" ng-show="showDashboardLogo.showDashboard" ng-cloak>{{msg('server.motechTitle')}}</div>
    </div>
</div>
<div class="clearfix"></div>
<div class="header-nav navbar" overflow-change-panel>
    <div class="navbar-inner navbar-inverse">
        <div>
            <div class="navbar-header">
                <a id="brand" class="navbar-brand" ng-hide="showDashboardLogo.showDashboard" ui-sref="#">MOTECH</a>
            </div>

            <ul class="nav navbar-nav" role="navigation">
                <li class="divider-vertical" ng-hide="showDashboardLogo.showDashboard"></li>
            </ul>
            <ul ng-repeat="section in moduleMenu.sections" role="tablist" id="tabbuttons" class="nav navbar-nav tabbuttons">
                <li ng-class="showActiveMenu.changeClass(section)">
                    <a id="section-nav-{{section.name | dottedToId}}" ng-click="selectModules(section.name); setDocsUrl(section.moduleDocsUrl, false)" role="menu">{{msg(section.name)}}</a>
                </li>
            </ul>
            <ul id="tabbuttons-right" class="nav navbar-nav pull-right menu-left">
                <li>
                    <a id="minimize" class="btn btn-xs btn-blue" ng-click="minimizeHeader()">
                        <i title="{{msg(showDashboardLogo.changeTitle())}}"
                             alt="{{msg(showDashboardLogo.changeTitle())}}"
                             ng-class="showDashboardLogo.changeClass()">
                        </i>
                    </a>
                </li>
                <li class="divider-vertical divider-vertical-sub"></li>
                <li id="profile" class="dropdown overflowChange">
                    <a id="profile-user-name" class="dropdown-toggle" target="_self" ui-sref="home" data-toggle="dropdown">
                        <span>{{msg('server.loggedAs')}} <strong>{{ user.userName }}</strong><strong class="caret"></strong></span>
                    </a>
                    <ul id="localization" class="dropdown-menu" role="menu">
                        <li ui-if="user.securityLaunch">
                            <a id="profile-user" role="menu" ng-click="loadModule('webSecurity', '/webSecurity/profile')" tabindex="-1">
                                <span class="fa fa-user"></span> {{msg('server.profile')}}
                            </a>
                        </li>
                        <li ui-if="user.securityLaunch" class="divider"></li>
                        <li class="dropdown-submenu pull-left">
                            <a id="profile-user-languages" class="menu-flag dropdown-toggle" tabindex="-1" data-toggle="dropdown" target="_self" ui-sref="home">
                                <span class="flag flag-{{getLangCode()}}" title="{{getLangCode()}}" alt="{{getLangCode()}}"></span>
                                <span class="text-capitalize">{{getLangForDisplay()}}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="(key, value) in languages">
                                    <a id="profile-user-language-{{key}}" ng-click="setUserLang(key, true)"><i class="flag flag-{{key}}"></i> {{value}}</a>
                                </li>
                            </ul>
                        </li>
                        <li ui-if="user.securityLaunch" class="divider"></li>
                        <li ui-if="user.securityLaunch">
                            <a id="profile-user-logout" href="{{contextPath}}j_spring_security_logout" class="">
                                <span class="fa fa-power-off"></span> {{msg('server.signOut')}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="clearfix"></div>
