<style>

.subtitle {
    margin-top: 0px;
}

.homepage-list {
    padding-left: 15px;
}


</style>
<div class="row">
    <div>
        <h4 class="frame-title">{{ msg('server.homepage.title')}}</h4>
    </div>
    <div class="inside col-lg-7 col-md-9 col-sm-12">
        <div class="clearfix margin-before">
            <div class="alert alert-info">
                <h5 class="subtitle">{{msg('server.homepage.documentation.title')}}</h5>
                {{msg('server.homepage.documentation.text')}}
                <ul class="homepage-list">
                    <li>
                        <a href="http://docs.motechproject.org/en/latest/index.html" target="_blank">
                            {{msg('server.homepage.documentation.motechDocumentation')}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="alert alert-info" ng-if="isModule(msg('server.homepage.module.dataServices'))">
                <h5 class="subtitle">{{msg('server.homepage.manageData.title')}}</h5>
                {{msg('server.homepage.manageData.text')}}
                <ul class="homepage-list">
                    <li>
                        <a ng-click="openPage(msg('server.homepage.module.dataServices'))">
                            {{msg('server.homepage.module.dataServices')}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="alert alert-info" ng-if="isModule(msg('server.homepage.module.tasks'))">
                <h5 class="subtitle">{{msg('server.homepage.createTasks.title')}}</h5>
                {{msg('server.homepage.createTasks.text')}}
                <ul class="homepage-list">
                    <li>
                        <a ng-click="openPage(msg('server.homepage.link.tasks'))">
                            {{msg('server.homepage.createTasks.viewTasks')}}
                        </a>
                    </li>
                </ul>

            </div>
            <div class="alert alert-info" ng-if="isModule(msg('server.homepage.module.webSecurity')) || isLink(msg('server.homepage.link.settings')) || isLink(msg('server.homepage.link.manageModules'))">
                <h5 class="subtitle">{{msg('server.homepage.configureMotech.title')}}</h5>
                {{msg('server.homepage.configureMotech.text')}}
                <ul class="homepage-list">
                    <li ng-if="isLink(msg('server.homepage.link.manageModules'))">
                        <a ng-click="openPage(msg('server.homepage.link.manageModules'))">
                            {{msg('server.homepage.configureMotech.administerInstalledModules')}}
                        </a>
                    </li>
                    <li ng-if="isLink(msg('server.homepage.link.manageURL'))">
                        <a ng-click="openPage(msg('server.homepage.link.manageURL'))">
                            {{msg('server.homepage.configureMotech.dynamicUrls')}}
                        </a>
                    </li>
                    <li ng-if="isLink(msg('server.homepage.link.managePermissions'))">
                        <a ng-click="openPage(msg('server.homepage.link.managePermissions'))">
                            {{msg('server.homepage.configureMotech.permissions')}}
                        </a>
                    </li>
                    <li ng-if="isLink(msg('server.homepage.link.settings'))">
                        <a ng-click="openPage(msg('server.homepage.link.settings'))">
                            {{msg('server.homepage.configureMotech.platformSettings')}}
                        </a>
                    </li>
                    <li ng-if="isLink(msg('server.homepage.link.manageRoles'))">
                        <a ng-click="openPage(msg('server.homepage.link.manageRoles'))">
                            {{msg('server.homepage.configureMotech.roles')}}
                        </a>
                    </li>
                    <li ng-if="isLink(msg('server.homepage.link.manageUsers'))">
                        <a ng-click="openPage(msg('server.homepage.link.manageUsers'))">
                            {{msg('server.homepage.configureMotech.users')}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="alert alert-info" ng-if="isModule(msg('server.homepage.module.admin'))">
                <h5 class="subtitle">{{msg('server.homepage.viewDiagnostics.title')}}</h5>
                {{msg('server.homepage.viewDiagnostics.text')}}
                <ul class="homepage-list">
                    <li ng-if="isLink(msg('server.homepage.link.messages'))">
                        <a ng-click="openPage(msg('server.homepage.link.messages'))">
                            {{msg('server.homepage.viewDiagnostics.messages')}}
                        </a>
                    </li>
                    <li ng-if="isLink(msg('server.homepage.link.queues'))">
                        <a ng-click="openPage(msg('server.homepage.link.queues'))">
                            {{msg('server.homepage.viewDiagnostics.queues')}}
                        </a>
                    </li>
                    <li ng-if="isLink(msg('server.homepage.link.log'))">
                        <a ng-click="openPage(msg('server.homepage.link.log'))">
                            {{msg('server.homepage.viewDiagnostics.serverLog')}}
                        </a>
                    </li>
                    <li ng-if="isLink(msg('server.homepage.link.topics'))">
                        <a ng-click="openPage(msg('server.homepage.link.topics'))">
                            {{msg('server.homepage.viewDiagnostics.topics')}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

