<div id="inner-center" class="inner-center ui-layout-center ui-layout-pane ui-layout-pane-center">
    <div class="header-footer-breadcrumb">
        <ul class="breadcrumb" role="navigation">
            <li><a role="menu" ui-sref="home">{{msg('server.home')}}</a></li>
        </ul>
    </div>
    <div class="header-footer">
        <ul id="content-tabs" class="nav nav-tabs email">
            <li class="active"><a id="tab-homepage" ui-sref="homepage">{{msg('server.homepage.tab')}}</a></li>
        </ul>
    </div>
    <div class="ui-layout-content">
        <div class="tab-content" id="tab-content">
            <div id="main-content" class="tab-pane active">
                <div>
                    <div ui-view="homeview"></div>
                </div>
            </div>
        </div>
    </div>
</div>