<div id="side-nav" class="col-lg-2  col-sm-3" ng-show="ready">
    <ul class="nav nav-stacked modulesWithSubMenu margin-after" ng-repeat="section in moduleMenu.sections">
        <li class="nav-header text-uppercase">
            {{msg(section.name)}}
        </li>
        <li ng-repeat="link in section.links" ng-class="{active: isActiveLink(link)}">
            <a ng-href="?moduleName={{link.moduleName}}{{link.url}}" ng-click="setActiveLink(link)">
                <i ui-if="link.needsAttention" class="icon icon-exclamation-sign icon-red"></i>
                {{msg(link.name)}}
            </a>
        </li>
    </ul>
</div>
