<div id="inner-center" class="swagger-section inner-center ui-layout-center ui-layout-pane ui-layout-pane-center">
    <div class="header-footer-breadcrumb">
        <!--<ul class="breadcrumb" role="navigation">-->
            <!--<li><a role="menu" ui-sref="home">{{msg('server.home')}}</a></li>-->
            <!--<li><a role="menu" ui-sref="rest-docs.admin.module">{{msg('server.admin')}}</a></li>-->
            <!--<li><a role="menu" ui-sref="rest-docs.data-services">{{msg('server.dataServices')}}</a></li>-->
            <!--<li><a role="menu" ui-sref="rest-docs.email">{{msg('server.email')}}</a></li>-->
            <!--<li><a role="menu" ui-sref="rest-docs.scheduler">{{msg('server.scheduler')}}</a></li>-->
            <!--<li><a role="menu" ui-sref="rest-docs.server-bundle">{{msg('server-bundle')}}</a></li>-->
            <!--<li><a role="menu" ui-sref="rest-docs.tasks">{{msg('server.tasks')}}</a></li>-->
            <!--<li class="active">{{msg('server.apiDocumentation')}}</li>-->
        <!--</ul>-->
    </div>
    <div class="header-footer">
        <ul id="content-tabs" class="nav nav-tabs swagger">
            <li class="active">
                <a ui-sref="rest-docs">{{msg('server.apiDocumentation')}}</a>
            </li>
        </ul>
    </div>
    <div class="ui-layout-content">
        <div class="tab-content"  id="tab-content">
            <div id="main-content" class="tab-pane active">
                <div ui-view="restdocsView"></div>
            </div>
        </div>
    </div>
</div>
