<div id="inner-center" class="swagger-section inner-center ui-layout-center ui-layout-pane ui-layout-pane-center">
    <div class="header-footer">
        <ul id="content-tabs" class="nav nav-tabs swagger">
            <li class="active">
                <a href="">{{msg('server.apiDocumentation')}}</a>
            </li>
        </ul>
    </div>
    <div class="ui-layout-content">
        <div class="tab-content"  id="tab-content">
            <div id="main-content" class="tab-pane active">
                <div ng-view></div>
            </div>
        </div>
    </div>
</div>
