<div ng-controller="MapsCtrl" ng-model="data.value" data-index="{{index}}" data-type="{{data.type}}">
    <div class="clearfix margin-before07">
        <div class="map-field">
            <label class="input-large-fluid">{{msg('task.map.key')}}</label>
        </div>
        <div class="map-field">
            <label class="input-large-fluid">{{msg('task.map.value')}}</label>
        </div>
    </div>
    <div class="clearfix">
        <div contenteditable ng-model="pair.key" droppable ng-keydown="keyPress($event)" field-autocomplete="true" class="actionField map-input map-field word-wrap input-extra-fluid" data-type="text"></div>
        <div contenteditable ng-model="pair.value" droppable ng-keydown="keyPress($event)" class="actionField map-input map-field word-wrap input-extra-fluid" data-type="text"></div>
        <button class="btn btn-success" ng-click="addPair(pair)"> {{msg('task.map.add')}}</button>
    </div>
    <div class="text-danger clearfix" ng-show="mapError">
        <span class="form-hint form-hint-bottom">
            {{mapError}}
        </span>
    </div>
    <div class="clearfix" ng-repeat="pair in pairs track by $index">
        <div class="clearfix">
            <div contenteditable ng-model="pair.key" droppable ng-keydown="keyPress($event)" field-autocomplete="true" class="actionField map-input map-field word-wrap input-extra-fluid" ng-change="updateMap(pair, $index)" data-type="text"></div>
            <div contenteditable ng-model="pair.value" droppable ng-keydown="keyPress($event)" class="actionField map-input map-field word-wrap input-extra-fluid" ng-change="updateMap(pair, $index)" data-type="text"></div>
            <a class="btn btn-danger btn-sm" ng-click="remove($index)">
                <i class="fa fa-lg fa-trash-o"></i>
            </a>
        </div>
        <div class="text-danger clearfix" ng-show="uniquePairKey(pair.key, $index)">
                <span class="form-hint form-hint-bottom">
                    {{msg('task.error.duplicateMapKeys')}}
                </span>
        </div>
        <div class="text-danger clearfix" ng-show="emptyMap(pair) && !uniqueMapKey(pair.key, $index)">
                <span class="form-hint form-hint-bottom">
                    {{msg('task.error.emptyMapPair')}}
                </span>
        </div>
    </div>
    <div class="clearfix">
        <button class="btn btn-danger" ng-click="reset()">{{msg('task.map.reset')}}</button>
    </div>
</div>

