<ol unselectable='on' id='sortable' title="{{msg('task.infoChangeOrder')}}"></ol>
<ul unselectable="on" id="sortable-no">
    <li unselectable="on" class="padding-botton6">
        <span unselectable="on" class="pointer" setmanipulation="dateTime">{{msg('task.dateTime')}}</span>
        <input id="dateFormat" date-update class="input-popover" style="display:none" type="text"/>
        <span class="glyphicon glyphicon-sort" title="{{msg('task.infoChangeOrder')}}" style="display: none;"></span>
    </li>
    <li unselectable="on" class="padding-botton6">
        <span unselectable="on" class="pointer" setmanipulation="plusMonths">{{msg('task.plusMonths')}}</span>
        <input id="plusMonths" date-manipulation-update manipulation-kind="plusMonths" class="input-popover" style="display:none" type="text"/>
        <span class="glyphicon glyphicon-sort" title="{{msg('task.infoChangeOrder')}}" style="display: none;"></span>
    </li>
    <li unselectable="on" class="padding-botton6">
        <span unselectable="on" class="pointer" setmanipulation="minusMonths">{{msg('task.minusMonths')}}</span>
        <input id="minusMonths" date-manipulation-update manipulation-kind="minusMonths" class="input-popover" style="display:none" type="text"/>
        <span class="glyphicon glyphicon-sort" title="{{msg('task.infoChangeOrder')}}" style="display: none;"></span>
    </li>
    <li unselectable="on" class="padding-botton6">
        <span unselectable="on" class="pointer" setmanipulation="plusDays">{{msg('task.plusDays')}}</span>
        <input id="plusDays" date-manipulation-update manipulation-kind="plusDays" class="input-popover" style="display:none" type="text"/>
        <span class="glyphicon glyphicon-sort" title="{{msg('task.infoChangeOrder')}}" style="display: none;"></span>
    </li>
    <li unselectable="on" class="padding-botton6">
        <span unselectable="on" class="pointer" setmanipulation="minusDays">{{msg('task.minusDays')}}</span>
        <input id="minusDays" date-manipulation-update manipulation-kind="minusDays" class="input-popover" style="display:none" type="text"/>
        <span class="glyphicon glyphicon-sort" title="{{msg('task.infoChangeOrder')}}" style="display: none;"></span>
    </li>
    <li unselectable="on" class="padding-botton6">
        <span unselectable="on" class="pointer" setmanipulation="plusHours">{{msg('task.plusHours')}}</span>
        <input id="plusHours" date-manipulation-update manipulation-kind="plusHours" class="input-popover" style="display:none" type="text"/>
        <span class="glyphicon glyphicon-sort" title="{{msg('task.infoChangeOrder')}}" style="display: none;"></span>
    </li>
    <li unselectable="on" class="padding-botton6">
        <span unselectable="on" class="pointer" setmanipulation="minusHours">{{msg('task.minusHours')}}</span>
        <input id="minusHours" date-manipulation-update manipulation-kind="minusHours" class="input-popover" style="display:none" type="text"/>
        <span class="glyphicon glyphicon-sort" title="{{msg('task.infoChangeOrder')}}" style="display: none;"></span>
    </li>
    <li unselectable="on" class="padding-botton6">
        <span unselectable="on" class="pointer" setmanipulation="plusMinutes">{{msg('task.plusMinutes')}}</span>
        <input id="plusMinutes" date-manipulation-update manipulation-kind="plusMinutes" class="input-popover" style="display:none" type="text"/>
        <span class="glyphicon glyphicon-sort" title="{{msg('task.infoChangeOrder')}}" style="display: none;"></span>
    </li>
    <li unselectable="on" class="padding-botton6">
        <span unselectable="on" class="pointer" setmanipulation="minusMinutes">{{msg('task.minusMinutes')}}</span>
        <input id="minusMinutes" date-manipulation-update manipulation-kind="minusMinutes" class="input-popover" style="display:none" type="text"/>
        <span class="glyphicon glyphicon-sort" title="{{msg('task.infoChangeOrder')}}" style="display: none;"></span>
    </li>
</ul>