<div id="importTaskModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="importTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="closeImportTaskModal()">&times;</button>
                <h4 class="modal-title" id="importTaskModalLabel">{{msg('task.import')}}</h4>
            </div>
            <div class="modal-body">
                <form id="importTaskForm" name="importTaskForm" class="form-horizontal" action="../tasks/api/task/import" enctype="multipart/form-data" method="POST">
                    <div class="form-group fileupload fileupload-new" data-provides="fileupload">
                        <label class="col-sm-3 control-label">{{msg('task.fileChosen')}}</label>
                        <div class="form-inline col-sm-9">
                            <div class="form-control input-auto uneditable-input input-xlarge fileupload-exists"><i class="icon-file"></i>&nbsp;<span class="fileupload-preview"></span></div>
                            <span class="btn btn-default btn-file">
                                <span class="fileupload-new">{{msg('task.button.selectFile')}}</span>
                                <span class="fileupload-exists">{{msg('task.button.changeFile')}}</span>
                                <input type="file" id="jsonFile" name="jsonFile" class="input-file"/>
                            </span>
                            <a target="_self" href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload"><i class="icon-trash icon-white"></i>&nbsp;{{msg('task.button.delete')}}</a>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="importTask()">{{msg('task.button.import')}}</button>
                <button class="btn btn-default" ng-click="closeImportTaskModal()">{{msg('task.close')}}</button>
            </div>
        </div>
    </div>
</div>
