.message-group-tree {
    background: #fbfbfb;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    padding:0 0 10px 0;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 0 0 6px #e5e5e5;
       -moz-box-shadow: 0 0 6px #e5e5e5;
            box-shadow: 0 0 6px #e5e5e5;
}

.message-group {
    background: #fefefe;
    border: 1px solid #e5e5e5;
    margin: 0 25px 10px 25px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 6px #e5e5e5;
       -moz-box-shadow: 0 0 6px #e5e5e5;
            box-shadow: 0 0 6px #e5e5e5;
}

.message-header {
    height: 28px;
    margin: 0 0 10px 0;
    padding: 0 0 0 10px;
    border-radius: 4px;
    color: #c2eafe;
    font-weight: bold;
    line-height: 28px;
    font-size: 15px;
    background: #001e4f url("../../server/resources/img/head-bg.jpg") repeat-x left top;
}

.message-group-tree > div.message-group:nth-child(5)  {
    margin: 0;
    border: none;
    padding: 0;
    background: none;
    -webkit-box-shadow: 0 0 0 #e5e5e5;
       -moz-box-shadow: 0 0 0 #e5e5e5;
            box-shadow: 0 0 0 #e5e5e5;
}

.event-label {
    padding-top: 5px;
    display: block;
    margin-top: 10px;
}
.event-label-group {
    padding-top: 5px;
    display: block;
}
.event-label1 {
    float: left;
    padding-top: 5px;
    text-align: left;
    width: 75px;
    border-bottom: 1px dashed #cccccc;
}
.event-label2 {
    float: left;
    padding-top: 5px;
    text-align: left;
    width: 148px;
    border-bottom: 1px dashed #cccccc;
}
.event-label3 {
    float: left;
    padding-top: 0;
    text-align: left;
    width: 140px;
    margin-left: 5px;
}

.form-hint:before {
    color: #d45252;
    content: "\25C0";
    left: -6px;
    position: absolute;
    top: 1px;
}

.form-hint {
    background: #d45252;
    border-radius: 3px;
    color: white;
    float:left;
    display:inline-block;
    margin-left: 8px;
    margin-right: 5%;
    padding: 1px 6px;
    position: absolute;
    z-index: 999;
    font-size: 11px;
}

.spn8 {
    width:63.9%;
}
.ivr-panel {
    min-width: 460px;
    width: 50%;
}

.alert-scroll{
    max-height: 75px;
    overflow: auto;
}

.welcome p {
    font-size:15px;
    font-weight:200;
    line-height:20px;
}

.top-line {
    border-top: 1px solid #0088cc;
}

/* ---- table ---- */

.table-demo  {
    background:#ffffff;
    -webkit-box-shadow: 0 0 3px #e5e5e5;
       -moz-box-shadow: 0 0 3px #e5e5e5;
            box-shadow: 0 0 3px #e5e5e5;
}

.table-demo td{
    vertical-align: middle;
}

.table-demo thead {
    border: none;
}

.table-demo thead tr th {
    background: #001e4f url("../../server/resources/img/head-bg.jpg") repeat-x;
    color: #c2eafe;
    font-size: 15px;
}

.table-demo tbody tr > td:first-child {
    min-width: 300px;
}

.table-demo tbody tr > td:nth-child(2) {
    min-width: 50%;
}

.table-demo thead tr > th:last-child {
    text-align: center;
}

.table-demo tbody tr > td:last-child {
    width: 170px;
    text-align:left;
    white-space: nowrap;
    text-decoration: none;
}

/* ---- phone ---- */

div#phone {
    float:left;
    margin:5px 5px 10px 50px;
    padding:0;
    background: url("../img/phone.png") no-repeat;
    height:400px;
    width:195px;
}
#phone-area {
    margin-top: 67px;
    margin-right: 28px;
    margin-left: 28px;
    margin-bottom: 0;
    position: relative;
    background-color:#fff;
    border-radius:3px;
    padding:0;
    width:139px;
    height:97px;
}
#phone-area #msg_counter {
    position:relative;
    border-radius:0;
    margin:5px 0 3px 3px;
    padding:0;
    width:133px;
    height:17px;
    background-color: #fff;
    font-size:10px;
    word-wrap: break-word;
}
#phone-area #msg {
    position:relative;
    border-radius:0;
    padding:0;
    margin-top:-5px;
    margin-right:3px;
    margin-left:3px;
    margin-bottom:3px;
    width:133px;
    height:81px;
    background-color: #fff;
    font-size:12px;
    font-family:monospace;
    word-wrap: break-word;
    overflow-y:auto;
}
.msg_area {
    word-wrap:break-word;
}
#keyboard {
    position:relative;
    width:161px;
    height:200px;
    margin-top:28px;
    margin-left:17px;
    margin-right:17px;
    background:none;
}

.cellphone_button,.cellphone_button2 {
    float:left;
    border:0;
    background:none;
}
div#keyboard span.hidden-value {
    display:none;
}
.button_size1 {
    width:38px;
    height:27px;
}
.button_size2 {
    width:46px;
    height:27px;
    background:url("../img/phone-btn-sprite.png") no-repeat;
}
div#a1 {
    width:122px;
    height:38px;
    float:left;
    margin:0;
    background:none;
    visibility:hidden;
}
div#b01 {
    margin:5px 0 7px 0;
}
div#b01 div{
    background:url("../img/phone-btn-sprite.png") no-repeat -628px 0;
}
div#b01 div:hover{
    background:url("../img/phone-btn-sprite.png") no-repeat -628px -30px;
}
div#b01 div:active{
    background:url("../img/phone-btn-sprite.png") no-repeat -628px -59px;
}
div#ba {
    margin:1 0 11px 0;
}
div#ba div{
    background:url("../img/phone-btn-sprite.png") no-repeat -590px 0;
}
div#ba div:hover{
    background:url("../img/phone-btn-sprite.png") no-repeat -590px -29px;
}
div#ba div:active{
    background:url("../img/phone-btn-sprite.png") no-repeat -590px -58px;
}
div#a2 {
    width:122px;
    height:38px;
    float:left;
    margin:0;
    background:none;
}
div#b1 {
    margin:0 0 2px 0;
}
div#b1 div{
    background-position: 0 0;
}
div#b1 div:hover{
    background-position: 0 -29px;
}
div#b1 div:active{
    background-position: 0 -58px;
}
div#b2 {
    margin:0 0 2px 11px;
}
div#b2 div{
   background-position: -46px 0;
}
div#b2 div:hover{
    background-position: -46px -29px;
}
div#b2 div:active{
    background-position: -46px -58px;
}
div#b3 {
    margin:0 0 2px 11px;
}
div#b3 div{
    background-position: -92px 0;
}
div#b3 div:hover{
    background-position: -92px -29px;
}
div#b3 div:active{
    background-position: -92px -58px;
}
div#b4 {
    margin:0 0 2px 0;
}
div#b4 div{
    background-position: -138px 0;
}
div#b4 div:hover{
    background-position: -138px -29px;
}
div#b4 div:active{
    background-position: -138px -58px;
}
div#b5 {
    margin: 0 0 2px 11px;
}
div#b5 div{
    background-position: -184px 0;
}
div#b5 div:hover{
    background-position: -184px -29px;
}
div#b5 div:active{
    background-position: -184px -58px;
}
div#b6 {
    margin:0 0 2px 11px;
}
div#b6 div{
    background-position: -230px 0;
}
div#b6 div:hover{
    background-position: -230px -29px;
}
div#b6 div:active{
    background-position: -230px -58px;
}
div#b7 {
    margin:0 0 3px 0;
}
div#b7 div{
    background-position: -276px 0;
}
div#b7 div:hover{
    background-position: -276px -29px;
}
div#b7 div:active{
    background-position: -276px -58px;
}
div#b8 {
    margin:0 0 3px 11px;
}
div#b8 div{
    background-position: -322px 0;
}
div#b8 div:hover{
    background-position: -322px -29px;
}
div#b8 div:active{
    background-position: -322px -58px;
}
div#b9 {
    margin:0 0 3px 11px;
}
div#b9 div{
    background-position: -368px 0;
}
div#b9 div:hover{
    background-position: -368px -29px;
}
div#b9 div:active{
    background-position: -368px -58px;
}
div#b0 {
    margin:0 0 0 57px;
}
div#b0 div{
    margin:0;
    padding:0;
    background-position: -460px 0;
}
div#b0 div:hover{
    background-position: -460px -29px;
}
div#b0 div:active{
    background-position: -460px -58px;
}
