Package: motech-demo
Version: ${version}
Section: web
Priority: optional
Architecture: all
Depends: motech
Maintainer: Paweł Gesek <pgesek@soldevelo.com>
Description: Demonstration module
 A demo module for motech, demonstartes usage of IVR Services.
