<div id="bundle-settings">
    <div class="box-header">
        {{module.name}} - {{msg('settings')}}
    </div>
<!--    <div class="box-content">
        <form id="settingsForm" action="api/settings/{{module.bundleId}}" method="post">
            <div ng-repeat="setting in settings" class="settings-input">
                <label for="{{setting.key}}">{{setting.key}}</label>
                <input type="text" id="{{setting.key}}" name="{{setting.key}}" ng-model="setting.value" />
            </div>
            <input type="button" ng-click="saveSettings()" value="{{msg('submit')}}"/>
        </form>
    </div>-->
    <div ng-repeat="mSettings in moduleSettings">
        <div class="box-header">
            {{mSettings.filename}}
        </div>
        <div class="box-content">
            <form id="settingsForm" action="api/settings/{{module.bundleId}}" method="post">
                <div ng-repeat="setting in mSettings.settings" class="settings-input">
                    <label for="{{setting.key}}">{{setting.key}}</label>
                    <input type="text" id="{{setting.key}}" name="{{setting.key}}" ng-model="setting.value" />
                </div>
                <input type="hidden" name="filename" value="{{mSettings.filename}}" />
                <input type="button" ng-click="saveSettings(mSettings)" value="{{msg('submit')}}"/>
            </form>
        </div>
    </div>
</div>