#macro( msg $key )
    $messages.getMessage($key,null,$locale)
#end

<html>
<body>
    <strong>#msg( 'email.hello' ) ${user}, </strong>

    <p>
        #msg( 'email.password_reminder_msg_p1' ) $user #msg( 'email.password_reminder_msg_p2' ) $daysTillExpire
        #msg( 'email.password_reminder_msg_p3' )
    </p>

    <p>#msg( 'email.password_reminder_last_change' ) $lastPasswordChange </p>

    <p>#msg( 'email.password_reminder_expiration_date' ) $expirationDate </p>

    <p>#msg( 'email.password_reminder_instructions' ) </p>

    <p><a href="$serverUrl">$serverUrl</a><p>
</body>
</html>