#macro( msg $key )
$messages.getMessage($key,null,$locale)
#end
#set( $params = [$user, $daysTillExpire] )
<html>
	<body>
		<strong>#msg( 'email.hello' ) ${user}, </strong>
     	<p>$messages.getMessage('email.password_reminder_msg',$params.toArray(),$locale)</p>
		<p>#msg( 'email.password_reminder_last_change' ) $lastPasswordChange</p>
		<p>#msg( 'email.password_reminder_expiration_date' ) $expirationDate</p>
		<p>#msg( 'email.password_reminder_instructions' )</p>
		<p><a href="$serverUrl">$serverUrl</a><p>
	</body>
</html>