#macro( msg $key )
$messages.getMessage($key,null,$locale)
#end
#set( $params = [$user, $days_till_expire] )
<html>
	<body>
		<strong>#msg( 'email.hello' ) ${user}, </strong>
     	<p>$messages.getMessage('email.password_reminder_msg',$params.toArray(),$locale)</p>
		<p>#msg( 'email.password_reminder_last_change' ) $last_password_change</p>
		<p>#msg( 'email.password_reminder_expiration_date' ) $expiration_date</p>
		<p>#msg( 'email.password_reminder_instructions' )</p>
		<p><a href="$server_url">$server_url</a><p>
	</body>
</html>