<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath*:META-INF/motech/applicationPlatformServer.xml
        </param-value>
    </context-param>

    <!-- Spring -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- Osgi -->
    <listener>
        <listener-class>org.motechproject.server.impl.OsgiListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.apache.felix.http.proxy.ProxyListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>proxy</servlet-name>
        <servlet-class>org.motechproject.server.impl.ProxyServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    
    <servlet>
        <servlet-name>bootstrap-servlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>WEB-INF/bootstrap-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>bootstrap-servlet</servlet-name>
        <url-pattern>/server/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>proxy</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
	<servlet-name>default</servlet-name>
	<url-pattern>/static/*</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>401</error-code>
        <location>/server/error/401</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/server/error/403</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/server/error/404</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/server/error/500</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/server/error/503</location>
    </error-page>

</web-app>
