.validation-area.error input,
.validation-area.error select,
.validation-area.error textarea {
    border-color: #B94A48;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.validation-area.error .checkbox,
.validation-area.error .radio,
.validation-area.error input,
.validation-area.error select,
.validation-area.error textarea {
    color: #B94A48;
}

editable-content .actionField.input-block-level {
    min-height: 30px;
    width: 100%;
    padding: 3px 5px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

editable-content .actionField.input-block-level:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}

editable-content .actionField.input-block-level span.badge {
    margin: 0 2px;
}

.accordion-inner.task-content {
    padding: 0;
    border: none;
    box-shadow: none;
}

#accordion1.accordion {
    margin-bottom: 0;
}

#accordion3 .accordion-inner.task-content,
#accordion4 .accordion-inner.task-content {
    background: #deefff;
    background: -moz-linear-gradient(top,  #deefff 0%, #98bede 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deefff), color-stop(100%,#98bede));
    background: -webkit-linear-gradient(top,  #deefff 0%,#98bede 100%);
    background: -o-linear-gradient(top,  #deefff 0%,#98bede 100%);
    background: -ms-linear-gradient(top,  #deefff 0%,#98bede 100%);
    background: linear-gradient(to bottom,  #deefff 0%,#98bede 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 );
}

.tasks-list .inbox-header {
    padding: 5px 5px;
}

.tasks-list .task-nav > li.divider-vertical {
    border-left: 1px solid #A9CAE6;
    border-right: 1px solid #CEE3F7;
    height: 40px;
    margin: 0 5px;
    line-height: 40px;
}

.tasks-list .accordion-body .task-nav > li.divider-vertical {
    border-left: 1px solid #A9CAE6;
    border-right: 1px solid #CEE3F7;
    height: 40px;
    margin: 5px;
    line-height: 40px;
}

.tasks-list .task-element {
    text-align: center;
}

.tasks-list .task-nav.pull-right {
    font-weight: normal;
}

.tasks-list .task-element.task-offset {
    margin: 5px 15px;
}

.tasks-list .task-element img {
    border: none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.tasks-list .task-element .task-list-img {
    width: 36px;
}

.tasks-list .task-nav.pull-right .task-list-img {
    width: 32px;
}

.tasks-list .task-element .task-list-img-activity {
    width: 86px;
}

.tasks-list .task-element .task-list-img-arrow {
    width: 20px;
}

.tasks-list .task-buttons {
    border: 1px solid #B2D8F8;
    border-radius: 4px;
    font-size: 12px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    color: #FFFFFF;
    background: #3b679e; /* Old browsers */
    background: -moz-linear-gradient(top,  #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b679e), color-stop(50%,#2b88d9), color-stop(51%,#207cca), color-stop(100%,#7db9e8));
    background: -webkit-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: -o-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: -ms-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: linear-gradient(to bottom,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 );
}

.tasks-list .task-buttons {
    border: 1px solid #B2D8F8;
    border-radius: 4px;
    background: #3b679e; /* Old browsers */
    background: -moz-linear-gradient(top,  #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b679e), color-stop(50%,#2b88d9), color-stop(51%,#207cca), color-stop(100%,#7db9e8));
    background: -webkit-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: -o-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: -ms-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: linear-gradient(to bottom,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 );
}

.task-bar .task-nav > li.task-buttons {
    line-height: 20px;
    margin: 10px 5px ;
}

.tasks-list .task-nav.pull-right {
    overflow: visible;
}

.tasks-list .task-buttons a {
    color: #ffffff;
}

.tasks-list .task-buttons a:hover {
    text-decoration: underline;
}

.tasks-list .button-task-in {
    padding: 2px 8px;
}

#accordion3.accordion, #accordion4.accordion, .tasks-list.alert {
    margin-bottom: 0;
}

#accordion3 .accordion-heading .accordion-toggle,
#accordion4 .accordion-heading .accordion-toggle {
    padding: 0;
    border: none;
    color: #224477;
}
#accordion3 .accordion-heading .accordion-toggle:hover,
#accordion4 .accordion-heading .accordion-toggle:hover {
    color: #0088CC;
}

#accordion1 .accordion-group, #accordion2 .accordion-group,
#accordion3 .accordion-group, #accordion4 .accordion-group {
    border: 1px solid #B2D8F8;

}

#accordion1 .accordion-inner, #accordion2 .accordion-inner {
    border-top: none;
    padding: 9px 15px 1px;
}

#accordion1 .accordion-group .control-section {
    background: #DEEEFF;
    border-radius: 4px;
    margin: 8px -10px;
    padding: 2px 0;
}

#accordion1 .collapse.in {
    overflow: visible;
}

#accordion1 .accordion-group .section {
    border: 1px dashed #7bb5fc;
    margin: 5px -10px;
    padding: 10px 10px 0;
}

#accordion1 .control-group.section2 {
    margin-bottom: 10px;
}

.move-element span {
    cursor: move;
    margin-right: 10px;
}

.right-divider {
    border-right: 1px solid #7bb5fc;
    margin-right: -30px;
    padding-right: 30px;
}

.center-divider {
    border-left: 1px solid #7bb5fc;
    left: 50%;
    position:absolute;
    height: 100%;
    width: 2px;
}

.box-divider {
    position: relative;
    height: auto;
}

.outside-tb2 {
    margin: 20px 0;
}

.task-header {
    font-weight: bold;
    line-height: 20px;
    font-size: 15px;
    padding: 5px 10px;
    color: #224477;
    background: #f5f9fb;
    background: -moz-linear-gradient(top,  #f5f9fb 0%, #e0edf4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f9fb), color-stop(100%,#e0edf4));
    background: -webkit-linear-gradient(top,  #f5f9fb 0%,#e0edf4 100%);
    background: -o-linear-gradient(top,  #f5f9fb 0%,#e0edf4 100%);
    background: -ms-linear-gradient(top,  #f5f9fb 0%,#e0edf4 100%);
    background: linear-gradient(to bottom,  #f5f9fb 0%,#e0edf4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f9fb', endColorstr='#e0edf4',GradientType=0 );
    border-radius: 4px;
    -webkit-box-shadow: 0 0 2px #bec9de;
       -moz-box-shadow: 0 0 2px #bec9de;
            box-shadow: 0 0 2px #bec9de;
}

.task-content {
    border-radius: 4px;
    border: 1px solid #D4E1F9;
    background: #f5f9fb;
    background: -moz-linear-gradient(top,  #f5f9fb 0%, #e0edf4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f9fb), color-stop(100%,#e0edf4));
    background: -webkit-linear-gradient(top,  #f5f9fb 0%,#e0edf4 100%);
    background: -o-linear-gradient(top,  #f5f9fb 0%,#e0edf4 100%);
    background: -ms-linear-gradient(top,  #f5f9fb 0%,#e0edf4 100%);
    background: linear-gradient(to bottom,  #f5f9fb 0%,#e0edf4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f9fb', endColorstr='#e0edf4',GradientType=0 );
    -webkit-box-shadow: 0 0 2px #bec9de;
       -moz-box-shadow: 0 0 2px #bec9de;
            box-shadow: 0 0 2px #bec9de;
}

.task-content .imgArrow {
    float: left;
    padding: 45px 0 0 0;
    width: 50px;
}

.task-list {
    min-width: 120px;
    margin: 0;
    padding: 5px 5px 5px 0;
    float: none;
    list-style: none;
    color: #000000;
    overflow-x: hidden;
}

.task-list li.error {
    color: #fa0328;
}

.task-list li.info {
    color: #0044cc;
}

.task-list li.success {
    color: #51a451;
}

/*----- Tasks - recent -----*/

.recent-activity-img {
    height: 36px;
    width: 36px;
}

.table-recent-activity {
    margin-bottom: 0;
    vertical-align: middle;
    margin-top: -1px;
}

.table-recent-activity.centered tbody td {
    text-align: center;
}

.table-recent-activity tbody td {
    vertical-align: middle;
    word-wrap: break-word;
}

.recent-activity-arrow {
    width: 30px;
}

.recent-name-first{
font-weight: bold;
}

/*----- Tasks - history -----*/

.history {
    max-width: 999px;
}

.history .task-element .icon-chevron-right {
    height: 18px;
    line-height: 18px;
    vertical-align: middle;
}

.recent-activity-task-img {
    height: 54px;
    width: 54px;
}

.table-recent-activity-task {
    margin-bottom: 0;
    vertical-align: middle;
}

.table-recent-activity-task tbody td {
    vertical-align: middle;
}

.table-recent-activity-task tbody td:first-child {
    width: 35px;
}

.table-recent-activity-task tbody td:last-child {
    width: 250px;
}

.section-input {
    width: 380px;
    margin: 10px auto;
    padding: 15px;
    background-color: #E4F1F9;
    border: 1px solid #D4E1F9;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
}

.section-input .panel-input {
    float: left;
    position: relative;
}

.section-input li.task-panel {
    margin: 0;
    border: none;
    border-radius: 2px;
}

.section-input .trigger, .section-input .action {
    border: 2px solid #7bb5fc;
    border-radius: 4px;
    display: block;
    margin: 15px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    padding: 0;
    width: 122px;
    height: 112px;
    background: #ffffff;
}

.section-input .instructions {
    border-top: 2px solid #7bb5fc;
    color: #7bb5fc;
    font-size: 12px;
    font-weight: bold;
    left: 17px;
    position: absolute;
    text-align: center;
    top: 68%;
    width: 122px;
    z-index: 1;
}

.section-input .imgArrow {
     float: left;
     padding: 40px 0 0 0;
     width: 65px;
}

.bg-section-input {
    margin: 0;
    padding: 10px;
}

.panel-input .task-panel .popover.left {
    top: 5.5px;
    left: -235px;
}

.panel-input .task-panel .popover.right {
    top: 5.5px;
    left: 117px;
}

.panel-input .task-panel .popover {
    color: #224477;
    text-align: left;
    display: block;
}

.section-input .popover-content ul, .section-source .popover-content ul {
    list-style-type: square;
    color: #224477;
    text-align: left;
    margin-top: 5px;
}

.popover .popover-titles {
    color: #224477;
    background-color: #F7F7F7;
    border-bottom: 1px solid #EBEBEB;
    border-radius: 0;
    font-size: 14px;
    text-align: left;
    font-weight: normal;
    line-height: 18px;
    margin: 5px -10px 5px -10px;
    padding: 12px 14px 8px 14px;
}

.popover .popover-content p .popover-titles:first-child {
    margin-top: -1px;
    border-radius: 5px 5px 0 0;
}

.section-source .popover .popover-content, .section-input .popover .popover-content {
    color: #224477;
    margin: 0;
    padding: 0 10px 10px 10px;
}

.section-source .popover-title, .section-input .popover-title {
    display: none;
}

.section-source {
    margin: 30px auto;
    width: 895px;
    position: relative;
}

.section-source .left-arrow {
    padding-right: 20px;
}

.section-source .left-arrow, .section-source .right-arrow {
    float: left;
    margin: 115px 0 0;
    width: 52px;
}

.section-source .right-arrow {
    padding-left: 20px;
}

.section-source .section-task {
    background-color: #E4F1F9;
    border: 1px solid #D4E1F9;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
    padding: 15px;
}

.section-source .task-selector {
    float: left;
    min-height: 220px;
    list-style-type: none;
    margin: 0;
    padding: 15px;
    width: 695px;
    background-color: #E4F1F9;
    border: 1px solid #D4E1F9;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
}

.task-bar {
    overflow: visible;
}

.task-bar .task-nav {
    display: block;
    float: left;
    left: 0;
    margin: 0;
    padding: 0;
}
.task-bar .task-nav.pull-right {
    float: right;
}

.task-nav {
    list-style: none;
    overflow: hidden;
}

.task-bar .task-nav > li {
    float: left;
    display: inline-block;
    line-height: 36px;
    margin: 0 5px;
}

.task-bar .btn, .task-bar .btn-group {
    margin-top: 7px;
}

.task-panel {
    float: left;
    font-weight: normal;
    height: 112px;
    width: 122px;
    list-style: none outside none;
    margin: 7px;
    padding: 0;
    position: relative;
    text-align: center;
    cursor: move;
    z-index: 4;
    border: 1px solid #A3A4AF;
    color: #FFFFFF;
    border-radius: 4px;
    background: #dbdce2 url("../img/bg-task-panel.jpg") repeat-x;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.task-panel span, .panel-input .instruction {
    bottom: 0;
    color: #FFFFFF;
    display: block;
    font-size: 12px !important;
    line-height: 18px;
    overflow: hidden;
    padding: 1px 0;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    background: #3b679e; /* Old browsers */
    background: -moz-linear-gradient(top,  #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b679e), color-stop(50%,#2b88d9), color-stop(51%,#207cca), color-stop(100%,#7db9e8));
    background: -webkit-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: -o-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: -ms-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: linear-gradient(to bottom,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 );
}

.task-element.task-name {
    text-align: left;
}

.task-element.task-name i.i-name {
    margin: 10px 0 0;
}

.task-bar .task-nav > li.task-element.task-name {
    line-height: 20px;
    text-align: left;
}

.task-element.task-name .name-second {
    white-space: pre;
    margin: -9px 0 0 22px;
    font-weight: normal;
    font-size: 12px;
    display: block;
    line-height: 25px;
}

.task-element.task-name .name-second-history {
    white-space: pre;
    margin: -5px 0 0;
    font-weight: normal;
    font-size: 12px;
    display: block;
    line-height: 25px;
}

.panel-img  {
    height: 64px;
    width: 64px;
    margin: 15px auto;
}

.float-left {
    float: left;
}

.ui-datepicker, #ui-timepicker-div {
    z-index: 9999 !important;
}

#helpModal.modal {
    width: 660px;
}

#helpModal.modal .header {
    color: #224477;
    font-size: 16px;
}

span.pointer {
    cursor: pointer;
    cursor: hand;
}

div.dragpopover {
    width: auto;
}

li.padding-botton6 {
    padding-bottom : 6px;
    height: 20px;
}

input.input-popover {
    height: 12px;
    width: 50px;
    margin: 0px 8px;
}
