.tab-content {
    padding-left: 0;
}

#sortable, sortable-no {
    list-style: none;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#sortable li, #sortable-no li {
    line-height: 26px;
    height: 26px;
    padding: 2px 6px;
    margin: 2px;
}

#sortable-no li {
    height: 28px;
}

#sortable li.active {
    cursor: move;
    border: 1px solid #92C7E3;
    border-radius: 6px;
    color: #224477;
    background: #ebf1f6;
    background: -moz-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb));
    background: -webkit-linear-gradient(top, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%);
    background: -o-linear-gradient(top, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%);
    background: -ms-linear-gradient(top, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%);
    background: linear-gradient(to bottom, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 );
}

#sortable input {
    line-height: 14px;
    padding: 0 6px;
}

#sortable span {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#sortable span > span {
    margin-top: 5px;
}

.validation-area.error input,
.validation-area.error select,
.validation-area.error textarea {
    border-color: #B94A48;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.validation-area.error .checkbox,
.validation-area.error .radio,
.validation-area.error input,
.validation-area.error select,
.validation-area.error textarea {
    color: #B94A48;
}

editable-content .actionField.input-block-level {
    min-height: 30px;
    width: 100%;
    padding: 3px 5px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

editable-content .actionField.input-block-level:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}

editable-content .actionField.input-block-level span.badge {
    margin: 0 2px;
}

.accordion-inner.task-content {
    padding: 0;
    border: none;
    box-shadow: none;
}

#accordion3 .accordion-inner.task-content {
    background: #deefff;
    background: -moz-linear-gradient(top,  #deefff 0%, #98bede 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deefff), color-stop(100%,#98bede));
    background: -webkit-linear-gradient(top,  #deefff 0%,#98bede 100%);
    background: -o-linear-gradient(top,  #deefff 0%,#98bede 100%);
    background: -ms-linear-gradient(top,  #deefff 0%,#98bede 100%);
    background: linear-gradient(to bottom,  #deefff 0%,#98bede 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 );
}

.tasks-list .inbox-header.paused,
#accordion3 .accordion-inner.task-content.paused {
    background: #FCFCFC;
    background: -moz-linear-gradient(top,  #FCFCFC 0%, #ACB7BF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FCFCFC), color-stop(100%,#ACB7BF));
    background: -webkit-linear-gradient(top,  #FCFCFC 0%,#ACB7BF 100%);
    background: -o-linear-gradient(top,  #FCFCFC 0%,#ACB7BF 100%);
    background: -ms-linear-gradient(top,  #FCFCFC 0%,#ACB7BF 100%);
    background: linear-gradient(to bottom,  #FCFCFC 0%,#ACB7BF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FCFCFC', endColorstr='#ACB7BF',GradientType=0 );
}

.tasks-list .inbox-header {
    padding: 5px 5px;
}

.tasks-list .task-nav > li.divider-vertical {
    border-left: 1px solid #A9CAE6;
    border-right: 1px solid #CEE3F7;
    height: 40px;
    margin: 0 5px;
    line-height: 40px;
}

.tasks-list .accordion-body .task-nav > li.divider-vertical {
    border-left: 1px solid #A9CAE6;
    border-right: 1px solid #CEE3F7;
    height: 40px;
    margin: 5px;
    line-height: 40px;
}

.tasks-list .task-element {
    text-align: center;
}

.tasks-list .task-nav.pull-right {
    font-weight: normal;
}

.tasks-list .task-element.task-offset {
    margin: 5px 15px;
}

.tasks-list .task-element img {
    border: none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.tasks-list .task-element .task-list-img {
    width: 36px;
}

.tasks-list .task-nav.pull-right .task-list-img {
    width: 28px;
}

.tasks-list .task-element .task-list-img-activity {
    width: 86px;
}

.tasks-list .task-element .task-list-img-arrow {
    width: 20px;
}

.tasks-list .task-element.task-active .task-list-img-activity {
    width: 19px;
    vertical-align: middle;
    padding: 0 1px 2px 2px;
}

.task-active .task-list-button-activity {
    background: #9ECEEF url("../img/bg-light-active.png") repeat-x;
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 9px;
    border: 1px solid #1566B1;
    border-radius: 6px;
    height: 20px;
    line-height: 20px;
}

.task-active .task-list-text-activity {
    background: #1566B1 url("../img/bg-active.png") repeat-x;
    padding: 0 6px;
    border-radius: 0 6px 6px 0;
    float: left;
}

.task-list-div-activity {
    float: left;
}

.tasks-list .task-element.task-paused .task-list-img-activity {
    width: 19px;
    vertical-align: middle;
    padding: 0 2px 2px 1px;
}

.task-paused .task-list-button-activity {
    background: #999999 url("../img/bg-light-paused.png") repeat-x;
    color: #EEEEEE;
    font-size: 13px;
    margin-top: 9px;
    border: 1px solid #666666;
    border-radius: 6px;
    height: 20px;
    line-height: 20px
}

.task-paused .task-list-text-activity {
    float: left;
    background: #333333 url("../img/bg-paused.png") repeat-x;
    padding: 0 5px;
    border-radius: 6px 0 0 6px;
}

.tasks-list .task-buttons {
    border: 1px solid #B2D8F8;
    border-radius: 4px;
    font-size: 12px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    color: #FFFFFF;
    background: #3b679e; /* Old browsers */
    background: -moz-linear-gradient(top,  #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b679e), color-stop(50%,#2b88d9), color-stop(51%,#207cca), color-stop(100%,#7db9e8));
    background: -webkit-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: -o-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: -ms-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: linear-gradient(to bottom,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 );
}

.tasks-list .task-buttons {
    border: 1px solid #B2D8F8;
    border-radius: 4px;
    background: #3b679e; /* Old browsers */
    background: -moz-linear-gradient(top,  #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b679e), color-stop(50%,#2b88d9), color-stop(51%,#207cca), color-stop(100%,#7db9e8));
    background: -webkit-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: -o-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: -ms-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: linear-gradient(to bottom,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 );
}

.task-bar .task-nav > li.task-buttons {
    line-height: 20px;
    margin: 10px 5px ;
}

.tasks-list .task-nav.pull-right {
    overflow: visible;
}

.tasks-list .task-buttons a {
    color: #ffffff;
}

.tasks-list .task-buttons a:hover {
    text-decoration: underline;
}

.tasks-list .button-task-in {
    padding: 2px 8px;
}

#accordion3.tasks-list, .tasks-list.alert {
    margin-bottom: 0;
}

#accordion3 .popover-title:empty, .history .popover-title:empty {
    display: none;
}

#accordion3 .accordion-heading .accordion-toggle,
#accordion4 .accordion-heading .accordion-toggle {
    padding: 0;
    border: none;
    color: #224477;
}
#accordion3 .accordion-heading .accordion-toggle:hover,
#accordion4 .accordion-heading .accordion-toggle:hover {
    color: #0088CC;
}

#accordion3 .task-list-group,
.task-group {
    border: 1px solid #B2D8F8;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 2px;

}

#accordion3 > div:last-child {
    margin-bottom: 0;
}

.accordion-heading .accordion-toggle.inbox-header {
    padding: 5px 10px;
}

.task-group .accordion-inner {
    border-top: none;
}

.task-group .control-section {
    background: #DEEEFF;
    border-radius: 4px;
    margin: 10px -10px;
    padding: 0 0 0 10px;
}

.move-element span {
    cursor: move;
    margin-right: 10px;
    z-index: 5;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.move-element.controls {
    min-height: 20px;
    margin-bottom: 5px;
    padding: 4px 0 0;
}

.arrow-drop1 {
    margin-left: -150px;
    margin-right: 30px;
}

.arrow-drop2 {
    margin-top: -30px;
}

.right-divider {
    border-right: 1px solid #7bb5fc;
    margin-right: -30px;
    padding-right: 30px;
}

.center-divider {
    border-left: 1px solid #7bb5fc;
    left: 50%;
    position:absolute;
    height: 100%;
    width: 2px;
}

.box-divider {
    position: relative;
    height: auto;
}

.outside-tb2 {
    margin: 20px 0;
}

.task-header {
    font-weight: bold;
    line-height: 20px;
    font-size: 15px;
    padding: 5px 10px;
    color: #224477;
    background: #f5f9fb;
    background: -moz-linear-gradient(top,  #f5f9fb 0%, #e0edf4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f9fb), color-stop(100%,#e0edf4));
    background: -webkit-linear-gradient(top,  #f5f9fb 0%,#e0edf4 100%);
    background: -o-linear-gradient(top,  #f5f9fb 0%,#e0edf4 100%);
    background: -ms-linear-gradient(top,  #f5f9fb 0%,#e0edf4 100%);
    background: linear-gradient(to bottom,  #f5f9fb 0%,#e0edf4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f9fb', endColorstr='#e0edf4',GradientType=0 );
    border-radius: 4px;
    -webkit-box-shadow: 0 0 2px #bec9de;
       -moz-box-shadow: 0 0 2px #bec9de;
            box-shadow: 0 0 2px #bec9de;
}

.task-content {
    border-radius: 4px;
    border: 1px solid #D4E1F9;
    background: #f5f9fb;
    background: -moz-linear-gradient(top,  #f5f9fb 0%, #e0edf4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f9fb), color-stop(100%,#e0edf4));
    background: -webkit-linear-gradient(top,  #f5f9fb 0%,#e0edf4 100%);
    background: -o-linear-gradient(top,  #f5f9fb 0%,#e0edf4 100%);
    background: -ms-linear-gradient(top,  #f5f9fb 0%,#e0edf4 100%);
    background: linear-gradient(to bottom,  #f5f9fb 0%,#e0edf4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f9fb', endColorstr='#e0edf4',GradientType=0 );
    -webkit-box-shadow: 0 0 2px #bec9de;
       -moz-box-shadow: 0 0 2px #bec9de;
            box-shadow: 0 0 2px #bec9de;
}

.task-content .imgArrow {
    float: left;
    padding: 45px 0 0 0;
    width: 50px;
}

.task-list {
    min-width: 120px;
    margin: 0;
    padding: 5px 5px 5px 0;
    float: none;
    list-style: none;
    color: #000000;
    overflow-x: hidden;
}

.task-list li.error {
    color: #fa0328;
}

.task-list li.info {
    color: #0044cc;
}

.task-list li.success {
    color: #0D800B;
}

/*----- Tasks - recent -----*/

.recent-activity-img {
    height: 36px;
    width: 36px;
}

.table-recent-activity {
    margin-bottom: 0;
    vertical-align: middle;
    margin-top: -1px;
}
.table-recent-activity.table-condensed td {
    padding: 1px 5px;
}

.table-recent-activity.centered tbody td {
    text-align: center;
}

.table-recent-activity tbody td {
    vertical-align: middle;
    word-wrap: break-word;
}

.recent-activity-arrow {
    width: 20px;
}

.recent-activity-icon {
    width: 30px;
}

.recent-name-first{
    font-weight: bold;
}

/*----- Tasks - history -----*/

.history .task-element .icon-chevron-right {
    height: 18px;
    line-height: 18px;
    vertical-align: middle;
}

.history .task-bar .task-nav > li.task-element.task-name {
    cursor: default;
}

.recent-activity-task-img {
    height: 26px;
    width: 26px;
}

.table-recent-activity-task {
    margin-bottom: 0;
    vertical-align: middle;
}

.table-recent-activity-task tbody td:first-child {
    min-width: 35px;
    text-align: center;
}

.table-recent-activity-task tbody td:last-child {
    min-width: 100px;
}

.table-recent-activity-task tbody td.message-history {
    width: 80%;
}

.table-recent-activity-task tbody td.message-history p {
    margin-top: 3px;
    margin-bottom: 3px;
}


.section-source .popover-content ul {
    list-style-type: square;
    color: #224477;
    text-align: left;
    margin-top: 5px;
}

.popover .popover-titles {
    color: #224477;
    background-color: #F7F7F7;
    border-bottom: 1px solid #EBEBEB;
    border-radius: 0;
    font-size: 14px;
    text-align: left;
    font-weight: bold;
    line-height: 18px;
    margin: 5px -10px 5px -10px;
    padding: 12px 14px 8px 14px;
}

.popover .popover-content p .popover-titles:first-child {
    margin-top: -1px;
    border-radius: 5px 5px 0 0;
}

.section-source .popover .popover-content {
    color: #224477;
    margin: 0;
    padding: 0 10px 10px 10px;
}

.section-source .popover-title {
    display: none;
}

.section-source .popover {
    width: 236px;
}

h3.popover-title {
    font-weight: bold;
}

.section-source {
    margin: 10px auto;
    position: relative;
}

.section-source .left-arrow {
    padding-right: 20px;
}

.section-source .left-arrow, .section-source .right-arrow {
    float: left;
    margin: 115px 0 0;
    width: 52px;
}

.section-source .right-arrow {
    padding-left: 20px;
}

.section-source .section-task {
    background-color: #E4F1F9;
    border: 1px solid #D4E1F9;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
    padding: 15px;
}

.section-source .task-selector {
    float: left;
    list-style-type: none;
}

.task-bar {
    overflow: visible;
}

.task-bar .task-nav {
    display: block;
    float: left;
    left: 0;
    margin: 0;
    padding: 0;
}
.task-bar .task-nav.pull-right {
    float: right;
}

.task-nav {
    list-style: none;
    overflow: hidden;
}

.task-bar .task-nav > li {
    float: left;
    display: inline-block;
    line-height: 36px;
    margin: 0 5px;
}

.task-bar .btn, .task-bar .btn-group {
    margin-top: 7px;
}

.task-panel {
    float: left;
    font-weight: normal;
    height: 112px;
    width: 122px;
    list-style: none outside none;
    margin: 7px;
    padding: 0;
    position: relative;
    text-align: center;
    cursor: move;
    border: 1px solid #A3A4AF;
    color: #FFFFFF;
    border-radius: 4px;
    background: #dbdce2 url("../img/bg-task-panel.jpg") repeat-x;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.task-panel span, .panel-input .instruction {
    bottom: 0;
    color: #FFFFFF;
    display: block;
    font-size: 12px !important;
    line-height: 18px;
    overflow: hidden;
    padding: 1px 0;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    background: #3b679e; /* Old browsers */
    background: -moz-linear-gradient(top,  #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b679e), color-stop(50%,#2b88d9), color-stop(51%,#207cca), color-stop(100%,#7db9e8));
    background: -webkit-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: -o-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: -ms-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: linear-gradient(to bottom,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 );
}

.task-panel.active {
    border: 1px solid #DC0000;
    box-shadow: 0 0 7px #DC0000;
}

.task-element.task-name {
    text-align: left;
}

.task-element.task-name .icon-fixed-width.i-name {
    width: 1em;
}

.task-bar .task-nav > li.task-element.task-name {
    line-height: 20px;
    text-align: left;
    cursor: pointer;
}

.task-element.task-name .name-second {
    margin: -7px 0 0 24px;
    font-weight: normal;
    font-size: 12px;
    display: block;
    line-height: 25px;
}

.task-element.task-name .name-second-history {
    white-space: pre;
    margin: -5px 0 0;
    font-weight: normal;
    font-size: 12px;
    display: block;
    line-height: 25px;
}

.panel-img  {
    height: 64px;
    width: 64px;
    margin: 15px auto;
}

.float-left {
    float: left;
}

.ui-datepicker, #ui-timepicker-div {
    z-index: 9999 !important;
}

.ui-datepicker.ui-widget {
    font-size: 0.9em;
}

.ui-timepicker-div select {
    width: auto;
    height: 24px;
    line-height: 18px;
    padding: 1px 3px;
    margin: 0 0 0 5px;
}

span.pointer, .pointer {
    cursor: pointer;
}

li.padding-botton6 {
    padding-bottom : 6px;
    height: 20px;
}

input.input-popover {
    width: 50px;
    margin: 0px 8px;
}

#helpModal.modal {
    width: 660px;
}

#helpModal.modal .header {
    color: #224477;
    font-size: 16px;
}

.control-help {
    float: left;
    padding-top: 5px;
    width: 160px;
}

pre {
    border: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.no-margin-bottom input[type="text"],
.no-margin-bottom editable-content {
    margin-bottom: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-margin-top input[type="radio"],
.no-margin-top editable-content {
    margin-top: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a, li a {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ----- Tasks enhancements -----*/

.create-edit-task .accordion {
    margin-bottom: 10px;
}

.create-edit-task .section-additives .control-group {
    margin-bottom: 10px;
}

.task.form-horizontal .control-label.task-label {
    float: left;
    font-size: 1.1em;
    font-weight: bold;
}

.btn-in-heading {
    margin: 0;
    padding: 4px 12px;
}

.btn-heading2 {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(9, 220, 216, 0.1);
    *background-color: #8DC9E4;
    background-image: -moz-linear-gradient(top, #5BBDF1, #8DC9E4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5BBDF1), to(#8DC9E4));
    background-image: -webkit-linear-gradient(top, #5BBDF1, #8DC9E4);
    background-image: -o-linear-gradient(top, #5BBDF1, #8DC9E4);
    background-image: linear-gradient(to bottom, #5BBDF1, #8DC9E4);
    background-repeat: repeat-x;
    border-color: #8DC9E4 #8DC9E4 #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bbdf1', endColorstr='#8dc9e4', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-heading2:hover {
    color: #ffffff;
    background-color: #8DC9E4;
    *background-color: #8DC9E4;
}

.btn-heading {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color:  rgba(35, 121, 167, 0.7);
    *background-color:  rgba(35, 121, 167, 0.7);
    background-image: -moz-linear-gradient(top, #rgba(110, 196, 242, 0.7),  rgba(35, 121, 167, 0.7));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(110, 196, 242, 0.7)), to( rgba(35, 121, 167, 0.7)));
    background-image: -webkit-linear-gradient(top, rgba(110, 196, 242, 0.7),  rgba(35, 121, 167, 0.7));
    background-image: -o-linear-gradient(top, rgba(110, 196, 242, 0.7),  rgba(35, 121, 167, 0.7));
    background-image: linear-gradient(to bottom, rgba(110, 196, 242, 0.7), rgba(35, 121, 167, 0.7));
    background-repeat: repeat-x;
    border-color: rgba(110, 196, 242, 0.7) rgba(110, 196, 242, 0.7) rgba(35, 121, 167, 0.7);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(110, 196, 242, 0.7)', endColorstr='rgba(35, 121, 167, 0.7)', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-heading:hover {
    color: #ffffff;
    background-color:  rgba(0, 77, 118, 0.7);
    *background-color:  rgba(0, 77, 118, 0.7);
}

.control-group.error .control-label.tip .popover,
.control-group .control-label.tip .popover {
    color: #595959;
    text-align: left;
}

.task .collapse.in {
    overflow:  ;
}

.fixed {
    background: #eee;
    width: 100%;
    height: 30px;
    padding: 4px;
    position: fixed;
}

i.close-channel {
    position: absolute;
    border-color: #c5c5c5;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    display: inline-block;
    *display: inline;
    padding: 3px;
    top: 0;
    right: 0;
    margin: 0;
    color: #333333;
    vertical-align: middle;
    cursor: pointer;
    background-color: #CF0000;
    border: 1px solid #bbbbbb;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(220, 0, 0, 0.1) rgba(220, 0, 0, 0.25);
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    opacity: 0.0;
}

.task-panel.active i.close-channel {
    opacity: 1;
    color: #ffffff;
}

i.close-channel:hover {
    color: #333333;
    text-decoration: none;
    background-color: #ad0000;
}

i.close-channel.icon-remove {
    background-position: -309px 3px;
}

.accordion-heading a:hover {
    text-decoration: none;
    cursor: auto;
}

.dropdown-small-fluid {
    min-width: 60px;
}

.dropdown-medium-fluid {
    min-width: 100px;
}

.dropdown-large-fluid {
    min-width: 140px;
}

.radio-inline {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.radio-inline + .radio-inline {
    padding-left: 40px;
}

.interval {
    min-height: 20px;
    padding-left: 20px;
}

.interval2 {
    min-height: 20px;
    padding-left: 40px;
}

.inside-0 {
    padding: 0 10px;
}