<div class="content-lookups">
    <div class="indexes-body clearfix">
        <div class="indexes-column">
            <div class="indexes-list" ng-click="setLookupFocus()" ng-if="advancedSettings.indexes.length">
                <div class="list-group">
                    <a ng-repeat="index in advancedSettings.indexes" class="list-group-item" ng-keydown="changeActiveIndex($event)" id="lookup-{{$index}}" tabindex="0" ng-click="setActiveIndex($index)" ng-class="{active: isActiveIndex($index)}">
                        {{index.lookupName}}
                    </a>
                </div>
            </div>
            <div class="form-group">
                <button ng-click="addNewIndex()" class="btn-success list-group-item" ng-show="!selectedEntity.readOnly" type="button" href="#">
                    <i class="icon-plus icon-white"></i> {{msg('mds.btn.newLookup')}}
                </button>
            </div>
        </div>

        <div class="lookups" ng-hide="activeIndex==-1">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-4 control-label">{{msg('mds.form.label.lookupName')}}</label>
                    <div class="col-sm-8 form-inline">
                        <input type='text' class="form-control input-large" ng-show="!selectedEntity.readOnly" ng-required="true" ng-model='lookup.lookupName' id="lookup.name" maxlength="35" mds-auto-save-advanced-change mds-path="indexes.{{activeIndex}}.lookupName"/>
                        <span class="form-hint-error" ng-hide="lookup.lookupName">{{msg('mds.error.emptyLookup')}}</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">{{msg('mds.form.label.lookupReturns')}}</label>
                    <div class="col-sm-8 form-inline">
                        <label class="radio">
                            <input type="radio" ng-disabled="selectedEntity.readOnly" ng-model="lookup.singleObjectReturn" ng-value="true" mds-auto-save-advanced-change="click" mds-path="indexes.{{activeIndex}}.singleObjectReturn"/> {{msg('mds.form.singleObject')}}
                        </label>
                        <label class="radio offset-1">
                            <input type="radio" ng-disabled="selectedEntity.readOnly" ng-model="lookup.singleObjectReturn" ng-value="false" mds-auto-save-advanced-change="click" mds-path="indexes.{{activeIndex}}.singleObjectReturn"/> {{msg('mds.form.multipleObjects')}}
                        </label>
                    </div>
                </div>

                <div ng-repeat="lookupField in lookup.fieldList">
                    <div class="form-group">
                        <div class="col-sm-4 control-label">{{msg('mds.form.label.field')}}</div>
                        <div class="col-sm-8 form-inline">
                            <button class="btn btn-default dropdown-toggle input-large" data-toggle="dropdown" href="#">
                               {{getFieldDisplayNameByFieldId(lookupField) || msg('mds.form.selectField')}}
                               <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu input-large">
                                <li class="input-large" ng-disabled="selectedEntity.readOnly" ng-repeat="field in availableFields">
                                    <a ng-click="selectField(lookupField, field.id)">{{field.basic.displayName}}</a>
                                </li>
                            </ul>
                            <button href="#" type="button" class="btn btn-danger" ng-click="removeLookupField(lookupField)" ng-disabled="selectedEntity.readOnly">
                                <i class="icon-trash icon-white"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </form>

            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                    <button href="#" type="button" class="btn btn-success" ng-click="addLookupField()" ng-if="canAddLookupFields()" ng-show="!selectedEntity.readOnly">
                        <i class="icon-plus icon-white"></i> {{msg('mds.btn.newLookupField')}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="indexes-foot form-group">
        <div class="button-delete" ng-show="!selectedEntity.readOnly" ng-if="activeIndex>-1">
            <button href="#" type="button" class="btn btn-danger" ng-click="deleteLookup()">
                <i class="icon-trash icon-white"></i> {{msg('mds.btn.delete')}}
            </button>
        </div>
    </div>
</div>
