<div>
    <div class="accordion" mds-header-accordion>
        <div class="inbox-header" data-toggle="collapse" data-target="#rest-fields">
            <i class="accordion-icon icon-chevron-down icon-large"></i>{{msg('mds.rest.fields')}}
        </div>
        <div class="accordion-content collapse in" id="rest-fields">
            <div class="collapse-body">
                <div id="availableFieldsContainer" class="outer-container">
                    <h4>{{msg('mds.advanced.dataBrowsing.availableFields')}}</h4>
                    <div class="scroll-container">
                        <div class="container-space" connected-list-source="selectedEntityAdvancedAvailableFields" connect-with="rest-fields" droppable="true">
                            <div class="container-item" draggable="true" connect-with="rest-fields" item-index="{{$index}}" connected-list-source-item ng-repeat="field in selectedEntityAdvancedAvailableFields">
                                {{field.basic.displayName}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="buttons-container">
                    <div class="btn-group-vertical">
                        <button connected-list-btn-from connect-with="rest-fields" class="btn" ng-disabled="!canMoveLeftRest()">
                            <span class="icon-chevron-left" />
                        </button>
                        <button connected-list-btn-from-all connect-with="rest-fields" class="btn"  ng-disabled="!canMoveAllLeftRest()">
                            <span class="icon-chevron-left" /><span class="icon-chevron-left" />
                        </button>
                    </div>
                    <br/><br/>
                    <div class="btn-group-vertical">
                        <button connected-list-btn-to-all connect-with="rest-fields" class="btn" ng-disabled="!canMoveAllRightRest()">
                            <span class="icon-chevron-right" /><span class="icon-chevron-right" />
                        </button>
                        <button connected-list-btn-to connect-with="rest-fields" class="btn" ng-disabled="!canMoveRightRest()">
                            <span class="icon-chevron-right" />
                        </button>
                    </div>
                </div>

                <div id="displayFieldsContainer" class="outer-container">
                    <h4>{{msg('mds.advanced.dataBrowsing.displayFields')}}</h4>
                    <div class="scroll-container">
                        <div class="container-space" connected-list-target="selectedEntityAdvancedFields" connect-with="rest-fields" droppable="true">
                            <div class="container-item" draggable="true" connect-with="rest-fields" item-index="{{$index}}" connected-list-target-item ng-repeat="field in selectedEntityAdvancedFields">
                                {{field.basic.displayName}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion" mds-header-accordion>
        <div class="inbox-header" data-toggle="collapse" data-target="#rest-actions">
            <i class="accordion-icon icon-chevron-down icon-large"></i>{{msg('mds.rest.actions')}}
        </div>
        <div class="accordion-content collapse in" id="rest-actions">
            <form>
                <label class="checkbox inline">
                    <input type="checkbox" ng-model="advancedSettings.restOptions.create"> {{msg('mds.rest.actions.create')}}
                </label>
                <label class="checkbox inline">
                    <input type="checkbox" ng-model="advancedSettings.restOptions.read"> {{msg('mds.rest.actions.read')}}
                </label>
                <label class="checkbox inline">
                    <input type="checkbox" ng-model="advancedSettings.restOptions.update"> {{msg('mds.rest.actions.update')}}
                </label>
                <label class="checkbox inline">
                    <input type="checkbox" ng-model="advancedSettings.restOptions.delete"> {{msg('mds.rest.actions.delete')}}
                </label>
            </form>
        </div>
    </div>
    <div ng-if="advancedSettings.indexes.length" class="accordion" mds-header-accordion>
        <div class="inbox-header" data-toggle="collapse" data-target="#rest-lookups">
            <i class="accordion-icon icon-chevron-down icon-large"></i>{{msg('mds.rest.lookups')}}
        </div>
        <div class="accordion-content collapse in" id="rest-lookups">
            <form>
                <label class="checkbox" ng-repeat="lookup in advancedSettings.indexes">
                    <input type="checkbox" ng-model="selectedEntityRestLookups[$index]"> {{lookup.lookupName}}
                </label>
            </form>
        </div>
    </div>
</div>