/* -- override Jquery Grid -- */

.overrideJqgridTable .ui-jqgrid input.ui-pg-input {
    width: auto;
    height: 24px;
    line-height: 24px;
    padding: 1px 3px;
    font-size: 13px;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
}

.overrideJqgridTable .ui-jqgrid select.ui-pg-selbox {
    width: auto;
    height: 24px;
    line-height: 24px;
    padding: 1px 3px;
    font-size: 13px;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
}

.overrideJqgridTable .ui-widget-header {
    background: #224477 url("../../img/navbar.jpg") repeat-x 0 0;
}

.overrideJqgridTable .ui-jqgrid.ui-widget-content {
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 0 0 4px 4px;
    border-top: 1px solid #D4E1F9;
}

.overrideJqgridTable .ui-jqgrid .table-lightblue .ui-widget-content {
    background: #E4F1F9;
}

.overrideJqgridTable .table-lightblue .ui-widget-content {
    border: 1px solid #D4E1F9;
}

.overrideJqgridTable .ui-jqgrid .ui-jqgrid-htable.table-lightblue th {
    border-color: #c5dbec;
    color: #224477;
    background: #CBE6FF;
    background: -moz-linear-gradient(top,  #CBE6FF 0%, #B7D8F2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CBE6FF), color-stop(100%,#B7D8F2));
    background: -webkit-linear-gradient(top,  #CBE6FF 0%,#B7D8F2 100%);
    background: -o-linear-gradient(top,  #CBE6FF 0%,#B7D8F2 100%);
    background: -ms-linear-gradient(top,  #CBE6FF 0%,#B7D8F2 100%);
    background: linear-gradient(to bottom,  #CBE6FF 0%,#B7D8F2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CBE6FF', endColorstr='#B7D8F2', GradientType=0 );
    -webkit-box-shadow: 0 0 2px #bec9de;
       -moz-box-shadow: 0 0 2px #bec9de;
            box-shadow: 0 0 2px #bec9de;
}

.overrideJqgridTable .ui-jqgrid .ui-jqgrid-view {
    font-size: 0.95em;
}

.overrideJqgridTable .ui-jqgrid .ui-state-highlight,
.overrideJqgridTable .ui-jqgrid .ui-widget-content .ui-state-highlight,
.overrideJqgridTable .ui-jqgrid .ui-widget-header .ui-state-highlight {
    border-color: #D4E1F9;
    background: #EDF5F9;
}

.overrideJqgridTable .ui-jqgrid.ui-widget-content {
    background: #E4F1F9;
}

.overrideJqgridTable .ui-jqgrid .ui-jqgrid-titlebar {
    padding: .3em .2em .2em .5em;
    font-size: 15px;
    color: #C2EAFE;
}

.overrideJqgridTable .ui-jqgrid .ui-jqgrid-htable th div {
    height: 30px;
    line-height: 30px;
}

.overrideJqgridTable .ui-jqgrid-btable .ui-widget-content ul {
    margin: 0 0 0 10px;
    color: #0088CC;
}

.overrideJqgridTable .ui-jqgrid-btable .ui-widget-content li {
    line-height: 18px;
    float: left;
    margin: 0 15px;
}

.overrideJqgridTable .ui-jqgrid-btable .ui-widget-content li a {
    text-decoration: underline;
    color: #0088CC;
}

.overrideJqgridTable .ui-jqgrid-btable .ui-widget-content li a:hover {
    text-decoration: none;
}

.overrideJqgridTable .ui-jqgrid tr.jqgrow td {
    padding: 4px 6px;
}

.overrideJqgridTable .ui-jqgrid-labels > th {
    border-right: 0 none;
}

.overrideJqgridTable .ui-jqgrid .ui-jqgrid-pager {
    font-size: 13px;
    height: 30px;
}

.overrideJqgridTable .ui-jqgrid .ui-pg-button {
    height: 22px !important;
}