<div id="removeBundleModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="removeBundleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="removeBundleModalLabel">{{msg('admin.confirm')}}</h4>
            </div>
            <div class="modal-body">
                {{msg('admin.bundles.uninstall.confirm')}}
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" ng-click="uninstallBundle(bundle, false)">{{msg('admin.remove')}}</button>
                <button class="btn btn-primary" data-dismiss="modal" ng-click="uninstallBundle(bundle, true)">{{msg('admin.remove.config')}}</button>
                <button class="btn btn-default" data-dismiss="modal">{{msg('admin.cancel')}}</button>
            </div>
        </div>
    </div>
</div>