legend {
    font-size: 1em;
    font-weight: bold;
}

.single-row-table {
    margin-bottom: 0;
    border: 0;
}

.calllogs-head tr th {
    width: 16%;
}

.calllogs-body .accordion-group {
    margin-bottom: 0;
    border-top-width: 0;
}

.calllogs-body .accordion-toggle {
    padding: 0;
}

.calllogs-body table tr td {
    width: 16%;
}

.call-event {
    margin-bottom: 10px;
}

.call-event .popover {
    position: fixed;
}

.call-event div.popover-content {
    margin: 0;
    padding: 0;
}

.padded {
    padding: 4px;
}

.call-event .popover-content table {
    margin: 0;
}

.slider-control {
    width: 36px;
}

#filter-title {
    text-decoration: none;
}

.pagination ul li a {
    min-width: 20px;
    text-align: center;
}
