<?xml version="1.0" encoding="UTF-8"?>
<Response>
    #foreach( $prompt in $node.noticePrompts )
        #if($prompt.class.simpleName == "AudioPrompt")
            <Play>$prompt.audioFileUrl</Play>
        #elseif ($prompt.class.simpleName == "TextToSpeechPrompt")
            <Say>$prompt.message</Say>
        #end
    #end
    #if($isUserInputNeeded)
        #set ($url = "$scheme://$host$contextPath$servletPath/ivr?provider=$provider&ln=$language&tree=$treeName")
        #set ($maxTimeoutInSeconds = $maxTimeout / 1000)
        <Gather method="POST" action="$escape.escapeXml($url)" numDigits="$maxDigits" timeout="$maxTimeoutInSeconds" finishOnKey="$transitionKeyEndMarker">
            #foreach( $prompt in $node.prompts )
                #if($prompt.class.simpleName == "AudioPrompt")
                    <Play>$prompt.audioFileUrl</Play>
                #elseif ($prompt.class.simpleName == "TextToSpeechPrompt")
                    <Say>$prompt.message</Say>
                #end
            #end
        </Gather>
        #if($node.hasNoInputTransition())
            #set ($noInputUrl = "$url&Digits=")
            <Redirect method="POST">$escape.escapeXml($noInputUrl)</Redirect>
        #end
    #else
        #foreach( $prompt in $node.prompts )
            #if($prompt.class.simpleName == "AudioPrompt")
                <Play>$prompt.audioFileUrl</Play>
            #elseif ($prompt.class.simpleName == "TextToSpeechPrompt")
                <Say>$prompt.message</Say>
            #elseif ($prompt.class.simpleName == "DialPrompt")
                #set ($url = "$scheme://$host$contextPath$servletPath/ivr?provider=$provider&ln=$language&tree=$treeName")
                #set ($callerIdAttribute = "")
                #if($prompt.callerId)
                    #set ($callerIdAttribute = 'callerId="' + ${prompt.callerId} + '"')
                #end
                <Dial $callerIdAttribute action="$escape.escapeXml($url)">$prompt.phoneNumber</Dial>
            #end
        #end
    #end
</Response>