<form>
    <div class="control-group">
        {{msg('mds.dataRetention.info')}}
    </div>
    <div class="control-group">
        <input type="radio" ng-model="settings.deleteMode" value="delete" ng-click="checkDisable()">
        <label class="label-radio">{{msg('mds.dataRetention.delete')}}</label>
    </div>
    <div class="control-group">
        <input type="radio" ng-model="settings.deleteMode" value="trash" ng-click="checkDisable()">
        <label class="label-radio">{{msg('mds.dataRetention.trash')}}</label>
    </div>
    <div class="control-group">
        <input type="checkbox" ng-model="settings.emptyTrash" ng-disabled="checkCheckboxDisable()">
        <label class="label-radio">{{msg('mds.dataRetention.emptyTrash')}}</label>
        <div class="settings-input-group">
            <input ng-disabled="checkTimeSelectDisable()" type="number" min="1" ng-model="settings.timeValue">
            <select ng-disabled="checkTimeSelectDisable()" ng-model="settings.timeUnit" ng-options="t for t in timeUnits"></select>
        </div>
    </div>
    <span class="btn" ng-click="saveSettings()">{{msg('mds.dataRetention.save')}}</span>

</form>