<ul class=inline>
    <li class="backButton">
        <button ng-click="unselectEntity()" type="button" class="btn btn-primary">
            {{msg('mds.btn.backToList')}}
        </button>
    </li>

    <li class="fieldsSelect">
        <select class="multiselect" ng-model="selectedFields" ng-options="field as field.basic.displayName for field in fields"
                multiple="multiple" multiselect-dropdown >
            <option class="active" value="{{field.basic.displayName}}">{{field.basic.displayName}}</option>
        </select>
    </li>

    <li class="exportCsvButton">
        <button ng-click="exportEntityInstances()" type="button" class="btn btn-default">
            {{msg('mds.btn.exportCsv')}}
        </button>
    </li>
</ul>

<div id="entityInstancesTable" class="overrideJqgridTable">
    <table id="resourceTable" entity-instances-grid="pageResourceTable"></table>
    <div id="pageResourceTable"></div>
</div>
