<div id="inner-center" class="security inner-center ui-layout-center ui-layout-pane ui-layout-pane-center">
    <div class="header-footer-breadcrumb">
        <ul class="breadcrumb" role="navigation">
            <li><a role="menu" ui-sref="home">{{msg('server.home')}}</a></li>
            <li ng-show="selectedTabState.selectedTab === 'profile'"><a role="menu" ui-sref="webSecurity.profile">{{msg('websecurity')}}</a></li>
            <li ng-show="selectedTabState.selectedTab === 'permissions'"><a role="menu" ui-sref="webSecurity.permissions">{{msg('websecurity')}}</a></li>
            <li ng-show="selectedTabState.selectedTab === 'roles'"><a role="menu" ui-sref="webSecurity.roles">{{msg('websecurity')}}</a></li>
            <li ng-show="selectedTabState.selectedTab === 'users'"><a role="menu" ui-sref="webSecurity.users">{{msg('websecurity')}}</a></li>
            <li ng-show="selectedTabState.selectedTab === 'dynamicURL'"><a role="menu" ui-sref="webSecurity.dynamicURL">{{msg('websecurity')}}</a></li>
            <li ng-show="selectedTabState.selectedTab === 'profile'" ng-class="{'active': selectedTabState.selectedTab === 'profile'}">{{msg('security.profile')}}</li>
            <li ng-show="selectedTabState.selectedTab === 'permissions'" ng-class="{'active': selectedTabState.selectedTab === 'permissions'}">{{msg('security.managePermissions')}}</li>
            <li ng-show="selectedTabState.selectedTab === 'roles'" ng-class="{'active': selectedTabState.selectedTab === 'roles'}">{{msg('security.manageRoles')}}</li>
            <li ng-show="selectedTabState.selectedTab === 'users'" ng-class="{'active': selectedTabState.selectedTab === 'users'}">{{msg('security.administeringUsers')}}</li>
            <li ng-show="selectedTabState.selectedTab === 'dynamicURL'" ng-class="{'active': selectedTabState.selectedTab === 'dynamicURL'}">{{msg('security.manageURL')}}</li>
        </ul>
    </div>
    <div class="header-footer">
        <ul id="content-tabs" class="nav nav-tabs">
            <li ng-show="selectedTabState.selectedTab === 'profile'" ng-class="{'active': selectedTabState.selectedTab === 'profile'}"
                ng-click="selectedTabState.selectedTab = 'profile'"><a id="tab-webSecurity-profile" ui-sref="webSecurity.profile">{{msg('security.profile')}}</a></li>
            <li ng-show="selectedTabState.selectedTab === 'permissions'" ng-class="{'active': selectedTabState.selectedTab === 'permissions'}"
                ng-click="selectedTabState.selectedTab = 'permissions'"><a id="tab-webSecurity-permissions" ui-sref="webSecurity.permissions">{{msg('security.managePermissions')}}</a></li>
            <li ng-show="selectedTabState.selectedTab === 'roles'" ng-class="{'active': selectedTabState.selectedTab === 'roles'}"
                ng-click="selectedTabState.selectedTab = 'roles'"><a id="tab-webSecurity-roles" ui-sref="webSecurity.roles">{{msg('security.manageRoles')}}</a></li>
            <li ng-show="selectedTabState.selectedTab === 'users'" ng-class="{'active': selectedTabState.selectedTab === 'users'}"
                ng-click="selectedTabState.selectedTab = 'users'"><a id="tab-webSecurity-users" ui-sref="webSecurity.users">{{msg('security.administeringUsers')}}</a></li>
            <li ng-show="selectedTabState.selectedTab === 'dynamicURL'" ng-class="{'active': selectedTabState.selectedTab === 'dynamicURL'}"
                ng-click="selectedTabState.selectedTab = 'dynamicURL'"><a id="tab-webSecurity-dynamicURL" ui-sref="webSecurity.dynamicURL">{{msg('security.manageURL')}}</a></li>
        </ul>
    </div>
    <div class="ui-layout-content">
        <div class="tab-content"  id="tab-content">
            <div id="main-content" class="tab-pane active">
                <div ui-view="websecurityView"></div>
            </div>
        </div>
    </div>
</div>

<div id="inner-east" class="security inner-east ui-layout-pane ui-layout-pane-east hidden">
    <div class="header-toolbar header-footer"></div>
    <div class="ui-layout-content"></div>
</div>

