form.form-horizontal {
    margin: 0;
}
.metrics.nav.nav-tabs {
    border-bottom: medium none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 10px;
}

.tab-content {
    padding-left: 0;
}