<div class="box-content inside">
    <h4 class="frame-title">{{ msg('metrics.settings.backends.title')}}</h4>
    <form name="metricsAgentImplForm" class="form-horizontal inside">
        <div class="control-group">
            <label class="control-label">{{msg('metrics.settings.backend.select')}}</label>
            <div class="controls">
                <select class="multiselect" ng-model="selectedImplementations" ng-options="item as item for item in metricsImplementations"
                        multiple="multiple" multiselect-dropdown >
                </select>
            </div>
        </div>
        <button class="btn btn-primary ng-binding" ng-click="setUsedImplementations()">{{msg('metrics.save')}}</button>
    </form>
</div>
<div class="box-content inside" ng-repeat="(impl, settings) in metricsSettings">
    <h4 class="frame-title">{{impl}}</h4>
    <form class="form-horizontal inside">
        <div class="control-group" ng-repeat="(key, configProperty) in settings">
            <label class="control-label">{{configProperty.displayName}}</label>
            <div class="controls" ng-switch on="configProperty.type">
                <input ng-switch-when="INTEGER" type="text" integer ng-model="configProperty.value" />
                <input ng-switch-when="DOUBLE" type="text" double ng-model="configProperty.value" />
                <input ng-switch-when="BOOLEAN" type="checkbox" ng-model="configProperty.value" ng-true-value="true" ng-false-value="false" />
                <input ng-switch-default type="text" ng-model="configProperty.value" />
            </div>
        </div>
        <button class="btn btn-primary ng-binding" ng-click="saveSettings(impl, settings)">{{msg('metrics.save')}}</button>
    </form>
</div>