<div class="row">

    <div id="operations-email-logging" class="form-group">
        <div class="btn-group">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exportEmailLogModal">
                <i class="icon-upload-alt"></i>&nbsp;{{msg('email.logging.export')}}
            </button>
            <button type="button" class="btn btn-info" id="email-logging-filters">
                <i class="icon-filter icon-white"></i>&nbsp;{{msg('email.logging.filters')}}
            </button>
        </div>
    </div>

    <!--<div class="collapse in margin-before" id="collapse-email-logging">
        <div class="inside">

            <div class="row">
                <div class="col-sm-5">
                    <fieldset class="inside"><legend>{{msg('email.logging.search')}}</legend>
                        <div class="form-group form-inline">
                            <input type="text" class="input-xlarge-fluid form-control search-query" placeholder="{{msg('email.logging.search')}}" name="subject" auto-complete="subject" data-event-type="keyup" data-search-field="subject" jqgrid-search="emailLoggingTable">
                        </div>
                    </fieldset>
                </div>
                <div class="col-sm-7">
                    <fieldset class="inside"><legend>{{msg('email.logging.dates')}}</legend>
                        <div class="form-group form-inline">
                            <span class="col-md-3 col-sm-3 control-label">{{msg('email.logging.creationDate')}}</span>
                            <input id="dateTimeFrom" grid-date-picker-from="" type="datetime" class="col-sm-4 input-auto form-control search-query" placeholder="{{msg('email.logging.fromAddress')}}" data-event-type="change" data-search-field="timeFrom" jqgrid-search="emailLoggingTable">
                            <input id="dateTimeTo" grid-date-picker-to="" type="datetime" class="offset-1 col-sm-4 input-auto form-control search-query" placeholder="{{msg('email.logging.toAddress')}}" data-event-type="change" data-search-field="timeTo" jqgrid-search="emailLoggingTable">
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <fieldset class="inside"><legend>{{msg('email.logging.disposition')}}</legend>
                        <div data-toggle="buttons-checkbox" class="btn-group form-group">
                            <button id="ERROR" class="btn btn-info active" type="button" data-field-type="array" data-search-field="deliveryStatus" data-search-value="ERROR" jqgrid-search="emailLoggingTable"><i class="icon-white icon-ok"></i> {{msg('email.logging.error')}}</button>
                            <button id="SENT" class="btn btn-info active" type="button" data-field-type="array" data-search-field="deliveryStatus" data-search-value="SENT" jqgrid-search="emailLoggingTable"><i class="icon-white icon-ok"></i> {{msg('email.logging.sent')}}</button>
                            <button id="RECEIVED" class="btn btn-info active" type="button" data-field-type="array" data-search-field="deliveryStatus" data-search-value="RECEIVED" jqgrid-search="emailLoggingTable"><i class="icon-white icon-ok"></i> {{msg('email.logging.received')}}</button>
                         </div>
                    </fieldset>
                </div>
            </div>

        </div>
    </div>-->

    <div id="outsideEmailLoggingTable" class="overrideJqgridTable">
        <table id="emailLoggingTable" emaillogging-grid="pageResourceTable"></table>
        <div id="pageResourceTable"></div>
    </div>

    <div id="exportEmailLogModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="closeExportEmailLogModal()">&times;</button>
                    <h4 class="modal-title">{{msg('email.logging.export')}}</h4>
                </div>
                <div class="modal-body">
                    <form id="exportEmailLogForm" name="exportEmailLogForm" class="form-horizontal" action="../email/emails/export" method="GET">
                        <div class="form-group">
                            <label class="col-md-3 col-sm-4 control-label">{{msg('email.logging.exportEmailsLog')}}</label>
                            <div class="form-inline col-md-3 col-sm-4">
                                <div class="btn-group">
                                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                                        {{ msg('email.logging.' + loggingRange)}}
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="range in availableRange" ng-click="change(range)"><a>{{ msg('email.logging.' + range) }}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <span id="exportDate" class="help-hint hidden"><input id="monthPicker" export-date-picker-from="" type="text" class="form-control nodays input-small-fluid" data-event-type="change" /></span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="exportEmailLog()">{{msg('email.logging.export')}}</button>
                    <button class="btn btn-default" ng-click="closeExportEmailLogModal()">{{msg('email.logging.close')}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
