<!------------------------  Settings  ------------------------------------->
<div class="row-fluid tab-frame">
    <h4 class="frame-title">{{ msg('email.settings.title')}}</h4>
    <div class="inside">
        <div class="clearfix margin-before">
            <form id="emailSettingsForm" name="emailSettingsForm" class="form-horizontal" novalidate>

                <div class="control-group" ng-class="{'error': !settings.host}">
                    <label class="control-label" for="settingsHost">{{msg('email.settings.host')}}:</label>

                    <div class="controls">
                        <input ng-model="settings.host" type="text" id="settingsHost" required/>
                        <span ng-hide="settings.host" class="form-hint">{{msg('email.field.required', msg('email.settings.host'))}}</span>
                    </div>
                </div>

                <div class="control-group" ng-class="{'error': !settings.port}">
                    <label class="control-label" for="settingsPort">{{msg('email.settings.port')}}:</label>

                    <div class="controls">
                        <input ng-model="settings.port" type="text" id="settingsPort" required/>
                        <span ng-hide="settings.port" class="form-hint">{{msg('email.field.required', msg('email.settings.port'))}}</span>
                        <span ng-hide="isNumeric('port')" class="form-hint">{{msg('email.field.numeric', msg('email.settings.port'))}}</span>
                    </div>
                </div>

                <h4 class="settings-section">{{msg('email.settings.log.title1')}}</h4>

                <div class="control-group">
                    <div class="controls">
                        <label class="" for="settingsLogAddress">
                            <input ng-model="settings.logAddress" type="checkbox" id="settingsLogAddress"
                                   ng-true-value="true" ng-false-value="false" />
                            {{msg('email.settings.log.address')}}
                        </label>
                    </div>

                    <div class="controls">
                        <label class="" for="settingsLogSubject">
                            <input ng-model="settings.logSubject" type="checkbox" id="settingsLogSubject"
                                   ng-true-value="true" ng-false-value="false" />
                            {{msg('email.settings.log.subject')}}
                        </label>
                    </div>

                    <div class="controls">
                        <label class="" for="settingsLogBody">
                            <input ng-model="settings.logBody" type="checkbox" id="settingsLogBody"
                                   ng-true-value="true" ng-false-value="false" />
                            {{msg('email.settings.log.body')}}
                        </label>
                    </div>
                </div>

                <h4 class="settings-section">{{msg('email.settings.log.title2')}}</h4>

                <div class="control-group">
                    <div class="controls">
                        <input ng-model="settings.logPurgeEnable" type="checkbox" id="settingsLogPurgeEnable"
                               ng-true-value="true" ng-false-value="false" />
                        {{msg('email.settings.log.purge')}}

                        <input purgeTime="purgeTime" ng-disabled="purgeTimeControlsDisabled()" ng-model="settings.logPurgeTime" type="text" id="settingsLogPurgeTime" />

                        <select ng-disabled="purgeTimeControlsDisabled()"  ng-model="settings.logPurgeTimeMultiplier" ng-options="k as v for (k , v) in timeMultipliers" >
                        </select>
                    </div>
                    </div>

                <div class="controls">
                    <input ng-disabled="emailSettingsForm.$invalid" ng-click="submit()" type="button" value="{{msg('email.settings.submit')}}" class="btn btn-primary"/>
                </div>

            </form>
        </div>
    </div>
</div>

