<div class="row">

    <div class="box-content inside">
        <div class="">
            <a class="btn btn-info btn-xs pull-right" href="#/admin/bundles" title="{{msg('admin.back')}}" alt="{{msg('admin.back')}}">
                <i class="fa fa-lg fa-arrow-circle-left"></i>
            </a>
        </div>
        <div class="bundle-prop" ng-if="module.bundleId !== undefined">
            <span><img ng-src="../server/module/icon?bundleId={{module.bundleId}}" alt="module-logo" class="large-icon"/></span>
            <span class="inside"><h2>{{module.name}}</h2></span>
        </div>
        <div class="bundle-prop">
            <div class="bundle-dtLabel">{{msg('admin.bundles.symbolicName')}}</div>
            <div class="bundle-dtValue">{{module.symbolicName}}</div>
        </div>
        <div class="bundle-prop">
            <div class="bundle-dtLabel">{{msg('admin.bundles.version')}}</div>
            <div class="bundle-dtValue">{{module.printVersion()}}</div>
        </div>
        <div class="bundle-prop">
            <div class="bundle-dtLabel">{{msg('admin.bundles.state')}}</div>
            <div class="bundle-dtValue">{{msg('admin.bundle.state.' + module.state.toLowerCase())}}</div>
        </div>
        <div class="bundle-prop">
            <div class="bundle-dtLabel">{{msg('admin.bundles.location')}}</div>
            <div class="bundle-dtValue">{{module.location}}</div>
        </div>
        <div class="bundle-prop">
            <div class="bundle-dtLabel">{{msg('admin.bundles.builtBy')}}</div>
            <div class="bundle-dtValue">{{module.builtBy}}</div>
        </div>
        <div class="bundle-prop">
            <div class="bundle-dtLabel">{{msg('admin.bundles.tool')}}</div>
            <div class="bundle-dtValue">{{module.tool}}</div>
        </div>
        <div class="bundle-prop">
            <div class="bundle-dtLabel">{{msg('admin.bundles.createdBy')}}</div>
            <div class="bundle-dtValue">{{module.createdBy}}</div>
        </div>
        <div class="bundle-prop">
            <div class="bundle-dtLabel">{{msg('admin.bundles.vendor')}}</div>
            <div class="bundle-dtValue">{{module.vendor}}</div>
        </div>
        <div class="bundle-prop">
            <div class="bundle-dtLabel">{{msg('admin.bundles.buildJDK')}}</div>
            <div class="bundle-dtValue">{{module.buildJDK}}</div>
        </div>
        <div class="bundle-prop">
            <div class="bundle-dtLabel">{{msg('admin.bundles.lastModified')}}</div>
            <div class="bundle-dtValue">{{printDate(module.lastModified) | date:'medium'}}</div>
        </div>
        <div class="bundle-prop">
            <div class="bundle-dtLabel">{{msg('admin.bundles.bundleActivator')}}</div>
            <div class="bundle-dtValue">{{module.bundleActivator}}</div>
        </div>
        <div class="bundle-prop">
            <div class="bundle-dtLabel">{{msg('admin.bundles.description')}}</div>
            <div class="bundle-dtValue">{{module.description}}</div>
        </div>
        <div class="bundle-prop">
            <div class="bundle-dtLabel">{{msg('admin.bundles.docURL')}}</div>
            <div class="bundle-dtValue"><a ng-href="{{module.docURL}}">{{module.docURL}}</a>&nbsp;</div>
        </div>
        <div class="bundle-prop">
            <div class="bundle-dtLabel">{{msg('admin.bundles.wiredExports')}}</div>
            <div class="bundle-dtValue">
                <div ng-repeat="export in module.bundleExports">
                    {{export.name}},{{msg('admin.package.version')}}={{export.version}}
                </div>
            </div>
        </div>
        <div class="bundle-prop">
            <div class="bundle-dtLabel">{{msg('admin.bundles.exportPackageHeader')}}</div>
            <div class="bundle-dtValue">{{module.exportPackageHeader}}</div>
        </div>
        <div class="bundle-prop">
            <div class="bundle-dtLabel">{{msg('admin.bundles.wiredImports')}}</div>
            <div class="bundle-dtValue">
                <div ng-repeat="import in module.bundleImports">
                    {{import.name}},{{msg('admin.package.version')}}={{import.version}} {{msg('admin.import.from')}} {{import.from}}
                </div>
            </div>
        </div>
        <div class="bundle-prop">
            <div class="bundle-dtLabel">{{msg('admin.bundles.importPackageHeader')}}</div>
            <div class="bundle-dtValue">{{module.importPackageHeader}}</div>
        </div>
        <div class="bundle-prop">
            <div class="bundle-dtLabel">{{msg('admin.bundles.registeredServices')}}</div>
            <div class="bundle-dtValue ">
                <div ng-repeat="service in module.registeredServices">{{service}}</div>
            </div>
        </div>
        <div class="bundle-prop">
            <div class="bundle-dtLabel">{{msg('admin.bundles.servicesInUse')}}</div>
            <div class="bundle-dtValue">
                <div ng-repeat="service in module.servicesInUse track by $index">{{service}}</div>
            </div>
        </div>
    </div>
</div>
