<div class="well2">
    <div class="box-header">
        {{module.name}}
    </div>
    <div class="box-content clearfix">

        <div class="settings-form lightblue-settings span6" ng-repeat="mSettings in moduleSettings">
            <h4 class="settings-section">
                {{mSettings.section}}
            </h4>
            <form id="settingsForm" class="inside form-vertical" action="{{'api/settings/' + module.bundleId}}" method="post">
                <fieldset>
                    <div ng-repeat="setting in mSettings.settings | orderBy:'key'" class="form-group">
                        <label for="{{setting.key}}">{{setting.key}}</label>
                        <input class="form-control" type="text" id="{{setting.key}}" name="{{setting.key}}" ng-model="setting.value"/>
                    </div>

                    <div class="form-group">
                        <input type="hidden" name="section" value="{{mSettings.section}}" />
                        <input type="button" class="btn btn-primary" ng-click="saveSettings(mSettings)" value="{{msg('admin.submit')}}"/>
                        <input type="button" class="btn btn-primary" ng-click="saveSettings(mSettings, true)" value="{{msg('admin.submitAndRestart')}}"/>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="clearfix"></div>

        <div class="col-sm-10 col-md-8" ng-repeat="rawFile in rawFiles">
            <h4 class="settings-section">{{rawFile}}</h4>
            <div class="clearfix">
                <form id="_raw_{{rawFile}}" class="inside form-horizontal" action="{{'../admin/api/settings/' + module.bundleId + '/raw'}}"
                      method="post" enctype="multipart/form-data">
                    <div class="form-group fileinput fileinput-new" data-provides="fileinput">
                        <label class="control-label col-sm-3 col-md-2">{{msg('admin.button.selectFile')}}</label>
                        <div class="col-sm-9 col-md-10">
                            <div motech-file-upload-admin></div>
                            <input type="hidden" value="{{rawFile}}" name="filename" />
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="col-sm-offset-3 col-md-offset-2 col-sm-9 col-md-10">
                            <span class="btn btn-default" ng-click="uploadRaw(rawFile)">{{msg('admin.submit')}}</span>
                            <span class="btn btn-default" ng-click="uploadRaw(rawFile, true)">{{msg('admin.submitAndRestart')}}</span>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
