<div class="row">
    <div class="box-content log-options">
        <form id="changeLogLevels" class="form-vertical" name="logForm">
            <div class="form-group log">
                <div class="form-inline">
                    <span class="label-logAll">{{ msg('admin.log.setForAll') }}</span>
                    <div id="changeForAll" class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default" ng-click="forAll(level)" ng-repeat="level in availableLevels">
                            <input type="radio">{{ msg('admin.log.level.' + level) | uppercase }}</input>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-inline">
                    <a class="btn btn-hidden"><i class="fa fa-minus"></i></a>
                    <div class="btn-group">
                        <a id="rootLevel" class="btn btn-default btn-log dropdown-toggle" data-toggle="dropdown" href="#" target="_self">
                            {{ config.root.logLevel | uppercase }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="level in availableLevels" ng-click="changeRoot(level)"><a>{{ msg('admin.log.level.' + level) | uppercase }}</a></li>
                        </ul>
                    </div>
                    <label class="control-label">{{config.root.logName}}</label>
                </div>
            </div>
            <div class="form-group" ng-repeat="logger in config.loggers">
                <div class="form-inline">
                    <a ng-click="remove(logger)" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
                    <div class="btn-group">
                        <a class="btn btn-default btn-log dropdown-toggle" data-toggle="dropdown" href="#" target="_self">
                            {{ logger.logLevel | uppercase }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="level in availableLevels" ng-click="change(logger, level)"><a>{{ msg('admin.log.level.' + level) | uppercase }}</a></li>
                        </ul>
                    </div>
                    <label class="control-label">{{logger.logName}}</label>
                </div>
            </div>
            <div class="form-group" ng-repeat="log in logs">
                <div class="form-inline">
                    <a ng-click="removeNew(log)" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
                    <div class="btn-group">
                        <a class="btn btn-default btn-log dropdown-toggle" data-toggle="dropdown" href="#" target="_self">
                            {{ log.level | uppercase }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="level in availableLevels" ng-click="changeNew(log, level)"><a>{{ msg('admin.log.level.' + level) | uppercase }}</a></li>
                        </ul>
                    </div>
                    <input type="text" class="input-xxlarge-fluid form-control input-auto" ng-model="log.name" ng-pattern="/^((?!root|ROOT|Root).*)|^(root.+)|^(ROOT.+)|^(Root.+)/" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-inline">
                    <div class="btn-group">
                        <button ng-click="add()" class="btn btn-success"><i class="fa fa-plus"></i> {{ msg('admin.log.add.addAnotherLog') }}</button>
                    </div>
                    <div class="btn-group">
                        <input ng-disabled="logForm.$invalid" type="button" class="btn btn-primary" ng-click="save()" value="{{msg('admin.save')}}"/>
                        <a class="btn btn-default" href="#/admin/log">{{msg('admin.cancel')}}</a>
                    </div>
                </div>
            </div>
            <div class="form-actions"></div>
        </form>
    </div>
</div>
