<div class="row margin-before" ng-show="dataAvailable">
    <table class="table table-bordered table-striped table-condensed table-lightblue">
        <thead>
            <tr>
                <th class="ng-binding">{{msg('admin.topic.name')}}</th>
                <th class="ng-binding">{{msg('admin.topic.consumer.count')}}</th>
                <th class="ng-binding">{{msg('admin.topic.enqueue.count')}}</th>
                <th class="ng-binding">{{msg('admin.topic.dequeue.count')}}</th>
                <th class="ng-binding">{{msg('admin.topic.expired.count')}}</th>
            </tr>
        </thead>
        <tbody ng-repeat="topic in topics">
            <tr>
                <td class="ng-binding">{{topic.destination}}</td>
                <td class="ng-binding">{{topic.consumerCount}}</td>
                <td class="ng-binding">{{topic.enqueueCount}}</td>
                <td class="ng-binding">{{topic.dequeueCount}}</td>
                <td class="ng-binding">{{topic.expiredCount}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="alert alert-danger" ng-show="!dataAvailable">
    {{msg('admin.topic.error')}}
    <a target="_blank" href="http://docs.motechproject.org/en/latest/faq.html#why-am-i-not-seeing-anything-in-admin-queues-and-topics">
        {{msg('admin.url.docs')}}
    </a>
</div>
