<div id="inner-center" class="tasks inner-center ui-layout-center ui-layout-pane ui-layout-pane-center">
    <div class="header-footer-breadcrumb">
        <ul class="breadcrumb" role="navigation">
            <li><a role="menu" ui-sref="home">{{msg('server.home')}}</a></li>
            <li><a role="menu" ui-sref="tasks.dashboard">{{msg('task.tab')}}</a></li>
            <li ng-show="selectedTabState.selectedTab === 'dashboard'" ng-class="{'active': selectedTabState.selectedTab === 'dashboard'}">{{msg('task.tab')}} list</li>
            <li ng-show="selectedTabState.selectedTab === 'settings'" ng-class="{'active': selectedTabState.selectedTab === 'settings'}">{{msg('task.tab.settings')}}</li>
            <li ng-show="selectedTabState.selectedTab === 'new'" ng-class="{'active': selectedTabState.selectedTab === 'new'}">{{msg('task.new')}}</li>
        </ul>
    </div>
    <div class="header-footer">
        <ul id="content-tabs" class="nav nav-tabs tasks ">
            <li ui-sref-active="active" ng-click="selectedTabState.selectedTab = 'dashboard'"><a id="tab-tasks-dashboard" ui-sref="tasks.dashboard">{{msg('task.tab')}}</a></li>
            <li ui-sref-active="active" ng-click="selectedTabState.selectedTab = 'settings'"><a id="tab-tasks-settings" ui-sref="tasks.settings">{{msg('task.tab.settings')}}</a></li>
            <li ui-sref-active="active" ng-click="selectedTabState.selectedTab = 'history'"><a id="tab-tasks-history" ui-sref="tasks.history">{{msg('task.tab.history')}}</a></li>
        </ul>
    </div>
    <div class="ui-layout-content">
        <div class="tab-content tasks" id="tab-content">
            <div id="main-content" class="active">
                <div ui-view="tasksview"></div>
            </div>
        </div>
    </div>
</div>

<div id="inner-east" class="tasks inner-east ui-layout-pane ui-layout-pane-east" style="display: none">
    <div class="header-toolbar header-footer"></div>
    <ul class="nav nav-tabs">
        <li class="active" id="recentTaskActivity-tab"><a target="_self" href="#recentTaskActivity" data-toggle="tab">{{msg('task.header.recentTaskActivity')}}</a></li>
        <li class="" id="filters-tab"><a target="_self" href="#filters" data-toggle="tab">{{msg('task.section.filters')}}</a></li>
    </ul>
    <div class="ui-layout-content">
        <div class="tab-content">
            <div ng-controller="TasksRecentActivityCtrl" class="tab-pane fade in active" id="recentTaskActivity">
                <!------------------------  Recent task activity  ------------------------>
                <div ng-include="" src="'../tasks/partials/recent-task-activity.html'"></div>
            </div>
            <div ng-controller="TasksFilterCtrl" class="tab-pane fade" id="filters">
                <!------------------------  Filters  ------------------------>
                <div class="inside">
                    <fieldset class="inside">
                        <legend>{{msg('task.header.searchTasks')}}</legend>
                        <div class="form-group">
                            <input type="text" ng-model="query" ng-change="search()" class="form-control input-sm search-query" placeholder="{{msg('task.header.searchByNameOrDescription')}}">
                        </div>
                    </fieldset>
                    <fieldset class="inside">
                        <legend>{{msg('task.header.activity')}}</legend>
                        <div class="form-group btn-group-vertical">
                            <button filtersearch ng-click="setHideActive()" class="btn btn-info setHideActive active" type="button"><i class="fa fa-fw fa-check-square-o"></i> {{msg('task.header.activeTasks')}}</button>
                            <button filtersearch ng-click="setHidePaused()" class="btn btn-info setHidePaused active" type="button"><i class="fa fa-fw fa-check-square-o"></i> {{msg('task.header.pausedTasks')}}</button>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
