<script type="text/javascript">
    defaultView('/tasks/dashboard');
</script>

<div id="inner-center" class="tasks inner-center ui-layout-center ui-layout-pane ui-layout-pane-center">
    <div class="header-footer-breadcrumb">
        <ul class="breadcrumb" role="navigation">
            <li><a role="menu" href=".">{{msg('server.home')}}</a></li>
            <li><a role="menu" href="#/tasks/dashboard">{{msg('task.tab')}}</a></li>
            <li ng-show="active('#/tasks/dashboard')" ng-class="active('#/tasks/dashboard')">{{msg('task.tab')}} list</li>
            <li ng-show="active('#/tasks/settings')" ng-class="active('#/tasks/settings')">{{msg('task.tab.settings')}}</li>
            <li ng-show="active('#/tasks/task/new')" ng-class="active('#/tasks/task/new')">{{msg('task.new')}}</li>
        </ul>
    </div>
    <div class="header-footer">
        <ul id="content-tabs" class="nav nav-tabs tasks ">
            <li ng-class="active('#/tasks/dashboard')"><a  href="#/tasks/dashboard">{{msg('task.tab')}}</a></li>
            <li ng-class="active('#/tasks/settings')"><a  href="#/tasks/settings">{{msg('task.tab.settings')}}</a></li>
        </ul>
    </div>
    <div class="ui-layout-content">
        <div class="tab-content tasks" id="tab-content">
            <div id="main-content" class=" active">
                <div ng-view></div>
            </div>
        </div>
    </div>
</div>

<div id="inner-east" class="tasks inner-east ui-layout-pane ui-layout-pane-east" style="display: none">
    <div class="header-toolbar header-footer"><i id="tbarCloseEast" class="button icon-caret-right pull-right"></i></div>
    <ul class="nav nav-tabs">
        <li class="active" id="recentTaskActivity-tab"><a target="_self" href="#recentTaskActivity" data-toggle="tab">{{msg('task.header.recentTaskActivity')}}</a></li>
        <li class="" id="filters-tab"><a target="_self" href="#filters" data-toggle="tab">{{msg('task.section.filters')}}</a></li>
    </ul>
    <div class="ui-layout-content">
        <div class="tab-content">
            <div ng-controller="RecentActivityCtrl" class="tab-pane fade in active" id="recentTaskActivity">
                <!------------------------  Recent task activity  ------------------------>
                <div ng-include="" src="'../tasks/partials/recent-task-activity.html'"></div>
            </div>
            <div ng-controller="FilterCtrl" class="tab-pane fade" id="filters">
                <!------------------------  Filters  ------------------------>
                <div class="inside">
                    <fieldset class="inside">
                        <legend>{{msg('task.header.searchTasks')}}</legend>
                        <div class="form-group">
                            <input type="text" ng-model="query" ng-change="search()" class="form-control input-sm search-query" placeholder="{{msg('task.header.searchByNameOrDescription')}}">
                        </div>
                    </fieldset>
                    <fieldset class="inside">
                        <legend>{{msg('scheduler.activity')}}</legend>
                        <div class="form-group btn-group-vertical">
                            <button filtersearch ng-click="setHideActive()" class="btn btn-info setHideActive active" type="button"><i class="icon-white icon-ok"></i> {{msg('task.header.activeTasks')}}</button>
                            <button filtersearch ng-click="setHidePaused()" class="btn btn-info setHidePaused active" type="button"><i class="icon-white icon-ok"></i> {{msg('task.header.pausedTasks')}}</button>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
