/*---------- scheduler ----------*/

.scheduler .ui-jqgrid tr.jqgrow td.finished {
    color: #fff;
    background: #0D800B;
    font-weight: bold;
}

.scheduler .ui-jqgrid tr.jqgrow td.stopped {
    color: #fff;
    background: #dc1c0d;
    font-weight: bold;
}

.scheduler .ui-jqgrid tr.jqgrow td.active {
    color: #fff;
    background: #549edb;
    font-weight: bold;
}

.scheduler .ui-jqgrid tr.jqgrow td.notstarted {
    color: #fff;
    background: #aea884;
    font-weight: bold;
}

.scheduler .ui-jqgrid tr.jqgrow .parameters {
    border-bottom: 1px solid #D4DDEE;
    margin: 0 -6px;
    padding: 4px 6px;
}

.scheduler .ui-jqgrid tr.jqgrow .parameters:first-child {
    margin: -4px -6px 0;
}

.scheduler .ui-jqgrid tr.jqgrow .parameters:last-child {
    margin: 0 -6px -4px;
}
