<?xml version="1.0" encoding="UTF-8"?>
<Response>
    #foreach( $prompt in $node.prompts )
        #if($prompt.class.simpleName == "AudioPrompt")
            <Play>$prompt.audioFileUrl</Play>
        #elseif ($prompt.class.simpleName == "TextToSpeechPrompt")
            <Say>$prompt.message</Say>
        #elseif ($prompt.class.simpleName == "DialPrompt")
            #set ($dial = true)
            <Dial #if($!{prompt.callerId})callerId="$!{prompt.callerId}"#end #if($!{prompt.action})action="$!{prompt.action}"#end>$prompt.phoneNumber</Dial>
        #end
    #end
    #if ($node.transitions.size() > 0 && !$dial)
            #set ($url = "$scheme://$host$contentPath/verboice/ivr?type=$type&ln=$language&tree=$treeName&trP=$transitionPath")
            <Gather method="POST" action="$escape.escapeXml($url)" #if($!{node.transitionNumDigits})numDigits="$node.transitionNumDigits"#end #if($!{node.transitionTimeout})timeout="$node.transitionTimeout"#end #if($!{node.transitionFinishOnKey})finishOnKey="$node.transitionFinishOnKey"#end>
            #foreach( $prompt in $node.transitionPrompts )
                    #if($prompt.class.simpleName == "AudioPrompt")
                        <Play>$prompt.audioFileUrl</Play>
                    #elseif ($prompt.class.simpleName == "TextToSpeechPrompt")
                        <Say>$prompt.message</Say>
                    #end
            #end
            </Gather>
            #foreach( $mapEntry in $node.transitions.entrySet() )
                #if($mapEntry.key == 'timeout')
                    #set ($timeoutUrl = "$url&Digits=timeout")
                    <Redirect method="POST">$escape.escapeXml($timeoutUrl)</Redirect>
                #end
            #end
     #else
    #end
</Response>