<div class="well2">
    <div class="box-header">{{msg('profile')}}</div>
    <div class="box-content clearfix">
        <div class="well3">
            <form name="emailForm" class="form-horizontal">
                <!------------------ user ------------------->
                <div class="control-group">
                    <h4>{{msg('user')}}: {{userName}}</h4>
                </div>
                <div class="control-group">
                    <div ng-class="cssClass('email')">
                        <label class="control-label">{{msg('email')}}</label>
                        <div class="controls">
                            <input name="email" type="email" ng-model="email" required>
                            <span ng-show="emailForm.email.$error.required" class="form-hint">{{msg('emailRequired')}}</span>
                            <span ng-show="emailForm.email.$error.email" class="form-hint">{{msg('emailFormat')}}</span>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input class="btn btn-primary" type="submit" value="{{msg('save')}}" ng-click="changeEmail()" ng-disabled="emailForm.$invalid"/>
                    </div>
                </div>
            </form>
            <form name="passwordForm" class="form-horizontal">
                <!------------------ password ------------------->
                <div class="top-line"></div>
                <div class="control-group">
                    <h4 class=" ">{{msg('password')}}</h4>
                </div>
                <div class="control-group">
                    <label class="control-label">{{msg('oldPassword')}}</label>
                    <div class="controls">
                        <input type="password" ng-model="oldPassword" name="oldPassword">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">{{msg('newPassword')}}</label>
                    <div class="controls">
                        <input type="password" ng-model="newPassword" name="newPassword">
                    </div>
                </div>
                <div ng-class="cssPassword()">
                    <label class="control-label">{{msg('confirmPassword')}}</label>
                    <div class="controls">
                        <input type="password" ng-model="confirmPassword" name="confirmPassword" required confirm-password="newPassword">
                        <span ng-show="passwordForm.confirmPassword.$error.equal" class="form-hint">{{msg('samePassword')}}</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"></label>
                    <div class="controls">
                        <input class="btn btn-primary" type="button" value="{{msg('save')}}" ng-click="changePassword()" ng-disabled="passwordForm.$invalid"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


