<?xml version="1.0" encoding="UTF-8"?>
<vxml version="2.1" xmlns="http://www.w3.org/2001/vxml">
    #set( $messageContext = "message" )
	<form>
 		<block>
             <prompt>
                <audio src="$contentPath/../audio/$language/outbox/hello.wav"/>
             </prompt>
            <prompt>
                $params.get($messageContext)
                Please fix your appointment
            </prompt>
		</block>
		#set ($url = "$contentPath/outbox/vxml/msgMenu?mId=$messageId&ln=$language")
        <goto next="$escape.escapeXml($url)"/>
	</form>
</vxml>