<?xml version="1.0" encoding="UTF-8"?>
<vxml version="2.1" xmlns="http://www.w3.org/2001/vxml">
	<form>
 		<block>
             <prompt>
                <audio src="$contentPath/../audio/$language/outbox/hello.wav"/>
             </prompt>
            <prompt>
                The message have been save successfully. It will be kept in your outbox for $days days.
            </prompt>
		</block>
		#set ($url = "$contextPath/outbox/vxml/outboxMessage?ln=$language")
        <goto next="$escape.escapeXml($url)"/>
	</form>
</vxml>