<div class="accordion" id="data-source-{{data.id}}" overflow-change expand-accordion>
    <div class="task-group">
        <div class="accordion-heading">
            <div class="pull-right">
                <button ng-click="removeData(data)" class="btn btn-danger btn-in-heading">
                    <i class="icon-remove icon-white"></i>
                </button>
            </div>
            <a class="accordion-toggle inbox-header" style="cursor: auto;">
                <i class="icon-caret-down icon-fixed-width icon-large" data-toggle="collapse" data-parent="#data-source-{{data.id}}" href="#collapse-data-source-{{data.id}}" style="cursor: pointer;"></i> {{msg('subsection.data')}}
                <span ng-hide="!data.displayName">
                    &raquo; {{msg(data.dataSourceName)}} : {{msg(data.displayName)}}
                </span>
                <span ng-hide="!data.lookup.field">
                    {{msg('by')}} {{msg(data.lookup.field)}}
                </span>
            </a>
        </div>
        <div id="collapse-data-source-{{data.id}}" class="accordion-body stripes-bg collapse in overflowChange" style="overflow: visible;">
            <div class="accordion-inner inside">
                <div class="control-group control-section">
                    <label class="control-label task-label">{{msg('info.availableFields')}}:</label>
                    <div class="controls move-element">
                        <span contenteditable="false" ng-repeat="i in selectedTrigger.eventParameters" class="badge badge-info triggerField" draggable data-prefix="trigger" data-index="{{$index}}" data-type="{{i.type}}">{{msg(i.displayName)}}</span>​
                        <span ng-repeat="ds in selectedDataSources | idLessThan:data.id">
                            <span contenteditable="false" ng-repeat="i in findObject(ds.dataSourceId, ds.type).fields" class="badge badge-warning triggerField" draggable
                                  data-prefix="ad" data-source="{{ds.dataSourceName}}" data-object="{{ds.displayName}}" data-object-type="{{ds.type}}"
                                  data-field="{{i.fieldKey}}" data-index="{{$index}}" data-object-id="{{ds.id}}" data-type="{{i.type}}">
                                {{msg(ds.dataSourceName)}}.{{msg(ds.displayName)}}#{{ds.id}}.{{msg(i.displayName)}}
                            </span>
                        </span>
                    </div>
                </div>
                <div class="control-group">
                    <span class="control-label">{{msg('subsubsection.source')}}:</span>
                    <div class="btn-group interval">
                        <button class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            {{msg(data.dataSourceName || 'select')}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="dataSource in dataSources">
                                <a ng-click="selectDataSource(data, dataSource)">{{msg(dataSource.name)}}</a>
                            </li>
                        </ul>
                    </div>
                    <span class="interval2">{{msg('subsubsection.object')}}:</span>
                    <div class="btn-group interval">
                        <button class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            {{msg(data.displayName || 'select')}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="object in findDataSource(data.dataSourceId).objects">
                                <a ng-click="selectObject(data, object)">{{msg(object.displayName)}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="control-group" ui-if="data.displayName">
                    <span class="control-label">{{msg('subsubsection.lookup')}}:</span>
                    <div class="btn-group interval">
                        <button class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            {{msg(data.lookup.field || 'select')}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="lookup in findObject(data.dataSourceId, data.type).lookupFields">
                                <a ng-click="selectLookup(data, lookup)">{{msg(lookup)}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="control-group" ui-if="data.displayName">
                    <span class="control-label">{{msg('subsubsection.failIfDataNotFound')}}</span>
                    <div class="controls">
                        <div class="btn-group">
                            <input type="checkbox" ng-model="data.failIfDataNotFound"/>
                        </div>
                    </div>
                </div>
                <div ui-if="data.lookup.field">
                    <div class="control-group" ng-class="{error: actionCssClass(data.lookup)}" class="control-group form-inline clearfix">
                        <label class="control-label">{{msg(data.lookup.field)}}</label>

                        <!------------------------ Chrome & IE ------------------------>
                        <div ui-if="BrowserDetect.browser=='Chrome' || BrowserDetect.browser=='Explorer'" class="controls">
                            <editable-content data="data.lookup" index="$index" type="UNICODE"></editable-content>
                        </div>

                        <!------------------------ Other browsers  ------------------------>
                        <div ui-if="BrowserDetect.browser!='Chrome' && BrowserDetect.browser!='Explorer'" class="controls">
                            <input type="text" ng-model="data.lookup.value" droppable class="dataSourceField span8" data-index="{{data.dataSourceId}}" data-object-id="{{data.id}}" data-type="UNICODE"/>
                        </div>
                    </div>
                </div>
                <div class="control-group margin-before3 control-section" ng-hide="data.displayName == undefined">
                    <label class="control-label task-label">{{msg('subsubsection.objectFields')}}</label>
                    <div class="controls move-element">
                        <span ng-repeat="field in findObject(data.dataSourceId, data.type).fields" class="badge badge-warning">{{msg(field.displayName)}}</span>​
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>