<div class="accordion" id="filter-set" overflow-change expand-accordion>
    <div class="task-group">
        <div class="accordion-heading">
            <div class="pull-right">
                <button ng-click="removeFilterSet()" class="btn btn-danger btn-in-heading">
                    <i class="icon-remove icon-white"></i>
                </button>
            </div>
            <a class="accordion-toggle inbox-header">
                <i class="icon-caret-down icon-fixed-width icon-large" data-toggle="collapse" data-parent="#filter-set" href="#collapse-filter" style="cursor: pointer;"></i>
                {{msg('section.filters')}}
            </a>
        </div>
        <div id="collapse-filter" class="accordion-body stripes-bg collapse in overflowChange" style="overflow: visible;">
            <div class="accordion-inner centered inside">
                <form id="filtersForm" name="filterForm" class="form-horizontal">
                    <div class="margin-center margin-before">
                        <div ng-repeat="filter in task.filters">
                            <div class="form-inline">
                                <div class="control-group">
                                    <span class="validation-area">
                                        <div class="btn-group">
                                            <a class="btn dropdown-toggle dropdown-large-fluid" data-toggle="dropdown" href="#" ng-class="{'btn-danger': !filter.eventParameter}">
                                                {{msg((filter.eventParameter && filter.eventParameter.displayName) || 'info.filter.select')}}
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li ng-repeat="key in selectedTrigger.eventParameters">
                                                    <a ng-click="filter.eventParameter = key">{{msg(key.displayName)}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </span>
                                    <span class="validation-area">
                                        <div class="btn-group">
                                            <a class="btn dropdown-toggle dropdown-small-fluid" data-toggle="dropdown" href="#" ng-class="{'btn-danger': filter.negationOperator == undefined}" ng-disabled="!filter.eventParameter">
                                                {{msg(((filter.negationOperator == true || filter.negationOperator == false) && 'info.filter.' + filter.negationOperator) || 'info.filter.select')}}
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu" ng-hide="!filter.eventParameter">
                                                <li>
                                                    <a ng-click="filter.negationOperator = true">{{msg('info.filter.true')}}</a>
                                                    <a ng-click="filter.negationOperator = false">{{msg('info.filter.false')}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </span>
                                    <span class="validation-area">
                                        <div class="btn-group">
                                            <a class="btn dropdown-toggle dropdown-medium-fluid" data-toggle="dropdown" href="#" ng-class="{'btn-danger': !filter.operator}" ng-disabled="filter.negationOperator == undefined">
                                                {{msg(filter.operator || 'info.filter.select')}}
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu" ng-hide="filter.negationOperator == undefined">
                                                <li ng-repeat="operator in operators(filter.eventParameter)">
                                                    <a ng-click="filter.operator = operator">{{msg(operator)}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </span>
                                    <span class="validation-area" ng-class="{error: filter.operator != 'exist' && !filter.expression}">
                                        <input ng-disabled="!filter.operator || filter.operator == 'exist'" ng-model="filter.expression" class="input-medium" type="text" value=""/>
                                    </span>
                                    <a ng-click="removeFilter(filter)" class="btn btn-small btn-danger"><i class="icon-trash icon-white"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <button ui-if="!task.filters.length" class="btn btn-success" ng-click="addFilter()"><i class="icon-plus icon-white"></i> {{msg('button.addFilter')}}</button>
                        <button ui-if="task.filters.length" class="btn btn-success" ng-click="addFilter()"><i class="icon-plus icon-white"></i> {{msg('button.addAnotherFilter')}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
