<ul>
    <li class="padding-botton6">
        <span class="pointer" setmanipulation="toUpper">{{msg('toUpper')}}</span>
    </li>
    <li class="padding-botton6">
        <span class="pointer" setmanipulation="toLower">{{msg('toLower')}}</span>
    </li>
    <li class="padding-botton6">
        <span class="pointer" setmanipulation="capitalize">{{msg('capitalizeFirstLetter')}}</span>
    </li>
    <li class="padding-botton6">
        <span class="pointer" setmanipulation="join">{{msg('join')}}</span>
        <input id="joinSeparator" join-update class="input-popover" style="display:none" type="text"/>
    </li>
</ul>
