<ul unselectable="on">
    <li unselectable="on" class="padding-botton6">
        <span unselectable="on" class="pointer" setmanipulation="toUpper">{{msg('toUpper')}}</span>
    </li>
    <li unselectable="on" class="padding-botton6">
        <span unselectable="on" class="pointer" setmanipulation="toLower">{{msg('toLower')}}</span>
    </li>
    <li unselectable="on" class="padding-botton6">
        <span unselectable="on" class="pointer" setmanipulation="capitalize">{{msg('capitalizeFirstLetter')}}</span>
    </li>
    <li unselectable="on" class="padding-botton6">
        <span unselectable="on" class="pointer" setmanipulation="join">{{msg('join')}}</span>
        <input id="joinSeparator" join-update class="input-popover" style="display:none" type="text"/>
    </li>
</ul>
