<ul unselectable='on' id='sortable'></ul>
<ul unselectable="on" id="sortable-no">
    <li unselectable="on" class="padding-botton6">
        <span unselectable="on" class="pointer" setmanipulation="toUpper">{{msg('task.toUpper')}}</span>
    </li>
    <li unselectable="on" class="padding-botton6">
        <span unselectable="on" class="pointer" setmanipulation="toLower">{{msg('task.toLower')}}</span>
    </li>
    <li unselectable="on" class="padding-botton6">
        <span unselectable="on" class="pointer" setmanipulation="capitalize">{{msg('task.capitalizeFirstLetter')}}</span>
    </li>
    <li unselectable="on" class="padding-botton6">
        <span unselectable="on" class="pointer" setmanipulation="join">{{msg('task.join')}}</span>
        <input id="joinSeparator" join-update class="input-popover" style="display:none" type="text"/>
    </li>
    <li unselectable="on" class="padding-botton6">
        <span unselectable="on" class="pointer" setmanipulation="split">{{msg('task.split')}}</span>
        <input id="splitSeparator" split-update class="input-popover" style="display:none" type="text"/>
    </li>
    <li unselectable="on" class="padding-botton6">
        <span unselectable="on" class="pointer" setmanipulation="substring">{{msg('task.substring')}}</span>
        <input id="substringSeparator" substring-update class="input-popover" style="display:none" type="text"/>
    </li>
    <li unselectable="on" class="padding-botton6">
        <span unselectable="on" class="pointer" setmanipulation="format">{{msg('task.format')}}</span>
        <span class="icon-edit format-edit-img" style="display: none;" ng-click="showFormatManipulation()"></span>
    </li>
</ul>
