<?xml version="1.0"?>
<plugin id="motech-data-nucleus" name="DataNucleus plug-ins" provider-name="MOTECH">

    <!-- TODO: In version 4 point of this extension was renamed to "org.datanucleus.store.rdbms.datastore_mapping" -->
    <extension point="org.datanucleus.store.rdbms.rdbms_mapping">
        <mapping java-type="java.io.Serializable" jdbc-type="LONGVARBINARY" priority="1" sql-type="LONGVARBINARY" default="true"
                 rdbms-mapping-class="org.motechproject.mds.jdo.MdsLongVarBinaryRDBMSMapping">
        </mapping>
    </extension>

    <extension point="org.datanucleus.classloader_resolver">
        <class-loader-resolver name="clr.mds"
                               class-name="org.motechproject.mds.jdo.MDSClassLoaderResolver"/>
    </extension>

    <extension point="org.datanucleus.type_converter">
        <type-converter name="dn.time-string"
                        member-type="org.motechproject.commons.date.model.Time"
                        datastore-type="java.lang.String"
                        converter-class="org.motechproject.mds.jdo.TimeTypeConverter"/>
    </extension>
    <extension point="org.datanucleus.annotations">
        <annotations annotation-class="org.motechproject.mds.annotations.Entity"
                     reader="org.motechproject.mds.jdo.MdsJdoAnnotationReader"/>
    </extension>

    <extension point="org.datanucleus.store_objectvaluegenerator">
        <objectvaluegenerator name="ovg.creationDate"
                              class-name="org.motechproject.mds.jdo.CreationDateValueGenerator"/>
        <objectvaluegenerator name="ovg.creator"
                              class-name="org.motechproject.mds.jdo.CreatorValueGenerator"/>
        <objectvaluegenerator name="ovg.owner"
                              class-name="org.motechproject.mds.jdo.OwnerValueGenerator"/>
        <objectvaluegenerator name="ovg.modifiedBy"
                              class-name="org.motechproject.mds.jdo.ModifiedByValueGenerator"/>
        <objectvaluegenerator name="ovg.modificationDate"
                              class-name="org.motechproject.mds.jdo.ModificationDateValueGenerator"/>
    </extension>

    <extension point="org.datanucleus.member_annotation_handler">
        <member-annotation-handler annotation-class="org.motechproject.mds.annotations.Ignore"
                                   handler="org.motechproject.mds.jdo.MdsIgnoreAnnotationHandler"/>
    </extension>
</plugin>
