<div class="row clearfix">
    <!-- Search & filter -->
    <div ng-hide="addingPermission">
        <div class="form-group toolbox">
            <button ng-click="startAddingPermission()" type="button" class="btn btn-success">
            <i class="fa fa-plus"></i> {{msg('security.addNewPermission')}}</button>
        </div>
        <form id="searchFilterPermForm" novalidate class="form-inline toolbox">
            <label class="control-label">{{msg('security.search')}}</label>
            <input type="text" class="form-control input-auto search-query" ng-model="roleNameFilter">
            <label class="control-label offset-1">{{msg('security.module')}}</label>
            <select class="form-control form-control-select" ng-model="selectedItemRole">
                <option value="">-- {{msg('security.chooseModule')}} --</option>
                <option ng-repeat="permissions in uniquePermissionList(permissionList)"
                        value="{{permissions.bundleName}}">{{permissions.bundleName}}</option>
            </select>
        </form>
    </div>
    <!-- Adding permission -->
    <div ng-show="addingPermission">
        <form id="addPermissionForm" name="addPermissionForm">
            <div class="toolbox form-group form-inline">
                <label class="control-label">{{msg('security.enterPermissionName')}}</label>
                <input id="permissionName" type="text" ng-model="permission.permissionName" class="form-control input-auto"
                       perm-name-validate required>
                <span ng-hide="pwdNameValidate" class="form-hint offset-1">{{msg('security.permissionExist')}}</span>
                <span ng-hide="permissionHasValue('permissionName')" class="form-hint offset-1">
                    {{msg('security.permissionNameRequired')}}
                </span>
            </div>
            <div class="form-group toolbox form-inline btn-group">
                <input ng-disabled="addPermissionForm.$invalid" class="btn btn-primary" type="submit"
                       value="{{msg('security.save')}}" ng-click="savePermission()"/>
                <input class="btn btn-default" type="button" value="{{msg('security.cancel')}}"
                       ng-click="cancelAddingPermission()"/>
            </div>
        </form>
    </div>

    <!-- Alert -->
    <div id="permissionSaveSuccessMsg" class="alert-success inside info-block">
        {{msg('security.create.permission.saved')}}
    </div>

    <!-- Permission list -->
    <div>
        <table class="table table-condensed table-bordered table-striped table-lightblue table-permission">
            <thead class="table-header">
            <tr>
                <th>{{msg('security.id')}} </th>
                <th>{{msg('security.actions')}} </th>
                <th>{{msg('security.moduleName')}}</th>
                <th>{{msg('security.delete')}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="permission in (filteredPermissions = (permissionList | filter:roleNameFilter | filter:selectedItemRole)) | filterPagination:currentPage*pageSize | limitTo:pageSize">
                <td>{{currentPage * pageSize + $index + 1}}</td>
                <td>{{permission.permissionName}}</td>
                <td>{{permission.bundleName}}</td>
                <td>
                    <a href="" ng-if="!permission.bundleName" ng-click="deletePermission(permission)">
                        <i class="fa fa-fw fa-trash-o" ></i> {{msg('security.delete')}}
                    </a>
                    <a class="disabled-link" ng-if="permission.bundleName" bs-popover="{{msg('security.predefinedPermission')}}"
                       data-toggle="popover" data-placement="left" data-trigger="hover">
                        <i class="fa fa-fw fa-trash-o" ></i> {{msg('security.delete')}}
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination-centered" ng-show="numberOfPagesPermissions() &gt; 1">
        <ul class="pagination pagination-sm lightblue">
            <li ng-class="{true:'disabled', false:''}[currentPage==0]"><a ng-click="changeCurrentPage(0)">{{msg('security.first')}}</a></li>
            <li ng-repeat="number in [] | repeat:numberOfPagesPermissions()" ng-class="{true:'active', false:''}[number==currentPage]"><a ng-click="changeCurrentPage(number)">{{number+1}}</a></li>
            <li ng-class="{true:'disabled', false:''}[currentPage==(numberOfPagesPermissions()-1)]"><a ng-click="changeCurrentPage(numberOfPagesPermissions()-1)">{{msg('security.last')}}</a></li>
        </ul>
    </div>
</div>



