<div ng-show="addRoleView" class="clearfix">
    <div class="row">
        <div class="toolbox">
            <button ng-click="addRole()" type="submit" class="btn btn-success"><i class="fa fa-plus"></i> {{msg('security.addNewRole')}}</button>
        </div>
        <div class="form-group form-inline toolbox">
            <label >{{msg('security.searchRole')}}</label>
            <input type="text" ng-model="propertyRoleName.roleName" class="form-control input-auto search-query">
        </div>
        <div>
            <table class="table table-condensed table-bordered table-striped table-lightblue table-role">
                <thead class="table-header">
                <tr>
                    <th>{{msg('security.id')}} </th>
                    <th>{{msg('security.role')}} </th>
                    <th>{{msg('security.actions')}} </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="role in (filteredRoles = (roleList | filter:propertyRoleName)) | filterPagination:currentPage*pageSize | limitTo:pageSize">
                    <td>{{currentPage * pageSize + $index + 1}}</td>
                    <td><i class="fa fa-fw fa-user"></i> {{role.roleName}}</td>
                    <td ng-click="getRole(role)"><i class="fa fa-fw fa-edit"></i> <a>{{msg('security.edit')}}</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="pagination-centered" ng-show="numberOfPages() &gt; 1">
            <ul class="pagination pagination-sm lightblue">
                <li ng-class="{true:'disabled', false:''}[currentPage==0]"><a ng-click="changeCurrentPage(0)">{{msg('security.first')}}</a></li>
                <li ng-repeat="number in [] | repeat:numberOfPages()" ng-class="{true:'active', false:''}[number==currentPage]"><a ng-click="changeCurrentPage(number)">{{number+1}}</a></li>
                <li ng-class="{true:'disabled', false:''}[currentPage==numberOfPages()-1]"><a ng-click="changeCurrentPage(numberOfPages()-1)">{{msg('security.last')}}</a></li>
            </ul>
        </div>
    </div>
</div>

<div ng-hide="addRoleView" class="clearfix">
    <div class="row">
        <form id="roleForm" name="roleForm" novalidate>
            <div class="form-group form-inline" ng-class="cssClass('security.roleName')">
                <div class="nonEditable toolbox" ng-show="!role.deletable">
                    <h4>{{role.roleName}}</h4>
                </div>
                <div class="editable toolbox" ng-show="role.deletable">
                    <label class="control-label">{{msg('security.enterRoleName')}}</label>
                    <input id="roleName" type="text" ng-model="role.roleName" class="form-control input-auto" role-name-validate required>
                    <span ng-hide="pwdNameValidate" class="offset-1 form-hint">{{msg('security.roleExist')}}</span>
                    <span ng-hide="hasValue('roleName')" class="offset-1 form-hint">{{msg('security.roleNameRequired')}}</span>
                </div>
            </div>
            <div class="form-group form-inline toolbox">
                <label class="control-label">{{msg('security.search')}}</label>
                <input type="text" class="form-control input-auto search-query" ng-model="roleNameFilter">
                <label class="control-label offset-1">{{msg('security.module')}}</label>
                <select ng-model="selectedItemRole" class="form-control form-control-select">
                    <option value="">-- {{msg('security.chooseModule')}} --</option>
                    <option ng-repeat="permissions in uniquePermissionList(permissionList)" value="{{permissions.bundleName}}">{{permissions.bundleName}}</option>
                </select>
            </div>
            <div>
                <table class="table table-condensed table-bordered table-striped table-lightblue table-permission">
                    <thead class="table-header">
                        <tr>
                            <th>{{msg('security.id')}} </th>
                            <th>{{msg('security.actions')}} </th>
                            <th>{{msg('security.moduleName')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="permission in permissionList | filter:roleNameFilter | filter:selectedItemRole">
                            <td ng-if="role.deletable || belongsToRole(permission.permissionName)">{{$index + 1}}</td>
                            <td ng-if="role.deletable">
                                <label><input ng-checked="belongsToRole(permission.permissionName)" type="checkbox" ng-click="addPermission(permission.permissionName)">
                                    {{permission.permissionName}}
                                </label>
                            </td>
                            <td ng-if="!role.deletable && belongsToRole(permission.permissionName)">
                                {{permission.permissionName}}
                            </td>
                            <td ng-if="role.deletable || belongsToRole(permission.permissionName)">{{permission.bundleName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="toolbox btn-group">
                <input ng-show="role.deletable" ng-disabled="roleForm.$invalid" class="btn btn-primary" type="submit" value="{{msg('security.save')}}" ng-click="saveRole()"/>
                <input class="btn btn-default" type="submit" value="{{msg('security.cancel')}}" ng-click="cancelRole()"/>
            </div>
            <div ng-show="role.deletable && isEdit == true" class="form-group">
                <h4>{{msg('security.deleteRole')}}</h4>
            </div>
            <div ng-show="role.deletable && isEdit == true"  class="form-group">
                <div class="controls">
                    <p>{{msg('security.deletingRoleInfo')}}</p>
                </div>
            </div>
            <div ng-show="role.deletable && isEdit == true" class="form-group">
                <div class="controls checkbox">
                    <label>
                        <input type="checkbox" ng-model="deleteR"> {{msg('security.deletingRoleCheckMsg')}}
                    </label>
                </div>
            </div>
            <div ng-show="role.deletable && deleteR && isEdit == true" class="form-group">
                <div class="controls">
                    <span>
                        <input class="btn btn-danger" type="button" value="{{msg('security.delete')}}" ng-click="deleteRole()" />
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
