<div ng-show="showUsersView">
    <div class="box-header">{{msg('security.administeringUsers')}}</div>
    <div class="box-content clearfix">
        <div class="well3">
            <div class="form-group">
                <a ng-click="addUser()" role="button" class="btn btn-success"><i class="icon-plus icon-white"></i> {{msg('security.addUser')}}</a>
            </div>
            <form class="form-search form-inline">
                <label class="control-label">{{msg('security.searchUsername')}}</label>
                <input type="text" ng-model="propertyUserName" class="form-control input-auto search-query">
                <label class="help-inline">{{msg('security.role')}}</label>
                <select class="form-control form-control-select" ng-model="selectedItem" ng-options="role.roleName for role in roleList">
                    <option value="">-- {{msg('security.chooseRole')}} --</option>
                </select>
            </form>
            <div class="margin-before">
                <table class="table table-condensed table-bordered table-striped table-lightblue table-user">
                    <thead>
                    <tr>
                        <th>{{msg('security.userName')}} </th>
                        <th>{{msg('security.role')}} </th>
                        <th>{{msg('security.enabled')}} </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-click="getUser(user)" ng-repeat="user in userList | filter:{userName : propertyUserName} | filter:selectedItem.roleName | filterPagination:currentPage*pageSize | limitTo:pageSize">
                        <td><a>{{user.userName}}</a></td>
                        <td><span ng-repeat="role in user.roles">{{role}}<span ng-hide="$index == (user.roles.length-1)">, </span></span></td>
                        <td ng-show="user.active"><a>{{msg('security.enabledTrue')}}</a></td>
                        <td ng-show="!user.active"><a>{{msg('security.enabledFalse')}}</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="pagination pagination-centered pagination-condensed lightblue" ng-show="numberOfPages() &gt; 1">
                <ul>
                    <li ng-class="{true:'disabled', false:''}[currentPage==0]"><a ng-click="changeCurrentPage(0)">{{msg('security.first')}}</a></li>
                    <li ng-repeat="number in [] | repeat:numberOfPages()" ng-class="{true:'active', false:''}[number==currentPage]"><a ng-click="changeCurrentPage(number)">{{number+1}}</a></li>
                    <li ng-class="{true:'disabled', false:''}[currentPage==(numberOfPages()-1)]"><a ng-click="changeCurrentPage(numberOfPages()-1)">{{msg('security.last')}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div ng-hide="addUserView">
    <div class="box-header">{{msg('security.userRegistration')}}</div>
    <div class="box-content clearfix">
        <div class="well3 col-lg-8 col-md-10 col-sm-12">
            <form id="createUserForm" name="createUserForm" class="form-horizontal inside" novalidate>
                <div class="form-group">
                    <h4>{{msg('security.user')}}</h4>
                </div>
                <div class="form-group">
                    <div ng-class="cssClass('userName')">
                        <label class="col-md-3 col-sm-4 control-label">{{msg('security.userName')}}</label>
                        <div class="form-inline col-md-9 col-sm-8">
                            <input class="form-control input-auto" type="text" id="userName" name="userName" ng-model="user.userName" placeholder="{{msg('security.userName')}}" user-name-validate required>
                            <span ng-hide="pwdNameValidate" class="form-hint">{{msg('security.userExist')}}</span>
                            <span ng-hide="hasValue('userName')" class="form-hint">{{msg('security.userNameRequired')}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div ng-class="cssClass('email')">
                        <label class="col-md-3 col-sm-4 control-label">{{msg('security.email')}}</label>
                        <div class="form-inline col-md-9 col-sm-8">
                            <input class="form-control input-auto" id="email" name="email" type="email" ng-model="user.email" required>
                            <span ng-show="createUserForm.email.$error.required" class="form-hint">{{msg('security.emailRequired')}}</span>
                            <span ng-show="createUserForm.email.$error.email" class="form-hint">{{msg('security.emailFormat')}}</span>
                        </div>
                    </div>
                </div>
                <div ng-show="!user.generatePassword" class="form-group">
                    <div ng-class="cssClass('password')">
                        <label class="col-md-3 col-sm-4 control-label">{{msg('security.password')}}</label>
                        <div class="form-inline col-md-9 col-sm-8">
                            <input class="form-control input-auto" ng-disabled="user.generatePassword" type="password" ng-model="user.password" required>
                            <span ng-hide="hasValue('password')" class="form-hint">{{msg('security.passwordRequired')}}</span>
                        </div>
                    </div>
                </div>
                <div ng-show="!user.generatePassword" class="form-group">
                    <div ng-class="cssPassword()">
                        <label class="col-md-3 col-sm-4 control-label">{{msg('security.confirmPassword')}}</label>
                        <div class="form-inline col-md-9 col-sm-8">
                            <input class="form-control input-auto" ng-disabled="user.generatePassword" type="password" name="confirmPassword" ng-model="confirmPassword" required confirm-password="user.password">
                            <span ng-show="createUserForm.confirmPassword.$error.equal" class="form-hint">{{msg('security.samePassword')}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-sm-offset-4 col-md-9 col-sm-8">
                        <div class="checkbox">
                            <label>{{msg('security.generatePassword')}}</label>
                            <input type="checkbox" name="generatePassword" ng-model="user.generatePassword">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <h4>{{msg('security.role')}}</h4>
                </div>
                <div ng-show="roleList.length &lt; 25" class="form-group">
                    <div class="col-md-12 col-sm-12"> <!-- btn-success when active -->
                        <input ng-repeat="role in roleList" ng-class="getClass(role.roleName)" type="button" value="{{role.roleName}}" ng-click="activeRole(role.roleName)"/>
                    </div>
                </div>
                <div ng-show="roleList.length &gt;= 25" class="form-group">
                    <div class="col-md-offset-3 col-sm-offset-4 col-md-9 col-sm-8">
                        <div class="btn-group dropdown">
                            <a class="btn dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                                {{msg('security.role')}}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="role in roleList" class="nav-header"><a class="ng-binding" href="">{{role.roleName}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-sm-offset-4 col-md-9 col-sm-8">
                        <input class="btn btn-primary" type="button" value="{{msg('security.save')}}" ng-click="saveUser()" ng-disabled="!isFormValid()"/>
                        <input class="btn btn-default" type="button" value="{{msg('security.cancel')}}" ng-click="cancelAddUser()"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div ng-hide="editUserView">
    <div class="box-header">{{msg('security.administeringUsers')}}</div>
    <div class="box-content clearfix">
        <div class="well3 col-lg-8 col-md-10 col-sm-12">
            <form id="editUserForm" name="editUserForm" class="form-horizontal inside" novalidate>
                <div class="form-group">
                    <h4>{{msg('security.user')}}: {{user.userName}}</h4>
                </div>
                <div class="form-group">
                    <div ng-class="cssClass('email')">
                        <label class="col-md-3 col-sm-4 control-label">{{msg('security.email')}}</label>
                        <div class="col-md-9 col-sm-8 form-inline">
                            <input class="form-control input-auto" name="email" type="email" ng-model="user.email" required>
                            <span ng-show="editUserForm.email.$error.required" class="form-hint">{{msg('security.emailRequired')}}</span>
                            <span ng-show="editUserForm.email.$error.email" class="form-hint">{{msg('security.emailFormat')}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-sm-4 control-label">{{msg('security.password')}}</label>
                    <div class="col-md-9 col-sm-8 form-inline">
                        <input class="form-control input-auto" type="password" ng-model="user.password">
                        <!--<span class="help-inline"><a class="btn btn-small"  ng-click="generatePassword()">{{msg('generate')}}</a></span>-->
                    </div>
                </div>
                <div class="form-group">
                    <div ng-class="cssPassword()">
                        <label class="col-md-3 col-sm-4 control-label">{{msg('security.confirmPassword')}}</label>
                        <div class="col-md-9 col-sm-8 form-inline">
                            <input class="form-control input-auto" type="password" name="confirmPassword" ng-model="confirmPassword" confirm-password="user.password">
                            <span ng-show="editUserForm.confirmPassword.$error.equal" class="form-hint">{{msg('security.samePassword')}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <h4>{{msg('security.role')}}</h4>
                </div>
                <div ng-show="roleList.length &lt; 25" class="form-group">
                    <div class="col-md-12 col-sm-12"> <!-- btn-success when active -->
                        <input ng-repeat="role in roleList" ng-class="getClass(role.roleName)" type="button" value="{{role.roleName}}" ng-click="activeRole(role.roleName)"/>
                    </div>
                </div>
                <div ng-show="roleList.length &gt;= 25" class="form-group">
                    <div class="col-md-offset-3 col-sm-offset-4 col-md-9 col-sm-8">
                        <div class="btn-group dropdown">
                            <a class="btn btn-default dropdown-toggle"  role="button" data-toggle="dropdown"  href="#">
                                {{msg('security.role')}}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="role in roleList" class="nav-header"><a class="ng-binding" href="" >{{role.roleName}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <h4>{{msg('security.enableUser')}}</h4>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-sm-offset-4 col-md-9 col-sm-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="user.active"> {{msg('security.enabled')}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="margin-before col-md-offset-3 col-sm-offset-4 col-md-9 col-sm-8">
                        <input ng-disabled="editUserForm.$invalid" class="btn btn-primary" type="button" value="{{msg('security.save')}}" ng-click="updateUser()"/>
                        <input class="btn btn-default" type="button" value="{{msg('security.cancel')}}" ng-click="cancelEditUser()"/>
                    </div>
                </div>
                <div class="form-group">
                    <h4>{{msg('security.deleteUser')}}</h4>
                </div>
                <div class="form-group">
                    <div class="">
                        <p>{{msg('security.deletingUserInfo')}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-sm-offset-4 col-md-9 col-sm-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="deleteU"> {{msg('security.deletingUserCheckMsg')}}
                            </label>
                        </div>
                    </div>
                </div>
                <div ng-show="deleteU" class="form-group">
                    <div class="margin-before col-md-offset-3 col-sm-offset-4 col-md-9 col-sm-8">
                        <input class="btn btn-primary" type="button" value="{{msg('security.delete')}}" ng-click="deleteUser()"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

