<div class="row clearfix" ng-show="showUsersView">
    <div class="form-group toolbox">
        <a ng-click="addUser()" role="button" class="btn btn-success"><i class="fa fa-plus"></i> {{msg('security.addUser')}}</a>
    </div>
    <form class="form-group form-search form-inline toolbox">
        <label class="control-label">{{msg('security.searchUsername')}}</label>
        <input type="text" ng-model="propertyUserName" class="form-control input-auto search-query">
        <label class="offset-1">{{msg('security.role')}}</label>
        <select class="form-control form-control-select" ng-model="selectedItem" ng-options="role.roleName for role in roleList">
            <option value="">-- {{msg('security.chooseRole')}} --</option>
        </select>
    </form>
    <div>
        <table class="table table-condensed table-bordered table-striped table-lightblue table-user">
            <thead>
            <tr>
                <th>{{msg('security.userName')}} </th>
                <th>{{msg('security.role')}} </th>
                <th>{{msg('security.user.status')}} </th>
            </tr>
            </thead>
            <tbody>
            <tr class="pointer" ng-click="getUser(user)" ng-repeat="user in (filteredUsers = (userList | filter:{userName : propertyUserName} | filter:selectedItem.roleName)) | filterPagination:currentPage*pageSize | limitTo:pageSize">
                <td><a>{{user.userName}}</a></td>
                <td><span ng-repeat="role in user.roles track by $index">{{role}}<span ng-hide="$index == (user.roles.length-1)">, </span></span></td>
                <td ng-show="user.userStatus === 'ACTIVE' || user.userStatus === undefined"><a>{{msg('security.user.active')}}</a></td>
                <td ng-show="user.userStatus === 'BLOCKED'"><a>{{msg('security.user.blocked')}}</a></td>
                <td ng-show="user.userStatus === 'MUST_CHANGE_PASSWORD'"><a>{{msg('security.user.mustChangePassword')}}</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination-centered" ng-show="numberOfPages() &gt; 1">
        <ul class="pagination pagination-sm lightblue">
            <li ng-class="{true:'disabled', false:''}[currentPage==0]"><a ng-click="changeCurrentPage(0)">{{msg('security.first')}}</a></li>
            <li ng-repeat="number in [] | repeat:numberOfPages()" ng-class="{true:'active', false:''}[number==currentPage]"><a ng-click="changeCurrentPage(number)">{{number+1}}</a></li>
            <li ng-class="{true:'disabled', false:''}[currentPage==(numberOfPages()-1)]"><a ng-click="changeCurrentPage(numberOfPages()-1)">{{msg('security.last')}}</a></li>
        </ul>
    </div>
</div>

<div ng-hide="addUserView">
    <div class="row clearfix">
        <div class="well3 col-lg-8 col-md-10 col-sm-12">
            <form id="createUserForm" name="createUserForm" class="form-horizontal inside" novalidate>
                <div class="form-group">
                    <h4>{{msg('security.user')}}</h4>
                </div>
                <div class="form-group" ng-class="cssClass('userName')">
                    <label class="col-md-3 col-sm-4 control-label">{{msg('security.userName')}}</label>
                    <div class="form-inline col-md-9 col-sm-8">
                        <input class="form-control input-auto" type="text" id="userName" name="userName" ng-model="user.userName" placeholder="{{msg('security.userName')}}" user-name-validate required>
                        <span ng-hide="pwdNameValidate" class="form-hint">{{msg('security.userExist')}}</span>
                        <span ng-hide="createUserForm.userName.$dirty && hasValue('userName')" class="form-hint">{{msg('security.userNameRequired')}}</span>
                    </div>
                </div>
                <div class="form-group" ng-class="cssClass('email')">
                    <label class="col-md-3 col-sm-4 control-label">{{msg('security.email')}}</label>
                    <div class="form-inline col-md-9 col-sm-8">
                        <input class="form-control input-auto" id="email" name="email" type="email" ng-model="user.email" ng-required="req">
                        <span ng-show="createUserForm.email.$error.required" class="form-hint">{{msg('security.emailRequired')}}</span>
                        <span ng-show="createUserForm.email.$error.email" class="form-hint">{{msg('security.emailFormat')}}</span>
                    </div>
                </div>
                <div ng-show="!user.generatePassword" class="form-group" ng-class="cssClass('password')">
                    <label class="col-md-3 col-sm-4 control-label">{{msg('security.password')}}</label>
                    <div class="form-inline col-md-9 col-sm-8">
                        <input class="form-control input-auto" ng-disabled="user.generatePassword" type="password" ng-model="user.password" name="newPassword" required validate-password>
                        <span ng-show="createUserForm.newPassword.$error.valid && hasValue('password')" class="form-hint">
                            {{validatorMessage}}
                        </span>
                        <span ng-hide="hasValue('password')" class="form-hint">{{msg('security.passwordRequired')}}</span>
                    </div>
                </div>
                <div ng-show="!user.generatePassword" class="form-group" ng-class="cssPassword()">
                    <label class="col-md-3 col-sm-4 control-label">{{msg('security.confirmPassword')}}</label>
                    <div class="form-inline col-md-9 col-sm-8">
                        <input class="form-control input-auto" ng-disabled="user.generatePassword" type="password" name="confirmPassword" ng-model="confirmPassword" visited-confirm-input
                               required confirm-password="user.password">
                        <span ng-show="!user.generatePassword && isConfirmPasswordDirty && createUserForm.confirmPassword.$dirty && createUserForm.confirmPassword.$error.equal === true && createUserForm.newPassword.$error.valid === false" class="form-hint">
                            {{msg('security.samePassword')}}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-sm-offset-4 col-md-9 col-sm-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="generatePassword" ng-model="user.generatePassword">{{msg('security.generatePassword')}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <h4>{{msg('security.role')}}</h4>
                </div>
                <div ng-show="roleList.length &lt; 25" class="form-group">
                    <div class="col-md-12 col-sm-12"> <!-- btn-success when active -->
                        <input ng-repeat="role in roleList" ng-class="getClass(role.roleName)" type="button" value="{{role.roleName}}" ng-click="activeRole(role.roleName)">
                    </div>
                </div>
                <div ng-show="roleList.length &gt; 24" class="form-group">
                    <div class="col-md-offset-3 col-sm-offset-4 col-md-9 col-sm-8">
                        <select class="dynamic-select" ui-select2 select2-init multiple ng-model="user.roles" data-placeholder="{{msg('security.selectRoles')}}">
                            <option ng-repeat="role in roleList" value="{{role.roleName}}">{{role.roleName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-sm-offset-4 col-md-9 col-sm-8 btn-group">
                        <input class="btn btn-primary" type="button" value="{{msg('security.save')}}" ng-click="saveUser()" ng-disabled="!isFormValid()"/>
                        <input class="btn btn-default" type="button" value="{{msg('security.cancel')}}" ng-click="cancelAddUser()"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div ng-hide="editUserView">
    <div class="row clearfix">
        <div class="well3 col-lg-8 col-md-10 col-sm-12">
            <form id="editUserForm" name="editUserForm" class="form-horizontal inside" novalidate>
                <div class="form-group">
                    <h4>{{msg('security.user')}}: {{user.userName}}</h4>
                </div>
                <div class="form-group" ng-class="cssClass('email')">
                    <label class="col-md-3 col-sm-4 control-label">{{msg('security.email')}}</label>
                    <div class="col-md-9 col-sm-8 form-inline">
                        <input class="form-control input-auto" name="email" type="email" ng-model="user.email" ng-required="req">
                        <span ng-show="editUserForm.email.$error.required" class="form-hint">{{msg('security.emailRequired')}}</span>
                        <span ng-show="editUserForm.email.$error.email" class="form-hint">{{msg('security.emailFormat')}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-sm-4 control-label">{{msg('security.password')}}</label>
                    <div class="col-md-9 col-sm-8 form-inline">
                        <input class="form-control input-auto" type="password" name="newPassword" ng-model="user.password" validate-password>
                        <span ng-show="editUserForm.newPassword.$error.valid" class="form-hint">
                            {{validatorMessage}}
                        </span>
                    </div>
                </div>
                <div class="form-group" ng-class="cssPassword()">
                    <label class="col-md-3 col-sm-4 control-label">{{msg('security.confirmPassword')}}</label>
                    <div class="col-md-9 col-sm-8 form-inline">
                        <input class="form-control input-auto" type="password" name="confirmPassword" ng-model="confirmPassword" visited-confirm-input
                               confirm-password="user.password">
                        <span ng-show="isConfirmPasswordDirty && editUserForm.confirmPassword.$dirty && editUserForm.confirmPassword.$error.equal === true && editUserForm.newPassword.$error.valid === false" class="form-hint">
                            {{msg('security.samePassword')}}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <h4>{{msg('security.role')}}</h4>
                </div>
                <div ng-show="roleList.length &lt; 25" class="form-group">
                    <div class="col-md-12 col-sm-12"> <!-- btn-success when active -->
                        <input ng-repeat="role in roleList" ng-class="getClass(role.roleName)" type="button" value="{{role.roleName}}" ng-click="activeRole(role.roleName)">
                    </div>
                </div>
                <div ng-show="roleList.length &gt; 24" class="form-group">
                    <div class="col-md-offset-3 col-sm-offset-4 col-md-9 col-sm-8">
                        <select class="dynamic-select" select2-init ui-select2 multiple ng-model="user.roles" data-placeholder="{{msg('security.selectRoles')}}">
                            <option ng-repeat="role in roleList" value="{{role.roleName}}">{{role.roleName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <h4>{{msg('security.user.changeStatus')}}</h4>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-sm-4 control-label">{{msg('security.user.status')}}</label>
                    <div class="col-md-9 col-sm-8 form-inline">
                        <select ng-model="user.userStatus" class="form-control form-control-select">
                            <option value="ACTIVE">{{msg('security.user.active')}}</option>
                            <option value="BLOCKED">{{msg('security.user.blocked')}}</option>
                            <option value="MUST_CHANGE_PASSWORD">{{msg('security.user.mustChangePassword')}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="margin-before col-md-offset-3 col-sm-offset-4 col-md-9 col-sm-8 btn-group">
                        <input ng-disabled="editUserForm.$invalid" class="btn btn-primary" type="button" value="{{msg('security.save')}}" ng-click="updateUser()"/>
                        <input class="btn btn-default" type="button" value="{{msg('security.cancel')}}" ng-click="cancelEditUser()"/>
                    </div>
                </div>
                <div class="form-group">
                    <h4>{{msg('security.deleteUser')}}</h4>
                </div>
                <div class="form-group">
                    <div class="">
                        <p>{{msg('security.deletingUserInfo')}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-sm-offset-4 col-md-9 col-sm-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="deleteU"> {{msg('security.deletingUserCheckMsg')}}
                            </label>
                        </div>
                    </div>
                </div>
                <div ng-show="deleteU" class="form-group">
                    <div class="margin-before col-md-offset-3 col-sm-offset-4 col-md-9 col-sm-8">
                        <input class="btn btn-danger" type="button" value="{{msg('security.delete')}}" ng-click="deleteUser()"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

