.cms-lite .count-characters {
    border-top: 1px solid #eeeeee;
    padding: 5px 20px 5px 0;
    font-size:0.9em;
}

.cms-lite .s-ico {
    float: right;
    margin-right: 2px;
    display: block;
    width: 20px;
    height: 20px;
    padding: 8px 2px;
}

.cms-lite.tab-content {
    padding-left: 0;
}

.cms-lite.nav.nav-tabs {
    border-bottom: none;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 0;
}

.cms-lite .accordion-group {
    border: 1px solid #B2D8F8;
    background: #DEEEFF;
}

.cms-lite .accordion-inner {
    border-top: 1px solid #B2D8F8;
}

.cms-lite fieldset {
    border-top: 1px solid #B2D8F8;
    border-radius: 0;
}

.cms-lite legend  {
    border: none;
    color: #165384;
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin: 0 20px;
    padding: 5px;
    width: auto;
}

.cms-lite legend + .control-group {
    margin-top: 2px;
}

.cms-lite .content-languages ul {
    list-style: none;
}

.cms-lite .pointer {
    cursor: pointer;
}

.cms-lite .checkbox.inline {
    display: inline-block;
    padding-top: 5px;
    margin-bottom: 0;
    margin-right: 20px;
    vertical-align: middle;
    white-space: nowrap;
}

.cms-lite .checkbox.inline + .checkbox.inline {
    margin-left: 0px;
}

.cms-lite .fileupload .uneditable-input,
.cms-lite .fileupload .btn.btn-file,
.cms-lite .fileupload a.fileupload-exists {
    margin-bottom: 5px;
}

.cms-lite #operations-resource {
    margin: 10px;
}

#t_resourceTable {
    min-height: 25px;
    height: auto;
    padding: 5px;
}

#t_resourceTable .control-group {
    margin-bottom: 2px;
}

.ui-jqgrid input.ui-pg-input {
    width: auto;
    height: 14px;
    line-height: 18px;
    padding: 1px 3px;
}

.ui-jqgrid select.ui-pg-selbox {
    width: auto;
    height: 18px;
    line-height: 18px;
    padding: 1px 3px;
}
