<?xml version="1.0" encoding="UTF-8"?>
<response>
    #foreach( $prompt in $node.prompts )
        #if($prompt.class.simpleName == "AudioPrompt")
            <playaudio>$prompt.audioFileUrl</playaudio>
        #else
            <playtext>$prompt.message</playtext>
        #end
    #end
    #if ($node.transitions.size() == 0)
        <hangup></hangup>
    #elseif($node.transitions.size() == 1  && $node.transitions.get("hangup"))
        <hangup></hangup>
    #else
        #set ($url = "$scheme://$host$contextPath$servletPath/kookoo/ivr?provider=$provider&ln=$language&tree=$treeName&trP=$transitionPath")
        <collectdtmf l="$maxDigits" t="#" o="$maxTimeout"></collectdtmf>
        <gotourl>$escape.escapeXml($url)</gotourl>
    #end
</response>