<div class="clearfix inside">
    <button ng-click="unselectEntity()" type="button" class="btn btn-primary">
        <i class="icon-large icon-level-up"></i>
        {{msg('mds.btn.backToList')}}
    </button>
    <button id="lookupDialogButton" ng-click="showLookupDialog()" type="button" class="btn btn-default">
        <i class="icon-caret-down icon-large"></i>
        {{msg('mds.btn.lookup')}}
    </button>
    <select class="multiselect" ng-model="selectedFields" ng-options="field as field.basic.displayName for field in allEntityFields"
            multiple="multiple" multiselect-dropdown>
    </select>
    <button ng-click="exportEntityInstances()" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-export"></span>
        {{msg('mds.btn.exportCsv')}}
    </button>
</div>

<div id="lookup-dialog" class="popover bottom inside lookup-dialog" ng-style="lookupDialogStyle()">
    <div class="arrow" style="left:110px"></div>
    <div class="popover-content form-horizontal margin-after2">
        <div class="form-group">
            <label class="col-sm-3 control-label">{{msg('mds.form.label.lookup')}}</label>
            <div class="col-sm-9">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                    {{selectedLookup.lookupName || msg('mds.form.selectField')}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="lookup in entityAdvanced.indexes">
                        <a ng-click="selectLookup(lookup)">{{lookup.lookupName}}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="form-group" ng-repeat="field in lookupFields">
            <label class="col-sm-3 control-label">{{field.basic.displayName}}</label>
            <div class="col-sm-9 form-inline" ng-include="loadInputForLookupField(field)"></div>
        </div>

        <div class="form-group margin-before3">
            <div class="col-sm-offset-3 col-sm-9">
                <buton type="button" class="btn btn-danger" ng-click="removeLookup()">
                    {{msg('mds.btn.removeLookup')}}
                </buton>
                <button type="button" class="btn btn-primary" ng-click="filterInstancesByLookup()">
                    {{msg('mds.btn.go')}}
                </button>
            </div>
        </div>
    </div>
</div>
<div id="entityInstancesTable" class="overrideJqgridTable">
    <table id="resourceTable" entity-instances-grid="pageResourceTable"></table>
    <div id="pageResourceTable"></div>
</div>
