<table class="table table-bordered table-striped table-lightblue table-export">
    <thead>
        <tr>
            <th class="no-bg"></th>
            <th class="no-bg">
                {{msg('mds.export.schema')}}
            </th>
            <th class="no-bg">
                {{msg('mds.export.data')}}
            </th>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="settings-checkbox">
                    <input type="checkbox" id="schema-all" ng-click="checkAllSchemas()">
                </div>
            </td>
            <td>
                <div class="settings-checkbox">
                    <input type="checkbox" id="data-all" ng-click="checkAllData()">
                </div>
            </td>
        </tr>
    </thead>
    <tbody ng-repeat="module in getEntities()">
        <tr class="table-heading">
            <th>
                <span class="pointer" ng-click="hideModule(module)">
                    <i class="icon-fixed-width icon-large pointer icon-caret-down" id="{{module.name}}-arrow"></i>
                    {{module.name}}
                </span>
            </th>
            <th>
                <div class="settings-checkbox">
                    <input type="checkbox" id="schema-{{module.name}}" ng-click="checkModuleSchemas(module)">
                </div>
            </th>
            <th>
                <div class="settings-checkbox">
                    <input type="checkbox" id="data-{{module.name}}" ng-click="checkModuleData(module)">
                </div>
            </th>
        </tr>
        <tr ng-repeat="entity in module.entities" class="{{module.name}}">
            <td class="entity">{{entity}}</td>
            <td>
                <div class="settings-checkbox">
                    <input type="checkbox" id="schema-{{module.name}}-{{entity}}" ng-click="uncheckData(module, entity)">
                </div>
            </td>
            <td>
                <div class="settings-checkbox">
                    <input type="checkbox" id="data-{{module.name}}-{{entity}}" ng-click="checkSchema(module, entity)">
                </div>
            </td>
        </tr>
    </tbody>
</table>
<span class="btn btn-default" ng-click="exportData()">{{msg('mds.export.export')}}</span>