.table-header {
    background: #d4e4ef;
    border-color:#fff;
}

.table-role td:first-child, .table-role td .checkbox, .table-role td .checkbox input {
    text-align: center;
    float: none;
    margin: 0;
    padding-left: 0;
}

.table-role th {
    text-align: center;
}

.table-role thead tr > th:first-child,
.table-permission thead tr > th:first-child, .table-permission tbody tr > td:first-child  {
    text-align: center;
    width: 35px;
}

.table-role th:nth-child(2) {
    text-align: left;
    padding-left: 20px;
}

.table-checkbox .checkbox {
    margin-top: 0;
    margin-bottom: 0;
}

.panel-heading a {
    text-decoration: none;
}

.panel-heading.active {
    background: linear-gradient(to bottom, #D3E9FE 0%, #BFDCF4 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.dynamic-select {
    width: 100%;
}
