<div ng-controller="MdsBasicCtrl">

    <div ui-if="hasWorkInProgress()">
        <fieldset>
            <legend>{{msg('mds.wip.legend')}}</legend>
            <div>
                {{msg('mds.wip.info')}}
            </div>
            <ul>
                <li ng-repeat="entity in getWorkInProgress()">
                    {{entity.name}}
                    <span>
                        <a ng-click="resumeEdits(entity.id)">
                            {{ msg('mds.wip.resumeEdits') }}
                        </a>
                        {{msg('mds.or')}}
                        <a ng-click="discard(entity.id)">
                            {{ msg('mds.wip.discard') | lowercase }}
                        </a>
                    </span>
                </li>
            </ul>
        </fieldset>
    </div>

    <ul id="content-tabs" class="nav nav-tabs mds">
        <li ng-class="active('#/' + tab)" ng-repeat="tab in AVAILABLE_TABS">
            <a href="#/{{tab}}">
                {{msg('mds.tab.' + tab)}}
            </a>
        </li>
    </ul>

    <div class="tab-content mds" id="tab-content">
        <div id="main-content" class="tab-pane active">
            <div ng-view></div>
        </div>
    </div>
</div>
