.ui-draggable-handle{
    z-index:100;
}

.tasks .btn-in-frame-header {
    margin:-15px -10px;
    font-weight: normal;
}

.tasks .popover.dragpopover .popover-content {
    padding: 9px 9px 9px 9px;
}

.tasks #sortable, .tasks #sortable-no, .tasks #sortable span {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tasks #sortable li, .tasks #sortable-no li {
    height: 26px;
    padding: 0 6px;
    margin: 2px;
}

.tasks #sortable-no li span[unselectable="on"]:before {
    content: "\2610";
    text-decoration: none;
    margin-right: 5px;
    font-size: 1.2em;
}

.tasks .field-bubble{
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #777;
    border-radius: 10px;
    cursor: pointer;
}

.tasks .field-trigger {
    background-color: #3a87ad;
}

.tasks .field-ad {
    background-color: #f89406;
}

.tasks .field-pa {
    background-color: #7B040E;
}

.tasks .field-bubble .badge {
    border-radius: 5px;
    font-size: 0.8em;
    background-color: #FFF;
    color: #333333;
}

.tasks .field-trigger .badge {
    color: #3a87ad;
}
.tasks .field-ad .badge {
    color: #f89406;
}

.tasks .field-pa .badge {
    color: #7B040E;
}

manipulation-sorter ol.sortable li.ui-state-highlight{
    list-style: none;
    height: 15px;
}

manipulation-sorter .manipulation{
    display: block;
    position:relative;
    color: #333333;
    text-decoration: none;
    list-style: none;
    border: 1px solid #AFB5B8;
    border-radius: 3px;
    background-color: #F4F4F4;
    padding: 2px 6px;
    margin: 2px 2px 2px 2px;
}

manipulation-sorter .manipulation:hover {
    color: #046FD3;
    border-color: #046FD3;
}

manipulation-sorter .manipulation.active {
    cursor: move;
    border: 1px solid #92C7E3;
    border-radius: 3px;
    color: #224477;
    background: #ebf1f6;
    padding-right: 20px;
}

manipulation-sorter .manipulation.active.invalid {
    cursor: move;
    border: 1px solid #e3ae92;
    border-radius: 3px;
    color: #7F2419;
    background: #FCEDE1;
}

manipulation-sorter .manipulation:before{
    content: "\F067"; /* icon-plus */
    font:normal normal normal 14px/1 FontAwesome;
    margin-right: 5px;
}

manipulation-sorter .manipulation.active:before {
    content: "\F0DC"; /* icon-sort */
}

manipulation-sorter .manipulation .remove {
    display: block;
    width: 12px;
    height: 20px;
    overflow: hidden;
    position: absolute;
    top: 2px;
    right: 4px;
    background: transparent;
    border: 0px;
}

manipulation-sorter .manipulation .remove:hover {
    color: #CF0000;
}

manipulation-sorter .manipulation .remove:before {
    content: "\f057"; /* icon-times */
    font:normal normal normal 14px/1 FontAwesome;
}

.manipulation input {
    line-height: 1em;
    padding: 0 6px;
    width: 50px;
    margin: 0px 8px;
}

.manipulation button.edit:after {
    content: "\f08e"; /* External Link */
    font:normal normal normal 14px/1 FontAwesome;
    margin-left: 0px 5px;
}

.tasks #sortable > li.ui-sortable-helper {
    top: 10px;
    list-style: none;
}

.tasks #sortable li > span.glyphicon {
    line-height: inherit;
    float: right;
    margin: 0 0 0 10px;
}

.tasks #sortable li > span.format-edit{
    float: none;
    margin: -3px 5px 2px 5px;
    cursor: pointer;
}

.tasks #sortable li {
    margin-left: 25px;
}

.tasks #sortable li:nth-last-child(1) {
    margin-bottom: 15px;
}

.tasks #sortable span > span {
    margin-top: 3px;
}

.tasks .validation-area.error input,
.tasks .validation-area.error select,
.tasks .validation-area.error textarea {
    border-color: #B94A48;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.tasks .validation-area.error .checkbox,
.tasks .validation-area.error .radio,
.tasks .validation-area.error input,
.tasks .validation-area.error select,
.tasks .validation-area.error textarea {
    color: #B94A48;
}

.tasks editable-content {
    line-height: 1.4em;
    min-height: 36px;
    display: inline;
}

.tasks editable-content .actionField.input-block-level {
    height: auto;
    min-height: 36px;
    width: 100%;
    padding: 6px 12px;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.tasks .actionField.map-input {
    height: auto;
    min-height: 36px;
    border: 2px dotted #AAAAAA;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.tasks .actionField.in-map-input{
    float: left;
    padding: 6px 12px;
    width: 90%;
    height: auto;
    min-height: 36px;
}

.tasks .actionField.in-map-input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 11px rgba(82, 168, 236, 1)
    outline: 0 none;
}

.tasks .word-wrap {
    word-wrap: break-word;
    padding: 6px 12px;
}

.tasks .map-field {
    width: 30%;
    float: left;
    margin: 0px 5px 5px 0;
}

.tasks .map-field field span{
    max-width: 105%;
    overflow: hidden;
}

.tasks .actionField.period-input {
    height: auto;
    min-height: 36px;
    border: 2px dotted #AAAAAA;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.tasks .actionField.in-period-input{
    float: left;
    padding: 6px 12px;
    width: 100%;
    height: auto;
    min-height: 36px;
}

.tasks .actionField.in-period-input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 11px rgba(82, 168, 236, 1)
    outline: 0 none;
}

.tasks .period-field {
    width: 100%;
    float: left;
    margin: 0px 5px 5px 0;
}

.tasks editable-content .actionField.input-block-level:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}

.tasks editable-content .actionField.input-block-level span.badge {
    margin: 0 2px;
}

.tasks .warning-type {
    color: #ff972f;
}

.tasks .paused-task {
    color: #545454;
}

.tasks .badge-close {
    float: none; !important;
    font-size: 12px; !important;
    text-shadow: 0px 0px #FFF;
    color: #FFF;
    opacity: 1;
    width: 12px;
    overflow:hidden;
}

.tasks .badge-close:before {
    content: "\F057";
    font:normal normal normal 14px/1 FontAwesome;
}

.tasks editable-content > div[contenteditable] {
  border: 2px dotted #AAAAAA;
  background-color: #FFFFFF;
}

.tasks .panel-body.task-content {
    padding: 0;
    border: none;
    box-shadow: none;
}

.task-element .arrow-right:before {
    content: "\F061";
    font:normal normal normal 14px/1 FontAwesome;
}

.tasks-element .arrow-right {
    float: none; !important;
    font-size: 12px; !important;
    text-shadow: 0px 0px #FFF;
    opacity: 1;
    width: 12px;
    overflow:hidden;
}

.tasks .task-info {
    float: none; !important;
    font-size: 12px; !important;
    text-shadow: 0px 0px #FFF;
    opacity: 1;
    width: 12px;
    overflow:hidden;
}

.tasks .task-info:before {
    content: "\F129";
    font:normal normal normal 14px/1 FontAwesome;
}

.tasks #task-list .panel-body.task-content {
    background: #CBE6FF;
    background: -moz-linear-gradient(top,  #CBE6FF 0%, #98bede 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CBE6FF), color-stop(100%,#98bede));
    background: -webkit-linear-gradient(top,  #CBE6FF 0%,#98bede 100%);
    background: -o-linear-gradient(top,  #CBE6FF 0%,#98bede 100%);
    background: -ms-linear-gradient(top,  #CBE6FF 0%,#98bede 100%);
    background: linear-gradient(to bottom,  #CBE6FF 0%,#98bede 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFCBE6FF', endColorstr='#FF98bede',GradientType=0 );
}

.tasks .tasks-list .inbox-header.paused,
.tasks #task-list .panel-body.task-content.paused {
    background: #EDF2F4;
    background: -moz-linear-gradient(top,  #EDF2F4 0%, #CCD7DE 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EDF2F4), color-stop(100%,#CCD7DE));
    background: -webkit-linear-gradient(top,  #EDF2F4 0%,#CCD7DE 100%);
    background: -o-linear-gradient(top,  #EDF2F4 0%,#CCD7DE 100%);
    background: -ms-linear-gradient(top,  #EDF2F4 0%,#CCD7DE 100%);
    background: linear-gradient(to bottom,  #EDF2F4 0%,#CCD7DE 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFEDF2F4', endColorstr='#FFCCD7DE',GradientType=0 );
}

.tasks .tasks-list .inbox-header {
    padding: 5px 5px;
}

.tasks .tasks-list .task-nav > li.divider-vertical {
    border-left: 1px solid #A9CAE6;
    border-right: 1px solid #CEE3F7;
    height: 40px;
    margin: 0 5px;
    line-height: 40px;
}

.tasks .tasks-list .panel-collapse .task-nav > li.divider-vertical {
    border-left: 1px solid #A9CAE6;
    border-right: 1px solid #CEE3F7;
    height: 40px;
    margin: 5px;
    line-height: 40px;
}

.tasks .tasks-list .task-element {
    overflow: hidden;
    text-align: center;
}

.tasks .tasks-list .task-element.task-long-name {
    white-space: nowrap;
    text-align: left;
}

.tasks .tasks-list .task-status {
    color: darkgrey;
}

.tasks .tasks-list .task-nav.pull-right {
    font-weight: normal;
}

.tasks .tasks-list .task-element.task-offset {
    margin: 5px 15px;
}

.tasks .tasks-list .task-element img {
    border: none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.tasks .tasks-list .task-element .task-list-img {
    width: 36px;
}

.tasks .tasks-list .task-nav.pull-right .task-list-img {
    width: 28px;
}

.tasks .tasks-list .task-element .task-list-img-activity {
    width: 86px;
}

.tasks .tasks-list .task-element .task-list-img-arrow {
    width: 20px;
}

.tasks .tasks-list .task-element.task-active .task-list-img-activity {
    width: 19px;
    vertical-align: middle;
    padding: 0 1px 2px 2px;
}

.tasks .tasks-list .task-element .task-list-settings-enabled {
    background: url('../img/task-settings.png') no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 36px;
}

.tasks .tasks-list .task-element .task-list-settings-disabled {
    background: url('../img/task-settings-paused.png') no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 36px;
}

.tasks .task-active .task-list-button-activity {
    background: #9ECEEF url("../img/bg-light-active.png") repeat-x;
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 9px;
    border: 1px solid #1566B1;
    border-radius: 6px;
    height: 20px;
    line-height: 1.42857;
}

.tasks .task-active .task-list-text-activity {
    background: #1566B1 url("../img/bg-active.png") repeat-x;
    padding: 0 6px;
    border-radius: 0 6px 6px 0;
    float: left;
}

.tasks .task-list-div-activity {
    float: left;
}

.tasks .task-list-div-activity .fa-play-circle:before {
    background-color: #1566B1;
    backgroud-clip: text;
}

.tasks .tasks-list .task-element.task-paused .task-list-img-activity {
    width: 19px;
    vertical-align: middle;
    padding: 0 2px 2px 1px;
}

.tasks .task-paused .task-list-button-activity {
    background: #999999 url("../img/bg-light-paused.png") repeat-x;
    color: #EEEEEE;
    font-size: 13px;
    margin-top: 9px;
    border: 1px solid #666666;
    border-radius: 6px;
    height: 20px;
    line-height: 1.42857;
}

.tasks .task-paused .task-list-text-activity {
    float: left;
    background: #333333 url("../img/bg-paused.png") repeat-x;
    padding: 0 5px;
    border-radius: 6px 0 0 6px;
}

.tasks .tasks-list .task-buttons {
    border: 1px solid #B2D8F8;
    border-radius: 4px;
    font-size: 12px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    color: #FFFFFF;
    background: #3b679e; /* Old browsers */
    background: -moz-linear-gradient(top,  #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b679e), color-stop(50%,#2b88d9), color-stop(51%,#207cca), color-stop(100%,#7db9e8));
    background: -webkit-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: -o-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: -ms-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: linear-gradient(to bottom,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3b679e', endColorstr='#ff7db9e8',GradientType=0 );
}

.tasks .tasks-list .task-buttons {
    border: 1px solid #B2D8F8;
    border-radius: 4px;
    background: #3b679e; /* Old browsers */
    background: -moz-linear-gradient(top,  #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b679e), color-stop(50%,#2b88d9), color-stop(51%,#207cca), color-stop(100%,#7db9e8));
    background: -webkit-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: -o-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: -ms-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: linear-gradient(to bottom,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3b679e', endColorstr='#ff7db9e8',GradientType=0 );
}

.tasks .task-bar .task-nav > li.task-buttons {
    line-height: 20px;
    margin: 10px 5px ;
}

.tasks .tasks-list .task-nav.pull-right {
    overflow: visible;
}

.tasks .tasks-list .task-buttons a {
    color: #ffffff;
}

.tasks .tasks-list .task-buttons a:hover {
    text-decoration: underline;
}

.tasks .tasks-list .button-task-in {
    padding: 2px 8px;
}

.tasks #task-list.tasks-list, .tasks .tasks-list.alert {
    margin-bottom: 0;
}

.tasks #task-list .popover-title:empty, .tasks .history .popover-title:empty {
    display: none;
}

.tasks #task-list .panel-heading {
    border: none;
}

.tasks #task-list .panel-heading .accordion-toggle {
    padding: 0;
    border: none;
    color: #224477;
}

.tasks #task-list .panel-heading .accordion-toggle li:nth-child(5):hover {
    color: #0088CC;
}

.tasks #task-list .task-list-group,
.task-group {
    border: 1px solid #B2D8F8;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 2px;

}

.tasks #task-list > div:last-child {
    margin-bottom: 0;
}

.tasks .tasks .panel-heading {
    padding: 5px 10px;
}

.tasks .panel-heading .accordion-toggle.inbox-header {
    padding: 5px 10px;
}

.tasks .task-group .panel-body {
    border-top: none;
}

.tasks .task-group .control-section {
    background: #DEEEFF;
    border-radius: 4px;
    margin: 10px -10px;
    padding: 0 0 0 10px;
}

.tasks .task-group .control-section label {
    padding-top: 5px;
}

.tasks .task-group .panel-body .form-group {
    padding-left: 15px;
    padding-right: 15px;
}

.tasks .move-element span {
    cursor: move;
    margin-right: 10px;
    z-index: 5;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tasks .move-element {
    min-height: 20px;
    margin-bottom: 5px;
    padding: 4px 0 0 15px;
}

.tasks .task-content {
    border-radius: 4px;
    border: 1px solid #D4E1F9;
    background: #f5f9fb;
    background: -moz-linear-gradient(top,  #f5f9fb 0%, #e0edf4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f9fb), color-stop(100%,#e0edf4));
    background: -webkit-linear-gradient(top,  #f5f9fb 0%,#e0edf4 100%);
    background: -o-linear-gradient(top,  #f5f9fb 0%,#e0edf4 100%);
    background: -ms-linear-gradient(top,  #f5f9fb 0%,#e0edf4 100%);
    background: linear-gradient(to bottom,  #f5f9fb 0%,#e0edf4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff5f9fb', endColorstr='#ffe0edf4',GradientType=0 );
    -webkit-box-shadow: 0 0 2px #bec9de;
       -moz-box-shadow: 0 0 2px #bec9de;
            box-shadow: 0 0 2px #bec9de;
}

.tasks .task-list {
    min-width: 120px;
    margin: 0;
    padding: 5px 5px 5px 0;
    float: none;
    list-style: none;
    color: #000000;
    overflow-x: hidden;
}

.tasks .task-list li.error {
    color: #fa0328;
}

.tasks .task-list li.info {
    color: #0044cc;
}

.tasks .task-list li.success {
    color: #0D800B;
}

/*----- Tasks - recent -----*/

.tasks .recent-activity-img {
    height: 36px;
    width: 36px;
}

.tasks .table-recent-activity {
    margin-bottom: 0;
    vertical-align: middle;
    margin-top: -1px;
}

.tasks .table-recent-activity tbody + tbody {
    border-top: 1px solid #DDDDDD;
}

.tasks .table-recent-activity.table td {
    padding: 2px;
    text-align: center;
    vertical-align: middle;
}

.tasks .table-recent-activity.table-condensed td {
    padding: 1px;
}

.tasks .table-recent-activity.centered tbody td {
    text-align: center;
}

.tasks .table-recent-activity tbody td {
    vertical-align: middle;
    width: 36px;
    max-width: 38px;
}

.tasks .table-recent-activity tbody td.recent-info,
.tasks .table-recent-activity tbody td.recent-info span {
    overflow: hidden;
    max-height: 36px;
    height: 36px;
    white-space: nowrap;
}

.tasks .recent-activity-arrow {
    width: 20px;
}

.tasks .recent-activity-icon {
    width: 30px;
    margin-top: 4px;
}

.tasks .recent-name-first {
    font-weight: bold;
}

/*----- Tasks - history -----*/

.tasks .history .task-bar .task-nav > li.task-element.task-name {
    cursor: default;
}

.tasks .history .box-content {
    border: none;
    box-shadow: none;
}

.tasks .recent-activity-task-img {
    height: 26px;
    width: 26px;
}

.tasks .table-recent-activity-task {
    margin-bottom: 0;
    vertical-align: middle;
    border-right: 0;
}

.tasks .table-recent-activity-task tbody td:first-child {
    min-width: 35px;
    text-align: center;
}

.tasks .table-recent-activity-task tbody td:last-child {
    min-width: 100px;
}

.tasks .table-recent-activity-task tbody td.message-history {
    width: 80%;
}

.tasks .table-recent-activity-task tbody td.message-history p {
    margin-top: 3px;
    margin-bottom: 3px;
}


.tasks .section-source .popover-content ul {
    list-style-type: square;
    color: #224477;
    text-align: left;
    margin-top: 5px;
}

.tasks .section-source .popover .popover-content {
    color: #224477;
    margin: 0;
    padding: 0 10px 10px 25px;
}

.tasks .section-source .popover-title {
    display: block;
}

.tasks .section-source .popover {
    width: 266px;
}

.tasks h3.popover-title {
    font-weight: bold;
}

.tasks .section-source {
    margin: 10px auto;
    position: relative;
}

.tasks .section-source .left-arrow {
    padding-right: 20px;
}

.tasks .section-source .left-arrow, .tasks .section-source .right-arrow {
    float: left;
    margin: 115px 0 0;
    width: 52px;
}

.tasks .section-source .right-arrow {
    padding-left: 20px;
}

.tasks .section-source .section-task {
    background-color: #E4F1F9;
    border: 1px solid #D4E1F9;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
    padding: 15px;
}

.tasks .section-source .task-selector {
    float: left;
    list-style-type: none;
    position: relative;
}

.tasks .section-source .search-triggers {
    padding: 8px 12px 6px;
}

.tasks .task .search-data-source {
    margin: 5px 10px;
    min-width: 200px;
}
.tasks .task-bar {
    overflow: visible;
}

.tasks .task-bar.channel-deregistered {
    padding: 5px;
}

.tasks .task-bar .task-nav {
    display: block;
    float: left;
    left: 0;
    margin: 0;
    padding: 0;
}

.tasks .task-bar .task-nav.pull-right {
    float: right;
}

.tasks .task-nav {
    list-style: none;
    overflow: hidden;
}

.tasks .task-bar .task-nav > li {
    float: left;
    display: inline-block;
    line-height: 36px;
    margin: 0 5px;
}

.tasks .task-bar .btn, .task-bar .btn-group {
    margin-top: 7px;
}

.tasks .task-panel {
    float: left;
    font-weight: normal;
    height: 112px;
    width: 122px;
    list-style: none outside none;
    margin: 7px;
    padding: 0;
    position: relative;
    text-align: center;
    border: 1px solid #A3A4AF;
    color: #FFFFFF;
    border-radius: 4px;
    background: #dbdce2 url("../img/bg-task-panel.jpg") repeat-x;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.tasks .task-panel span, .tasks .panel-input .instruction {
    bottom: 0;
    color: #FFFFFF;
    display: block;
    font-size: 12px !important;
    line-height: 18px;
    overflow: hidden;
    padding: 1px 0;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    background: #3b679e; /* Old browsers */
    background: -moz-linear-gradient(top,  #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b679e), color-stop(50%,#2b88d9), color-stop(51%,#207cca), color-stop(100%,#7db9e8));
    background: -webkit-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: -o-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: -ms-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: linear-gradient(to bottom,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3b679e', endColorstr='#ff7db9e8',GradientType=0 );
}

.tasks .task-panel.active {
    border: 1px solid #DC0000;
    box-shadow: 0 0 7px #DC0000;
}

.tasks .task-element.task-name {
    text-align: left;
}

.tasks .task-element.task-name .i-name {
    width: 1em;
}

.tasks .task-bar .task-nav > li.task-element.task-name {
    line-height: 20px;
    text-align: left;
    cursor: pointer;
}

.tasks .task-element.task-name .name-second {
    margin: -7px 0 0 24px;
    font-weight: normal;
    font-size: 12px;
    display: block;
    line-height: 25px;
}

.tasks .task-element.task-name .name-second-history {
    white-space: pre;
    margin: -5px 0 0;
    font-weight: normal;
    font-size: 12px;
    display: block;
    line-height: 25px;
}

.tasks .panel-img  {
    height: 64px;
    width: 64px;
    margin: 15px auto;
}

.tasks li.padding-botton6 {
    padding-bottom : 6px;
    height: 20px;
}

.tasks .modal-header {
    background-color: white !important;
    font-weight: bold;
}

.tasks .modal-header .bootstrap-dialog-title {
    color: #224477 !important;
}

#helpModal .modal-dialog {
    width: 760px;
}

#helpModal .modal-body .header {
    color: #224477;
    font-size: 16px;
}

.tasks .control-help {
    float: left;
    padding-top: 5px;
    width: 160px;
}

.tasks .create-edit-task .panel-group {
    margin-bottom: 10px;
}

.tasks .create-edit-task .section-additives .form-group {
    margin-bottom: 10px;
}

.tasks .create-edit-task .dropdown-menu .select-limit {
    margin-right: 10px;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
    padding-right: 10px;
}

.tasks .create-edit-task .dropdown-menu .select-limit > li > a {
    clear: both;
    color: #333333;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 3px 10px 3px 22px;
    white-space: nowrap;
}

.tasks .create-edit-task .dropdown-menu .select-limit > li > a:hover,
.tasks .create-edit-task .dropdown-menu .select-limit > li > a:focus {
    background-color: #e8e8e8;
    background-image: linear-gradient(to bottom, #f5f5f5 0px, #e8e8e8 100%);
    background-repeat: repeat-x;
}

.tasks .create-edit-task .dropdown-menu .select-limit > li > a:hover,
.tasks .create-edit-task .dropdown-menu .select-limit > li > a:focus {
    color: #262626;
    text-decoration: none;
}

.tasks .task.form-horizontal .control-label.task-label {
    float: left;
    font-weight: bold;
}

.tasks .btn-in-heading {
    margin: 0;
    padding: 4px 12px;
}

.tasks .btn-in-input-map {
    margin: -5px -5px;
}

.tasks .btn-to-right {
    float: right;
    padding: 6px;
}

.tasks .form-group.error .control-label.tip .popover,
.tasks .form-group .control-label.tip .popover {
    color: #595959;
    text-align: left;
}


.tasks i.close-channel {
    position: absolute;
    border-color: #c5c5c5;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    display: inline-block;
    *display: inline;
    padding: 3px;
    top: 0;
    right: 0;
    margin: 0;
    color: #333333;
    vertical-align: middle;
    cursor: pointer;
    background-color: #CF0000;
    border: 1px solid #bbbbbb;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(220, 0, 0, 0.1) rgba(220, 0, 0, 0.25);
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    opacity: 0.0;
}

.tasks .task-panel.active i.close-channel {
    opacity: 1;
    color: #ffffff;
}

.tasks i.close-channel:hover {
    color: #333333;
    text-decoration: none;
    background-color: #ad0000;
}

.tasks i.close-channel.fa-times {
    background-position: -309px 3px;
}

.tasks .panel-heading a:hover li img {
    text-decoration: none;
    cursor: auto;
}

.tasks .panel-heading a:hover img {
    cursor: pointer;
}

.tasks .dropdown-small-fluid {
    min-width: 60px;
}

.tasks .dropdown-medium-fluid {
    min-width: 100px;
}

.tasks .dropdown-large-fluid {
    min-width: 140px;
}

.tasks .radio-inline {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.tasks .radio-inline + .radio-inline {
    padding-left: 40px;
}

.tasks .inside-0 {
    padding: 0 10px;
}

.tasks .popover {
    max-width: 400px;
    min-width: 230px;
}

.tasks textarea.form-control {
    min-height: 77px;
}

.tasks .panel-heading a {
    text-decoration: none;
}

#task-list .popover-content {
    white-space: normal;
    word-break: break-all;
}

.tasks pre {
    border: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.tasks .invisible {
    visibility: hidden
}

.tasks .list-group-item:hover {
    background-color: #F4F4F4;
}

.tasks .popover{
    max-width: 200%;
}

.trigger-lists {
    min-height: 435px;
}

editable-content .popover .inner-popover, nonEditable, .no-margin-bottom input[type="text"],
.no-margin-bottom editable-content {
    margin-bottom: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-margin-top input[type="radio"],
.no-margin-top editable-content {
    margin-top: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tasks .slider-label {
    clear: both;
    float: left;
    margin: 18px 15px 5px 0;
    text-align: right;
    width: 120px;
    overflow: hidden;
}

.tasks .triggers-pager span {
    margin: 0px 6px;
}

.tasks .triggers-pager input {
    border-radius: 5px;
    outline: none;
    border-style: groove;
    text-align: center;
}

#period-year, #period-month, #period-week,
#period-day, #period-hour, #period-minute,
#period-second {
    clear: right;
    float: left;
    margin: 21px 10px 10px;
    width: 330px;
}

#amount-period-year, #amount-period-month,
#amount-period-week, #amount-period-day,
#amount-period-hour, #amount-period-minute,
#amount-period-second {
    background: none;
    border: 0;
    color: #224477;
    font-weight: bold;
    margin: 16px 0 4px;
    float: left;
    width: 45px;
    font-size: 18px;
}
