<?xml version="1.0" encoding="UTF-8"?>
<Response>
    #foreach( $prompt in $node.prompts )
        #if($prompt.class.simpleName == "AudioPrompt")
            <Play>$prompt.audioFileUrl</Play>
        #elseif ($prompt.class.simpleName == "TextToSpeechPrompt")
            <Say>$prompt.message</Say>
        #elseif ($prompt.class.simpleName == "DialPrompt")
            #set ($url = "$scheme://$host$contextPath$servletPath/verboice/ivr?type=$type&ln=$language&tree=$treeName")
            #set ($dial = true)
            <Dial action="$escape.escapeXml($url)">$prompt.phoneNumber</Dial>
        #end
    #end
    #if ($node.transitions.size() > 0 && !$dial)
            #set ($url = "$scheme://$host$contextPath$servletPath/verboice/ivr?type=$type&ln=$language&tree=$treeName")
            #set ($maxTimeoutInSeconds = $maxTimeout / 1000)
            <Gather method="POST" action="$escape.escapeXml($url)" numDigits="$maxDigits" timeout="$maxTimeoutInSeconds"></Gather>
     #else
    #end
</Response>