<div class="lookups">
    <div class="margin-before2 clearfix">
        <div class="indexes-column col-sm-4">
            <div class="indexes-list" ng-click="setLookupFocus()" ng-if="advancedSettings.indexes.length">
                <div class="list-group">
                    <a ng-repeat="index in advancedSettings.indexes" class="list-group-item" ng-keydown="changeActiveIndex($event)" id="lookup-{{$index}}" tabindex="0" ng-click="setActiveIndex($index)" ng-class="{active: isActiveIndex($index)}">
                        {{index.lookupName}}
                        <span class="lookup-caret fa fa-2x fa-fw pull-right fa-caret-left"></span>
                    </a>
                </div>
            </div>
            <div class="form-group">
                <button ng-click="addNewIndex()" class="btn btn-success" ng-disabled="blockLookups || isNewLookupButtonDisabled" type="button">
                    <i class="fa fa-fw fa-plus"></i> {{msg('mds.btn.newLookup')}}
                </button>
            </div>
        </div>

        <div class="lookup-fields col-sm-8" ng-hide="activeIndex==-1">
            <form>
                <div class="mds alert alert-danger lookupExists">
                    {{msg('mds.warning.lookupNameExists')}}
                </div>
                <div class="form-inline">
                    <div class="form-group">
                    <label class="">{{msg('mds.form.label.lookupName')}}</label>
                        <input type='text' class="form-control input-xlarge-fluid offset-2" ng-disabled="lookup.readOnly || lookup.referenced" ng-required="true" ng-model='lookup.lookupName' id="lookup.name" maxlength="35" mds-auto-save-advanced-change mds-path="indexes.{{activeIndex}}.lookupName"/>
                        <span class="form-hint" ng-hide="lookup.lookupName">{{msg('mds.error.emptyLookup')}}</span>
                    </div>
                </div>
                <div class="form-inline margin-before2">
                    <div class="form-group">
                        <label class="">{{msg('mds.form.label.indexRequired')}}</label>
                    </div>
                    <div class="form-group offset-2">
                        <div class="checkbox">
                            <input type="checkbox" ng-disabled="lookup.readOnly || lookup.referenced" ng-model="lookup.indexRequired" mds-auto-save-advanced-change="click"  mds-path="indexes.{{activeIndex}}.indexRequired" checked>
                        </div>
                    </div>
                </div>
                <div class="form-inline margin-before2">
                    <div class="form-group">
                        <label class="">{{msg('mds.form.label.lookupReturns')}}</label>
                    </div>
                    <div class="form-group offset-2">
                        <label class="radio-inline">
                            <input type="radio" ng-disabled="lookup.readOnly || lookup.referenced" ng-model="lookup.singleObjectReturn" ng-value="true" mds-auto-save-advanced-change="click" mds-path="indexes.{{activeIndex}}.singleObjectReturn"/> {{msg('mds.form.singleObject')}}
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-disabled="lookup.readOnly || lookup.referenced" ng-model="lookup.singleObjectReturn" ng-value="false" mds-auto-save-advanced-change="click" mds-path="indexes.{{activeIndex}}.singleObjectReturn"/> {{msg('mds.form.multipleObjects')}}
                        </label>
                    </div>
                </div>

                <div class="form-horizontal margin-before2">

                    <div class="form-group margin-after" ng-show="lookup.lookupFields.length">
                        <div class="col-sm-4">{{msg('mds.form.label.fieldName')}}</div>
                        <div class="col-sm-3">{{msg('mds.form.label.type')}}</div>
                        <div class="col-sm-4">{{msg('mds.form.label.operator')}}</div>
                        <div class="col-sm-2">{{msg('mds.form.label.delete')}}</div>
                    </div>

                    <div ng-repeat="lookupField in lookup.lookupFields">
                        <div class="form-group">
                            <div class="col-sm-4">
                                <!-- Select field name -->
                                <button ng-disabled="lookup.readOnly || lookup.referenced" class="btn btn-default dropdown-toggle input-large" data-toggle="dropdown">
                                   {{getFieldDisplayNameByFieldId(lookupField.id) || msg('mds.form.select')}}
                                   <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu input-large">
                                    <li class="input-large" ng-repeat="field in availableFields">
                                        <a ng-click="selectField($parent.$index, field.id)">{{field.basic.displayName}}</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-sm-3">
                                <!-- Select lookup field type -->
                                <button ng-disabled="lookup.readOnly || lookup.referenced" class="btn btn-default dropdown-toggle input-medium" data-toggle="dropdown">
                                    {{lookupField.type}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu input-medium">
                                    <li class="input-medium" ng-repeat="type in lookupFieldTypes">
                                        <a ng-click="selectLookupFieldType($parent.$index, type)">{{type}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <!-- Custom operators dropdown -->
                                <button ng-disabled="lookup.readOnly || lookup.referenced || lookupField.type !== 'VALUE'" class="btn btn-default btn-block dropdown-toggle input-medium" style="width:100%" data-toggle="dropdown">
                                    {{getOperatorMsg(lookupField.customOperator)}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu input-large">
                                    <li class="input-large" ng-repeat="(operator, operatorMsgKey) in customOperators">
                                        <a ng-click="selectLookupFieldCustomOperator($parent.$index, operator)">{{msg(operatorMsgKey)}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-2">
                                <!-- Delete field button -->
                                <button type="button" class="btn btn-danger" ng-click="removeLookupField($index)" ng-disabled="lookup.readOnly || lookup.referenced">
                                    <i class="fa fa-fw fa-trash-o"></i>
                                </button>
                            </div>

                            <div class="form-group margin-after" ng-if="isLookupFieldInRelationship(lookupField.id)">
                                <div class="col-sm-4 margin-before">{{msg('mds.form.label.relatedFieldName')}}</div>
                            </div>
                            <div class="form-group margin-after">
                                <div class="col-sm-4" ng-if="isLookupFieldInRelationship(lookupField.id)" ng-init="getRelatedEntityFields(lookupField)">
                                    <!-- Select related field name -->
                                    <button ng-disabled="lookup.readOnly || lookup.referenced" class="btn btn-default dropdown-toggle input-large" data-toggle="dropdown">
                                        {{lookupField.relatedName}}
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu input-large">
                                        <li class="input-large" ng-repeat="field in lookupAvailableRelatedFields[lookupField.id]">
                                            <a ng-click="selectLookupRelatedField($parent.$index, field.basic.name)">{{field.basic.displayName}}</a>
                                        </li>
                                    </ul>
                                    <span class="form-hint form-hint-bottom" ng-hide="lookupField.relatedName">{{msg('mds.error.lookupEmptyFieldName')}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="form-group">
                <div class="margin-before2">
                    <button type="button" class="btn btn-success" ng-click="addLookupField()" ng-show="!lookup.readOnly && !lookup.referenced" ng-disabled="lookup.referenced || isNewLookupFieldButtonDisabled || availableFields.length === 0">
                        <i class="fa fa-fw fa-plus"></i> {{msg('mds.btn.newLookupField')}}
                    </button>
                </div>
                <div class="alert alert-warning alert-block" ng-show="lookup.referenced">
                    {{msg('mds.warning.lookupReferencesFound')}}
                </div>
            </div>
        </div>
    </div>
    <div class="inside form-group">
        <div class="pull-right" ng-show="!lookup.readOnly && !lookup.referenced" ng-if="activeIndex>-1">
            <button type="button" class="btn btn-danger" ng-click="deleteLookup()">
                <i class="fa fa-fw fa-trash-o"></i> {{msg('mds.btn.delete')}}
            </button>
        </div>
    </div>
</div>
