<table id="import-module" class="table table-bordered table-striped table-lightblue table-import-export" ng-show="importId">
    <thead>
    <tr>
        <th class="no-bg col-md-8">
            <div class="btn-group offset-05">
                <input type="text" ng-model="searchText" class="form-control input-sm input-large-fluid search-query" placeholder="{{msg('mds.form.searchByModuleEntity')}}">
            </div>
            <div class="btn-group offset-05">
                <button ng-click="expandAll('import-module')" type="button" class="btn btn-default btn-sm"><i class="fa fa-fw fa-lg fa-angle-double-down"></i> {{msg('mds.btn.expandAll')}}</button>
                <button ng-click="collapseAll('import-module')" type="button" class="btn btn-default btn-sm"><i class="fa fa-fw fa-lg fa-angle-double-up"></i> {{msg('mds.btn.collapseAll')}}</button>
            </div>
        </th>
        <th class="no-bg col-md-2">
            {{msg('mds.import.schema')}}
        </th>
        <th class="no-bg col-md-2">
            {{msg('mds.import.data')}}
        </th>
    </tr>
    <tr>
        <td>
            <strong class="table-header offset-05">{{msg('mds.btn.selectAll')}}</strong>
        </td>
        <td>
            <div class="settings-checkbox">
                <input type="checkbox" id="schema-all"
                       ng-checked="isAllEntitiesSchemaChecked(importEntities)"
                       mds-indeterminate="isNotAllEntitiesSchemaChecked(importEntities)"
                       ng-disabled="isAllEntitiesSchemaDisabled(importEntities)"
                       ng-click="toggleSchemaCheck(importEntities)">
            </div>
        </td>
        <td>
            <div class="settings-checkbox">
                <input type="checkbox" id="data-all"
                       ng-checked="isAllEntitiesDataChecked(importEntities)"
                       mds-indeterminate="isNotAllEntitiesDataChecked(importEntities)"
                       ng-disabled="isAllEntitiesDataDisabled(importEntities)"
                       ng-click="toggleDataCheck(importEntities)">
            </div>
        </td>
    </tr>
    </thead>
    <tbody ng-repeat="moduleEntities in groupedImportEntities | orderObj | findModulesObj:searchText">
    <tr class="table-heading">
        <th>
                <span class="pointer" ng-click="toggleModule($index, 'import-module')">
                    <i class="fa fa-fw fa-lg fa-caret-down pointer" id="{{$index}}-arrow-import-module"></i>
                    {{moduleEntities.$key}}
                </span>
        </th>
        <th>
            <div class="settings-checkbox">
                <input type="checkbox" id="schema-{{moduleEntities.$key}}"
                       ng-checked="isAllEntitiesSchemaChecked(moduleEntities)"
                       mds-indeterminate="isNotAllEntitiesSchemaChecked(moduleEntities)"
                       ng-disabled="isAllEntitiesSchemaDisabled(moduleEntities)"
                       ng-click="toggleSchemaCheck(moduleEntities)">
            </div>
        </th>
        <th>
            <div class="settings-checkbox">
                <input type="checkbox" id="data-{{moduleEntities.$key}}"
                       ng-checked="isAllEntitiesDataChecked(moduleEntities)"
                       mds-indeterminate="isNotAllEntitiesDataChecked(moduleEntities)"
                       ng-disabled="isAllEntitiesDataDisabled(moduleEntities)"
                       ng-click="toggleDataCheck(moduleEntities)">
            </div>
        </th>
    </tr>
    <tr ng-repeat="entity in moduleEntities | orderBy:'entityName' | findEntity:moduleEntities.$key:searchText:false" class="moduleDetails{{$parent.$index}}">
        <td class="entity">{{entity.entityName}}</td>
        <td>
            <div class="settings-checkbox">
                <input name="{{entity.entityName}}" value="schema"
                       type="checkbox" id="schema-{{moduleEntities.$key}}-{{entity.entityName}}" ng-model="entity.includeSchema"
                       ng-disabled="!entity.canIncludeSchema"
                       ng-click="entity.includeData = entity.includeSchema ? false : entity.includeData">
            </div>
        </td>
        <td>
            <div class="settings-checkbox">
                <input name="{{entity.entityName}}" value="data"
                       type="checkbox" id="data-{{moduleEntities.$key}}-{{entity.entityName}}" ng-model="entity.includeData"
                       ng-disabled="!entity.canIncludeData"
                       ng-click="entity.includeSchema = entity.includeData ? entity.includeSchema : true">
            </div>
        </td>
    </tr>
    </tbody>
</table>

<div class="inside">
    <div class="form-group" ng-hide="importId">
        {{msg('mds.import.info')}}
    </div>
    <div class="clearfix"></div>
    <div class="input-append">
        <div class="alert alert-warning" ng-show="importId">
            <h4>{{msg('mds.warning')}}</h4>
            <p>{{msg('mds.import.warning')}}</p>
        </div>
        <form class="form-inline" id="importForm" ng-submit="importUploadFile()">
            <fieldset>
                <div class="form-group fileupload fileupload-new" data-provides="fileupload">
                    <label class="control-label">{{msg('mds.import.file')}}</label>
                    <div class="form-control input-auto uneditable-input input-large fileupload-exists"><span class="glyphicon glyphicon-file"></span>&nbsp;<span class="fileupload-preview"></span></div>
                            <span class="btn btn-default btn-file">
                                <span class="fileupload-new">{{msg('mds.import.selectFile')}}</span>
                                <span class="fileupload-exists">{{msg('mds.import.changeFile')}}</span>
                                <input type="file" name="file" class="input-file" mds-file-changed="importFileChanged"/>
                            </span>
                    <a target="_self" href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload"><i class="fa fa-fw fa-trash-o"></i>&nbsp;{{msg('mds.import.remove')}}</a>
                    <input type="submit" class="offset-1 btn btn-default fileupload-exists" value="{{msg('mds.import.submit')}}" ng-hide="importId" />
                    <span class="offset-1 btn btn-default" ng-show="importId" ng-click="importSelectedEntities()">{{msg('mds.import.import')}}</span>
                </div>
            </fieldset>
        </form>
    </div>
</div>
