form.form-horizontal {
    margin: 0;
}

.settings-form  {
    border-top: 1px solid #D4E1F9;
    margin: 0;
}

.settings-form form, form.form-inline {
    margin: 0;
}

.page-size-list {
    height: 29px !important;
    display: inline-block;
}

h4.settings-section {
    padding: 10px 0 0 10px;
}

.settings-form.span6 {
    margin-left:0;
    width: 49.99%;
}

.box-content .lightblue-settings, .lightblue-settings  {
    background: #dbedf7;
    border-left:1px solid #D4E1F9;
}

.box-content > div.settings-form:first-child {
    border: transparent;
}

.box-content > div.settings-form:first-child,
.box-content > div.settings-form:nth-child(2) {
    border-top: none;
    background: none;
}

.form-save {
    background:#cce5f4;
    margin: 0;
    border-radius: 0 0 6px 6px;
}

.box-block {
    min-height: 20px;
    padding-left: 20px;
}

.bundle-dtLabel {
    float: left;
    width: 23%;
    font-weight: bold;
}

.bundle-dtValue {
    min-height: 1em;
    margin-left: 23%;
    width: 75%;
}

.bundle-prop {
    padding: 5px;
    border-bottom: 1px dotted;
}

.bundle-thValue {
    float: left;
}

.small-icon {
    width: 25px;
    height: 25px;
}

.large-icon {
    width: 90px;
    height: 90px;
}

#commandLinks .action {
    display: block;
    position:relative;
    overflow: hidden;
    float:left;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin-right:3px;
    padding-left:25px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2a80c8+10,246cb2+50,07387d+51,1e679b+90 */
    background: #2a80c8; /* Old browsers */
    background: -moz-linear-gradient(top, #2a80c8 10%, #246cb2 50%, #07387d 51%, #1e679b 90%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #2a80c8 10%,#246cb2 50%,#07387d 51%,#1e679b 90%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #2a80c8 10%,#246cb2 50%,#07387d 51%,#1e679b 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2a80c8', endColorstr='#ff1e679b',GradientType=0 ); /* IE6-9 */
}
#commandLinks .action:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e679b+10,07387d+49,246cb2+50,2a80c8+90 */
    background: #1e679b; /* Old browsers */
    background: -moz-linear-gradient(top, #1e679b 10%, #07387d 49%, #246cb2 50%, #2a80c8 90%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e679b 10%,#07387d 49%,#246cb2 50%,#2a80c8 90%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1e679b 10%,#07387d 49%,#246cb2 50%,#2a80c8 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1e679b', endColorstr='#ff2a80c8',GradientType=0 ); /* IE6-9 */
}

.bundle-actions .action::before{
    position:absolute;
    top:0px;
    left:0px;
    font: normal normal normal 14px/1 FontAwesome;
    width:100%;
    text-align: center;
    padding-top: 5px;
    color:#F4F6F7;
}

.bundle-actions .action-start::before{
    content:"\f04b";
}
.bundle-actions .action-start:hover {
    color: #00a400;
}
.bundle-actions .action-stop::before{
    content: "\f04d";
}
.bundle-actions .action-pause::before {
    content: "\f04c";
}
.bundle-actions .action-remove::before {
    content: "\f1f8";
}

.bundle-actions .action-stop:hover::before,
.bundle-actions .action-pause:hover::before,
.bundle-actions .action-remove:hover::before {
    color:#FF0000;
}

.bundle-actions .action-restart::before {
    content: "\f021";
}
.bundle-actions .action-restart:hover::before {
    color: #EFBD2C;
}
.bundle-actions .action-settings::before {
    content: "\f013";
}
.bundle-actions .action-settings:hover::before {
    color: #78D3FC;
}


.bundle-back:hover {
    color: #bec9de;
    text-decoration:none;
}

/* ----- table ----- */

.table-content {
    border-radius:4px;
    padding: 0;
}

.table-bundles {
    line-height: 20px;
}

.table-bundles a:link {
    text-decoration: none;
}

.table-bundles thead tr th, .table-bundles tbody tr td {
    text-align: center;
    line-height: 1.5em;
}

.table-bundles tbody tr td {
    line-height: 1.8em;
}

.table-bundles thead tr > th:nth-child(3){
    text-align: left;
}

.table-bundles thead tr > th:first-child,
.table-bundles thead tr > th:nth-child(2) {
    text-align: center;
    width: 38px;
}

.table-bundles thead tr > th:nth-child(4){
    width: 150px;
}

.table-bundles thead tr > th:nth-child(5){
    width: 100px;
}

.table-bundles tbody tr > td:nth-child(3){
    text-align:left;
}

.table-bundles tbody tr > td:last-child {
    width: 135px;
    text-align:left;
    white-space: nowrap;
    text-decoration: none;
}

.table-bundles th {
    white-space: nowrap;
    cursor: pointer;
}

.table-bundles.table-bordered {
    border-radius: 0 0 4px 4px;
}

.table-bundles .btn-xs {
    font-size: 14px;
}

/* ----- filter, statistics ----- */

.statistics {
    line-height: 28px;
    padding: 10px;
    border-left: 1px solid #D4E1F9;
}

.statistics span {
    padding: 6px 10px;
    margin: 0;
}

.statistics span.param {
    border-left: 1px solid #D4E1F9;
}

.top-line {
    border-top: 1px solid #D4E1F9;
}

.filter .form-inline .control-label {
    text-align: left;
    padding-right: 5px;
}

.log-line {
     border-bottom: 1px solid #D4E1F9;
}

.log-section .log-change {
    margin-bottom: 0;
}

.log-section .log-download {
     border-left: 1px solid #D4E1F9;
     padding-left: 10px;
     text-align: right;
}

.log-content {
    background-color: white;
    padding: 10px;
    font-family: Consolas,'Lucida Console','DejaVu Sans Mono',monospace;
    font-size: 12px;
    word-wrap: break-word;
    overflow: visible;
}

div.sidebar-container {
    height: 90px !important;
}

#changeLogLevels .form-group {
    margin: 0;
    margin-bottom: 0;
    background-color: #E4F1F9;
    padding: 5px 5px 5px 45px;
}

#changeLogLevels .form-group.log {
    padding: 10px 5px 2px 15px;
}

#changeLogLevels .form-actions {
    background: #E4F1F9;
    margin: 0;
    padding: 19px 20px 20px 45px;
}

#changeLogLevels .label-logAll {
    width: 155px;
    float: left;
    margin-top: 6px;
    text-align: right;
}

#changeForAll {
    margin: 1px 1px 1px 9px;
}

#changeLogLevels .btn-log {
    width: 80px;
}

#changeLogLevels .btn-hidden {
    visibility: hidden;
}

.form-actions {
    background: #E4F1F9;
    padding: 19px 20px 20px 45px;
    margin-top: 0;
    margin-bottom: 0;
}

.log-options {
    background: #DBEDF7;
    background-image: none;
}

#changeLogLevels > div {
    background-color: #EBF7FF;
    border-top: 1px solid #D4E1F9;
    margin: 0 -10px 0px;
    padding: 5px 5px 5px 10px;
}

.messages {
    background-color: #EBF7FF;
    border-top: 1px solid #D4E1F9;
    padding: 5px 5px 5px 0;
}

#notificationRulesForm > div {
    background-color: #EBF7FF;
    border-top: 1px solid #D4E1F9;
    padding: 5px 5px 5px 15px;
}

#changeLogLevels  > div.form-actions {
    border-left: none;
}

#notificationRulesForm > div .form-group {
    margin: 0 10px;
}

.message-content div.messages:nth-child(2n+1),
#notificationRulesForm > div:nth-child(2n+1),
#changeLogLevels > div:nth-child(2n+1) {
    background: #F3FBFE;
}

.message-content .messages.form-group:last-child {
    margin: 0 -10px -10px;
}

#notificationRulesForm > div:last-child {
    padding: 20px 5px 20px 15px;
}

p#settingsMsg:empty {
    padding: 0;
    margin: 0;
}

.admin .text-plain {
    font-weight: normal;
}


.admin .message-list {
    margin-bottom: 0;
    list-style-type: none;
}

.admin .message-content {
    border: 1px solid #D4E1F9;
    border-radius: 2px;
    padding: 0;
    margin-top: none;
}