<!doctype html>
<html ng-app="motech-admin">
    <head>
        <meta charset="utf-8" />
        <title>MoTeCH Admin</title>

        <link rel="stylesheet" type="text/css" href="css/table.css" />
        <link rel="stylesheet" type="text/css" href="css/admin.css" />
        <link rel="stylesheet" type="text/css" href="css/jquery.alerts.css" />
        <link rel="stylesheet" type="text/css" href="css/nav.css" />

        <script type="text/javascript">
            var loc = new String(window.location);
            if (loc.charAt(loc.length-1) != '/') {
                loc += '/';
                window.location = loc;
            }
        </script>

        <script src="lib/angular/angular.min.js" type="text/javascript"></script>
        <script src="lib/angular/angular-resource.min.js" type="text/javascript"></script>
        <script src="lib/angular/angular-cookies.min.js" type="text/javascript"></script>

        <script src="lib/jquery/jquery-1.7.2.min.js" type="text/javascript"></script>
        <script src="lib/jquery/jquery.form.js" type="text/javascript"></script>
        <script src="lib/jquery/jquery-ui.min.js" type="text/javascript"></script>
        <script src="lib/jquery/jquery.alerts.js" type="text/javascript"></script>
        <script src="lib/jquery/jquery.i18n.properties-min-1.0.9.js" type="text/javascript"></script>
        <script src="lib/jquery/jquery.tools.min.js" type="text/javascript"></script>
        <script src="lib/jquery/jquery.blockUI.js" type="text/javascript"></script>

        <script src="js/util.js" type="text/javascript"></script>
        <script src="js/common.js" type="text/javascript"></script>
        <script src="js/app.js" type="text/javascript"></script>
        <script src="js/services.js" type="text/javascript"></script>
        <script src="js/controllers.js" type="text/javascript"></script>
        <script src="js/localization.js" type="text/javascript"></script>
        <script src="js/directives.js" type="text/javascript"></script>

    </head>

    <body ng-controller="MasterCtrl">

        <div id="header">
           <a href="#/bundles"><img src="img/logo.png" alt="logo" /></a>
           <h1>{{msg('title')}}</h1>
        </div>
        <div id="nav-panel">
            <ul id="nav">
                <li>
                    <a href="#/bundles">{{msg('manageModules')}}</a>
                </li>
                <li>
                    <a href="#/settings">{{msg('settings')}}</a>
                </li>
                <li>
                    <a href="#/operations">{{msg('operations')}}</a>
                </li>
                <li>
                    <a href="#/modulePanels">{{msg('modules')}}</a>
                    <ul>
                        <li ng-repeat="(key, value) in mappings">
                            <a ng-href="../{{value}}">{{key}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div id="content">
            <div id="left-half">
                <div ng-view></div>
            </div>

            <div id="right-half" ng-controller="StatusMsgCtrl">
                <div class="box-header">
                    {{msg('messages.title')}}
                    <a ng-click="refresh()"><img src="img/refresh.png" title="{{msg('refresh')}}" alt="{{msg('refresh')}}" /></a>
                </div>
                <div class="box-content">
                    <span ng-show="messages.length < 1"><p>{{msg('messages.empty')}}</p></span>
                    <div ng-repeat="message in messages" ng-class="getCssClass(message)">
                        <div class="status-message">
                            <a ng-click="remove(message)"><img alt="{{msg('delete')}}" title="{{msg('remove')}}" src="img/delete.png" /></a>
                            <span class="msg-date">{{printDate(message.date) | date:'medium'}}</span> <span class="msg-level">
                            [{{message.level}}]</span>: {{printText(message.text)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>