#macro( msg $key )
    $messages.getMessage($key,null,$locale)
#end

<html>
<body>

    <strong>#msg('email.hello') $user</strong>

    <p>#msg('email.login_info_msg1')</p>

    <p>#msg('email.login_info_msg2') <a href="$link">$link</a></p>
    <p>#msg('email.login_info_msg3')</p>

    <p>#msg('email.login'): $user</p>
    <p>#msg('email.password'): $password</p>

</body>
</html>
