<html>
<body>

<strong>Hello $user</strong>

    <p>Someone has opened a password recovery request for your account. If it was you, click the following link in order to
    reset your password:</p>

    <p><a href="$link">$link</a><p>

    <p> If you did not request password recovery please ignore this message.</p>
</body>
</html>