.hide {
    display: none;
}

.modal.large {
    width: 80%;
    margin-left: -40%;
}

.select-entity {
    width: 400px;
}

.select-field-type {
    width: 250px;
}

.table, .table tbody, .table td {
    border: none !important;
}

.table tfoot {
    border-top: thin solid gray
}

.ui-timepicker-div select {
    width: auto;
    height: 24px;
    line-height: 18px;
    padding: 1px 3px;
    margin: 0 0 0 5px;
}

.welcome p {
    font-size:15px;
    font-weight:200;
    line-height:20px;
}

.metadata-control-group {
    margin: 20px 0 20px 0;
    clear: both;
}


.metadata-control {
    margin: 5px 0 5px 0;
    float: left;
}

.metadata-control-label {
    margin-right: 5px;
}

.metadata-control-save {
    clear: both;
    float: left;
    margin: 5px 0 5px 140px;
}

.metadata-error {
    margin-left: 160px;
}
