<?xml version="1.0" encoding="UTF-8"?>
<vxml version="2.1" xmlns="http://www.w3.org/2001/vxml">
    <menu>
    	<property name="inputmodes" value="dtmf"/>
    	<prompt>Press 1 for symptoms, 2 for out box</prompt>
        #foreach( $mapEntry in $views )
        	#set ($url = "$contentPath/$mapEntry.value?pId=$patientId")
    		<choice dtmf="$mapEntry.key" next="$escape.escapeXml($url)"/>
        #end
    </menu>
</vxml>