<?xml version="1.0" encoding="UTF-8"?>
<vxml version="2.1" xmlns="http://www.w3.org/2001/vxml">
	<form>
 		<block>
            <prompt>
                This is to remind you that you are due for your next clinic visit soon. Call the clinic on 022 2576 7829 to fix up a date or time.
            </prompt>
		</block>
	</form>
</vxml>