<div class="row inside">
    <div class="col-md-12">
        <div class="row">
            <h4 ng-if="action === 'new'">{{msg('scheduler.scheduleJob')}}</h4>
            <h4 ng-if="action === 'edit'">{{msg('scheduler.updateJob')}}</h4>
        </div>
        <form class="form-horizontal" name="JobForm" role="form">
            <div class="form-group">
                <label for="type" class="control-label col-sm-2" mt-invalid="'JobForm.type.$invalid'">{{msg('scheduler.jobType')}}:</label>
                <div class="col-sm-10">
                    <select id="type" class="form-control" name="type" required ng-change="typeChanged()" ng-disabled="action === 'edit'" ng-model="job['@jobType']" ng-options="type.name as type.displayName for type in jobTypes">
                        <option value="" disabled selected>{{msg('scheduler.selectType')}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="subject" class="control-label col-sm-2" mt-invalid="'JobForm.subject.$invalid'">{{msg('scheduler.motechEventSubject')}}:</label>
                <div class="col-sm-10">
                    <input type="text" id="subject" class="form-control" name="subject" required placeholder="Event event subject" ng-disabled="action === 'edit'" ng-model="job.motechEvent.subject">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">{{msg('scheduler.motechEventParameters')}}:</label>
                <div class="col-sm-10">
                    <div class="row horizontally-inside">
                        <div ng-if="action !== 'edit'" class="input-group">
                            <span class="input-group-addon">{{msg('scheduler.key')}}</span>
                            <input type="text" id="key" class="form-control" ng-model="key">
                            <span class="middle input-group-addon">{{msg('scheduler.value')}}</span>
                            <input type="text" class="form-control" ng-model="value">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="button" ng-disabled="!key || !value" ng-click="addToMap(key, value); key = ''; value = ''">{{msg('scheduler.addToMap')}}</button>
                            </span>
                        </div>
                    </div>
                    <div class="row horizontally-inside map">
                        <div class="input-group" ng-repeat="parameter in motechEventParameters">
                            <input type="text" ng-disabled="action === 'edit'" class="form-control" ng-model="parameter.key">
                            <span class="middle input-group-addon">:</span>
                            <input type="text" ng-disabled="action === 'edit'" class="form-control" ng-model="parameter.value">
                            <span ng-if="action !== 'edit'" class="input-group-btn">
                                <button class="btn btn-danger" type="button" ng-click="removeFromMap(parameter.key)"><i class="fa fa-lg fa-trash-o"></i></button>
                            </span>
                        </div>
                    </div>
                    <div ng-if="action !== 'edit'" class="row horizontally-inside">
                        <button class="btn btn-danger" type="button" ng-click="resetMap()"><i class="fa fa-lg fa-eraser"></i> {{msg('scheduler.resetMap')}}</button>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="job['@jobType']">
                <label for="jobDateFrom" class="control-label col-sm-2" mt-invalid="'JobForm.startDate.$invalid'">{{msg('scheduler.startDate')}}:</label>
                <div class="col-sm-10">
                    <input id="jobDateFrom" date-picker="" min="getMinDate(job['@jobType'])" max="dates.endDate" type="datetime" class="form-control" name="startDate" ng-required="job['@jobType'] !== 'CRON'" placeholder="{{msg('scheduler.enterStartDate')}}" ng-model="dates.startDate" parsed="job.startDate">
                </div>
            </div>
            <div class="form-group" ng-if="job['@jobType'] && job['@jobType'] !== 'RUN_ONCE'">
                <label for="jobDateTo" class="control-label col-sm-2">{{msg('scheduler.endDate')}}:</label>
                <div class="col-sm-10">
                    <input id="jobDateTo" date-picker="" min="dates.startDate" type="datetime" class="form-control" placeholder="{{msg('scheduler.enterEndDate')}}" ng-model="dates.endDate" parsed="job.endDate">
                </div>
            </div>
            <div class="form-group" ng-if="job['@jobType'] === 'CRON'">
                <label for="cronExpression" class="control-label col-sm-2" mt-invalid="'JobForm.cronExpression.$invalid'">{{msg('scheduler.cronExpression')}}:</label>
                <div class="col-sm-10">
                    <input type="text" id="cronExpression" class="form-control" name="cronExpression" required placeholder="{{msg('scheduler.enterCronExpression')}}" ng-model="job.cronExpression">
                </div>
            </div>
            <div ng-if="job['@jobType'] === 'REPEATING'">
                <div class="form-group">
                    <label for="repeatCount" class="control-label col-sm-2">{{msg('scheduler.repeatCount')}}:</label>
                    <div class="col-sm-10">
                        <input type="number" id="repeatCount" class="form-control" min="0" placeholder="{{msg('scheduler.enterRepeatCount')}}" ng-model="job.repeatCount">
                    </div>
                </div>
                <div class="form-group">
                    <label for="repeatInterval" class="control-label col-sm-2" mt-invalid="'JobForm.repeatInterval.$invalid'">{{msg('scheduler.repeatIntervalInSeconds')}}:</label>
                    <div class="col-sm-10">
                        <input type="number" id="repeatInterval" class="form-control" name="repeatInterval" required min="0" placeholder="{{msg('scheduler.enterRepeatInterval')}}" ng-model="job.repeatIntervalInSeconds">
                    </div>
                </div>
            </div>
            <div ng-if="job['@jobType'] === 'DAY_OF_WEEK'">
                <div class="form-group">
                    <label for="days" class="control-label col-sm-2" mt-invalid="'JobForm.days.$invalid'">{{msg('scheduler.days')}}:</label>
                    <div class="col-sm-10">
                        <select name="days" required id="days" multiple="multiple" ng-model="job.days" days-of-week>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="time" class="control-label col-sm-2" mt-invalid="'JobForm.time.$invalid'">{{msg('scheduler.time')}}:</label>
                    <div class="col-sm-10">
                        <input id="time" class="form-control" name="time" required placeholder="{{msg('scheduler.enterTime')}}" time-picker ng-model="job.time">
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="job['@jobType'] === 'REPEATING_PERIOD'">
                <label for="repeatPeriod" class="control-label col-sm-2" mt-invalid="'JobForm.repeatPeriod.$invalid'">{{msg('scheduler.repeatPeriod')}}:</label>
                <div class="col-sm-10">
                    <div class="row horizontally-inside">
                        <div class="input-group">
                            <input type="text" id="repeatPeriod" class="form-control col-sm-6" name="repeatPeriod" required placeholder="{{msg('scheduler.enterRepeatPeriod')}}" period-amount period-validity ng-model="job.repeatPeriod">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default period-modal-opener" data-toggle="modal" data-backdrop="static">{{msg('mds.form.changePeriod')}}</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="job['@jobType'] && job['@jobType'] !== 'RUN_ONCE'">
                <label class="control-label col-sm-2" for="ignorePastFires">{{msg('scheduler.ignorePastFiresAtStart')}}:</label>
                <div class="col-sm-10">
                    <input type="checkbox" id="ignorePastFires" ng-model="job.ignorePastFiresAtStart">
                </div>
            </div>
            <div ng-if="job['@jobType'] === 'REPEATING' || job['@jobType'] === 'REPEATING_PERIOD'" class="form-group">
                <label class="control-label col-sm-2" for="useOriginalFireTime">{{msg('scheduler.useOriginalFireTimeAfterMisfire')}}:</label>
                <div class="col-sm-10">
                    <input type="checkbox" id="useOriginalFireTime" ng-model="job.useOriginalFireTimeAfterMisfire">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button ng-if="action === 'new'" ng-disabled="!JobForm.$valid" class="btn btn-primary" ng-click="createOrUpdateJob(action)">{{msg('scheduler.scheduleJob')}}</button>
                    <button ng-if="action === 'edit'" class="btn btn-primary" ng-click="createOrUpdateJob(action)" ng-disabled="!JobForm.$valid" >{{msg('scheduler.updateJob')}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
<period-modal></period-modal>
