<div class="tasks modal fade" id="triggersModal"  tabindex="-1" role="dialog">
    <div class="modal-dialog" ng-class="{'modal-lg': hasStaticTriggers && hasDynamicTriggers}">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{msg('task.tooltip.availableTriggers')}}</h4>
            </div>
            <div class="modal-body container-fluid">
                <div class="row inside">
                    <div class="col-md-12">
                        <div class="row" ng-if="hasStaticTriggers && hasDynamicTriggers">
                            <div class="text-center" ng-class="divSize">
                                <h4>Static triggers</h4>
                            </div>
                            <div class="text-center" ng-class="divSize">
                                <h4>Dynamic triggers</h4>
                            </div>
                        </div>
                        <div class="row trigger-lists">
                            <div ng-class="divSize" ng-if="hasStaticTriggers">
                                <ul class="trigger-list list-group">
                                    <li ng-click="selectTrigger(selectedChannel, trigger)" class="list-group-item" ng-repeat="trigger in staticTriggers.triggers" popover-loader="taskMsg(trigger.displayName)" two-lists="hasStaticTriggers && hasDynamicTriggers">
                                    </li>
                                </ul>
                            </div>
                            <div ng-class="divSize" ng-if="hasDynamicTriggers">
                                <ul class="trigger-list list-group">
                                    <li ng-click="selectTrigger(selectedChannel, trigger)" class="list-group-item" ng-repeat="trigger in dynamicTriggers.triggers" popover-loader="taskMsg(trigger.displayName)" two-lists="hasStaticTriggers && hasDynamicTriggers">
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row triggers-pager">
                            <div class="text-center" class="btn btn-default" ng-class="divSize" ng-if="hasStaticTriggers">
                                <span ng-click="reloadLists(1, dynamicTriggers.page)" ng-class="{'invisible': staticTriggers.page <= 1 || staticTriggers.page === undefined}">
                                    <a aria-label="Previous">{{msg('server.pagination.first')}}</a>
                                </span>
                                <span ng-click="reloadLists(staticTriggers.page - 1, dynamicTriggers.page)" ng-class="{'invisible': staticTriggers.page <= 1 || staticTriggers.page === undefined}">
                                    <a aria-label="Previous">{{msg('server.pagination.prev')}}</a>
                                </span>
                                <span><input id="staticTriggersPager" type="number" min="1" max="{{staticTriggers.total}}" ng-model="staticTriggersPage" ng-change="reloadLists(staticTriggersPage, dynamicTriggers.page)"/></span>
                                <span> / {{staticTriggers.total}}</span>
                                <span ng-click="reloadLists(staticTriggers.page + 1, dynamicTriggers.page)" ng-class="{'invisible': staticTriggers.page >= staticTriggers.total || staticTriggers.page === undefined}">
                                    <a aria-label="Next">{{msg('server.pagination.next')}}</a>
                                </span>
                                <span ng-click="reloadLists(staticTriggers.total, dynamicTriggers.page)" ng-class="{'invisible': staticTriggers.page >= staticTriggers.total || staticTriggers.page === undefined}">
                                    <a aria-label="Next">{{msg('server.pagination.last')}}</a>
                                </span>
                            </div>
                            <div class="text-center" ng-class="divSize" ng-if="hasDynamicTriggers">
                                <span ng-click="reloadLists(staticTriggers.page, 1)" ng-class="{'invisible': dynamicTriggers.page <= 1}">
                                    <a aria-label="Previous">{{msg('server.pagination.first')}}</a>
                                </span>
                                <span ng-click="reloadLists(staticTriggers.page, dynamicTriggers.page - 1)" ng-class="{'invisible': dynamicTriggers.page <= 1}">
                                    <a aria-label="Previous">{{msg('server.pagination.prev')}}</a>
                                </span>
                                <span><input id="dynamicTriggersPager" type="number" min="1" max="{{dynamicTriggers.total}}" ng-model="dynamicTriggersPage" ng-change="reloadLists(staticTriggers.page, dynamicTriggersPage)"/></span>
                                <span> / {{dynamicTriggers.total}}</span>
                                <span ng-click="reloadLists(staticTriggers.page, dynamicTriggers.page + 1)" ng-class="{'invisible': dynamicTriggers.page >= dynamicTriggers.total}">
                                    <a aria-label="Next">{{msg('server.pagination.next')}}</a>
                                </span>
                                <span ng-click="reloadLists(staticTriggers.page, dynamicTriggers.total)" ng-class="{'invisible': dynamicTriggers.page >= dynamicTriggers.total}">
                                    <a aria-label="Next">{{msg('server.pagination.last')}}</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>