<div ui-if="step['@type'] == 'DataSourceDto'" class="panel-group task-group" id="step-{{step.order}}" overflow-change expand-accordion ng-cloak>

    <div class="panel-heading panel-header clearfix">
        <div class="pull-right">
            <button ng-click="removeData(step)" class="btn btn-danger btn-in-header btn-sm">
                <i class="fa fa-times"></i>
            </button>
        </div>
        <a class="accordion-toggle cursor-auto">
            <i class="fa fa-fw fa-lg fa-caret-down pointer" data-toggle="collapse" data-parent="#data-source-{{step.order}}" target="_self" href="#collapse-step-{{step.order}}"></i> {{msg('task.subsection.data')}}
            <span ng-hide="!step.displayName">
                &raquo; {{taskMsg(step.providerName)}} : {{taskMsg(step.displayName)}}
            </span>
            <span ng-hide="!step.name">
                {{msg('task.by')}} {{taskMsg(step.name)}}
            </span>
            <span ng-hide="isLookupAvailable(step)">
                <i class="warning-mark fa fa-exclamation-triangle" aria-hidden="true"></i>
            </span>
        </a>
    </div>
    <div ng-if="selectedTrigger" id="collapse-step-{{step.order}}" class="panel-collapse stripes-bg collapse in overflowChange" style="overflow: visible;">
        <div class="panel-body inside">
            <div class="form-group control-section" >
                <label class="col-md-2 col-sm-3 control-label task-label">{{msg('task.datasource.displayName')}}</label>
                <div class="col-md-8 col-sm-6">
                    <input class="form-control" type='text' ng-change="addSpecifiedDataSourceName(step)" ng-model='step.specifiedName' id="step.specifiedName">
                </div>
            </div>
            <div class="form-group control-section" >
                <label class="col-md-2 col-sm-3 control-label task-label">{{msg('task.info.showBubbles')}}</label>
                <div class="col-md-8 col-sm-6">
                    <input type="checkbox" ng-model="stepShowBubbles">
                </div>
            </div>
            <div class="form-group control-section" ng-if="showBubbles || stepShowBubbles">
                <label class="col-md-2 col-sm-3 control-label task-label">{{msg('task.info.availableFields')}}:</label>
                <div class="form-inline col-md-10 col-sm-9 move-element">
                    <field ng-repeat="i in fields | idLessThan:step.objectId track by $index" field="i" draggable copyable />​
                </div>
            </div>
            <div class="form-group">
                <span class="col-md-2 col-sm-3 control-label">{{msg('task.subsubsection.source')}}:</span>
                <div class="btn-group offset-15">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" target="_self" href="#">
                        {{taskMsg(step.providerName || 'task.select')}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="dataSource in dataSources">
                            <a ng-click="selectDataSource(step, dataSource)">{{taskMsg(dataSource.name)}}</a>
                        </li>
                    </ul>
                </div>
                <span class="offset-4">{{msg('task.subsubsection.object')}}:</span>
                <div class="btn-group offset-15">
                    <button class="btn btn-default dropdown-toggle" ng-disabled="!step.providerName" data-toggle="dropdown" target="_self" href="#" ng-init="searchData.displayName='' " ng-click="searchData.displayName='' ">
                        {{taskMsg(step.displayName) || msg('task.select')}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="search-data-source" ng-show="findDataSource(step.providerName).objects && findDataSource(step.providerName).objects.length &gt; 8" task-stop-propagation>
                            <input class="form-control" type="text" ng-model="searchData.displayName" placeholder="{{msg('task.placeholder.searchData')}}">
                        </li>
                        <li>
                            <ul class="select-limit">
                                <li ng-repeat="object in findDataSource(step.providerName).objects | filter:searchData">
                                    <a ng-click="selectObject(step, object)">{{taskMsg(object.displayName)}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group" ui-if="step.displayName">
                <span class="col-md-2 col-sm-3 control-label">{{msg('task.subsubsection.lookup')}}:</span>
                <div class="btn-group offset-15">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" target="_self" href="#">
                        {{taskMsg(step.name) || msg('task.select')}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="lookup in findObject(step.providerName, step.type).lookupFields">
                            <a ng-click="selectLookup(step, lookup)">{{taskMsg(lookup.displayName)}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-repeat="lookupField in step.lookup">
                <div class="form-group" ng-class="{'has-warning': actionCssClassWarning(lookupField), 'has-error': actionCssClassError(lookupField)}" class="form-group form-inline clearfix">
                    <label class="col-md-2 col-sm-3 control-label">{{taskMsg(lookupField.field)}}
                        <span class="help-inline" ui-if="actionCssClassWarning(lookupField)" help-popover="warning" data-title="{{msg('task.header.warning')}}"><i class="fa fa-exclamation-triangle"></i></span>
                    </label>

                    <!------------------------ editable fields ------------------------>
                    <div class="form-inline col-md-10 col-sm-9">
                        <editable-content data="lookupField" index="$index" type="UNICODE"> </editable-content>
                    </div>

                </div>
            </div>
            <div class="form-group" ui-if="step.displayName">
                <span class="col-md-2 col-sm-3 control-label">{{msg('task.subsubsection.failIfDataNotFound')}}</span>
                <div class="form-inline col-md-10 col-sm-9">
                    <div class="checkbox">
                        <input type="checkbox" ng-model="step.failIfDataNotFound"/>
                    </div>
                </div>
            </div>
            <div ng-if="!isLookupAvailable(step)" class="form-group">
                <span class="form-inline col-md-10 col-sm-9 offset-15 warning-mark">
                    {{msg('task.info.lookupNotAvailable')}}
                </span>
            </div>
            <div ui-if="step.lookup.field">
                <div class="form-group" ng-class="{'has-error': actionCssClass(step.lookup)}" class="form-group form-inline clearfix">
                    <label class="col-md-2 col-sm-3 control-label">{{taskMsg(step.lookup.field)}}</label>

                    <!------------------------ Editable fields ------------------------>
                    <div  class="form-inline col-md-10 col-sm-9">
                        <editable-content data="step.lookup" index="$index" type="UNICODE"> </editable-content>
                    </div>

                </div>
                <div class="form-group">
                    <a target="_self" href="#helpModalFieldSyntaxWithBrackets" role="button" class="btn btn-primary pull-left" data-toggle="modal">{{msg('task.help')}}</a>
                </div>
            </div>
            <div class="form-group margin-before3 control-section" ng-hide="step.displayName == undefined || (!showBubbles && !stepShowBubbles)">
                <label class="col-md-2 col-sm-3 control-label task-label">{{msg('task.subsubsection.objectFields')}}</label>
                <div class="form-inline col-md-10 col-sm-9 move-element">
                    <field ng-repeat="field in findObject(step.providerName, step.type).fields" field="field" />​
                </div>
            </div>
        </div>
    </div>
</div>