<!------------------------  ACTION  ------------------------->
<div class="panel-group task-group" id="select-action-{{$index}}" ui-if="step['@type'] != 'FilterActionSetDto'" overflow-change expand-accordion ng-cloak>

    <div class="panel-heading panel-header clearfix">
        <div class="pull-right">
            <button ng-click="removeAction($index)" class="btn btn-danger btn-in-header btn-sm">
                <i class="fa fa-times"></i>
            </button>
        </div>
        <a class="accordion-toggle cursor-auto" action-sortable-cursor>
            <i class="fa fa-fw fa-lg fa-caret-down pointer" data-toggle="collapse" data-parent="#select-action-{{$index}}" target="_self" href="#collapse-action-{{$index}}"></i> {{msg('task.header.action')}}
            <span ng-hide="!action.displayName">
                &raquo; {{msg(action.channelName)}} : {{taskMsg(action.displayName)}}
            </span>
        </a>
    </div>
    <div id="collapse-action-{{$index}}" class="panel-collapse stripes-bg collapse in overflowChange" style="overflow: visible;">
        <div class="panel-body inside">
            <div class="form-group control-section" >
                <label class="col-md-2 col-sm-3 control-label task-label">{{msg('task.datasource.displayName')}}</label>
                <div class="col-md-8 col-sm-6">
                    <input class="form-control" type='text' ng-change="addSpecifiedActionName(step, $index)" ng-model='step.specifiedName' id="step.specifiedName">
                </div>
            </div>
            <div class="form-group control-section" ng-show="showBubbles">
                <label class="col-md-2 col-sm-3 control-label task-label">{{msg('task.info.availableFields')}}:</label>
                <div class="form-inline col-md-10 col-sm-9 move-element">
                    <field ng-repeat="field in fields | postActionField:$index track by $index" field="field" draggable />
                </div>
            </div>


            <div class="form-group">
                <span class="col-md-2 col-sm-3 control-label">{{msg('task.channel')}}:</span>
                <div class="btn-group offset-15">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" target="_self" href="#">
                        {{taskMsg(selectedActionChannel[$index].displayName || 'task.select')}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="channel in util.channels.withActions(channels)">
                            <a ng-click="selectActionChannel($parent.$index, channel)">{{msg(channel.displayName)}}</a>
                        </li>
                    </ul>
                </div>


                <span ng-show="selectedActionChannel[$index]" class="offset-4">{{msg('task.action')}}:</span>
                <div ng-show="selectedActionChannel[$index]" class="btn-group offset-15">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" target="_self" href="#" ng-init="searchAction.displayName='' " ng-click="searchAction.displayName='' ">
                        {{taskMsg(selectedAction[$index].displayName || 'task.select')}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="search-data-source" ng-show="getActions($index) && getActions($index).length &gt; 8" task-stop-propagation>
                            <input class="form-control" type="text" ng-model="searchAction.displayName" placeholder="{{msg('task.placeholder.searchAction')}}">
                        </li>
                        <li>
                            <ul class="select-limit">
                                <li ng-repeat="a in getActions($index) | filter:searchAction">
                                    <a ng-click="selectAction($parent.$index, a)">{{taskMsg(a.displayName)}}</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>


            <div class="form-group" ng-show="selectedAction[$index].description">
                <label class="col-md-2 col-sm-3 control-label">{{msg(selectedAction.description)}}</label>
            </div>
            <div ui-if="selectedAction[$index]">
                <div ng-class="{'has-warning': actionCssClassWarning(i), 'has-error': actionCssClassError(i)}" ng-repeat="i in selectedAction[$index].actionParameters | filter: {hidden: false} track by $index" class="form-group clearfix">
                    <label class="col-md-2 col-sm-3 control-label tip unselectable">
                        {{taskMsg(i.displayName)}}
                        <!------------------------ Tooltips ------------------------>
                        <span class="help-inline" ui-if="i.type == 'LIST'" help-popover="list" data-title="{{msg('task.header.listHelp')}}"><i class="fa fa-question-circle"></i></span>
                        <span class="help-inline" ui-if="i.type == 'MAP'" help-popover="map" data-title="{{msg('task.header.mapHelp')}}"><i class="fa fa-question-circle"></i></span>
                        <span class="help-inline" ui-if="actionCssClassWarning(i)" help-popover="warning" data-title="{{msg('task.header.warning')}}"><i class="fa fa-exclamation-triangle"></i></span>
                        <span class="help-inline" ui-if="actionCssClassError(i)" help-popover="error" data-title="{{msg('task.header.error')}}"><i class="fa sfa-exclamation-triangle"></i></span>
                    </label>

                    <!------------------------ Editable fields ------------------------>
                    <div class="form-inline col-md-10 col-sm-9">
                        <div ui-if="i.type == 'UNICODE'" data="i">
                            <editable-content fields="fields" index="{{$index}}" data="i" type="UNICODE"> </editable-content>
                        </div>
                        <div ui-if="i.type == 'TEXTAREA' || i.type == 'LIST'" data="i" >
                            <editable-content fields="fields"  data="i" index="{{$index}}" type="TEXTAREA" ></editable-content>
                        </div>
                        <div ui-if="i.type == 'PERIOD'" data="i" >
                            <div ng-include="'../tasks/partials/widgets/content-editable-period.html'" data="i"></div>
                        </div>
                        <div ui-if=" i.type == 'MAP' " data="i">
                            <div ng-include="'../tasks/partials/widgets/content-editable-map.html'"></div>
                        </div>
                        <div ui-if="i.type == 'INTEGER' || i.type == 'LONG'" data="i">
                            <editable-content data="i" index="{{$index}}" type="INTEGER"></editable-content>
                        </div>
                        <div ui-if="i.type == 'DOUBLE'" data="i">
                            <editable-content  data="i" index="{{$index}}" type="DOUBLE"></editable-content>
                        </div>
                        <div ui-if="i.type == 'TIME'" data="i">
                            <editable-content  data="i" index="{{$index}}" action="{{$parent.$parent.$parent.$index}}" type="TIME"></editable-content>
                        </div>
                        <div ui-if="i.type == 'DATE'" data="i" class="">
                            <editable-content  data="i" index="{{$index}}" action="{{$parent.$parent.$parent.$index}}" type="DATE"></editable-content>
                        </div>
                        <div ui-if="i.type == 'BOOLEAN'">
                            <label class="radio-inline">
                                <input type="radio" class="" ng-checked="i.value==='true'" ng-click="i.value='true'"/> {{msg('yes')}}
                            </label>
                            <label class="radio-inline">
                                <input type="radio" class="" ng-checked="i.value==='false'" ng-click="i.value='false'"/> {{msg('no')}}
                            </label>
                            <label class="radio-inline">
                                <editable-content data="i" index="$index" type="BOOLEAN"></editable-content>
                            </label>
                        </div>
                        <div ui-if="i.type == 'SELECT'">
                            <div class="btn-group form-group">
                                <button class="btn btn-default dropdown-toggle"
                                        data-toggle="dropdown" target="_self" href="#"
                                        ng-click="searchOptions=''">
                                    {{taskMsg(i.value || 'task.select')}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li class="search-data-source"
                                        ng-show="i.options.length &gt; 8"
                                        task-stop-propagation>
                                        <input class="form-control" type="text"
                                               ng-model="searchOptions"
                                               placeholder="{{msg('task.placeholder.searchOptions')}}">
                                    </li>
                                    <li>
                                        <ul class="select-limit">
                                            <li ng-repeat="a in i.options | filter:searchOptions">
                                                <a ng-click="i.value = a">{{taskMsg(a)}}</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="alert alert-danger alert-block"
                                 ng-show="i.options.length == 0">
                                {{msg('task.info.noParameterOptions')}} {{taskMsg(i.displayName)}}
                            </div>
                        </div>
                    </div>
                </div>

                <!------------------------ Help button  ------------------------>
                <a class="btn btn-primary" ng-click="openHelpStringManipulation()">{{msg('task.help.modifications')}}</a>
                <a data-target="#helpModalFieldSyntaxWithBrackets" role="button" class="btn btn-primary" data-toggle="modal">{{msg('task.help.customSyntax')}}</a>
            </div>
        </div>
    </div>

</div>