<div class="panel-group task-group" id="select-trigger" overflow-change expand-accordion>

    <div class="panel-heading panel-header">
        <div class="accordion-toggle cursor-auto">
            <i class="fa fa-fw fa-lg fa-caret-down pointer" data-toggle="collapse" data-parent="#select-trigger" target="_self" href="#collapse-trigger"></i> {{msg('task.header.trigger')}}
            <span ng-hide="!task.trigger.displayName">
                &raquo; {{msg(task.trigger.channelName)}} : {{taskMsg(task.trigger.displayName)}}
            </span>
            <span ng-hide="isTriggerAvailable()">
                <i class="warning-mark fa fa-exclamation-triangle" aria-hidden="true"></i>
            </span>
        </div>
    </div>
    <div id="collapse-trigger" class="panel-collapse stripes-bg collapse in overflowChange" style="overflow: visible;">
        <div class="panel-body">
            <div class="section-source">
                <ul class="task-selector" ng-init="searchTrigger.displayName='' " data-ng-cloak="">
                    <li class="task-panel pointer" ng-model="selectedChannel" ng-repeat="channel in util.channels.withTriggers(channels)">
                        <div id="trigger-{{channel.moduleName}}">
                            <div triggers-modal channel="channel" task="task" util="util" msg="msg" ctrl="TriggersModalCtrl">
                                <a ng-click="removeTrigger($event)" ui-if="task.trigger && task.trigger.moduleName == channel.moduleName">
                                    <i class="fa fa-times close-channel"></i>
                                </a>
                                <img ng-src="../server/module/icon?bundleName={{channel.moduleName}}&defaultIcon=iconTaskChannel.png" class="panel-img" />
                            </div>
                            <span>{{taskMsg(channel.displayName)}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div ng-if="!isTriggerAvailable()" class="form-group">
                <span class="form-inline col-md-10 col-sm-9 offset-15 warning-mark">
                    {{msg('task.info.triggerNotAvailable')}}
                </span>
        </div>
    </div>

</div>