<div class="row create-edit-task">
    <h4 ng-hide="task._id" class="frame-title">{{msg('task.section.newTask')}} <a href="#/task/" type="button" class="btn btn-sm btn-danger btn-in-frame-header pull-right"><i class="icon-remove icon-white"></i></a></h4>
    <h4 ng-show="task._id" class="frame-title">{{msg('task.section.editTask')}} <a href="#/task/" type="button" class="btn btn-sm btn-primary btn-in-frame-header pull-right"><i class="icon-mail-reply icon-white"></i></a></h4>
    <div class="inside">
        <div ng-show="task.validationErrors.length" class="alert alert-block alert-danger">
            <strong>{{msg('task.header.taskErrors')}}:</strong>
            <ul>
                <li ng-repeat="error in task.validationErrors">
                    {{getTaskValidationError(error)}}
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="margin-before">
            <form class="inside task form-horizontal">
                <!------------------ ENTER TASK NAME ------------------>
                <div class="inside-0">
                    <div class="form-group" ng-class="{'has-error': !task.name}">
                        <label class="col-md-2 col-sm-3 control-label task-label">{{msg('task.name')}}</label>
                        <div class="form-inline col-md-10 col-sm-9">
                            <input class="input-xlarge-fluid form-control" type='text' ng-model='task.name' id="task.name" maxlength="30"/>
                        </div>
                    </div>
                </div>

                <!------------------ ENTER TASK DESCRIPTION ------------------>
                <div class="inside-0">
                    <div class="form-group">
                        <label class="col-md-2 col-sm-3 control-label task-label">{{msg('task.section.taskDescription')}}</label>
                        <div class="form-inline col-md-10 col-sm-9">
                            <textarea class="input-xlarge-fluid form-control" ng-model="task.description"></textarea>
                        </div>
                    </div>
                </div>

                <!------------------ SELECT TRIGGER ------------------>
                <div class="panel-group" id="select-trigger" overflow-change expand-accordion>
                    <div class="task-group">
                        <div class="panel-heading panel-header">
                            <div class="accordion-toggle cursor-auto">
                                <i class="icon-caret-down icon-fixed-width icon-large pointer" data-toggle="collapse" data-parent="#select-trigger" href="#collapse-trigger"></i> {{msg('task.header.trigger')}}
                                <span ng-hide="!task.trigger.displayName">
                                    &raquo; {{msg(task.trigger.channelName)}} : {{msg(task.trigger.displayName)}}
                                </span>
                            </div>
                        </div>
                        <div id="collapse-trigger" onmouseout="innerLayout.resetOverflow('center')" onmouseover="outerLayout.allowOverflow(this)" class="panel-collapse stripes-bg collapse in overflowChange" style="overflow: visible;">
                            <div class="panel-body">
                                <div class="section-source">
                                    <ul class="task-selector">
                                        <li class="task-panel pointer" ng-repeat="channel in util.channels.withTriggers(channels)">
                                            <div id="trigger-{{channel.moduleName}}" select-event="trigger">
                                                <div>
                                                    <a ng-click="removeTrigger($event)" ui-if="task.trigger && task.trigger.moduleName == channel.moduleName">
                                                        <i class="icon-remove icon-white close-channel"></i>
                                                    </a>
                                                    <img ng-src="../tasks/api/channel/icon?moduleName={{channel.moduleName}}&moduleVersion={{channel.moduleVersion}}" class="panel-img" />
                                                </div>
                                                <span>{{msg(channel.displayName)}}</span>
                                                <div class="content-task popover fade in">
                                                    <div class="arrow"></div>
                                                    <h3 class="popover-title">{{msg('task.tooltip.availableTriggers')}}</h3>
                                                    <div class="popover-content">
                                                        <ul>
                                                            <li ng-repeat="trigger in channel.triggerTaskEvents">
                                                                <a ng-click="selectTrigger(channel, trigger)">{{msg(trigger.displayName)}}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-hide="!task.trigger.subject">
                    <div ng-repeat="step in task.taskConfig.steps">
                        <div ui-if="step['@type'] == 'FilterSet'" class="panel-group" id="step-{{step.order}}" overflow-change expand-accordio>
                            <div class="task-group">
                                <div class="panel-heading panel-header">
                                    <div class="pull-right">
                                        <button ng-click="removeFilterSet(step)" class="btn btn-danger  btn-in-header btn-sm">
                                            <i class="icon-remove icon-white"></i>
                                        </button>
                                    </div>
                                    <a class="accordion-toggle">
                                        <i class="icon-caret-down icon-fixed-width icon-large pointer" data-toggle="collapse" data-parent="#filter-set-{{step.order}}" href="#collapse-step-{{step.order}}"></i>
                                        {{msg('task.section.filters')}}
                                    </a>
                                </div>
                                <div id="collapse-step-{{step.order}}" class="panel-collapse stripes-bg collapse in overflowChange" style="overflow: visible;">
                                    <div class="panel-body centered inside">
                                        <form id="filtersForm" name="filterForm" class="form-inline">
                                            <div class="margin-center margin-before">
                                                <div ng-repeat="filter in step.filters">
                                                    <div class="form-group centered">
                                                        <div class="form-inline btn-group">
                                                            <span class="validation-area form-group">
                                                                <div class="input-append input-group">
                                                                    <input class="form-control input-auto offset-1" ng-trigger="selectParam(filter, 'trigger', option)" name="autocomplete" type="text" id="appendedDropdownButton" ng-model="filter.displayName"/>
                                                                    <div class="btn-group">
                                                                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                                            <span class="caret"></span>
                                                                        </button>
                                                                        <ul class="dropdown-menu">
                                                                            <li class="dropdown-submenu">
                                                                                <a tabindex="-1">{{msg('task.header.trigger')}}</a>
                                                                                <ul class="dropdown-menu">
                                                                                    <li ng-repeat="option in selectedTrigger.eventParameters">
                                                                                        <a ng-click="selectParam(filter, 'trigger', option)">{{msg(option.displayName)}}</a>
                                                                                    </li>
                                                                                </ul>
                                                                            </li>
                                                                            <li ng-show="ds.displayName != undefined" class="dropdown-submenu" ng-repeat="ds in task.taskConfig.steps">
                                                                                <a tabindex="-1">{{msg(ds.displayName)}}#{{ds.objectId}} ({{msg(ds.providerName)}})</a>
                                                                                <ul class="dropdown-menu">
                                                                                    <li ng-repeat="field in findObject(ds.providerId, ds.type).fields">
                                                                                        <a ng-click="selectParam(filter, 'ad', ds, field)">{{msg(field.displayName)}}</a>
                                                                                    </li>
                                                                                </ul>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </span>
                                                            <span class="validation-area form-group">
                                                                <div class="btn-group offset-1">
                                                                    <a class="btn dropdown-toggle dropdown-small-fluid" data-toggle="dropdown" href="#" ng-class="{'btn-danger': filter.negationOperator == undefined, 'btn-default': filter.negationOperator !== undefined}" ng-disabled="!filter.key">
                                                                        {{msg(((filter.negationOperator == true || filter.negationOperator == false) && 'task.info.filter.' + filter.negationOperator) || 'task.info.filter.select')}}
                                                                        <span class="caret"></span>
                                                                    </a>
                                                                    <ul class="dropdown-menu" ng-hide="!filter.key">
                                                                        <li>
                                                                            <a ng-click="filter.negationOperator = true">{{msg('task.info.filter.true')}}</a>
                                                                            <a ng-click="filter.negationOperator = false">{{msg('task.info.filter.false')}}</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </span>
                                                            <span class="validation-area form-group">
                                                                <div class="btn-group offset-1">
                                                                    <a class="btn dropdown-toggle dropdown-medium-fluid" data-toggle="dropdown" href="#" ng-class="{'btn-danger': !filter.operator, 'btn-default': filter.operator}" ng-disabled="filter.negationOperator == undefined">
                                                                        {{msg(filter.operator || 'task.info.filter.select')}}
                                                                        <span class="caret"></span>
                                                                    </a>
                                                                    <ul class="dropdown-menu" ng-hide="filter.negationOperator == undefined">
                                                                        <li class="dropdown-submenu" ng-repeat="(key, value) in util.FILTER_OPERATORS">
                                                                            <a tabindex="-1">{{msg(key)}}</a>
                                                                            <ul class="dropdown-menu">
                                                                                <li ng-repeat="operator in value.options">
                                                                                    <a ng-click="filter.operator = operator; filter.type = value.type">{{msg(operator)}}</a>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </span>
                                                            <span class="validation-area form-group" ng-class="{'has-error': util.needExpression(filter.operator) && !filter.expression}">
                                                                <input ng-disabled="!filter.operator || !util.needExpression(filter.operator)" ng-model="filter.expression" class="form-control input-auto offset-1" type="text" value=""/>
                                                            </span>
                                                            <span class="form-group">
                                                                <a ng-click="removeFilter(step, filter)" class="btn btn-small btn-danger offset-1"><i class="icon-trash icon-white"></i></a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group centered">
                                                <a ui-if="step.filters.length" href="#helpModalFieldSyntax" role="button" class="btn btn-primary" data-toggle="modal">{{msg('task.help')}}</a>
                                                <button ui-if="!step.filters.length" class="btn btn-success" ng-click="addFilter(step)"><i class="icon-plus icon-white"></i> {{msg('task.button.addFilter')}}</button>
                                                <button ui-if="step.filters.length" class="btn btn-success" ng-click="addFilter(step)"><i class="icon-plus icon-white"></i> {{msg('task.button.addAnotherFilter')}}</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ui-if="step['@type'] == 'DataSource'" class="panel-group" id="step-{{step.order}}" overflow-change expand-accordion>
                            <div class="task-group">
                                <div class="panel-heading panel-header">
                                    <div class="pull-right">
                                        <button ng-click="removeData(step)" class="btn btn-danger btn-in-header btn-sm">
                                            <i class="icon-remove icon-white"></i>
                                        </button>
                                    </div>
                                    <a class="accordion-toggle cursor-auto">
                                        <i class="icon-caret-down icon-fixed-width icon-large pointer" data-toggle="collapse" data-parent="#data-source-{{step.order}}" href="#collapse-step-{{step.order}}"></i> {{msg('task.subsection.data')}}
                                        <span ng-hide="!step.displayName">
                                            &raquo; {{msg(step.providerName)}} : {{msg(step.displayName)}}
                                        </span>
                                        <span ng-hide="!step.name">
                                            {{msg('task.by')}} {{msg(step.name)}}
                                        </span>
                                    </a>
                                </div>
                                <div id="collapse-step-{{step.order}}" class="panel-collapse stripes-bg collapse in overflowChange" style="overflow: visible;">
                                    <div class="panel-body inside">
                                        <div class="form-group control-section">
                                            <label class="col-md-2 col-sm-3 control-label task-label">{{msg('task.info.availableFields')}}:</label>
                                            <div class="form-inline col-md-10 col-sm-9 move-element">
                                                <span contenteditable="false" ng-repeat="i in selectedTrigger.eventParameters" class="badge badge-info triggerField" draggable data-prefix="trigger" data-index="{{$index}}" data-type="{{i.type}}">{{msg(i.displayName)}}</span>​
                                                <span ng-repeat="ds in getDataSources() | idLessThan:step.objectId">
                                                    <span contenteditable="false" ng-repeat="i in findObject(ds.providerId, ds.type).fields" class="badge badge-warning triggerField" draggable
                                                          data-prefix="ad" data-source="{{ds.providerName}}" data-object="{{ds.displayName}}" data-object-type="{{ds.type}}"
                                                          data-field="{{i.fieldKey}}" data-index="{{$index}}" data-object-id="{{ds.objectId}}" data-type="{{i.type}}">
                                                        {{msg(ds.providerName)}}.{{msg(ds.displayName)}}#{{ds.objectId}}.{{msg(i.displayName)}}
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <span class="col-md-2 col-sm-3 control-label">{{msg('task.subsubsection.source')}}:</span>
                                            <div class="btn-group interval">
                                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                                                    {{msg(step.providerName || 'task.select')}}
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li ng-repeat="dataSource in dataSources">
                                                        <a ng-click="selectDataSource(step, dataSource)">{{msg(dataSource.name)}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <span class="interval2">{{msg('task.subsubsection.object')}}:</span>
                                            <div class="btn-group interval">
                                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                                                    {{msg(step.displayName || 'task.select')}}
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li ng-repeat="object in findDataSource(step.providerId).objects">
                                                        <a ng-click="selectObject(step, object)">{{msg(object.displayName)}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="form-group" ui-if="step.displayName">
                                                <span class="col-md-2 col-sm-3 control-label">{{msg('task.subsubsection.lookup')}}:</span>
                                                <div class="btn-group interval">
                                                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                                                        {{msg(step.name || 'task.select')}}
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li ng-repeat="lookup in findObject(step.providerId, step.type).lookupFields">
                                                            <a ng-click="selectLookup(step, lookup)">{{msg(lookup.displayName)}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div ng-repeat="lookupField in step.lookup">
                                                <div class="form-group" ng-class="{'has-error': actionCssClassError(lookupField)}" class="form-group form-inline clearfix">
                                                    <label class="col-md-2 col-sm-3 control-label">{{msg(lookupField.field)}}</label>

                                                    <!------------------------ Chrome & IE ------------------------>
                                                    <div ui-if="BrowserDetect.browser=='Chrome' || BrowserDetect.browser=='Explorer'" class="form-inline col-md-10 col-sm-9">
                                                        <editable-content data="lookupField" index="$index" type="UNICODE"></editable-content>
                                                    </div>

                                                    <!------------------------ Other browsers  ------------------------>
                                                    <div ui-if="BrowserDetect.browser!='Chrome' && BrowserDetect.browser!='Explorer'" class="form-inline col-md-10 col-sm-9">
                                                        <input type="text" ng-model="lookupField.value" droppable class="dataSourceField input-xlarge-fluid form-control" data-index="{{step.providerId}}" data-object-id="{{step.objectId}}" data-type="UNICODE"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ui-if="step.displayName">
                                            <span class="col-md-2 col-sm-3 control-label">{{msg('task.subsubsection.failIfDataNotFound')}}</span>
                                            <div class="form-inline col-md-10 col-sm-9">
                                                <div class="btn-group">
                                                    <input type="checkbox" ng-model="step.failIfDataNotFound"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div ui-if="step.lookup.field">
                                            <div class="form-group" ng-class="{'has-error': actionCssClass(step.lookup)}" class="form-group form-inline clearfix">
                                                <label class="col-md-2 col-sm-3 control-label">{{msg(step.lookup.field)}}</label>

                                                <!------------------------ Chrome & IE ------------------------>
                                                <div ui-if="BrowserDetect.browser=='Chrome' || BrowserDetect.browser=='Explorer'" class="form-inline col-md-10 col-sm-9">
                                                    <editable-content data="step.lookup" index="$index" type="UNICODE"></editable-content>
                                                </div>

                                                <!------------------------ Other browsers  ------------------------>
                                                <div ui-if="BrowserDetect.browser!='Chrome' && BrowserDetect.browser!='Explorer'" class="form-inline col-md-10 col-sm-9">
                                                    <input type="text" ng-model="step.lookup.value" droppable class="dataSourceField input-xlarge-fluid form-control" data-index="{{step.providerId}}" data-object-id="{{step.objectId}}" data-type="UNICODE"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <a href="#helpModalFieldSyntaxWithBrackets" role="button" class="btn btn-primary pull-left" data-toggle="modal">{{msg('task.help')}}</a>
                                            </div>
                                        </div>
                                        <div class="form-group margin-before3 control-section" ng-hide="step.displayName == undefined">
                                            <label class="col-md-2 col-sm-3 control-label task-label">{{msg('task.subsubsection.objectFields')}}</label>
                                            <div class="form-inline col-md-10 col-sm-9 move-element">
                                                <span ng-repeat="field in findObject(step.providerId, step.type).fields" class="badge badge-warning">{{msg(field.displayName)}}</span>​
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!------------------------ ADDING BUTTONS ------------------------>
                    <div class="row inside section-additives">
                        <div class="form-group centered">
                            <div class="btn-group">
                                <button class="btn btn-warning" ng-click="addFilterSet()"><i class="icon-plus icon-white"></i> {{msg('task.button.addFilterSet')}}</button>
                                <button ui-if="dataSources != undefined && dataSources.length != 0" class="btn btn-warning" ng-click="addDataSource()"><i class="icon-white icon-plus"></i> {{msg('task.button.addDataSource')}}</button>
                                <button class="btn btn-warning" ng-click="addAction()"><i class="icon-white icon-plus"></i> {{msg('task.button.addAction')}}</button>
                            </div>
                        </div>
                    </div>

                    <!------------------------  ACTION  ------------------------->
                    <div class="panel-group" id="select-action-{{$index}}" ng-repeat="action in task.actions" overflow-change expand-accordion>
                        <div class="task-group">
                            <div class="panel-heading panel-header">
                                <div class="pull-right">
                                    <button ng-click="removeAction($index)" class="btn btn-danger  btn-in-header btn-sm">
                                        <i class="icon-remove icon-white"></i>
                                    </button>
                                </div>
                                <a class="accordion-toggle cursor-auto" action-sortable-cursor>
                                    <i class="icon-caret-down icon-fixed-width icon-large pointer" data-toggle="collapse" data-parent="#select-action-{{$index}}" href="#collapse-action-{{$index}}"></i> {{msg('task.header.action')}}
                                    <span ng-hide="!action.displayName">
                                        &raquo; {{msg(action.channelName)}} : {{msg(action.displayName)}}
                                    </span>
                                </a>
                            </div>
                            <div id="collapse-action-{{$index}}" class="panel-collapse stripes-bg collapse in overflowChange" style="overflow: visible;">
                                <div class="panel-body inside">
                                    <div class="form-group control-section">
                                        <label class="col-md-2 col-sm-3 control-label task-label">{{msg('task.info.availableFields')}}:</label>
                                        <div class="form-inline col-md-10 col-sm-9 move-element">
                                            <span contenteditable="false" ng-repeat="i in selectedTrigger.eventParameters" class="badge badge-info triggerField" draggable data-prefix="trigger" data-index="{{$index}}" data-type="{{i.type}}">{{msg(i.displayName)}}</span>​
                                            <span ng-repeat="ds in getDataSources()">
                                                <span contenteditable="false" ng-repeat="i in findObject(ds.providerId, ds.type).fields" class="badge badge-warning triggerField" draggable
                                                      data-prefix="ad" data-source="{{ds.providerName}}" data-object="{{ds.displayName}}" data-object-type="{{ds.type}}"
                                                      data-field="{{i.fieldKey}}" data-index="{{$index}}" data-object-id="{{ds.objectId}}" data-type="{{i.type}}">
                                                    {{msg(ds.providerName)}}.{{msg(ds.displayName)}}#{{ds.objectId}}.{{msg(i.displayName)}}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <span class="col-md-2 col-sm-3 control-label">{{msg('task.channel')}}:</span>
                                        <div class="btn-group interval">
                                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                                                {{msg(selectedActionChannel[$index].displayName || 'task.select')}}
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li ng-repeat="channel in util.channels.withActions(channels)">
                                                    <a ng-click="selectActionChannel($parent.$index, channel)">{{msg(channel.displayName)}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <span class="interval2">{{msg('task.action')}}:</span>
                                        <div class="btn-group interval">
                                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                                                {{msg(selectedAction[$index].displayName || 'task.select')}}
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li ng-repeat="a in getActions($index)">
                                                    <a ng-click="selectAction($parent.$index, a)">{{msg(a.displayName)}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="selectedAction[$index].description">
                                        <label class="col-md-2 col-sm-3 control-label">{{msg(selectedAction.description)}}</label>
                                    </div>
                                    <div ui-if="selectedAction[$index]">
                                        <div class="form-group" ng-class="{'has-warning': actionCssClassWarning(i), 'has-error': actionCssClassError(i)}" ng-repeat="i in selectedAction[$index].actionParameters" class="form-group form-inline clearfix">
                                            <label class="col-md-2 col-sm-3 control-label tip">
                                                {{msg(i.displayName)}}
                                                <!------------------------ Tooltips ------------------------>
                                                <span class="help-inline" ui-if="i.type == 'LIST'" help-popover="list" data-title="{{msg('task.header.listHelp')}}"><i class="icon-question-sign"></i></span>
                                                <span class="help-inline" ui-if="i.type == 'MAP'" help-popover="map" data-title="{{msg('task.header.mapHelp')}}"><i class="icon-question-sign"></i></span>
                                                <span class="help-inline" ui-if="actionCssClassWarning(i)" help-popover="warning" data-title="{{msg('task.header.warning')}}"><i class="icon-exclamation-sign"></i></span>
                                                <span class="help-inline" ui-if="actionCssClassError(i)" help-popover="error" data-title="{{msg('task.header.error')}}"><i class="icon-exclamation-sign"></i></span>
                                            </label>
                                            </label>

                                            <!------------------------ Chrome & IE ------------------------>
                                            <div ui-if="BrowserDetect.browser=='Chrome' || BrowserDetect.browser=='Explorer'" class="form-inline col-md-10 col-sm-9">
                                                <div ui-if="i.type == 'UNICODE'" data="i">
                                                    <editable-content  index="{{$index}}" data="i" type="UNICODE"></editable-content>
                                                </div>
                                                <div ui-if="i.type == 'TEXTAREA' || i.type == 'MAP' || i.type == 'LIST'" data="i" >
                                                    <editable-content  data="i" index="{{$index}}" type="TEXTAREA"></editable-content>
                                                </div>
                                                <div ui-if="i.type == 'INTEGER' || i.type == 'LONG'" data="i">
                                                    <editable-content data="i" index="{{$index}}" type="INTEGER"></editable-content>
                                                </div>
                                                <div ui-if="i.type == 'DOUBLE'" data="i">
                                                    <editable-content  data="i" index="{{$index}}" type="DOUBLE"></editable-content>
                                                </div>
                                                <div ui-if="i.type == 'TIME'" data="i">
                                                    <editable-content  data="i" index="{{$index}}" action="{{$parent.$parent.$parent.$index}}" type="TIME"></editable-content>
                                                </div>
                                                <div ui-if="i.type == 'DATE'" data="i">
                                                    <editable-content  index="{{$index}}" action="{{$parent.$parent.$parent.$index}}" type="DATE"></editable-content>
                                                </div>
                                                <div ui-if="i.type == 'BOOLEAN'">
                                                    <label class="radio-inline no-margin-top">
                                                        <input type="radio" class="input-block-level" ng-checked="checkedBoolean($parent.$parent.$parent.$index, $index, 'true')" ng-click="setBooleanValue($parent.$parent.$parent.$index, $index, true)"/> {{msg('yes')}}
                                                    </label>
                                                    <label class="radio-inline no-margin-top">
                                                        <input type="radio" class="input-block-level" ng-checked="checkedBoolean($parent.$parent.$parent.$index, $index, 'false')" ng-click="setBooleanValue($parent.$parent.$parent.$index, $index, false)"/> {{msg('no')}}
                                                    </label>
                                                    <label class="radio-inline input-large-fluid no-margin-bottom">
                                                        <editable-content data="i" index="$index" type="BOOLEAN"></editable-content>
                                                    </label>
                                                </div>
                                            </div>

                                            <!------------------------ Other browsers  ------------------------>
                                            <div ui-if="BrowserDetect.browser!='Chrome' && BrowserDetect.browser!='Explorer'" class="form-inline col-md-10 col-sm-9">
                                                <textarea ui-if="i.type == 'TEXTAREA' || i.type == 'MAP' || i.type == 'LIST'" rows="5" ng-model="i.value" droppable class="actionField input-xlarge-fluid form-control" data-index="{{$index}}" data-type="{{i.type}}" data-action="{{$parent.$parent.$parent.$index}}"></textarea>
                                                <input ui-if="i.type == 'INTEGER' || i.type == 'LONG'" type="text" ng-model="i.value" droppable class="actionField input-xlarge-fluid form-control" data-index="{{$index}}" data-type="{{i.type}}" data-action="{{$parent.$parent.$parent.$index}}" integer placeholder="{{msg('task.placeholder.numberOnly')}}"/>
                                                <input ui-if="i.type == 'DOUBLE'" type="text" ng-model="i.value" droppable class="actionField input-xlarge-fluid form-control" data-index="{{$index}}" data-type="{{i.type}}" data-action="{{$parent.$parent.$parent.$index}}" integer placeholder="{{msg('task.placeholder.numberOnly')}}"/>
                                                <input ui-if="i.type == 'UNICODE'" type="text" ng-model="i.value" droppable class="actionField input-xlarge-fluid form-control" data-index="{{$index}}" data-type="{{i.type}}" data-action="{{$parent.$parent.$parent.$index}}"/>
                                                <input ui-if="i.type == 'DATE'" type="text" ng-model="i.value" droppable class="actionField input-xlarge-fluid form-control" data-index="{{$index}}" data-type="{{i.type}}" data-action="{{$parent.$parent.$parent.$index}}" datetime-picker-input placeholder="{{msg('task.placeholder.dateOnly')}}" style="background:white;"/>
                                                <button ui-if="i.type == 'DATE'" class="btn btn-default" datetime-picker>{{msg('task.button.selectDate')}}</button>
                                                <input ui-if="i.type == 'TIME'" type="text" ng-model="i.value" droppable class="actionField input-xlarge-fluid form-control" data-index="{{$index}}" data-type="{{i.type}}" data-action="{{$parent.$parent.$parent.$index}}" time-picker-input placeholder="{{msg('task.placeholder.timeOnly')}}" readonly="readonly" style="background:white;"/>
                                                <div ui-if="i.type == 'BOOLEAN'">
                                                    <label class="radio radio-inline">
                                                        <input type="radio" ng-model="i.value" class="input-block-level" value="true"/> {{msg('yes')}}
                                                    </label>
                                                    <label class="radio radio-inline">
                                                        <input type="radio" ng-model="i.value" class="input-block-level" value="false"/> {{msg('no')}}
                                                    </label>
                                                    <label class="radio-inline input-large-fluid">
                                                        <input type="text" value="{{getBooleanValue(i.value)}}" droppable class="actionField form-control" data-index="{{$index}}" data-type="{{i.type}}" data-action="{{$parent.$parent.$parent.$index}}" placeholder="{{msg('task.placeholder.booleanOnly')}}" readonly="readonly" style="background:white;"/>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <!------------------------ Help button  ------------------------>
                                        <a data-target="#helpModalDate" role="button" class="btn btn-primary" data-toggle="modal">{{msg('task.help.modifications')}}</a>
                                        <a data-target="#helpModalFieldSyntaxWithBrackets" role="button" class="btn btn-primary" data-toggle="modal">{{msg('task.help.customSyntax')}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!------------------------ Help Manipulation  ------------------------>
                    <div ng-include="'../tasks/partials/help/manipulation.html'"></div>
                    <div ng-include="'../tasks/partials/help/customFieldSyntax.html'"></div>
                    <div ng-include="'../tasks/partials/help/customFieldSyntaxWithBrackets.html'"></div>

                    <!------------------------ Format Manipulation  ------------------------>
                    <div ng-include="'../tasks/partials/widgets/string-manipulation-format.html'"></div>

                    <!------------------------ SAVE ------------------------>
                    <div class="col-sm-12 form-group inside">
                        <h4 class="margin-center centered input-large-fluid">{{msg('task.section.save')}}</h4>
                        <p class="centered input-xxlarge-fluid margin-center">{{msg('task.info.addSave')}}</p>
                        <div class="clearfix"></div>
                        <div class="form-group centered inside">
                            <button ng-disabled="!task.name" ng-click="save(true)" class="btn btn-primary">{{msg('task.button.saveAndEnable')}}</button>
                            <button ng-disabled="!task.name" ng-click="save(false)" class="btn btn-success">{{msg('task.button.save')}}</button>
                            <a href="#/task/" class="btn btn-default"> {{msg('task.button.cancel')}}</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
