<div class="row create-edit-task" data-ng-cloak>
    <h4 ng-hide="task.id" class="frame-title"><span ng-bind="msg('task.section.newTask')"></span>
        <a href="#/tasks/dashboard" type="button" class="btn btn-sm btn-danger btn-in-frame-header pull-right"><i class="fa fa-times"></i></a>
        <button ng-hide="showBubbles" type="button" class="btn btn-sm btn-in-frame-header btn-success btn-show-hide-bubbles" ng-click="showOrHideBubbles()">{{msg('task.section.showBubbles')}}</button>
        <button ng-show="showBubbles" type="button" class="btn btn-sm btn-in-frame-header btn-danger btn-show-hide-bubbles" ng-click="showOrHideBubbles()">{{msg('task.section.hideBubbles')}}</button>
    </h4>
    <h4 ng-show="task.id" class="frame-title"><span ng-bind="msg('task.section.editTask')"></span>
        <a href="#/tasks/dashboard" type="button" class="btn btn-sm btn-primary btn-in-frame-header pull-right"><i class="fa fa-level-up"></i></a>
        <button ng-hide="showBubbles" type="button" class="btn btn-sm btn-in-frame-header btn-success btn-show-hide-bubbles" ng-click="showOrHideBubbles()">{{msg('task.section.showBubbles')}}</button>
        <button ng-show="showBubbles" type="button" class="btn btn-sm btn-in-frame-header btn-danger btn-show-hide-bubbles" ng-click="showOrHideBubbles()">{{msg('task.section.hideBubbles')}}</button>
    </h4>
    <div ng-show="task.validationErrors.length" class="inside ng-cloak">
        <div class="alert alert-block alert-danger">
            <strong>{{msg('task.header.taskErrors')}}:</strong>
            <ul>
                <li class="ng-cloak" ng-repeat="error in task.validationErrors">
                    {{getTaskValidationError(error)}}
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div class="sidebar">
            <div class="navigation-toggle"><i class="fa fa-eject fa-rotate-270"></i></div>
            <ul class="navigation">
                <li class="navigation-items">
                    <span>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="debugging" ng-change="changeCheckbox(debugging)"> {{msg('task.bubbles.rawSyntax')}}
                            </label>
                        </div>
                    </span>
                </li>
            </ul>
        </div>
        <div class="margin-before">
            <form class="inside task form-horizontal">
                <!------------------ ENTER TASK NAME ------------------>
                <div class="inside-0">
                    <div class="form-group ng-cloak" ng-class="{'has-error': !task.name}">
                        <label class="col-md-2 col-sm-3 control-label task-label">{{msg('task.name')}}</label>
                        <div class="col-md-10 col-sm-9">
                            <input class="form-control" type='text' ng-model='task.name' id="task.name">
                        </div>
                    </div>
                </div>

                <!------------------ ENTER TASK DESCRIPTION ------------------>
                <div class="inside-0">
                    <div class="form-group ng-cloak">
                        <label class="col-md-2 col-sm-3 control-label task-label">{{msg('task.section.taskDescription')}}</label>
                        <div class="col-md-10 col-sm-9">
                            <textarea class="form-control" ng-model="task.description"></textarea>
                        </div>
                    </div>
                </div>

                <!------------------ RETRY TASK ON FAILURE ------------------>
                <div class="inside-0">
                    <div class="form-group ng-cloak">
                        <label class="col-md-2 col-sm-3 control-label task-label">{{msg('task.retryTaskOnFailure')}}</label>
                        <div class="col-md-10 col-sm-9">
                            <div class="checkbox">
                                <input type="checkbox" ng-model="task.retryTaskOnFailure"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="inside-0" ng-if="task.retryTaskOnFailure">
                    <div class="form-group ng-cloak" ng-class="{'has-error': !isNumericalNonNegativeValue(task.numberOfRetries)}">
                        <label class="col-md-2 col-sm-3 control-label task-label">{{msg('task.numberOfRetries')}}</label>
                        <div class="col-md-10 col-sm-9">
                            <input class="form-control" type='text' ng-model='task.numberOfRetries' id="task.numberOfRetries">
                        </div>
                    </div>
                </div>

                <div class="inside-0" ng-if="task.retryTaskOnFailure">
                    <div class="form-group ng-cloak" ng-class="{'has-error': !isNumericalNonNegativeValue(task.retryIntervalInSeconds)}">
                        <label class="col-md-2 col-sm-3 control-label task-label">{{msg('task.retryInterval')}}</label>
                        <div class="col-md-10 col-sm-9">
                            <input class="form-control" type='text' ng-model='task.retryIntervalInSeconds' id="task.retryIntervalInSeconds"
                                   placeholder="{{msg('task.retryIntervalPlaceholder')}}">
                        </div>
                    </div>
                </div>

                <!------------------ SELECT TRIGGER ------------------>
                <div ng-include="'../tasks/partials/form-trigger.html'"></div>

                <div ng-hide="!task.trigger.subject">
                    <div ng-repeat="step in task.taskConfig.steps">
                        <div ng-include="'../tasks/partials/form-filter.html'"></div>
                        <div ng-include="'../tasks/partials/form-data-source.html'"></div>
                    </div>

                    <!------------------------ ADDING BUTTONS ------------------------>
                    <div class="row inside section-additives">
                        <div class="form-group centered">
                            <div class="btn-group">
                                <button class="btn btn-success" ng-click="addFilterSet()"><i class="fa fa-plus"></i> {{msg('task.button.addFilterSet')}}</button>
                                <button ui-if="dataSources != undefined && dataSources.length != 0" class="btn btn-success" ng-click="addDataSource()"><i class="fa fa-plus"></i> {{msg('task.button.addDataSource')}}</button>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="step in task.actions">
                        <div ng-include="'../tasks/partials/form-action.html'"></div>
                        <div ng-include="'../tasks/partials/form-filter.html'"></div>
                    </div>

                    <!------------------------ ADDING BUTTONS ------------------------>
                    <div class="row inside section-additives">
                        <div class="form-group centered">
                            <div class="btn-group">
                                <button class="btn btn-success" ng-click="addActionFilterSet()"><i class="fa fa-plus"></i> {{msg('task.button.addActionFilterSet')}}</button>
                                <button class="btn btn-success" ng-click="addAction()"><i class="fa fa-plus"></i> {{msg('task.button.addAction')}}</button>
                            </div>
                        </div>
                    </div>
                    <!------------------------ Help Manipulation  ------------------------>
                    <div ng-include="'../tasks/partials/help/customFieldSyntax.html'"></div>
                    <div ng-include="'../tasks/partials/help/customFieldSyntaxWithBrackets.html'"></div>

                    <!------------------------ SAVE ------------------------>
                    <div class="col-sm-12 form-group inside">
                        <h4 class="margin-center centered input-large-fluid">{{msg('task.section.save')}}</h4>
                        <p class="centered input-xxlarge-fluid margin-center">{{msg('task.info.addSave')}}</p>
                        <div class="clearfix"></div>
                        <div class="form-group centered inside">
                            <button ng-disabled="!isTaskValid()" ng-click="save(true)" class="btn btn-primary">{{msg('task.button.saveAndEnable')}}</button>
                            <button ng-disabled="!isTaskValid()" ng-click="save(false)" class="btn btn-primary">{{msg('task.button.save')}}</button>
                            <a target="_self" href="#/tasks/dashboard" class="btn btn-default"> {{msg('task.button.cancel')}}</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
