<!------------------------  History ------------------------------------->
<div task-panels-resize class="row">
    <div class="margin-after history">
        <h4 class="frame-title">{{msg('task.header.taskHistory')}} <a href="#/tasks/dashboard" type="button" class="btn btn-sm btn-default btn-in-frame-header pull-right"><i class="fa fa-level-up"></i></a></h4>
        <div class="tasks-list">
            <div class="inbox-header" ng-class="{true:'', false:'paused'}[enabled]">
                <div class="task-bar">
                    <ul class="task-nav">
                        <li class="task-element">
                            <div bs-popover="{{msg(trigger.channelName)}}" data-toggle="popover" data-placement="right" data-trigger="hover">
                                <img ng-src="../server/module/icon?bundleName={{trigger.moduleName}}&defaultIcon=iconTaskChannel.png" class="task-list-img" />
                            </div>
                        </li>
                        <li class="task-element"><i class="fa icon-blue fa-arrow-right fa-lg arrow-right"></i></li>
                        <li class="task-element">
                            <div ui-if="actions.length == 1" bs-popover="{{msg(actions[0].channelName)}}" data-toggle="popover" data-placement="right" data-trigger="hover">
                                <img ng-src="../server/module/icon?bundleName={{actions[0].moduleName}}&defaultIcon=iconTaskChannel.png" class="task-list-img"/>
                            </div>
                            <div ui-if="actions.length > 1" actions-popover>
                                <i class="fa fa-fw fa-lg fa-folder-open-o task-list-img" style="vertical-align: middle;"></i>
                            </div>
                        </li>
                        <li class="divider-vertical"></li>
                        <li class="task-element task-name task-long-name">
                            <span title="{{name}}" class="name-first">{{name}}</span>
                            <span class="name-second-history">{{msg('task.section.recentActivityForTask')}}</span>
                        </li>
                    </ul>

                    <ul class="task-nav pull-right">
                        <li ng-show="description && enabled" class="task-element"  bs-popover="{{description}}" data-trigger="hover" data-placement="left"><div class="task-list-img fa icon-blue fa-info fa-2x" aria-hidden="true"></div></li>
                        <li ng-show="description && !enabled" class="task-element" bs-popover="{{description}}" data-trigger="hover" data-placement="left"><div class="task-list-img paused-task fa fa-info fa-2x" aria-hidden="true"></div></li>
                        <li ng-show="description" class="divider-vertical"></li>
                        <li ng-hide="enabled" class="task-element task-paused">
                            <div class="task-list-button-activity">
                                <div class="task-list-text-activity">{{msg('task.paused')}}</div>
                                <div class="task-list-div-activity"><i class="task-list-img-activity fa fa-ban"></i></div>
                            </div>
                        </li>
                        <li ng-show="enabled" class="task-element task-active">
                            <div class="task-list-button-activity">
                                <div class="task-list-div-activity"><i class="task-list-img-activity fa fa-play-circle"></i></div>
                                <div class="task-list-text-activity">{{msg('task.active')}}</div>
                            </div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div><div class="margin-before2"></div>
            <div class="form-group form-inline inside">
                <label >{{msg('task.header.filterActivity')}}</label>
                <select class="form-control input-auto" ng-model="selectedActivityType" ng-change="changeActivityTypeFilter()" ng-options="activity for activity in activityTypes"></select>
                <a class="btn btn-default" ng-click="refresh()"><i class="fa fa-refresh"></i>&nbsp;{{msg('admin.refresh')}}</a>
            </div>
            <div id="outsideTaskHistoryTable" class="overrideJqgridTable">
                <table id="taskHistoryTable" task-history-grid="pageTaskHistoryTable"></table>
                <div id="pageTaskHistoryTable"></div>
            </div>
            <div class="inside">
                <div class="btn-group">
                    <a href="#/tasks/dashboard" class="btn btn-default"><i class="fa fa-level-up"></i> {{msg('task.button.back')}}</a>
                </div>
                <div class="btn-group pull-right">
                    <a ng-click="clearHistory()" class="btn btn-danger"> {{msg('task.button.clearHistory')}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
