<!------------------------  Recent task activity  ------------------------>
<div>
    <div class="box-content clearfix">
        <table id="table-activity" class="table table-striped table-lightblue table-recent-activity table-condensed centered">
            <tbody ng-show="activities.length == 0">
            <tr>
                <td>{{msg('task.info.notFoundActivities')}}</td>
            </tr>
            </tbody>
            <tbody ng-hide="activities.length == 0">
            <tr ng-repeat="activity in activities">
                <td>
                    <div>
                        <img ng-src="../server/module/icon?bundleName={{activity.trigger.moduleName}}&defaultIcon=iconTaskChannel.png" class="recent-activity-img"/>
                    </div>
                </td>
                <td>
                    <div>
                        <img src="../tasks/img/arrow.png" class="recent-activity-arrow"/>
                    </div>
                </td>
                <td>
                    <div>
                        <img ng-src="../server/module/icon?bundleName={{activity.action.moduleName}}&defaultIcon=iconTaskChannel.png" class="recent-activity-img"/>
                    </div>
                </td>
                <td class="recent-info">
                    <span title="{{activity.name}}" class="recent-name-first">{{ activity.name }}<br></span>
                    <span title="{{activity.date | fromNow}}">{{ activity.date | fromNow }}</span>
                </td>
                <td>
                    <div title="{{msg('task.tooltip.clickToSeeDetails')}}">
                        <a ng-href="#/tasks/task/{{activity.task}}/log">
                            <img ng-show="activity.type == 'SUCCESS'" src="../tasks/img/icon-ok.png" class="recent-activity-icon"/>
                            <img ng-show="activity.type == 'ERROR'" src="../tasks/img/icon-exclamation.png" class="recent-activity-icon"/>
                            <img ng-show="activity.type == 'WARNING'" src="../tasks/img/icon-question.png" class="recent-activity-icon"/>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
