<!------------------------  Recent task activity  ------------------------>
<div>
    <div class="box-content clearfix">
        <table class="table table-striped table-lightblue table-recent-activity table-condensed centered">
            <tbody ng-show="activities.length == 0">
            <tr>
                <td>{{msg('task.info.notFoundActivities')}}</td>
            </tr>
            </tbody>
            <tbody ng-hide="activities.length == 0">
            <tr ng-repeat="activity in activities">
                <td>
                    <div>
                        <img ng-src="../tasks/api/channel/icon?moduleName={{activity.trigger.moduleName}}" class="recent-activity-img"/>
                    </div>
                </td>
                <td>
                    <div>
                        <img src="../tasks/img/arrow.png" class="recent-activity-arrow"/>
                    </div>
                </td>
                <td>
                    <div>
                        <img ng-src="../tasks/api/channel/icon?moduleName={{activity.action.moduleName}}" class="recent-activity-img"/>
                    </div>
                </td>
                <td><span class="recent-name-first">{{ activity.name }}<br></span>
                    <span>{{ activity.date | fromNow }}</span>
                </td>
                <td bs-popover="{{msg('task.tooltip.clickToSeeDetails')}}" data-placement="left" data-trigger="hover">
                    <div>
                        <a ng-href="#/tasks/task/{{activity.task}}/log">
                            <img ng-show="activity.type == 'SUCCESS'" src="../tasks/img/icon-ok.png" class="recent-activity-icon"/>
                            <img ng-show="activity.type == 'ERROR'" src="../tasks/img/icon-exclamation.png" class="recent-activity-icon"/>
                            <img ng-show="activity.type == 'WARNING'" src="../tasks/img/icon-question.png" class="recent-activity-icon"/>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
