<!------------------------  Recent task activity  ------------------------>
<div>
    <div class="box-content clearfix">
        <table id="table-activity" class="table table-striped table-lightblue table-recent-activity table-condensed centered">
            <tbody ng-show="activities.length == 0">
            <tr>
                <td>{{msg('task.info.notFoundActivities')}}</td>
            </tr>
            </tbody>
            <tbody ng-hide="activities.length == 0">
            <tr ng-repeat="activity in activities">
                <td>
                    <div>
                        <div module-name-img="../server/module/icon?bundleName={{activity.trigger.moduleName}}&defaultIcon=iconTaskChannel.png" class="recent-activity-img"></div>
                    </div>
                </td>
                <td>
                    <div class="task-element">
                        <i class="fa icon-blue fa-arrow-right fa-lg arrow-right"></i>
                    </div>
                </td>
                <td>
                    <div>
                        <div module-name-img="../server/module/icon?bundleName={{activity.action.moduleName}}&defaultIcon=iconTaskChannel.png" class="recent-activity-img"></div>
                    </div>
                </td>
                <td class="recent-info">
                    <span title="{{activity.name}}" class="recent-name-first">{{ activity.name }}<br></span>
                    <span title="{{activity.date | fromNow}}">{{ activity.date | fromNow }}</span>
                </td>
                <td>
                    <div title="{{msg('task.tooltip.clickToSeeDetails')}}">
                        <a ng-href="#/tasks/task/{{activity.task}}/log">
                            <div ng-show="activity.type == 'SUCCESS'" class="recent-activity-icon fa icon-green fa-check-circle fa-2x" aria-hidden="true"></div>
                            <div ng-show="activity.type == 'ERROR'" class="recent-activity-icon fa icon-red fa-exclamation-circle fa-2x" aria-hidden="true"></div>
                            <div ng-show="activity.type == 'WARNING'" class="recent-activity-icon fa warning-type fa-question-circle fa-2x" aria-hidden="true"></div>
                            <div ng-show="activity.type == 'IN PROGRESS'" class="recent-activity-icon fa icon-blue fa-info-circle fa-2x" aria-hidden="true"></div>
                            <div ng-show="activity.type == 'FILTERED'" class="recent-activity-icon fa icon-blue fa-info-circle fa-2x" aria-hidden="true"></div>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
