<div class="row margin-after"><!------------------------  Settings  ------------------------------------->
    <h4 class="frame-title">{{msg('task.settings.title')}}</h4>
    <form id="tasksSettingsForm" name="tasksSettingsForm" class="form-horizontal col-sm-12" novalidate>
        <div ng-class="cssClass('taskPossibleErrors')" class="form-group">
            <label class="col-md-2 col-sm-3 control-label" for="taskPossibleErrors">{{msg('task.settings.label.possibleErrors')}}:</label>
            <div class="form-inline col-md-10 col-sm-9">
                <input class="form-control input-auto" ng-model="settings.taskPossibleErrors" type="text" id="taskPossibleErrors" required/>
                <span ng-hide="isNumeric('taskPossibleErrors')" class="form-hint">{{msg('task.settings.error.possibleErrors')}}</span>
            </div>
        </div>
        <h5 class="margin-before2 ng-binding">{{msg('task.retry.retries')}}</h5>
        <div class="form-group">
            <div ng-repeat="(key,value) in settings.taskRetries">
                <label class="col-md-2 col-sm-3 control-label">{{msg('task.retry.After')}}:</label>

                <div class="form-inline col-md-10 col-sm-9">
                    <input class="form-control input-auto" ng-model="settings.taskRetries[key]" type="text" value="">
                    <label class="control-label">seconds</label>
                    <a ng-click="removeTaskRetry(key)" class="btn btn-small btn-danger offset-1"><i class="fa fa-trash-o"></i></a>
                </div>
            </div>
        </div>
        <div class="form-group">
                <label class="col-md-2 col-sm-3 control-label">{{msg('task.retry.After')}}:</label>

                <div class="form-inline col-md-10 col-sm-9">
                    <input class="form-control input-auto" ng-model="retry.value" type="text" value="">
                    <label class="control-label">seconds</label>
                </div>
        </div>
        <div class="form-group ng-cloak">
            <div class="col-md-offset-2 col-sm -offset-3 col-md-10 col-sm-9">
                <button class="btn btn-success" ng-click="addTaskRetry(retry)"><i class="fa fa-plus"></i> {{msg('task.button.addTaskRetry')}}</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-sm -offset-3 col-md-10 col-sm-9">
                <input ng-disabled="tasksSettingsForm.$invalid" ng-click="submit()" type="button" value="{{msg('task.settings.submit')}}" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</div>
