<!------------------------  Tasks  ------------------------------------->
<div task-panels-resize class="row">
    <h4 class="frame-title">{{msg('task.header.tasks')}}</h4>
    <div class="toolbox">
        <div class="btn-group pull-right">
            <a role="button" class="btn btn-default" import-task-modal get-tasks="getTasks" msg="msg" ctrl="ImportModalCtrl"><span class="glyphicon glyphicon-import"></span> {{msg('task.import')}}</a>
            <a href="#/tasks/task/new" type="button" class="btn btn-success" ng-click="selectedTabState.selectedTab = 'new'"><i class="fa fa-plus"></i> {{msg('task.new')}}</a>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default" id="tasks-filters"><i class="fa fa-filter"></i>&nbsp;{{msg('task.section.filters')}}</button>
        </div>
    </div>
    <div class="clearfix">
        <div class="tasks-list" id="task-list" ng-show="allTasks.length != 0">
            <div ng-repeat="item in pagedItems[currentPage]">
                <div class="task-list-group">
                    <div class="panel-heading inbox-header" ng-class="{true:'', false:'paused'}[item.task.enabled]">
                        <div class="task-bar" expand-accordion>
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#task-list" target="_self" href="#collapse3{{$index}}">
                                <ul class="task-nav">
                                    <li class="task-element">
                                        <div trigger-popover>
                                            <img ng-src="../server/module/icon?bundleName={{item.task.trigger.moduleName}}&defaultIcon=iconTaskChannel.png" class="task-list-img" />
                                        </div>
                                    </li>
                                    <li class="task-element"><i class="fa icon-blue fa-arrow-right fa-lg arrow-right"></i></li>
                                    <li class="task-element">
                                        <div actions-popover>
                                            <img ui-if="item.task.actions.length == 1" ng-src="../server/module/icon?bundleName={{item.task.actions[0].moduleName}}&defaultIcon=iconTaskChannel.png" class="task-list-img"/>
                                            <i ui-if="item.task.actions.length > 1" class="fa fa-fw fa-lg fa-bars task-list-img" style="vertical-align: middle;"></i>
                                        </div>
                                    </li>
                                    <li class="divider-vertical"></li>
                                    <li class="task-element pointer task-long-name">
                                        <i class="fa fa-fw fa-lg fa-caret-right i-name"></i>
                                        <span title="{{item.task.name}}">&nbsp;{{item.task.name}}</span>
                                    </li>
                                </ul>
                            </a>
                            <ul class="task-nav pull-right">
                                <li ng-show="item.task.description && item.task.enabled" class="task-element" rel="popover" bs-popover="{{item.task.description}}" data-trigger="hover" data-placement="left"><div class="task-list-img fa icon-blue fa-info fa-2x" aria-hidden="true"></div></li>
                                <li ng-show="item.task.description && !item.task.enabled"  class="task-element" bs-popover="{{item.task.description}}" data-trigger="hover" data-placement="left"><div class="task-list-img fa paused-task fa-info fa-2x" aria-hidden="true"></div></li>
                                <li ng-show="item.task.description" class="divider-vertical"></li>
                                <li ng-show="!item.task.enabled && item.task.hasRegisteredChannel" class="task-element task-paused">
                                    <div class="task-list-button-activity">
                                        <div class="task-list-text-activity">{{msg('task.paused')}}</div>
                                        <div class="task-list-div-activity"><i class="task-list-img-activity fa fa-ban"></i></div>
                                    </div>
                                </li>
                                <li ng-show="item.task.enabled && item.task.hasRegisteredChannel" class="task-element task-active">
                                    <div class="task-list-button-activity">
                                        <div class="task-list-div-activity"><i class="task-list-img-activity fa fa-play-circle"></i></div>
                                        <div class="task-list-text-activity">{{msg('task.active')}}</div>
                                    </div>
                                </li>
                                <li ng-show="!item.task.hasRegisteredChannel" class="task-element task-paused">
                                    <div class="task-list-button-activity">
                                        <div class="task-list-text-activity">{{msg('task.channel.deregistered')}}</div>
                                        <div class="task-list-div-activity"><i class="task-list-img-activity fa fa-ban"></i></div>
                                    </div>
                                </li>
                                <li class="divider-vertical"></li>
                                <li ng-show="item.task.enabled" class="task-element"><a href="#/tasks/task/{{item.task.id}}/edit"><div class="task-list-img task-list-settings-enabled"></div></a></li>
                                <li ng-hide="item.task.enabled" class="task-element"><a href="#/tasks/task/{{item.task.id}}/edit"><div class="task-list-img task-list-settings-disabled"></div></a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div id="collapse3{{$index}}" class="panel-collapse panel-body collapse task-content clearfix" ng-class="{true:'', false:'paused'}[item.task.enabled]">
                        <div class="task-bar">
                            <ul class="task-nav">
                                <li class="task-element task-offset"></li>
                                <li class="task-element task-buttons">
                                    <a href="#/tasks/task/{{item.task.id}}/edit"><div class="button-task-in"><i class="fa fa-edit"></i> {{msg('task.button.edit')}}</div></a>
                                </li>
                                <li ng-show="item.task.enabled" class="task-element task-buttons">
                                    <a ng-click="enableTask(item, false)"><div class="button-task-in"><i class="fa fa-pause"></i> {{msg('task.button.pause')}}</div></a>
                                </li>
                                <li ng-hide="item.task.enabled" class="task-element task-buttons">
                                    <a ng-click="enableTask(item, true)"><div class="button-task-in"><i class="fa fa-play"></i> {{msg('task.button.enable')}}</div></a>
                                </li>
                                <li class="task-element task-buttons">
                                    <a ng-click="deleteTask(item)"><div class="button-task-in"><i class="fa fa-trash-o"></i> {{msg('task.button.delete')}}</div></a>
                                </li>
                                <li class="task-element task-buttons">
                                    <a href="#/tasks/task/{{item.task.id}}/log"><div class="button-task-in"><i class="fa fa-clock-o"></i> {{msg('task.button.history')}}</div></a>
                                </li>
                                <li class="task-element task-buttons">
                                    <a href="../tasks/api/task/{{item.task.id}}/export"><div class="button-task-in"><span class="glyphicon glyphicon-export"></span> {{msg('task.button.export')}}</div></a>
                                </li>
                                <li class="task-element task-offset"></li>
                                <li class="divider-vertical"></li>
                                <li class="task-element task-offset"></li>
                            </ul>
                            <div class="task-nav">
                                <ul class="task-list">
                                    <li class="info"><i class="fa fa-share-square-o icon-blue"></i> {{msg('task.info.executedTimes', item.success)}}</li>
                                    <li class="error" ng-hide="item.error == 0"><i class="fa fa-exclamation-triangle icon-red"></i> {{msg('task.info.errorsLastDays', item.error)}}</li>
                                    <li class="success" ng-show="item.error == 0"><i class="fa fa-check-circle icon-green"></i> {{msg('task.info.errorsLastDays', item.error)}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                    </div>

                </div>
            </div>
        </div>
        <div class="pagination-centered" ng-show="pagedItems.length &gt; 1">
            <ul class="pagination pagination-sm lightblue">
                <li ng-class="{disabled: currentPage == 0}"><a ng-click="firstPage()">{{msg('server.pagination.first')}}</a></li>
                <li ng-class="{disabled: currentPage == 0}"><a ng-click="prevPage()">{{msg('server.pagination.prev')}}</a></li>
                <li ng-repeat="number in range(pagedItems.length)"
                    ng-hide="hidePages(number)"
                    ng-class="{active: number == currentPage}"
                    ng-click="setPage()">
                    <a ng-bind="number + 1">1</a>
                </li>
                <li ng-class="{disabled: currentPage == pagedItems.length - 1}"><a ng-click="nextPage()">{{msg('server.pagination.next')}}</a></li>
                <li ng-class="{disabled: currentPage == pagedItems.length - 1}"><a ng-click="lastPage(pagedItems.length - 1)">{{msg('server.pagination.last')}}</a></li>
            </ul>
        </div>

        <div class="tasks-list alert alert-warning" ng-show="allTasks.length == 0">
            <strong>{{msg('task.warning')}}:</strong>
            {{msg('task.info.notFoundTasks')}}
        </div>
    </div>
</div>
