body {
    font-family: 'ubuntu','trebuchet ms','arial','helvetica',sans-serif;
    font-size: 14px;
    line-height: 16px;
    margin:0;
    background:#050d34;
}
#header {
    background: #FFFFFF;
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}
.logo {
    padding:0 20px;
    display: inline;
}
.strip {
    float: left;
    display: inline-block;
    height:5px;
    width:100%;
    color:#e9f2f8;
    background-color:#e9f2f8;
    margin: 0;
    padding: 0;
}
div.bodywrap {
    background:#050d34;
}
.header h1 {
    display: inline;
}

.dullImage {
    opacity : 0.4;
    filter: alpha(opacity=40); /* IE */
}

.icon {
    width: 20px;
    height: 20px;
    border: none;
}

img, a, ul, li {
    border: none;
}

.big-icon {
    width: 80px;
    height: 80px;
    padding: 5px;
    border: 1px solid #aaa;
}

.loader.wrapper {
    text-align: center;
}

.box-header {
    color:#00cccc;
    font-weight: bold;
    padding:0;
    margin: 15px 0 -2px 0;
    height: 26px;
    line-height: 21px;
    font-size: 16px;
}

.box-header-left {
    background: url("../img/topframeleft.png") no-repeat left top;
    padding: 5px 0 5px 21px;
    margin: 0;
}

.box-header-center {
    background: url("../img/topframecenter.png") repeat-x center top;
    padding: 5px 0 5px 0;
    margin: 0;
}

.box-header-right {
    background: url("../img/topframeright.png") no-repeat right top ;
    padding: 5px 42px 5px 0;
    margin: 0;
}

.box-content {
    border:1px solid rgb(170,170,170);
    border-top:1px solid rgba(255,255,255,0.6);
    -webkit-background-clip:padding-box;
    border-radius:0 5px 5px 5px;
    padding:5px;
    color:#ffffff;
    background: rgba(5,40,95,0.7) url("../img/framebg.png") repeat top left;
    box-shadow:  2px 5px 6px 6px rgba(5,15,65,0.7);
}

.table-content {
    border:1px solid rgb(170,170,170);
    border-top:1px solid rgba(255,255,255,0.6);
    -webkit-background-clip:padding-box;
    border-radius:0 5px 5px 5px;
    padding: 0;
    background: rgba(5,40,95,0.1) url("../img/framebgtable.png") repeat-x top;
    box-shadow:  2px 5px 6px 6px rgba(5,15,65,0.7);
}

.table-content label {
    color:#ffffff;
}

.table-content form {
    margin: 0 0 0 5px;
    background: url("../img/framebgtable.png") repeat-x top;
}

#content {
    overflow: hidden;
    clear: both;
    min-height:550px;
    background:#050d34 url("../img/body-bg.jpg") no-repeat top center;
}

#left-half {
    float: left;
    width: 70%;
    margin: 5px;
}

#right-half {
    float: right;
    width: 28%;
    margin: 5px;
}

.msg-level {
    font-weight: bold;
}

.error {
    color: red;
}

.ok {
    color: green;
}

.status-message {
    border-bottom: thin dotted;
    background-color: #d0d8fe;
    color: #001e4f;
}

settings-input {
    padding: 5px;
}

.settings-input label {
    display: block;
    float: left;
    width: 30%;
    padding-left: 15px;
    margin: 7px 0 7px 0;
}

.bundle-dtLabel {
    float: left;
    width: 33%;
}

.bundle-dtValue {
    min-height: 1em;
    margin-left: 33%;
    width: 65%;
}

h1 {
    display: inline;
}

.bundle-prop {
    padding: 5px;
    border-bottom: 1px dotted;
}

input[type='text'] {
    background: url('../img/input.png') repeat;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 5px;
}

input[type='button'], input[type='submit'] {
    background: url('../img/button.png') repeat-x;
    background-color: #337fc3;
    border-radius: 5px;
    border: 1px solid #337fc3;
    color: #000000;
    padding: 4px 5px;
    border: none;
    outline: none;
}
input[type='button']:hover, input[type='submit']:hover {
    color: #003399;
}