#nav-panel {
    height:49px;
    width: 100%;
    float:left;
    margin:0;
    overflow:hidden;
    padding:0;
    background: #0000cc url("../img/menubg.jpg")repeat-x;
}

#nav {
    list-style:none;
    font-weight:bold;
    height: 49px;
    float:left;
    width:100%;
    padding: 0 1px 0 1px;
    margin: 0;
    border: none;
}

#nav li {
    float:left;
    height: 49px;
    margin: 0 5px 0 0;
    padding:0 20px 0 20px;
    position:relative;
    cursor:pointer;
    border: none;
}

#nav a {
    display:block;
    color: #ffffff;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
    font-size:16px;
    line-height: 49px;
    border: none;
}

#nav a:hover {
    color:#fdb813;
    border: none;
}

#nav li:hover, #nav li.current {
    color:#fdb813;
    border: none;
    background-image: url("../img/menuglow.png");
    background-position: center bottom;
    background-repeat: no-repeat;
}

/*--- DROPDOWN
#nav ul {
	background:#fff; for IE
	background:rgba(255,255,255,0);
	list-style:none;
	position:absolute;
	left:-9999px;
}
#nav ul li {
	padding-top:1px;
	float:none;
}
#nav ul a {
	white-space:nowrap;
}
#nav li:hover ul {
	left:0;
}
#nav li:hover a {
	background:#FFCC00;
	text-decoration:underline;
}
#nav li:hover ul a{
	text-decoration:none;
}
#nav li:hover ul li a:hover {
	background:#333;
}                     --- */