table {
    font-family: 'ubuntu','trebuchet ms','arial','helvetica',sans-serif;
    font-size: 14px;
    line-height: 16px;
    border-collapse:collapse;
    color: #fff;
    width: 100%;
    text-align: center;
}

td, th {
		padding:5px;
}

caption {
		padding: 0 0 .5em 0;
		text-align: left;
		font-size: 1.4em;
		font-weight: bold;
		text-transform: uppercase;
		color: #333;
		background: transparent;
}

/* =links
----------------------------------------------- */

table a {
    color:#ffffff;
    text-decoration:none;
}

table a:link {}

table a:visited {
    font-weight:normal;
    color: #c2eafe;
    text-decoration: line-through;
}

table a:hover {
    text-decoration: underline;
    color:#fdb813;
}

/* =head =foot
----------------------------------------------- */

thead th, tfoot th, tfoot td {
    background:url("../img/framebg.png") repeat-x;
    color:#fdb813;
    white-space: nowrap;
}
thead th {
    cursor: pointer;
}


thead tr > th:nth-child(3){
    text-align: left;
}

tfoot td {
    text-align:right
}

/* =body
----------------------------------------------- */

tbody th, tbody td {
    border:1px solid rgb(120, 163, 170);
    border-top:1px solid rgba(255,255,255,0.6);
    -webkit-background-clip:padding-box;
    background-clip: padding-box;
    padding-left: 10px;
}

tbody tr > td:nth-child(3){
    text-align:left;
}

tbody tr > td:last-child {
    width: 100px;
}

tbody tr:nth-child(2n+1) {
    background:#000d44;/*rgba(255,255,255,0.1); #000d44;*/
}

tbody tr:nth-child(2n) {
    background:#022c61;/*rgba(2,25,255,0.7); #022c61;*/
}

tbody th {
    white-space: nowrap;
}

tbody th a {
    color:#333;
}

tbody tr:hover {
    background: rgba(25,205,255,0.4);
    color:#fdb813;
}