html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.body-up {
    background: #ffffff url("../img/lightblue-bg.jpg") repeat-x 0 -40px;
}

.body-down {
    background: #ffffff url("../img/lightblue-bg.jpg") repeat-x 0 0;
}

.body-startup {
    background: #ffffff url("../img/lightblue-bg.jpg") repeat-x 0 -70px;
}

.lightgrain-bg {
    background: #E9E9E9 url("../img/lightgrain-bg.png") repeat 0 0;
}

.darkgrain-bg {
    background: #E2E2E2 url("../img/darkgrain-bg.png") repeat 0 0;
}

.mediumgrain-bg {
    background: #EEE url("../img/mediumgrain-bg.png") repeat 0 0;
}

.lightblue-bg {
    background: #dbedf7 url("../img/frame-bg.jpg") repeat-x 0 0;
}

.stripes-bg {
    background: url("../img/bg2.png") repeat;
}

.icon.icon-red {
    background-image: url("../img/glyphicons-halflings-red.png");
}

.icon.icon-blue {
    background-image: url("../img/glyphicons-halflings-blue.png");
}

.icon.icon-green {
    background-image: url("../img/glyphicons-halflings-green.png");
}

h1, h2, h3, h4, h5, h6 {
    color: #224477;
}

.bodywrap {
    min-height: 100%;
    position: relative;
}

.header {
    display:block;
    margin:auto;
}

#content {
    padding-bottom: 31px;
}

#footer {
    width: 100%;
    height: 22px;
    padding: 5px 0;
    border-top: 1px solid #D4E1F9;
    background: #e4f1f9;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    opacity: 0.8;
    z-index: 990;
}

.dashboard-logo {
    width:320px;
    height:70px;
    display:block;
    float:left;
    margin: 0 5px 0 0;
    background: #fff url("../img/motech-logo.jpg") no-repeat;
}

.header-title {
    width:340px;
    height:28px;
    display:block;
    float:left;
    margin: 40px 0 0 8%;
    background: #fff;
    color:#224477;
    text-weight:400;
    font-size: 18px;
    line-height: 27px;
    vertical-align:bottom;
}

.header-nav {
    display:block;
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    line-height: 20px;
    font-size: 15px;
    background: #001e4f url("../img/navbar.jpg") repeat-x 0 0;
    border-bottom:1px solid #ff9900;
}

.dropdown ul li a,.dropdown ul li {
    font-size: 13px;
}

.navbar .dropdown-menu, .nav-pills .dropdown-menu {
    margin-top: 0;
}

.navbar-inner {
    filter:none;
    border-radius:none;
    box-shadow:none;
    border:none;
}

.navbar-inner-bg {
    background: url("../img/navbar.jpg") repeat-x 0 0;
}

.menu-left {
    font-size: 13px;
}

form.inside {
    margin:0;
}

.navbar .btn-blue.btn-navbar, .navbar .btn-blue {
    background: #224477 url("../img/navbar.jpg") repeat-x 0 -6px;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
}

.navbar .btn-blue.btn-navbar:hover, .navbar .btn-blue:hover, .nav-collapse .nav > li > a:hover {
    background: #224477 url("../img/navbar.jpg") repeat-x 0 -1px;
    box-shadow: 0 0 5px rgba(055, 055, 055, 0.3) inset, 0 0 1px rgba(255, 255, 255, 0.5);
}

.nav-collapse .nav > li > a:hover, .nav-collapse .dropdown-menu a:hover {
    background-color: #224477;
}

.nav-collapse .nav > li > a.no-hover:hover {
    background: #224477 url("../img/navbar.jpg") repeat-x 0 0;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
    color: #c2eafe;
}

.navbar .nav > li.current > a {
    color: #ffffff;
}

.navbar .btn.btn-blue {
    padding:  5px;
    margin: 5px  0 0 0;
    color: #c2eafe;
}

.navbar .btn-blue.btn-navbar:active {
    background: #002244;
}

.navbar .divider-vertical {
    background-color: #4E688D;
    border-right: 1px solid #224477;
}

.navbar .divider-vertical-sub {
    background-color: #4E688D;
    border-right: 1px solid #224477;
    height: 20px;
    margin: 10px 0;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background: #001e4f url("../img/navbar.jpg") repeat-x 0 0;
    color: #ffffff;
}

#minimize {
    padding: 2px 0 0 0;
}

.minimize {
    width: 28px;
    height: 25px;
    background:url("../img/action-btn-sprite.png") no-repeat;
}
.action-minimize-up {
    background-position: -248px 0;
}
.action-minimize-up:hover {
    background-position: -248px -24px;
}

.action-minimize-down {
    background-position: -279px 0;
}
.action-minimize-down:hover {
    background-position: -279px -24px;
}

.navbar .nav > li > a, .navbar .brand {
    color: #c2eafe;
}

.nav-tabs {
    border-bottom: 1px solid #0088cc;
}

.nav-tabs.nav-stacked > li > a {
    border-radius:6px;
    border:1px solid #d4e1f9;
    background:#e4f1f9;
    text-transform:capitalize;
}

.nav-tabs.nav-stacked > li:last-child > a,
.nav-tabs.nav-stacked > li:last-child,
.nav-tabs.nav-stacked > li {
    border-radius:6px;
}

.nav-tabs.nav-stacked li {
    -webkit-box-shadow: 0 1px 3px #bec9de;
       -moz-box-shadow: 0 1px 3px #bec9de;
            box-shadow: 0 1px 3px #bec9de;
}
.nav-tabs.nav-stacked li.nav-header {
    -webkit-box-shadow: 0 0 0 #bec9de;
       -moz-box-shadow: 0 0 0 #bec9de;
            box-shadow: 0 0 0 #bec9de;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > li > a:hover,
.nav-tabs.nav-stacked > .active > a,
.nav-tabs.nav-stacked > .active > a {
    border: 1px solid #0088cc;
    background: #3b679e; /* Old browsers */
    background: -moz-linear-gradient(top,  #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b679e), color-stop(50%,#2b88d9), color-stop(51%,#207cca), color-stop(100%,#7db9e8));
    background: -webkit-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: -o-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: -ms-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: linear-gradient(to bottom,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 );
    color:#ffffff;
}

.nav-tabs > li > a {
    line-height: 14px;
}

.nav > li > a:hover {
    color: #ffffff;
}

.tab-content {
    overflow:visible;
    padding: 10px 10px 20px 10px;
    margin-bottom: 30px;
}

hr {
    border-style:solid;
    border-color: #0088cc;
}

.nav li + .nav-header, .nav .nav-header {
    color: #224477;
    font-size: 15px;
    margin-top: 15px;
}

.form-panel {
    width:480px;
    min-height: 20px;
    padding: 19px 100px;
    margin: 20px auto 20px auto;
    background:#dbedf7 url("../img/frame-bg.jpg") repeat-x 0 0;
    border:1px #7bb5fc solid;
    -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
              border-radius: 4px;
    -webkit-box-shadow: 0 2px 5px #89aedb;
       -moz-box-shadow: 0 2px 5px #89aedb;
            box-shadow: 0 2px 5px #89aedb;

}

.title {
    color:#224477;
    font-size: 22px;
    line-height: 27px;
    text-align:center;
    margin:20px;
}

.required-field {
    color:#ff0000;
}

select {
    background:#ffffff;
}

.box-header {
    border-radius: 4px;
    font-weight: bold;
    line-height: 20px;
    font-size: 15px;
    padding:5px 10px;
    color: #c2eafe;
    background: #001e4f url("../img/head-bg.jpg") repeat-x left top;
}

.btn-in-header {
    margin: -5px -10px;
}

.inbox-header {
    border-radius: 4px;
    font-weight: bold;
    line-height: 20px;
    font-size: 15px;
    padding:5px 10px;
    color: #224477;
    background: #deefff;
    background: -moz-linear-gradient(top,  #deefff 0%, #98bede 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deefff), color-stop(100%,#98bede));
    background: -webkit-linear-gradient(top,  #deefff 0%,#98bede 100%);
    background: -o-linear-gradient(top,  #deefff 0%,#98bede 100%);
    background: -ms-linear-gradient(top,  #deefff 0%,#98bede 100%);
    background: linear-gradient(to bottom,  #deefff 0%,#98bede 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 );
    -webkit-box-shadow: 0 0 4px #bec9de;
       -moz-box-shadow: 0 0 4px #bec9de;
            box-shadow: 0 0 4px #bec9de;
}

.label-header {
    border-radius: 4px;
    font-weight: bold;
    line-height: 20px;
    font-size: 15px;
    padding:5px 10px;
    color: #224477;
    background: none;
}

.box-content {
    border-radius: 4px;
    border: 1px solid #D4E1F9;
    padding: 0;
    background: #dbedf7 url("../img/frame-bg.jpg") repeat-x 0 0;
    -webkit-box-shadow: 0 1px 2px #bec9de;
       -moz-box-shadow: 0 1px 2px #bec9de;
            box-shadow: 0 1px 2px #bec9de;
}

.box-content form {
    margin:0;
}

.tab-frame {
    margin: -10px 0 0 0;
    padding: 30px 0 10px;
    border: 1px solid #D4E1F9;
    border-radius: 4px 4px 4px 4px;
    padding: 0;
    background: #dbedf7 url("../img/frame-bg.jpg") repeat-x 0 0;
    -webkit-box-shadow: 0 1px 2px #bec9de;
       -moz-box-shadow: 0 1px 2px #bec9de;
            box-shadow: 0 1px 2px #bec9de;
}

.inside {
    padding: 8px 10px;
}

.outside-tb {
    margin: 10px 0;
}

.centered {
    text-align: center;
}

.margin-center {
    margin: auto;
}

.margin-before {
    margin-top: 10px;
}

.margin-before2 {
    margin-top: 20px;
}

.margin-before3 {
    margin-top: 30px;
}

.margin-before4 {
    margin-top: 40px;
}

.margin-before5 {
    margin-top: 50px;
}

.margin-after {
    margin-bottom: 10px;
}

.margin-left1 {
    margin-left: 10px;
}

.margin-right1 {
    margin-right: 10px;
}

.margin-left2 {
    margin-left: 20px;
}

.margin-right2 {
    margin-right: 20px;
}

.well2 {
    margin-bottom: 20px;
    min-height: 20px;
}

.well3 {
    padding: 10px 20px;
    min-height: 20px;
}

.left-divider {
    border-left: 1px solid #7bb5fc;
    margin-left: -30px;
    padding-left: 30px;
}

.top-divider {
    border-top: 1px solid #7bb5fc;
    margin-top: -20px;
    padding-top: 30px;
}

/* ----- Common table ----- */

.table-lightblue {
    border-color: #D4E1F9;
    background: #E4F1F9;
}

.table-lightblue  tbody tr:nth-child(2n+1) td {
    background: #F3FBFE;
}

.table-lightblue  tbody tr:hover td, .table-lightblue tbody tr:hover th, .table-lightblue tbody tr:hover td a {
    background: #EDF5F9;
    color: #005580;
}

.table-lightblue.table-bordered th, .table-lightblue.table-bordered td {
      border-top: 1px solid #D4E1F9;
      border-left: 1px solid #D4E1F9;
}

.table-lightblue th, .table-lightblue th a, .pagination.lightblue ul > li > a {
    border-color: #fff;
    color: #224477;
    background: #deefff;
    background: -moz-linear-gradient(top,  #deefff 0%, #98bede 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deefff), color-stop(100%,#98bede));
    background: -webkit-linear-gradient(top,  #deefff 0%,#98bede 100%);
    background: -o-linear-gradient(top,  #deefff 0%,#98bede 100%);
    background: -ms-linear-gradient(top,  #deefff 0%,#98bede 100%);
    background: linear-gradient(to bottom,  #deefff 0%,#98bede 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede', GradientType=0 );
    -webkit-box-shadow: 0 0 2px #bec9de;
       -moz-box-shadow: 0 0 2px #bec9de;
            box-shadow: 0 0 2px #bec9de;
}

.table-lightblue thead .sorting-no {
    float: right;
    width: 13px;
    height: 20px;
    background: url("../img/sort.png")no-repeat center right;
}

.table-lightblue thead .sorting-asc {
    float: right;
    width: 13px;
    height: 20px;
    background: url("../img/sort-asc.png")no-repeat center right;
}

.table-lightblue thead .sorting-desc {
    float: right;
    width: 13px;
    height: 20px;
    background: url("../img/sort-desc.png")no-repeat center right;
}

.table-lightblue thead .sorting-no-img {
    float: right;
    width: 1px;
    height: 20px;
    background: none;
}

/* ----- startup ----- */

.body-startup {
    background: #ffffff url("../img/lightblue-bg.jpg") repeat-x 0 -95px;
}

.body-startup .bodywrap {
    margin: auto;
}

.startup-container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.startup {
    width: 700px;
    min-height: 200px;
    margin: 50px auto;
    z-index: 9999;
    background: #ffffff url("../img/lightblue-bg.jpg") repeat-x 0 40px;
    border:1px #7bb5fc solid;
    -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
              border-radius: 4px;
    -webkit-box-shadow: 0 1px 5px #89aedb;
       -moz-box-shadow: 0 1px 5px #89aedb;
            box-shadow: 0 1px 5px #89aedb;
}

.startup-logo {
    float: left;
    width:100%;
    height:70px;
    display:block;
    margin: auto;
    padding: 0 0 0 10px;
    text-align: center;
}

.startup-title {
    width: 100%;
    height: 28px;
    display: block;
    float: left;
    margin: 10px auto;
    background: #fff;
    color: #224477;
    font-weight: 500;
    text-align: center;
    font-size: 18px;
    line-height: 27px;
}

.startup-strip {
    float: left;
    width: 100%;
    height: 40px;
    margin: auto;
    padding: 0;
    background: #cbe4f4;
    text-align: center;
}
.startup-strip .title {
    color: #224477;
    font-size: 22px;
    line-height: 37px;
    text-align: center;
    margin: auto;
}

.startup-form {
    min-height: 50px;
    margin: 10px auto;
    color: #224477;
}

.startup-form .diver {
    width: 600px;
    margin: auto;
}

.startup-form .form-horizontal .control-label {
    width: 200px;
}

.startup-form .form-horizontal .controls {
    margin-left: 220px;
}

.form-panel {
    width:480px;
    min-height: 20px;
    padding: 19px 100px;
    margin: 20px auto 20px auto;
    background:#dbedf7 url("../img/frame-bg.jpg") repeat-x 0 0;
    border:1px #7bb5fc solid;
    -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
              border-radius: 4px;
    -webkit-box-shadow: 0 2px 5px #89aedb;
       -moz-box-shadow: 0 2px 5px #89aedb;
            box-shadow: 0 2px 5px #89aedb;

}

/*----- login ------*/

.spnw5 {
    width: 350px;
}

.margin-before05 {
    margin-top: 5px;
}

.login-error {
    color: #fa0328;
}

.open-id p {
    font-size: 16px;
    float: left;
    padding-top: 5px;
    color: #224477;
    text-align: left;
}

.open-id.control-group {
    margin-bottom: 0;
}

/*----- common ------*/

.spn12 {
  width: 940px;
}

.spn11 {
  width: 860px;
}

.spn10 {
  width: 780px;
}

.spn9 {
  width: 700px;
}

.spn8 {
  width: 620px;
}

.spn7 {
  width: 540px;
}

.spn6 {
  width: 460px;
}

.spn5 {
  width: 380px;
}

.spn4 {
  width: 300px;
}

.spn3 {
  width: 220px;
}

.spn2 {
  width: 140px;
}

.spn1 {
  width: 60px;
}

.pagination.lightblue ul > li > a {
    border-color: #94A2B4;
}

.pagination.lightblue li.active a {
    color: #000000;
    background: #deefff;
}

.pagination.lightblue li.disabled a,
.pagination.lightblue li.disabled a:hover {
    color: #95A6C1;
}

.pagination.lightblue li:hover a {
    color: #0099de;
}

.pagination-condensed {
    margin: 5px;
}

.pagination-condensed a {
    line-height: 24px;
    padding: 0 8px;
}

.input-lxlarge {
    width: 90%;
}

.text-capitalize {
    text-transform:capitalize;
}

.top-line {
    border-top: 1px solid #0088CC;
}

/* -----flags ----- */

.flag {
  display: inline-block;
  width: 22px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: middle;
  margin-left:0;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.flag-en {
    background-image: url("../img/en.png");
}
.flag-pl {
    background-image: url("../img/pl.png");
}
.flag-us {
    background-image: url("../img/us.png");
}
.flag-fr {
    background-image: url("../img/fr.png");
}
.flag-de {
    background-image: url("../img/de.png");
}

/* ----- splash ----- */
.splash {
    width: 345px;
    min-height: 20px;
    padding: 0;
    margin: auto auto auto -173px;
    left: 50%;
    position: fixed;
    z-index: 9999;
    background: #dbedf7 url("../img/splash-bg.jpg") repeat-x 0 0;
    border:1px #7bb5fc solid;
    -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
              border-radius: 4px;
    -webkit-box-shadow: 0 1px 5px #89aedb;
       -moz-box-shadow: 0 1px 5px #89aedb;
            box-shadow: 0 1px 5px #89aedb;
}

.splash-loader {
    float:left;
    width: 345px;
    height: 40px;
    margin: auto;
    padding: 0;
    background:#cbe4f4;
    text-align:center;
}

.splash-loader img {
    margin:12px 0 0 -10px;
}

.splash-logo {
    float:left;
    width: 260px;
    height: 80px;
    margin: 10px 40px 10px 45px;
    background: url("../img/motech-logo-splash.jpg") no-repeat 0 0;
}

.splash-msg {
    float:left;
    width: 325px;
    min-height: 50px;
    margin: 10px auto;
    text-align: center;
    color: #224477;
    font-size: 13px;
    line-height: 20px;
    padding: 10px;
}
.splash-alert {
    border-color: #d45252;
    -webkit-box-shadow: 0 1px 5px #666666;
       -moz-box-shadow: 0 1px 5px #666666;
            box-shadow: 0 1px 5px #666666;
}

.splash-header-alert {
    height: 30px;
    padding: 10px 0 0 0;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    background: #e6311c;
    background: -moz-linear-gradient(top,  #ff3523 0%, #e6311c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3523), color-stop(100%,#e6311c));
    background: -webkit-linear-gradient(top,  #ff3523 0%,#e6311c 100%);
    background: -o-linear-gradient(top,  #ff3523 0%,#e6311c 100%);
    background: -ms-linear-gradient(top,  #ff3523 0%,#e6311c 100%);
    background: linear-gradient(to bottom,  #ff3523 0%,#e6311c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3523', endColorstr='#e6311c',GradientType=0 );
}

.splash-msg-alert {
    color: #e6311c;
}

.form-hint:before {
    color: #d45252;
    content: "\25C0";
    left: -6px;
    position: absolute;
    top: 1px;
}

.form-hint {
    background: #d45252;
    border-radius: 3px;
    color: #ffffff;
    float:left;
    display:inline-block;
    margin-left: 8px;
    margin-right: 5%;
    padding: 1px 6px;
    position: absolute;
    z-index: 999;
    font-size: 11px;
}

.form-hint-info {
    background: #C08853;
}

.form-hint-info:before {
    color: #C08853;
}

.wrap-paragraph {
    border: none;
    word-break: break-all;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
}

.input-mini-fluid {
    max-width: 90px;
    min-width: 60px;
    width: 66%;
}

.input-small-fluid {
    max-width: 150px;
    min-width: 90px;
    width: 66%;
}

.input-medium-fluid {
    max-width: 210px;
    min-width: 150px;
    width: 66%;
}

.input-large-fluid {
    max-width: 270px;
    min-width: 210px;
    width: 66%;
}

.input-xlarge-fluid {
    max-width: 470px;
    min-width: 270px;
    width: 66%;
}

.input-xxlarge-fluid {
    max-width: 740px;
    min-width: 530px;
    width: 66%;
}

/* ----- link cursor ----- */

a, li a {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.control-group.inline {
    display: inline-block;
}
