body {
    background: #ffffff url("../img/lightblue-bg.jpg") repeat-x 0 0;
}

.lightgrain-bg {
    background: #E9E9E9 url("../img/lightgrain-bg.png") repeat 0 0;
}

.darkgrain-bg {
    background: #E2E2E2 url("../img/darkgrain-bg.png") repeat 0 0;
}

.mediumgrain-bg {
    background: #EEE url("../img/mediumgrain-bg.png") repeat 0 0;
}

.lightblue-bg {
    background: #dbedf7 url("../img/frame-bg.jpg") repeat-x 0 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #224477;
}

.header {
    display:block;
    margin:auto;
}

.dashboard-logo {
    width:320px;
    height:70px;
    display:block;
    float:left;
    margin: 0 5px 0 0;
    background: #fff url("../img/motech-logo.jpg") no-repeat;
}

.top-menu {
    width:auto;
    height:24px;
    display:block;
    float:right;
    margin: 0 0 0 55%;
    background:#e4f1f9;
    border-radius:0 0 4px 4px;
    border:1px solid #d4e1f9;
    position:absolute;
}

.top-menu .nav, .top-menu .navbar .nav > li > a {
    color: #224477;
    text-decoration:none;
    padding:0;
    text-shadow:none;
    cursor:pointer;
}

.top-menu .nav a:hover, .top-menu .navbar .nav > li > a:hover {
    text-decoration:none;
    color: #000;
}

.top-menu .navbar .nav > li {
    margin:2px 0 0 10px;
}

.top-menu .navbar .nav li.dropdown .caret {
    border-top-color: #224477;
    border-bottom-color: #224477;
    opacity: 0.75;
    filter: alpha(opacity=75);
}

.top-menu .navbar .nav li.dropdown:hover .caret {
    border-top-color: #000;
    border-bottom-color: #000;
}

.header-title {
    width:340px;
    height:28px;
    display:block;
    float:left;
    margin: 40px 0 0 9%;
    background: #fff;
    color:#224477;
    text-weight:400;
    font-size: 18px;
    line-height: 27px;
    vertical-align:bottom;
}

.header-nav {
    display:block;
    margin: 0 0 10px 0;
    padding: 0 0 0 0;
    color: #fff;
    line-height: 28px;
    font-size: 16px;
    background: #001e4f url("../img/navbar.jpg") repeat-x 0 0;
    border-bottom:1px solid #ff9900;
}

.dropdown ul li a,.dropdown ul li {
    font-size: 13px;
}

.dropdown:hover .dropdown-menu,.dropdown:hover {
    display: block;
}

.navbar .dropdown-menu, .nav-pills .dropdown-menu {
    margin-top: 0;
}

.navbar-inner {
    filter:none;
    border-radius:none;
    box-shadow:none;
}

.navbar-inner-bg {
    background: url("../img/navbar.jpg") repeat-x 0 0;
}

.navbar .nav > li > a {
    color: #c2eafe;
}

.nav-tabs {
    border-bottom: 1px solid #0088cc;
}

.nav-tabs.nav-stacked > li > a {
    border-radius:6px;
    border:1px solid #d4e1f9;
    background:#e4f1f9;
    text-transform:capitalize;
}

.nav-tabs.nav-stacked > li:last-child > a,
.nav-tabs.nav-stacked > li:last-child,
.nav-tabs.nav-stacked > li {
    border-radius:6px;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > li > a:hover,
.nav-tabs.nav-stacked > .active > a,
.nav-tabs.nav-stacked > .active > a {
    border: 1px solid #0088cc;
    background: #3b679e; /* Old browsers */
    background: -moz-linear-gradient(top,  #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b679e), color-stop(50%,#2b88d9), color-stop(51%,#207cca), color-stop(100%,#7db9e8));
    background: -webkit-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: -o-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: -ms-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: linear-gradient(to bottom,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 );
    color:#ffffff;
}

.nav-tabs > li > a {
    line-height: 14px;
}

.nav > li > a:hover {
    color: #ffffff;
}

.tab-content {
    padding: 10px 10px 20px 10px;
    margin-bottom: 30px;
}

hr {
    border-style:solid;
    border-color: #0088cc;
}

.nav li + .nav-header, .nav .nav-header {
    color: #224477;
    font-size: 15px;
    margin-top: 15px;
}

.form-panel {
    width:480px;
    min-height: 20px;
    padding: 19px 100px;
    margin: 20px auto 20px auto;
    background:#dbedf7 url("../img/frame-bg.jpg") repeat-x 0 0;
    border:1px #7bb5fc solid;
    -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
              border-radius: 4px;
    -webkit-box-shadow: 0 2px 5px #89aedb;
       -moz-box-shadow: 0 2px 5px #89aedb;
            box-shadow: 0 2px 5px #89aedb;

}

.title {
    color:#224477;
    font-size: 22px;
    line-height: 27px;
    text-align:center;
    margin:20px;
}

.required-field {
    color:#ff0000;
}

.i-middle {
    vertical-align:middle;
}

select {
    background:#ffffff;
}

.box-header {
    border-radius: 4px;
    font-weight: bold;
    line-height: 20px;
    font-size: 15px;
    padding:5px 10px;
    color: #c2eafe;
    background: #001e4f url("../img/head-bg.jpg") repeat-x left top;
}

.box-content {
    border-radius: 4px;
    border: 1px solid #D4E1F9;
    padding:0 0 10px 0;
    background: #dbedf7 url("../img/frame-bg.jpg") repeat-x 0 0;
    -webkit-box-shadow: 0 0 6px #bec9de;
       -moz-box-shadow: 0 0 6px #bec9de;
            box-shadow: 0 0 6px #bec9de;
}

.inside {
    padding: 8px 10px;
}

.outside-tb {
    margin: 10px 0;
}

footer {
    border-top: 1px solid #0088cc;
    background:#e4f1f9;
}

/* -----flags ----- */

.flag {
  display: inline-block;
  width: 22px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: middle;
  margin-left:0;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.flag-en {
    background-image: url("../img/en.png");
}
.flag-pl {
    background-image: url("../img/pl.png");
}
.flag-us {
    background-image: url("../img/us.png");
}
.flag-fr {
    background-image: url("../img/fr.png");
}
.flag-de {
    background-image: url("../img/de.png");
}
