<div class="well2">
    <div class="box-header">
        {{msg('admin.log')}}
        <a ng-click="refresh()">
            <img src="../admin/img/refresh.png" title="{{msg('admin.refresh')}}" alt="{{msg('admin.refresh')}}"/>
        </a>
    </div>
    <div class="box-content">
        <div class="log-line">
            <div class="col-sm-6 inside log-change">
                {{msg('admin.log.limitation')}} {{msg('admin.log.changeLogLevel')}} <a href="#/logOptions">{{ msg('admin.clickHere') | lowercase }}</a>.
            </div>
            <div class="col-sm-6 inside log-download">
                <a href="../admin/api/log/raw" class="btn btn-primary"><i class="icon-download-alt icon-white"></i> {{msg('admin.log.downloadFull')}}</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="logContent" class="log-content"></div>
    </div>
    <ul sidebar>
        <li go-to-top>
            <a href="#">
                <i class="icon-chevron-up icon-white"></i>
            </a>
        </li>
        <li go-to-end>
            <a href="#">
                <i class="icon-chevron-down icon-white"></i>
            </a>
        </li>
    </ul>
</div>
