<div class="row">
    <div class="form-group">
        <h4 class="frame-title">{{msg('admin.messages.notifications.header')}}</h4>
    </div>
    <div class="form-group col-sm-12">
        <ng-form id="notificationRulesForm" name="rulesForm" novalidate>
            <div class="form-inline" ng-repeat="rule in notificationRuleDto.notificationRules">
                <fieldset>
                <label class="control-label">{{msg('admin.messages.notifications.actionType')}}</label>

                <div class="btn-group">
                    <a class="btn btn-default dropdown-toggle input-mw" data-toggle="dropdown" href="#">
                        {{msg('admin.messages.notifications.' + rule.actionType)}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="available in ['SMS', 'EMAIL']">
                            <a ui-if="rule.actionType == available"><i class="icon-ok"></i>&nbsp;{{msg('admin.messages.notifications.' + available)}}</a>
                            <a ui-if="rule.actionType != available" ng-click="changeRuleActionType(rule, available)"><i class="icon-"></i>&nbsp;{{msg('admin.messages.notifications.' + available)}}</a>
                        </li>
                    </ul>
                </div>

                <span class="" ng-class="{'has-error': !rule.recipient}">
                    <label class="control-label offset-1">{{msg('admin.messages.notifications.recipient')}}</label>
                    <input class="form-control input-auto" ng-model="rule.recipient" type="text" value="" />
                </span>

                <a ng-click="removeRule(rule)" class="btn btn-danger"><i class="icon-trash icon-white"></i></a>
                </fieldset>
            </div>

            <div class="form-group">
                <button class="btn btn-success" ng-click="newRule()"><i class="icon-plus icon-white"></i>&nbsp;{{msg('admin.messages.notifications.newRecipient')}}</button>
                <button class="btn btn-primary" type="button" ng-click="save()">{{msg('admin.save')}}</button>
                <a href="#/messages" class="btn btn-default">{{msg('admin.cancel')}}</a>
            </div>
        </ng-form>
    </div>
</div>