<div class="well2">
    <div class="box-header">
        {{msg('admin.operations')}}
    </div>
    <div class="box-content inside">
        <div>
            <iframe ng-show="graphiteUrl" ng-src="{{graphiteUrl}}/composer" height="450px" width="100%"></iframe>
            <p ng-hide="graphiteUrl">{{msg('admin.operations.notReg')}}</p>
        </div>
    </div>
    <div class="box-header">
        {{msg('admin.metrics.options')}}
    </div>
    <div class="box-content inside">
        <form name="metricsForm" id="metricsForm" class="form-horizontal inside" novalidate>
            <div class="control-group">
            <label class="control-label">{{msg('admin.metrics.serverPort')}}</label>
            <div class="controls">
                <input name="serverPort" id="serverPort" type="number" ng-model="statsdAgentConfig.serverPort" min="1024" max="65535" required/>
                <span ng-show="!metricsForm.serverPort.$valid" class="form-hint">{{msg('admin.metrics.wrongServerPort')}}</span>
            </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{msg('admin.metrics.serverHost')}}</label>
                <div class="controls">
                    <input id="serverHost" name="serverHost" type="text" ng-model="statsdAgentConfig.serverHost" required/>
                    <span ng-show="metricsForm.serverHost.$error.required" class="form-hint">{{msg('admin.metrics.serverHostRequired')}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{msg('admin.metrics.generateHostBasedStats')}}</label>
                <div class="controls">
                    <input id="generateStats" name="generateStats" type="checkbox" ng-model="statsdAgentConfig.generateHostBasedStats">
                </div>
            </div>
            <button class="btn btn-primary ng-binding" ng-click="saveStatsdAgentConfig()" ng-disabled="!metricsForm.$valid">Save</button>
        </form>
    </div>
</div>