<div id="exportInstanceModal" class="mds modal fade" tabindex="-1" role="dialog" aria-labelledby="exportInstanceLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="closeExportInstanceModal()">&times;</button>
                <h4 class="modal-title" id="exportInstanceModalLabel">{{msg('mds.form.exportData')}}</h4>
            </div>
            <div class="modal-body">
                <form id="exportInstanceForm" name="exportInstanceForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="records">
                            {{msg('mds.form.exportRecords')}}
                        </label>
                        <div class="form-inline col-md-4 col-sm-4">
                            <div class="btn-group" id="records">
                                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    {{actualExportRecords}}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="records in availableExportRecords" ng-click="changeExportRecords(records)"><a>{{records}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="columns">
                            {{msg('mds.form.exportColumns')}}
                        </label>
                        <div class="form-inline col-md-4 col-sm-4">
                            <div class="btn-group" id="columns">
                                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    {{msg('mds.form.exportColumns.' + actualExportColumns)}}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="columns in availableExportColumns" ng-click="changeExportColumns(columns)"><a>{{ msg('mds.form.exportColumns.' + columns) }}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="exportFormat">
                            {{msg('mds.form.exportFormat')}}
                        </label>
                        <div class="form-inline col-md-4 col-sm-4">
                            <div class="btn-group" id="exportFormat">
                                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    {{msg('mds.form.exportFormat.' + exportFormat)}}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="format in availableExportFormats" ng-click="changeExportFormat(format)"><a>{{ msg('mds.form.exportFormat.' + format) }}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="exportWithOrder">
                            {{msg('mds.form.exportWithOrder')}}
                        </label>
                        <div class="form-inline col-md-4 col-sm-4">
                            <div class="btn-group" id="exportWithOrder">
                                <input type="checkbox" ng-model="checkboxModel.exportWithOrder" ng-checked="checkboxModel.exportWithOrder">
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="selectedLookup !== undefined">
                        <label class="col-sm-6 control-label" for="exportWithLookups">
                            {{msg('mds.form.exportWithLookup')}}
                        </label>
                        <div class="form-inline col-md-4 col-sm-4">
                            <div class="btn-group" id="exportWithLookups">
                                <input type="checkbox" ng-model="checkboxModel.exportWithLookup" ng-checked="checkboxModel.exportWithLookup">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="exportInstance()">{{msg('mds.btn.export')}}</button>
                <button class="btn btn-default" ng-click="closeExportInstanceModal()">{{msg('mds.btn.cancel')}}</button>
            </div>
        </div>
    </div>
</div>
