<div id="importInstanceModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="importInstanceLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="closeImportInstanceModal()">&times;</button>
                <h4 class="modal-title" id="importInstanceModalLabel">{{msg('mds.form.importCsv')}}</h4>
            </div>
            <div class="modal-body">
                <form id="importInstanceForm" name="importInstanceForm" class="form-horizontal" action="{{importAction}}" enctype="multipart/form-data" method="POST">
                    <div class="form-group fileupload fileupload-new" data-provides="fileupload">
                        <label class="col-sm-3 control-label">{{msg('mds.import.file')}}</label>
                        <div class="form-inline col-sm-9">
                            <div class="form-control input-auto uneditable-input input-xlarge fileupload-exists"><span class="glyphicon glyphicon-file"></span>&nbsp;<span class="fileupload-preview"></span></div>
                            <span class="btn btn-default btn-file">
                                <span class="fileupload-new">{{msg('mds.import.selectFile')}}</span>
                                <span class="fileupload-exists">{{msg('mds.import.changeFile')}}</span>
                                <input type="file" id="csvFile" name="csvFile" class="input-file" accept="{{importAcceptedFiles}}"/>
                            </span>
                            <a target="_self" href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload"><i class="fa fa-fw fa-trash-o"></i>&nbsp;{{msg('mds.import.remove')}}</a>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="importInstance()">{{msg('mds.btn.upload')}}</button>
                <button class="btn btn-default" ng-click="closeImportInstanceModal()">{{msg('mds.btn.cancel')}}</button>
            </div>
        </div>
    </div>
</div>
