<div id="importInstanceModal" class="mds modal fade" tabindex="-1" role="dialog" aria-labelledby="importInstanceLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="closeImportInstanceModal()">&times;</button>
                <h4 class="modal-title" id="importInstanceModalLabel">{{msg('mds.form.importCsv')}}</h4>
            </div>
            <div class="modal-body">
                <form id="importInstanceForm" name="importInstanceForm" class="form-horizontal" action="{{getMdsEntityCsvImportPath(selectedEntity.id)}}" enctype="multipart/form-data" method="POST">
                    <div class="form-group fileinput fileinput-new" data-provides="fileinput">
                        <label class="col-sm-3 control-label">{{msg('mds.import.file')}}</label>
                        <div class="form-inline col-sm-9">
                            <motech-file-upload accept=".csv"></motech-file-upload>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox">
                                <label>
                                    <input id="continueOnError" name="continueOnError" value="true" type="checkbox">{{msg('mds.import.continueOnError')}}
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input id="clearData" name="clearData" value="true" type="checkbox">{{msg('mds.import.clearData')}}
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="importInstance()">{{msg('mds.btn.upload')}}</button>
                <button class="btn btn-default" ng-click="closeImportInstanceModal()">{{msg('mds.btn.cancel')}}</button>
            </div>
        </div>
    </div>
</div>

<div id="importResultModal" class="mds modal fade" tabindex="-1" role="dialog" aria-labelledby="importResultLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="closeImportResultModal()">&times;</button>
                <h4 class="modal-title" id="importResultModalLabel">{{msg('mds.form.importResponse')}}</h4>
            </div>
            <div class="modal-body" >
                <div class="collapse" id="successPanel">
                    <div class="form-group clearfix">
                        <div class="col-sm-1">
                            <span class="fa fa-fw fa-check-circle fa-lg fa-2x icon-green"></span>
                        </div>
                        <div class="col-sm-10">
                            <span id="successMessage">{{msg('mds.import.successResult', successRows)}}</span>
                        </div>
                    </div>
                </div>
                <div class="collapse clearfix" id="errorPanel">
                    <div class="form-group clearfix">
                        <div class="col-sm-1">
                            <span class="fa fa-fw fa-exclamation-triangle fa-lg fa-2x icon-red"></span>
                        </div>
                        <div class="col-sm-11">
                            <span id="errorMessage">{{msg('mds.import.errorResult', failRows, successRows)}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <table id="exceptionsTable" class="table table-bordered table-striped table-condensed table-lightblue">
                            <thead>
                                <tr>
                                    <th class="ng-binding">{{msg('mds.import.row')}}</th>
                                    <th class="ng-binding">{{msg('mds.import.errorMessage')}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(key, value) in currentError">
                                    <td class="ng-binding">{{key}}</td>
                                    <td class="ng-binding">{{value}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="closeImportResultModal()">{{msg('mds.btn.close')}}</button>
            </div>
        </div>
    </div>


</div>
