<div id="instanceBrowserModal" class="mds modal fade" tabindex="-1" role="dialog"
     aria-labelledby="advancedObjectSettingsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content large">
            <div class="modal-header">
                <button type="button" class="close" ng-disabled="blockLookups" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{msg('mds.dataBrowsing.instances')}}</h4>
            </div>

            <div class="modal-body clearfix">
                <div class="instances form-horizontal">
                    <button id="lookupRelatedInstanceButton" ng-click="showLookupRelatedInstancesDialog()" type="button" class="btn btn-default">
                        <i class="fa fa-fw fa-caret-down"></i>
                        {{msg('mds.btn.lookup')}}
                    </button>
                </div>

                <div id="lookup-related-instances-dialog" class="popover bottom inside lookup-dialog" ng-style="lookupDialogStyle()">
                    <div class="arrow" style="left:110px"></div>
                    <div class="popover-content form-horizontal margin-after2">

                        <div class="form-group">
                            <label class="col-sm-4 control-label">{{msg('mds.form.label.lookup')}}</label>
                            <div class="col-sm-7">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    {{selectedLookup.lookupName || msg('mds.form.select')}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="lookup in entityAdvanced.indexes">
                                        <a ng-click="selectLookup(lookup)">{{lookup.lookupName}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="form-group" ng-repeat="field in lookupFields">
                            <label class="col-sm-4 control-label">{{field.basic.displayName}}</label>
                            <div class="col-sm-7 form-inline" ng-include="loadInputForLookupField(field)"></div>
                        </div>

                        <div class="form-group margin-before3">
                            <div class="col-sm-offset-4 col-sm-7">
                                <buton type="button" class="btn btn-danger" ng-click="removeLookup()">
                                    {{msg('mds.btn.removeLookup')}}
                                </buton>
                                <button type="button" class="btn btn-primary" ng-click="filterInstancesByLookup()">
                                    {{msg('mds.btn.go')}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="instanceBrowserTable" class="overrideJqgridTable" ng-if="relatedEntity!==undefined">
                    <table id="browserTable" entity-instances-browser-grid="pageInstancesBrowserTable"></table>
                    <div id="pageInstancesBrowserTable"></div>
                </div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" ng-click="clearRelatedEntity()">
                    {{msg('mds.btn.close')}}
                </button>
            </div>
        </div>
    </div>
</div>
