<div id="securityObjectSettingsModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="advancedObjectSettingsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content large">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="advancedObjectSettingsModalLabel">{{msg('mds.security.title')}}</h4>
            </div>
            <div class="modal-body">
                {{msg('mds.security.text')}}
                <div class="security-content">
                    <div class="form-group">
                        <label class="radio-button">
                            <input type="radio" ng-model="securitySettings.securityMode" value="EVERYONE" mds-callback="accessChanged('EVERYONE')"/>
                            <span ng-class="getClass('EVERYONE')">{{msg('mds.security.everyone')}}</span>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="radio-button">
                            <input type="radio" ng-model="securitySettings.securityMode" value="OWNER" mds-callback="accessChanged('OWNER')"/>
                            <span ng-class="getClass('OWNER')">{{msg('mds.security.owner')}}</span>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="radio-button">
                            <input type="radio" ng-model="securitySettings.securityMode" value="CREATOR" mds-callback="accessChanged('CREATOR')"/>
                            <span ng-class="getClass('CREATOR')">{{msg('mds.security.creator')}}</span>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="radio-button">
                            <input type="radio" ng-model="securitySettings.securityMode" value="USERS" mds-callback="accessChanged('USERS')"/>
                            <span ng-class="getClass('USERS')">{{msg('mds.security.users')}}</span>
                        </label>

                        <button class="btn btn-danger" ng-click="clearUsers()" ng-show="securitySettings.securityMode==='USERS'" ng-disabled="securitySettings.users.length === 0">{{msg('mds.security.clear')}}</button>
                        <div ng-show="securitySettings.securityMode==='USERS'">
                            <select id="usersSelect" class="dynamic-select" ui-select2 multiple select2-ng-change="usersChanged" data-placeholder="{{msg('mds.security.usersPlaceholder')}}">
                                <option ng-repeat="u in availableUsers" value="{{u.userName}}">{{u.userName}}</option>
                            </select>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="radio-button">
                            <input type="radio" ng-model="securitySettings.securityMode" value="ROLES" mds-callback="accessChanged('ROLES')"/>
                            <span ng-class="getClass('ROLES')">{{msg('mds.security.roles')}}</span>
                        </label>

                        <button class="btn btn-danger" ng-click="clearRoles()" ng-show="securitySettings.securityMode==='ROLES'" ng-disabled="securitySettings.roles.length === 0">{{msg('mds.security.clear')}}</button>
                        <div ng-show="securitySettings.securityMode==='ROLES'">
                            <select id="rolesSelect" class="dynamic-select" ui-select2 multiple select2-ng-change="rolesChanged" data-placeholder="{{msg('mds.security.rolesPlaceholder')}}">
                                <option ng-repeat="r in availableRoles" value="{{r.roleName}}">{{r.roleName}}</option>
                            </select>
                        </div>
                    </div>
        </div>
    </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" ng-click="commitSecurity()">
                    {{msg('mds.btn.close')}}
                </button>
            </div>
        </div>
    </div>
</div>
