<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:osgi="http://www.eclipse.org/gemini/blueprint/schema/blueprint"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.eclipse.org/gemini/blueprint/schema/blueprint
        http://www.eclipse.org/gemini/blueprint/schema/blueprint/gemini-blueprint.xsd">

    <import resource="classpath*:META-INF/motech/mdsCommonContext.xml"/>
    <import resource="classpath*:META-INF/motech/mdsEntitiesContext.xml"/>

    <osgi:service id="entityInfoReaderOSGi" ref="entityInfoReader" interface="org.motechproject.mds.entityinfo.EntityInfoReader"/>

    <osgi:service id="historyServiceOSGi" ref="historyService" interface="org.motechproject.mds.service.HistoryService"/>

    <osgi:service id="trashServiceOSGi" ref="trashService" interface="org.motechproject.mds.service.TrashService"/>

    <osgi:service id="csvImportExportServiceOSGi" ref="csvImportExportService" interface="org.motechproject.mds.service.CsvImportExportService"/>

    <osgi:service id="metadataServiceOSGi" ref="metadataService" interface="org.motechproject.mds.service.MetadataService"/>

    <osgi:service id="comboboxValueServiceOSGi" ref="comboboxValueService" interface="org.motechproject.mds.service.ComboboxValueService"/>

    <osgi:service id="transactionManagerOSGi" ref="transactionManager" interface="org.springframework.transaction.PlatformTransactionManager"/>

    <osgi:reference id="jdoListenerRegistryService" interface="org.motechproject.mds.service.JdoListenerRegistryService" availability="optional"/>

    <osgi:reference id="sqlDbManager" interface="org.motechproject.commons.sql.service.SqlDBManager" availability="optional"/>

    <osgi:reference id="coreConfigurationService" interface="org.motechproject.config.core.service.CoreConfigurationService"/>

    <osgi:reference id="osgiEventProxy" interface="org.motechproject.server.osgi.event.OsgiEventProxy"/>

    <osgi:reference id="entityService" interface="org.motechproject.mds.service.EntityService" availability="optional"/>

    <osgi:reference id="settingsServiceOSGi" interface="org.motechproject.mds.config.SettingsService" availability="optional"/>

    <osgi:reference id="mdsLookupServiceOSGi" interface="org.motechproject.mds.service.MDSLookupService" availability="optional"/>

    <osgi:reference id="mdsSchedulerServiceOSGi" interface="org.motechproject.mds.service.MdsSchedulerService" availability="optional"/>

    #foreach ( $entry in $list )
        #if ( $StringUtils.isNotBlank( $entry.interfaceName ) )
            <osgi:service id="${entry.serviceName}ServiceOsgi" ref="$entry.serviceName"
                interface="$entry.interfaceName" auto-export="interfaces"/>
            <osgi:service id="${entry.restId}ServiceOSGi" ref="$entry.restId"
                interface="org.motechproject.mds.rest.MdsRestFacade" auto-export="interfaces"/>
        #end
    #end
</beans>
