#if ( ! $service.listEntities().isEmpty() )
{
    "name": "data-services",
    "objects": [ #foreach ( $entity in $service.listEntities() )
        {
            "displayName": "$entity.getName()",
            "type": "$entity.getClassName()",
            "lookupFields": [ #foreach ( $lookup in $service.getEntityLookups($entity.getId()) )
                {
                    "displayName": "$lookup.getLookupName()",
                    "fields": [
                        #foreach ( $field in $lookup.getLookupFields() ) "$field.getName()" #if( $velocityHasNext ) , #end #end
                    ]
                },#end
                {
                    "displayName": "mds.dataprovider.byinstanceid",
                    "fields": [
                        "mds.dataprovider.instanceid"
                    ]
                }
            ],
            "fields": [
                #foreach ( $field in $service.getEntityFields($entity.getId()) )
                {
                    "displayName": "$field.getBasic().getDisplayName()",
                    "fieldKey": "$field.getBasic().getName()"
                } #if( $velocityHasNext ) , #end #end
            ]
        } #if( $velocityHasNext ), #end #end
    ]
}
#end
