<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:applicationContext.xml
         </param-value>
	</context-param>
	
	<!-- Spring -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

    <listener>
        <listener-class>org.apache.felix.http.proxy.ProxyListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>proxy</servlet-name>
        <servlet-class>org.apache.felix.http.proxy.ProxyServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
<!--    <servlet>-->
<!--        <servlet-name>dispatcher</servlet-name>-->
<!--        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>-->
<!--        <load-on-startup>1</load-on-startup>-->
<!--    </servlet>-->
<!---->
<!--    <servlet-mapping>-->
<!--        <servlet-name>dispatcher</servlet-name>-->
<!--        <url-pattern>/*</url-pattern>-->
<!--    </servlet-mapping>-->
    
    
    <servlet-mapping>
        <servlet-name>proxy</servlet-name>
        <url-pattern>/module/*</url-pattern>
    </servlet-mapping>

</web-app>