<div class="box-header">{{msg('bundles')}}</div>
<div class="table-content lightblue-2">

<div class="row-fluid">

    <div class="span4 filter">
        <form class="inside form-inline">
            <label for="filter"><span><b>{{msg('filter')}}</b></span>
                <input id="filter" type="text" ng-model="filterProp" autofocus="autofocus"/>
            </label>
        </form>
    </div>

    <div class="span8 statistics">
        <div class="inline">
            <span><b>{{msg('bundles.statistics')}}:</b></span>
            <span><b>{{msg('bundles.statistics.total')}}:</b> {{allBundlesCount()}}.</span>
            <span class="param"><b>{{msg('bundles.statistics.active')}}:</b> {{activeBundlesCount()}}.</span>
            <span class="param"><b>{{msg('bundles.statistics.installed')}}:</b> {{installedBundlesCount()}}.</span>
            <span class="param"><b>{{msg('bundles.statistics.resolved')}}:</b> {{resolvedBundlesCount()}}.</span>
        </div>
    </div>
</div>

<div class="inside inline top-line">
    <form id="bundleUploadForm" action="../admin/api/bundles/upload" enctype="multipart/form-data" method="POST">
        <div class="inline"><span><b>{{msg('bundles.upload')}} </b></span>
            <input type="file" id="bundleFile" name="bundleFile" placeholder="{{msg('bundles.file')}}" class="input-file"/>
            <span class="offset1">
                <label class="checkbox inline">
                    <input type="checkbox" id="startBundle" name="startBundle" />
                    {{msg('bundles.startOnInstall')}}
                </label>
            </span>
            <span ng-click="submitBundle()" class="btn">{{msg('bundles.installOrUpdate')}}</span>
        </div>
    </form>
</div>
<div class="clearfix"></div>
<table class="table table-bundles table-bordered table-striped table-lightblue">
    <thead>
    <tr>
        <th ng-click="setOrder('bundleId')" ng-class="getSortClass('bundleId')">{{msg('bundles.id')}}</th>
        <th>{{msg('bundles.icon')}}</th>
        <th ng-click="setOrder('name')" ng-class="getSortClass('name')">{{msg('bundles.name')}}</th>
        <th ng-click="setOrder(versionOrder)" ng-class="getSortClass(versionOrder)">{{msg('bundles.version')}}</th>
        <th ng-click="setOrder('state')" ng-class="getSortClass('state')">{{msg('bundles.state')}}</th>
        <th>{{msg('bundles.actions')}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="bundle in bundles | orderBy:orderProp:invert | filter:filterBundles | filter:filterProp">
        <td>{{bundle.bundleId}}</td>
        <td>
            <div ng-class="getIconClass(bundle)">
                <img ng-src="../admin/api/bundles/{{bundle.bundleId}}/icon" class="icon"/>
            </div>
        </td>
        <td><a ng-href="#/bundle/{{bundle.bundleId}}">{{bundle.name}} - {{bundle.symbolicName}}</a></td>
        <td><span ng-show="bundleStable(bundle)">{{bundle.printVersion()}}</span></td>
        <td><span ng-show="bundleStable(bundle)">{{msg('bundle.state.' + bundle.state.toLowerCase())}}</span></td>
        <td>
            <div id="commandLinks" ng-show="bundleStable(bundle)">
                <span ng-hide="bundle.isActive()">
                    <a ng-click="startBundle(bundle)">
                        <img src='../admin/img/trans.gif' alt="{{msg('bundles.start')}}" title="{{msg('bundles.start')}}"
                            class="action action-start"/>
                    </a>
                </span>
                <span ng-show="bundle.isActive()">
                    <a ng-click="stopBundle(bundle)">
                        <img src="../admin/img/trans.gif"  alt="{{msg('bundles.stop')}}" title="{{msg('bundles.stop')}}"
                            class="action action-stop"/>
                    </a>
                    <a ng-click="restartBundle(bundle)">
                        <img src="../admin/img/trans.gif" alt="{{msg('bundles.restart')}}" title="{{msg('bundles.restart')}}"
                            class="action action-restart"/>
                    </a>
                </span>
                <a ng-show="showSettings(bundle)" ng-href="#/bundleSettings/{{bundle.bundleId}}">
                    <img src="../admin/img/trans.gif" alt="{{msg('settings')}}" title="{{msg('settings')}}"
                         class="action action-settings"/>
                </a>
                <a ng-click="uninstallBundle(bundle)">
                    <img src="../admin/img/trans.gif" alt="{{msg('bundles.uninstall')}}" title="{{msg('bundles.uninstall')}}"
                         class="action action-remove"/>
                </a>
            </div>
            <div class="loader.wrapper" ng-hide="bundleStable(bundle)">
                <img class="icon" src="../admin/img/load.gif" alt="loading"/>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</div>

