<div class="well mediumgrain-bg">
    <div class="box-header">{{msg('bundles.statistics')}}</div>
    <div class="box-content row-fluid">
        <div>
            <form class="form-inline">
                <label for="filter">
                    {{msg('filter')}}
                    <input id="filter" type="text" ng-model="filterProp" autofocus="autofocus"/>
                </label>
            </form>
        </div>

        <div>
            <span><b>{{msg('bundles.statistics.total')}}:</b> {{bundles.length}}.</span>
            <span><b>{{msg('bundles.statistics.active')}}:</b> {{activeBundlesCount()}}.</span>
            <span><b>{{msg('bundles.statistics.installed')}}:</b> {{installedBundlesCount()}}.</span>
            <span><b>{{msg('bundles.statistics.resolved')}}:</b> {{resolvedBundlesCount()}}.</span>
        </div>

    </div>
</div>

<table class="table table-bordered table-striped mediumgrain-bg">
    <thead>
    <tr>
        <th ng-click="setOrder('bundleId')">{{msg('bundles.id')}}</th>
        <th>{{msg('bundles.icon')}}</th>
        <th ng-click="setOrder('symbolicName')">{{msg('bundles.symbolicName')}}</th>
        <th ng-click="setOrder('version')">{{msg('bundles.version')}}</th>
        <th ng-click="setOrder('state')">{{msg('bundles.state')}}</th>
        <th>{{msg('bundles.actions')}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="bundle in bundles | orderBy:orderProp:invert | filter:filterProp">
        <td>{{bundle.bundleId}}</td>
        <td>
            <div ng-class="getIconClass(bundle)">
                <img ng-src="api/bundles/{{bundle.bundleId}}/icon" class="icon"/>
            </div>
        </td>
        <td><a ng-href="#/bundle/{{bundle.bundleId}}">{{bundle.name}} - {{bundle.symbolicName}}</a></td>
        <td><span ng-show="bundleStable(bundle)">{{bundle.printVersion()}}</span></td>
        <td><span ng-show="bundleStable(bundle)">{{bundle.state}}</span></td>
        <td>
            <div id="commandLinks" ng-show="bundleStable(bundle)">
                <span ng-hide="bundle.isActive()">
                    <a ng-click="startBundle(bundle)">
                        <img src="img/start.png" alt="{{msg('bundles.start')}}" class="icon"/>
                    </a>
                </span>
                <span ng-show="bundle.isActive()">
                    <a ng-click="stopBundle(bundle)">
                        <img src="img/stop.png" alt="{{msg('bundles.stop')}}" title="{{msg('bundles.stop')}}"
                             class="icon" tool-tip/>
                    </a>
                    <a ng-click="restartBundle(bundle)">
                        <img src="img/restart.png" alt="{{msg('bundles.restart')}}" title="{{msg('bundles.restart')}}"
                             class="icon"/>
                    </a>
                </span>
                <a ng-show="showSettings(bundle)" ng-href="#/bundleSettings/{{bundle.bundleId}}">
                    <img src="img/settings.png" alt="{{msg('settings')}}" title="{{msg('settings')}}" class="icon"/>
                </a>
                <a ng-click="uninstallBundle(bundle)">
                    <img src="img/remove.gif" alt="{{msg('bundles.uninstall')}}"
                         title="{{msg('bundles.uninstall')}}" class="icon"/>
                </a>
            </div>
            <div class="loader.wrapper" ng-hide="bundleStable(bundle)">
                <img class="icon" src="img/load.gif" alt="loading"/>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<div class="well mediumgrain-bg">

    <div class="box-header">{{msg('bundles.upload')}}</div>
    <div class="box-content">
        <form id="bundleUploadForm" action="api/bundles/upload" enctype="multipart/form-data" method="POST">
            <fieldset>
                <div>
                    <span class="span3">
                        <input type="file" id="bundleFile" name="bundleFile" placeholder="{{msg('bundles.file')}}" class="input-file"/>
                    </span>
                    <span class="span2">
                        <label class="checkbox">
                            <input type="checkbox" id="startBundle" name="startBundle">
                            {{msg('bundles.startOnInstall')}}
                        </label>
                    </span>
                    <span>
                        <button type="submit" ng-click="submitBundle()"  class="btn">{{msg('bundles.installOrUpdate')}}</button>
                    </span>
                </div>
            </fieldset>
        </form>
    </div>
</div>
