<div class="well2" xmlns="http://www.w3.org/1999/html">
    <div class="box-header">
        {{msg('log')}}
        <a ng-click="refresh()">
            <img src="../admin/img/refresh.png" title="{{msg('refresh')}}" alt="{{msg('refresh')}}"/>
        </a>
    </div>
    <div class="box-content">
        <div class="row-fluid log-line">
            <div class="span6 inside log-change">
                {{msg('log.limitation')}} {{msg('log.changeLogLevel')}} <a href="#/logOptions">{{ msg('clickHere') | lowercase }}</a>.
            </div>
            <div class="span6 inside log-download">
                <a href="../admin/api/log/raw" class="btn btn-primary"><i class="icon-download-alt icon-white"></i> {{msg('log.downloadFull')}}</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="logContent" class="log-content"></div>
    </div>
    <ul sidebar>
        <li go-to-top>
            <a href="#">
                <i class="icon-chevron-up icon-white"></i>
            </a>
        </li>
        <li go-to-end>
            <a href="#">
                <i class="icon-chevron-down icon-white"></i>
            </a>
        </li>
    </ul>
</div>
