<div class="row-fluid">

    <div class="span6 well2">
        <div class="box-header"> {{msg('settings.upload')}}</div>
        <div class="box-content inside">
            <form class="form-inline" id="settingsFileForm" action="../admin/api/settings/platform/upload" method="post" enctype="multipart/form-data">
                <fieldset>
                    <h5 class="settings-section">{{msg('platform.settings')}}</h5>
                    <span>
                        <input type="file" id="settingsFile" name="settingsFile" class="input-file"/>
                    </span>
                    <span class="offset1">
                        <input class="btn" type="button" value="{{msg('submit')}}" ng-click="uploadSettings()"/>
                    </span>
                </fieldset>
            </form>
            <br />
            <form id="activemqFileForm" action="api/settings/platform/activemq/upload" method="post" enctype="multipart/form-data">
                <fieldset>
                    <h5 class="settings-section">{{msg('activemq')}}</h5>
                    <span>
                        <input type="file" id="activemqFile" name="activemqFile" class="input-file"/>
                    </span>
                    <span class="offset1">
                        <input class="btn" type="button" value="{{msg('submit')}}" ng-click="uploadActiveMqFile()"/>
                    </span>
                </fieldset>
            </form>
            <p id="settingsMsg"></p>
        </div>
    </div>
    <div class="span6 well2">
        <div class="box-header"> {{msg('settings.location')}}</div>
        <div class="box-content inside">
            <form class="form-inline" id="settingsLocationForm" method="post" ng-submit="uploadFileLocation()">
                <fieldset>
                    <span>
                        <input type="text" id="settingsLocation" name="settingsLocation" ng-model="location">
                    </span>
                    <span class="offset1">
                        <input type="submit" value="{{msg('submit')}}" class="btn"/>
                    </span>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="well2">
    <div ng-show="platformSettings.length > 0">
        <div class="box-header"> {{msg('settings.platform')}}</div>
        <div class="box-content">
            <div class="settings-form  lightblue-bg" ng-repeat="pSettings in platformSettings" ng-show="pSettings.settings.length > 0">
                <h4 class="settings-section">{{msg(pSettings.section)}}</h4>
                <br />

                <form id="platformSettingsForm" class="form-horizontal inside">
                    <fieldset>
                        <div ng-repeat="option in pSettings.settings | orderBy:'key'" class="control-group">
                            <label class="control-label span3" for="{{option.key}}">{{option.key}}</label>

                            <div class="controls span2">
                                <input type="text" id="{{option.key}}" name="{{option.key}}" ng-model="option.value"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label span3"></div>
                            <div class="controls span2">
                                <input type="submit" ng-click="saveSettings(pSettings)" value="{{msg('save')}}" class="btn"/>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <form class="form-horizontal inside">
                <div class="control-group">
                    <div class="control-label span3"></div>
                    <div class="controls span2">
                        <input type="button" ng-click="saveAll()" value="{{msg('saveAll')}}" class="btn"/>
                    </div>
                </div>
            </form>
        </div>


    <div ng-show="platformSettings.length <= 0">
        <div class="box-header">{{msg('settings.noSettings')}}</div>
        <div class="box-content inside">
            <p>{{msg('settings.noSettingsMsg')}}</p>

            <form id="noSettingsForm" class="form-horizontal lightblue-bg inside">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="new.db.host">{{msg('label.db.host')}}</label>
                        <div class="controls">
                            <input id="new.db.host" type="text" name="db.host"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="new.db.port">{{msg('label.db.port')}}</label>
                        <div class="controls">
                            <input type="text" id="new.db.port" name="db.port"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="new.db.user">{{msg('label.db.username')}}</label>
                        <div class="controls">
                            <input type="text" id="new.db.user" name="db.username"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="new.db.password">{{msg('label.db.password')}}</label>
                        <div class="controls">
                            <input type="text" id="new.db.password" name="db.password"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="control-label"></div>
                        <div class="controls">
                            <input type="button" ng-click="saveNewSettings()" value="{{msg('submit')}}" class="btn"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</div>
